[2018-02-09 16:52] mattregul opened #7 "[Docs][Suggestion] - App Center Crashes - UWP"
- https://docs.microsoft.com/en-us/appcenter/sdk/crashes/uwp
- https://github.com/MicrosoftDocs/appcenter-docs/blob/live/docs/sdk/crashes/uwp.md

(at the bottom of the page)

Should it be further outlined that "Xamarin" is referring to
- Xamarin.iOS & Xamarin.Android
- Xamarin.Forms being deployed to iOS & Android

to help avoid confusion of anyone writing a Xamarin.Forms app, looking to deploy to

[2018-02-17 00:19] King-of-Spades opened #13 "[Test - Espresso] Preparing for Upload guide: Add clarification about modifications to the build system"
# Overview
https://github.com/MicrosoftDocs/appcenter-docs/blob/live/docs/test-cloud/preparing-for-upload/espresso.md#1-changes-to-the-build-system

# Description
I think two items are potentially confusing here:
#### 1) It's not very clear that the user needs to look at different build.gradle files for the settings they're applying:

vs.

The proximity of these two items misled me for awhile into

[2018-02-22 12:21] alinaum opened #19 "Appium c#"
Can I run tests with appium written on C# ? If yes where is the documentation for that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed7c0d11-e60a-f088-e983-7465aca41515
* Version Independent ID: b2c6a308-1fcb-a385-239d-862b2c14114c
* [Content](https://docs.microsoft.com/en-us/appcenter/test-cloud/preparing-for-uploa

[2018-02-22 19:26] glennwester commented on #19
Hi Aline, we solely support the Appium Java client with JUnit as the test runner. We hope to add support for Appium C# in the future. Alternatively, we do support Xamarin.UITest which is a C# based automation framework.

[2018-02-22 19:26] #19 closed, assigned to glennwester

[2018-02-22 19:41] dipree commented on #13
Seems like it's Test docs. Assigning to @glennwester

[2018-02-23 01:36] King-of-Spades opened #23 "[Test] "Preparing Appium Tests for Upload" omits instructions to package for upload & additional useful details"
# Overview
- Link to doc: https://docs.microsoft.com/en-us/appcenter/test-cloud/preparing-for-upload/appium
- Link to legacy Test Cloud doc that has this info: https://github.com/xamarinhq/test-cloud-appium-java-extensions#3-upload-to-test-cloud

# Description
The major steps listed in the AppCenter/Test doc stop at 2, while the major steps in the legacy guide include specific details on packaging

[2018-02-23 01:40] King-of-Spades commented on #23
I'd also recommend being clearer about the correct directory from which to run this command:

Should it be run from within the Maven folder? Should it be run from the folder that contains the Maven folder? (My tests indicate within the Maven folder.)

[2018-02-23 14:29] bruno-garcia opened #24 "Typo"
"UITest will hat test execution" should be: "UITest will halt test execution"
Where to fork and fix?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a0474be-6e14-b8e6-b6cf-934a04f0e509
* Version Independent ID: 4a79fc1d-8dca-1c17-718f-c30fda180f05
* [Content](https://docs.microsoft.com/en-us/appcenter/test-cloud/uitest

[2018-02-23 14:43] jwargo commented on #24
Docs are public on Github at https://github.com/MicrosoftDocs/appcenter-docs. Feel free to fork and submit suggested changes.  I'll fix this one manually, thanks for pointing it out.

[2018-02-23 14:43] #24 closed, assigned to nobody

[2018-02-23 14:45] bruno-garcia commented on #24
Pull request done.

From docs there's just a link to 'give feedback' but no indication it's hosted here.
Once I wrote the feedback I got a link to the issue created.

[2018-02-26 14:20] cosminstirbu commented on #19
I am also interested in support for Appium C# - since we use it to support UWP tests as well.

So we're interested in either adding UWP support in Xamarin.UITest or add Appium C# support in the Test-Cloud

[2018-02-26 16:31] TiBall opened #27 "Analytics throws exception"
When I call AppCenter.Start($"android={ANDROID_APPCENTER_KEY};uwp={UWP_APPCENTER_KEY}",
				typeof(Analytics), typeof(Crashes), typeof(Distribute));
I get this exception in Android. Any Ideas?
02-26 17:13:36.117 E/AndroidRuntime(10529): FATAL EXCEPTION: AppCenter.Looper
02-26 17:13:36.117 E/AndroidRuntime(10529): Process: com.companyname.CleanbirdApp, PID: 10529
02-26 17:13:36.117 E/AndroidRuntime

[2018-02-26 18:43] Hoid opened #28 "Are one-click releases with AC Distribution possible with builds from AC?"
Once I build my app on AC with the most recent build, do I have to ability to push that build to Distribution without having to download it and upload it back to Distribution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cde49960-01fb-c5ff-ad3d-b8b6c7ac8d11
* Version Independent ID: 524b6257-9c78-600a-9e8d-193c59fc6b

[2018-02-26 21:35] glennwester commented on #19
Hi @cosminstirbu thanks for letting us know! I'm assuming you're using WinAppDriver to drive the UWP UI testing?

[2018-02-27 03:59] ghost opened #29 "Documentation on creating automated tests does not exist"
The main use-case for appcenter testing (test cloud) is to be able to create automated tests that run after a new build is triggered. However, the documentation talks just about how to upload a one off test to appcenter from your local machine using a pre-built app bundle. It wasn't until I found this blog https://tomsoderling.github.io/AppCenter-Automated-UI-tests-on-build/ that I could figure ou

[2018-02-27 14:37] jwargo commented on #28
@Hoid To get help with a particular feature, use the blue chat button in the lower-right corner of the App Center dashboard window. We have a dedicated team of support personnel who are there to answer your questions.

[2018-02-27 14:42] jwargo commented on #27
@TiBall To get help with a particular feature, use the blue chat button in the lower-right corner of the App Center dashboard window. We have a dedicated team of support personnel who are there to answer your questions.

[2018-02-27 14:52] jwargo commented on #28
@Hoid the configuration is described in the platform-specific build docs. Here's a link the the [Android build doc](https://docs.microsoft.com/en-us/appcenter/build/android/first-build#37-distribute-to-a-distribution-group).

[2018-02-27 14:52] #28 closed, assigned to nobody

[2018-02-27 15:47] glennwester commented on #29
Hi @tura08 thanks for the feedback! We know this process could be made clearer and easier, thank you for sharing the link. In addition to improving the documentation, we'll more tightly integrate these two services in the near future.

[2018-02-27 18:28] cosminstirbu commented on #19
Yeap, we're using WinAppDriver to drive UWP.

[2018-02-27 18:33] glennwester commented on #19
That's great to hear, do you use this to test Win32 as well or strictly UWP?

[2018-02-27 18:35] cosminstirbu commented on #19
Strictly UWP. However we didn't start the development on our UWP app,
currently we're working on the iOS version - so we've made the decision to
go with Appium since we plan to support UWP in the near future.

On Tue, Feb 27, 2018 at 8:33 PM, Glenn Wester <notifications@github.com>
wrote:

[2018-02-27 19:12] elamalani commented on #27
@TiBall You can enable Verbose logging in your application right before the AppCenter.Start() API by using the API below and share the logs with us for debugging.

AppCenter.LogLevel = LogLevel.Verbose;

[2018-02-27 20:54] TiBall commented on #27
Thx for getting back to me!
However, I "sadly" can´t reproduce the error. Updated from Appcenter v1.2 to v1.4 and cleaning the repository did the job. I tried to reset my branch to the previous version, but the error does not show any more. Sometimes Android with Xamarin has some really strange behaviours, sry.

[2018-02-27 21:28] guperrot commented on #27
It's unfortunately common that updating any library can lead to errors if bin/obj folders are not cleaned, xamarin has a build cache that can get stale quickly. We advise to always perform a full clean build when such an error is experienced.

[2018-02-27 21:33] elamalani commented on #27
@TiBall Thanks for the update. I will close this issue but feel free to reach out to us in case of any question.

[2018-02-27 21:33] #27 closed, assigned to guperrot, elamalani

[2018-02-27 23:30] gregkeys opened #30 "Appcenter download page & links"
We are in the process of integrating appcenter and running into a user acceptance issue.

The download page for the app shows the app name which is not attractive to our customers for example
example-com-Android
example-com-iOS

we would like to be able to change that title to something more attractive such as
example.com Android App
example.com iOS App

also the downloads are coming from rink.hoc

[2018-02-27 23:41] lumaxis commented on #30
Hey @gregkeys!

Please note that these GitHub comments are meant for issues specific to our documentation. To get help with a particular feature, use the blue chat button in the lower-right corner of the App Center dashboard window.
Could you please open a chat there with your specific app name so we can check why the name shows up wrong in the dialog? Feel free to mention you talked to Lukas befo

[2018-02-27 23:41] #30 closed, assigned to nobody

[2018-02-28 00:33] randomiser opened #31 "Distribution options."
"Support to sign with a Distribution certificate and provisioning profile will be added at a later time."
Is there an ETA or roadmap available for this? This is 100% the feature we need for appcenter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c01f1809-2316-7d47-1547-23775f6dd618
* Version Independent ID: 7d719380-

[2018-02-28 01:02] ghost commented on #29
Hi @glennwester thanks for acknowledging this. Something else to note is that it is not currently feasible to build and test in appcenter due to the build time limit of 30 mins. I am barely able to run tests on two devices before the build times out. I am going to move to VSTS for build and run testing and deployment in appcenter via VSTS.

[2018-02-28 12:32] arznaar opened #32 ""no-duplicate-release-error" was renamed already"
https://github.com/Microsoft/appcenter-cli/pull/367

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2c2bd47-97e3-abc8-fbdd-305f0c631827
* Version Independent ID: 318718e7-a38a-7cc5-01a4-7ce0153c4398
* [Content](https://docs.microsoft.com/en-us/appcenter/distribution/codepush/cli)
* [Content Source](https://github.com/M

[2018-02-28 13:19] jwargo commented on #32
@arznaar I'm not sure I understand what you're asking be done here. Can you elaborate? Are you proposing a change?

[2018-02-28 13:32] arznaar commented on #32
Page https://github.com/MicrosoftDocs/appcenter-docs/blob/live/docs/distribution/codepush/cli.md has the following text:
[code]

But today `--no-duplicate-release-error` doesn't work because it was renamed in https://github.com/Microsoft/appcenter-cli/pull/367 and released already.

I believe we should fix documentation: change `--no-duplicate-release-error` key to `--disable-duplicate-release-err

[2018-02-28 13:36] arznaar commented on #32
I tested it on the appcenter-cli@1.0.11 (release-cordova command), but this key is mentioned in other code-push commands too. So, i believe, you should check the current version and update documentation for them too if needed

[2018-02-28 13:51] jwargo commented on #32
@arznaar thank you. I've assigned the feature's program manager to review this and make the appropriate updates to the docs.

[2018-02-28 17:48] ts-taibul opened #34 "thanks"
good

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa9700f5-b9e0-dfe1-ddbc-b5a3231dde11
* Version Independent ID: 11728c80-1474-c1dc-caf0-2c6b6c44bbb3
* [Content](https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/android)
* [Content Source](https://github.com/MicrosoftDocs/appcenter-docs/blob/live/docs/sd

[2018-02-28 17:54] #34 closed, assigned to nobody

[2018-02-28 19:39] sprabhuraj opened #35 "Change in the Iteration Path"
{"System.IterationPath": "Area\\Iteration 1", "System.AssignedTo": "Fabrikam"}
Only the above Iteration Path worked for us.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99771c68-5f45-887a-e926-9ea772021f99
* Version Independent ID: 865109fc-64b8-ba77-2e10-8002886c46c7
* [Content](https://docs.microsoft.com/en-us/appc

[2018-02-28 19:48] didos2010 opened #36 "xxx"
C:\> lxrun /setdefaultuser root

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ceb38f19-e7f0-8349-8731-e701745c644f
* Version Independent ID: d8928ac3-206c-e8f3-0124-364311e4e4d7
* [Content](https://docs.microsoft.com/en-us/appcenter/sdk/#requirements)
* [Content Source](https://github.com/MicrosoftDocs/appcenter-docs/

[2018-02-28 20:19] jwargo commented on #36
@didos2010 are you suggesting some change to the doc?

[2018-02-28 20:19] #36 closed

[2018-02-28 23:08] glennwester commented on #29
Hi @tura08, we have a solution for this! You can add --async to to end of your upload command to return immediately after the the app and test files have uploaded. Can you please try this and let me know if it resolves your issue?

[2018-02-28 23:08] #29 closed, assigned to glennwester

[2018-02-28 23:47] #23 closed, assigned to glennwester

[2018-02-28 23:47] #13 closed, assigned to glennwester

[2018-03-01 00:38] ghost commented on #29
Using --async means that my build is now independent of my tests and therefore a build could potentially pass even though the tests fail. I want my pipeline to consists of build, test and distribute... i.e. I want to wait for the tests...

[2018-03-01 08:11] dipree commented on #31
This only counts when automatic signing is enabled, you can still sign for distribution with manual signing. However, there's currently no ETA when we will support to sign for distribution with automatic signing.

[2018-03-01 13:21] jakeam opened #38 "CodePush release promotion command incorrect?"
The documentation states that to promote a release it should look something like this `appcenter codepush promote -a <ownerName>/<appName> <sourceDeploymentName> <destDeploymentName>` where as I have to actually prefix the source and destination deployment names with -s and -d.

[2018-03-01 15:03] jwargo commented on #31
@derpixeldan close this?

[2018-03-01 15:07] dipree commented on #31
Will it open a new one when he's answering?

[2018-03-01 15:11] jwargo commented on #31
@derpixeldan It will reopen automatically if/when he responds.

[2018-03-01 15:11] #31 closed, assigned to dipree, gaknoll

[2018-03-01 16:23] K232 opened #39 "Sandbox or Production?"
I don't understand the radio buttons regarding Sandbox or Production, and unfortunately the docs do not give any further information. AppCenter says:
"Use Sandbox for initial development and Production for production version of the application. The environment should match the development certificate that you've used to build the application."

So first I selected Sandbox. I made some tests and ev

[2018-03-01 17:01] josemperezr commented on #29
Can I run tests with appium written on Node using the framework Nightwatch ?

[2018-03-01 17:19] jwargo commented on #39
@k232 The comments feature of the docs is designed to enable customers to suggest changes to the docs or ask clarifying questions about the docs. If you need help with the product, please login to the App Center dashboard and click the blue chat button in the lower-right corner of the page. Our dedicated support resources will answer any questions you have there.

[2018-03-01 18:10] charabaruk opened #40 "Additional Information limits"
Does `TrackError()` have the same limits on the `properties` argument as `Analytics.TrackEvent()` -- that is, maximum five values, with a 64-character limit on each?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaf40a33-9822-a710-501b-afb68625a0f5
* Version Independent ID: 648bf340-6093-7a7e-9662-5124df8c9206
* [Cont

[2018-03-01 19:19] josemperezr opened #41 "NodeJS"
Can I run tests with appium written on NodeJS ?

[2018-03-01 19:40] blparr commented on #40
Hi there, that is correct. The limits in error properties are the same as the limits in event properties.

[2018-03-01 19:48] K232 commented on #39
Yes, that's why I asked in the documentation. I expected some help there, but actually it contains even less information than the product itself 😟

[2018-03-01 19:58] jwargo commented on #40
@blparr close the issue?

[2018-03-01 20:00] jwargo commented on #39
@K232 I understand, I just wanted to make sure you knew that this isn't a support forum. Use the support system we've implemented in App Center and let us know what could be more clear in the docs.

[2018-03-01 20:06] K232 commented on #39
Ok, now I'm lost.... I thought this github issue tracker should be used in case of missing details in the documentation...😳

[2018-03-01 20:11] jwargo commented on #39
It is, but it's not a support forum. It feels like you need help, so that's why I'm suggesting you go to the right place to get the help you need. Once you're up and working, if you want to make suggestions on how to update the docs, this is the place to be.

Do you have suggestions you want to make on the docs?

[2018-03-01 21:06] nnguyen2102 commented on #19
I'm currently using Microsoft UnitTest framework with Appium, C# to test Android and IOS real devices. Will my tests work with App Center?

Sample test case written in Visual Studio 2017:
namespace AppCenterTests
{
    [TestClass]
    public class UnitTest1
    {
        [TestMethod]
        public void TestMethod1()
        {
            DesiredCapabilities cap = new DesiredCapabilities();

[2018-03-01 21:09] K232 commented on #39
Sure. What is the meaning of "Sandbox" and "Production"? And could I use the same apple key for both?

[2018-03-01 21:10] jwargo commented on #19
@nnguyen2102 The comments feature of the docs is designed to enable customers to suggest changes to the docs or ask clarifying questions about the docs. If you need help with the product, please login to the App Center dashboard and click the blue chat button in the lower-right corner of the page. Our dedicated support resources will answer any questions you have there.

[2018-03-01 21:35] charabaruk commented on #40
Shouldn't this information be added to the doc, though?

[2018-03-01 21:36] blparr commented on #40
Definitely agree @coldacid , I will add that information.

[2018-03-01 22:16] glennwester commented on #41
Hi Jose, we only support the Appium Java client with JUnit as the test runner at the moment. We can look into supporting NodeJS in the future.

[2018-03-01 22:16] #41 closed, assigned to glennwester

[2018-03-02 00:22] amchew commented on #35
Hi @sprabhuraj, thanks for reaching out! Could you share more on what you are trying to achieve, and what is not working?

[2018-03-02 01:06] phileo opened #42 "v1.4.0 Release Notes?"
Where can I find release notes for AppCenter SDK v1.4.0 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62690a4a-94f3-21cb-a674-d297e557ca62
* Version Independent ID: 3adaeac7-e034-5b5b-19c5-1c0151a7264c
* [Content](https://docs.microsoft.com/en-us/appcenter/general/changelog)
* [Content Source](https://github.com/Mic

[2018-03-02 04:30] olived84 commented on #40
I am using that TrackError method but I am not able to find any report on the appCenter site. But when application totally crash... I see the exceptions... What am I missing

[2018-03-02 05:50] sprabhuraj commented on #35
When we were configuring the Iteration Path with just Iteration 1, we got
an error saying Area\Iteration Path not found. Hence we had to specify as
Area\Iteration 1 in the Iteration Path, along with the escape character.
Hope this helps.

On Thu, Mar 1, 2018 at 6:22 PM, Amanda Chew <notifications@github.com>
wrote:

--
********************
  Keep Smiling :-)
********************
Because SMILE is t

[2018-03-02 08:33] phlashdev commented on #40
Same here, I cannot see them anywhere...
As what I've seen under "Errors->Feature Set", the AppCenter UI module will show an entry for handled errors. But this is not showing up for me at the moment.

[2018-03-02 10:51] Under-Warz opened #43 "Missing informations if using Cocoapods"
Hi guys,

It could be great if you edit this part https://docs.microsoft.com/fr-fr/appcenter/distribution/codepush/react-native#multi-deployment-testing for users using Cocoapods about the modification of `Per-configuration Build Products Path`

For Cocoapods users like me, I also have to edit the PODS_CONFIGURATION_BUILD_DIR in my project's targets to get third part libraries work with the new st

[2018-03-02 12:44] goldengecko opened #44 "Queries about capabilities and usage"
1. When I use automatic sending, it seems to want dsym and js map files uploaded, but when I enable sending in Javascript, it doesn’t. Why?

2. Either way, it doesn’t seem to provide me useful information about where the crash occurred (file, method, line etc) - am I missing something here?

3. I set up the system to add a text attachment to the report using the following code:

      getErrorAtta

[2018-03-02 12:49] goldengecko commented on #44
I have just found where I can see the attachments in the UI, so please ignore point 3.

[2018-03-02 13:50] hendra4ditya opened #45 "Realisation"
Stock#25714

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45228922-4a96-8c08-7d27-69ef98d44943
* Version Independent ID: d04ef359-7b17-8a14-970b-5c48820976cd
* [Content](https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/ios)
* [Content Source](https://github.com/MicrosoftDocs/appcenter-docs/blob/live/docs

[2018-03-02 14:04] jwargo commented on #40
@blparr can you please address the new questions?

[2018-03-02 14:09] jwargo commented on #45
@hendra4ditya I don't understand your comment. Are you proposing a change to the docs?

[2018-03-02 14:09] #45 closed

[2018-03-02 14:45] wbget commented on #38
[this?](https://github.com/MicrosoftDocs/appcenter-docs/pull/4)
[code]

[2018-03-02 15:19] jwargo commented on #38
it's:

[code]

So, to go from Staging to Production, you'd use:

[code]

[2018-03-02 17:41] #32 closed, assigned to Zakeelm

[2018-03-02 17:41] jwargo commented on #32
Docs have been updated to reflect this change.

[2018-03-02 17:54] elamalani commented on #42
@phileo Our release notes are documented here:
https://github.com/Microsoft/AppCenter-SDK-DotNet/releases/tag/1.4.0

[2018-03-02 18:06] blparr commented on #40
Hi @olived84 and @Phlash1989 , handled errors in currently in preview behind a feature flag. You need to request access to the feature so we can enable it for you. Can you please, contact us via our support system (blue button on the app center portal) with the accounts where you would like this feature to be enabled on?

Thanks!

[2018-03-02 18:36] #42 closed, assigned to elamalani

[2018-03-02 20:16] elamalani commented on #44
@goldengecko For symbolicating JS crashes in iOS, you always need to upload dsym and mapping files. App Center will only then be able to show you useful information about the crash with file name, method and line number. If not, please open a support ticket with us to investigate the issue.

In the UI alert if the user selects ALWAYS_SEND, the SDK will store that selection and will send all the ap

[2018-03-03 00:35] glennwester commented on #29
Hi @tura08, for the purposes of trialing our service, could you reduce the length of your testing suite so that you can perform an end to end build/test/distribute workflow?

[2018-03-03 03:49] mbertelsen opened #47 "Are you killing the project?"
The roadmap is short and you haven’t release anything in over 2 months? Are you terminating the project?  You have not fixed Managed exceptions and that have been a issue since day one? We was changing from RayGun to AppCenter but if you are not dedicated and stop development we will change back again.

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.mic

[2018-03-03 10:13] lassana opened #48 "iOS Extensions signing?"
Hello,
Does App Center support iOS extensions signing? As I can see, only one provisioning profile can be uploaded into the build configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d72f6fe-74d6-696e-e709-5f6d577c0a58
* Version Independent ID: b3d0ea8b-5a1f-bf71-7dc2-9685cf23c00b
* [Content](https://docs.mic

[2018-03-03 12:20] bnfrnz opened #49 "Documentation of import incorrect"
`import AppCenter from 'appcenter';`
I don't believe this import can work with the current version of the Cordova SDK, unless I'm missing something...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b907baa-5e3a-da69-a50b-2eb46346a1c8
* Version Independent ID: 74049b61-a973-d240-728a-e725d9383599
* [Content](https://do

[2018-03-03 16:25] goldengecko commented on #44
Hmmm, I have been trying to upload the DSYM and mapping files, but it still doesn't give me any useful information. I see that for a `react-native run-ios` build, it puts it in my project's ios/build/Build/Products/Debug-iphonesimulator folder and there's just the MyApp.app.dSYM - I presume that is the only one I would have to upload? And for an archive build, I see there's a dSYMs folder in the x

[2018-03-04 23:14] elamalani commented on #44
@goldengecko For opening a support ticket, login to https://appcenter.ms portal. There is a blue icon on the lower right end of the portal. Once you click on the icon, click on "New conversation" button to send a message to our product team. That way, we can better help you investigate the first issue.

There is no way in Ap Center to view combined Analytics for both the apps. We want to support "

[2018-03-05 15:57] erwan-lcs opened #50 "How to upload Symbols for crash reporting"
How does one " Create a ZIP file for the dSYM package on your Mac. " ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 663b3972-5d13-f787-05c6-45f0d49127ef
* Version Independent ID: 1aa13690-4428-163d-4cb4-f8fecad0665e
* [Content](https://docs.microsoft.com/en-us/appcenter/crashes/ios)
* [Content Source](https://github.

[2018-03-05 22:30] jwargo commented on #47
@mbertelsen we're regularly releasing features for this product, we released new features and a new version of the SDK just last week.  This project is under active development.

I apologize for the short roadmap, but we're in the process of tightening up some infrastructure capabilities right now and getting ready for GDPR is a focus as well.

[2018-03-05 22:30] #47 closed, assigned to nobody

[2018-03-06 01:38] ghost opened #51 "Long build time for monolithic repo due to nuget restore *.sln"
My Xamarin.Android app lives in a monolithic repo in github alongside other solution files (.sln). Due to appcenter's build process, nuget packages for all solutions are restored causing my build time to increase unnecessarily. This is due to `nuget restore *.sln` command that is run as part of the build process. It would be better if we could specify the solution to restore as part of the build c

[2018-03-06 08:32] dipree commented on #48
Hi, unfortunately we don't support to sign iOS extensions at the moment.

[2018-03-06 09:43] lassana commented on #48
@derpixeldan thank you for the answer. Do you have any plans about this?

[2018-03-06 16:05] jwargo commented on #51
@tura08 Thanks for the feedback. This area of the docs site is for gathering feedback and suggested edits for the docs. If you want to provide feedback on the product or to ask questions about a particular feature, use the chat option in the lower-right corner of the App Center console. We have a dedicated team of support resources monitoring the chat area and passing feedback to the product's Pro

[2018-03-06 16:05] #51 closed, assigned to nobody

[2018-03-06 16:39] jwargo commented on #50
@erwan-lcs The comments section is for providing comments or suggested edits for the App Center docs. If you have a question, please use the chat option in the bottom-left corner of the App Center dashboard, we have a dedicated team of support resources monitoring chat for questions.

[2018-03-06 20:28] Hoid opened #52 "Most page actions open up a question box in Firefox asking if I want to save the password"
There is something wrong with this behavior. It asks me EVERY TIME I do something to save this password, never with a username. There is also no place to submit feedback for App Center within the App Center, so I have to come here to do so.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06813350-a37b-a4a2-fdbc-a59caefb

[2018-03-06 21:19] jwargo commented on #52
@Hoid that's not true. On every page in App Center, there's a blue chat button in the lower-right corner. Click that and provide feedback and ask questions any time you want. We have a dedicated team of people monitoring that chat full time.

[2018-03-06 21:19] #52 closed, assigned to nobody

[2018-03-07 09:14] luongs3 opened #53 "Build Scripts not running"
I add 2 files appcenter-post-clone.sh and appcenter-post-build.sh and some simple commands as `echo "post-clone"` into them in my project. And it seems that ms appcenter recognized them because in App center -> build -> build scripts, I saw post-clone and pre-build. But in the build output logs, no sign that indicate appcenter run my commands

---
#### Document Details

⚠ *Do not edit this section

[2018-03-07 09:29] dipree commented on #53
Hi, once added to your repo, in order to save the detected scripts to the build configuration, you have to hit the “Save” or “Save & Build” button in the build configuration.

We know it’s faily unintentional and will change the behaviour in the future.

It’s stated in the docs also:

[2018-03-07 13:09] tareq143 opened #54 "Project"
This is my 1st project. I need more help to keep my project secure and updated. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83a47f5b-505b-ab6b-6232-5e22e2318e10
* Version Independent ID: ff7978d9-3ce9-9c41-6142-644eb353edff
* Content: [App Center Analytics for UWP - Visual Studio App Center | Microsoft Docs](

[2018-03-07 16:22] dhei commented on #54
How can we help you? Do you have any issues or questions?

[2018-03-07 16:28] jwargo commented on #53
@luongs3 The comments feature of the docs is designed to enable customers to suggest changes to the docs or ask clarifying questions about the docs. If you need help with the product, please login to the App Center dashboard and click the blue chat button in the lower-right corner of the page. Our dedicated support resources will answer any questions you have there.

[2018-03-07 16:28] #53 closed, assigned to nobody

[2018-03-07 16:48] jwargo commented on #54
@tareq143 The comments feature of the docs is designed to enable customers to suggest changes to the docs or ask clarifying questions about the docs. If you need help with the product, please login to the App Center dashboard and click the blue chat button in the lower-right corner of the page. Our dedicated support resources will answer any questions you have there.

[2018-03-07 16:48] #54 closed, assigned to nobody

[2018-03-07 17:50] amchew commented on #35
Hi @sprabhuraj thanks for clarifying! We're investigating this now, and will update again.

[2018-03-08 01:04] amchew commented on #35
Hey @sprabhuraj, update, I've submitted a PR to edit the [documentation for bug tracker](https://docs.microsoft.com/en-us/appcenter/dashboard/bugtracker/) and we're working on editing the UI in App Center.

The correct example for a default payload is `{"System.IterationPath": "Area\\Iteration 1", "System.AssignedTo": "Fabrikam"}`.

Thank you for bringing this to our attention!

[2018-03-08 10:34] ghost opened #55 "Apps with extension target(s) have additional provisioning profiles required for build"
My app has an extension target therefore I need to upload an additional provisioning profile for a build to succeed. Currently the UI for creating a build configuration only allows uploading a single provisioning profile. To overcome this I'm using a post-clone script that copies the mobile provisioning profile from the working directory to ~/Library/MobileDevice/Provisioning\ Profiles.

---
####

[2018-03-08 16:19] #35 closed, assigned to amchew

[2018-03-08 21:37] siminapasat commented on #48
@lassana Yes, we recognize that this is a missing feature and it is on our future plans. Unfortunately, I don't have an ETA for this.

[2018-03-08 21:42] #48 closed, assigned to dipree, siminapasat

[2018-03-09 00:04] apolishch opened #56 "Can't see build details"
When I run appcenter codepush deployment list --app Appname, I get shown the following:

│ Name       │ Key                                                              │
├────────────┼──────────────────────────────────────────────────────────────────┤
│ Production │ prod-key │
├────────────┼──────────────────────────────────────────────────────────────────┤
│ Staging    │staging-key │

I can no l

[2018-03-09 03:45] siminapasat commented on #55
Hey @antonys1, this is great feedback! We currently don't support building extensions, though this is on our roadmap. I'd love to help other users with your workaround -  using a post-clone script. Would you be open on submitting your script sample in this public repository where we collect useful scripts in App Center? https://github.com/microsoft/appcenter-build-scripts-examples

Thanks!

[2018-03-09 11:59] BradVause opened #57 "App Center push only when app is running in the background"
Hi,

I know it says at the top of this article that the push notifications will work when the app is running in the background. Fair enough - but being able to send notifications when the app is not running is a pretty common feature right? Surely it is possible? How would I go about doing that? Any guidance would be appreciated.

Also - I have implemented everything in this article and eventually

[2018-03-09 19:09] dhei commented on #57
Hi Brad,
Xamarin.Android push notification should work when app is not running at all, there's no special guidance required to make this scenario work. For your second question, I don't think `NotificationManager` is required for push to work, can you explain where do need `NotificationManager.Notify()` in your app? Thanks for using App Center.

[2018-03-09 20:31] amchew commented on #35
Hi @sprabhuraj, updating on the progress: I've made the changes to reflect the correct example in the [public documentation](https://docs.microsoft.com/en-us/appcenter/dashboard/bugtracker/). Regarding the UI in the bugtracker wizard, we're working on editing this. Thanks!

[2018-03-11 06:41] arifzaman2 opened #58 "Appium Javascript"
Greetings,

Can I run test with Appium which is written on JavaScript (Webdriver.io to be specific)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed7c0d11-e60a-f088-e983-7465aca41515
* Version Independent ID: b2c6a308-1fcb-a385-239d-862b2c14114c
* Content: [Preparing Appium Tests for Upload - Visual Studio App Center

[2018-03-11 13:15] raver99 opened #59 "AppCenter Push iOS - Ability to register for remote notifications manually"
Hi,

I am checking out the AppCenter Push SDK for Xamarin Forms (iOS, Android).
I observed that on iOS the SDK registers for remote notifications when I call AppCenter.Start().
One of my requirements (and best practice really) is to ask the user if he wants to receive push notifications in a context that makes sense for him, in a later point in time, not at the app start, because the rejection rat

[2018-03-11 20:45] olumide-oyetoke opened #60 "Several issues"
I've implemented everything in this article. However, I'm facing some issues.

Issue 1. In the below event,
Push.PushNotificationReceived += (sender, e)

if (e.CustomData != null)
        {
            summary += "\n\tCustom data:\n";
            foreach (var key in e.CustomData.Keys)
            {
                summary += $"\t\t{key} : {e.CustomData[key]}\n";
            }
        }

e.CustomDa

[2018-03-11 21:29] dtaylorus opened #61 "Too many dependencies for basic crash analytics"
I would like to use AppCenter for crash analytics, but I count about 10 dependencies including NewtonSoft.Json and SQLLite when adding the NuGet package Microsoft.AppCenter.Analytics. I have a significant investment in eliminating dependencies (and startup time) in my application, and this large dependency overhead unfortunately makes AppCenter unusable for me.

---
#### Document Details

⚠ *Do no

[2018-03-12 06:23] BradVause commented on #57
This document actually says at the top in a blue rectangle:
"A notification appears in the system notification center only if the application is in the background at the moment the Push is received." I would really like to show notifications whether the app is running or not.

In the Push.PushNotificationReceived method - this code is hit when the notification is received, however this code reads

[2018-03-12 12:59] jwargo commented on #61
@dtaylorus Do you have a question about the docs?  If you have feedback about the product or need help with the product, please use the chat option in App Center (the blue chat icon in the lower-right corner of most App Center pages).

[2018-03-12 12:59] #61 closed, assigned to nobody

[2018-03-12 13:01] jwargo commented on #60
@luminelx64 The comments feature of the docs is designed to enable customers to suggest changes to the docs or ask clarifying questions about the docs. If you need help with the product, please login to the App Center dashboard and click the blue chat button in the lower-right corner of the page. Our dedicated support resources will answer any questions you have there.

[2018-03-12 13:02] jwargo commented on #59
@raver999 The comments feature of the docs is designed to enable customers to suggest changes to the docs or ask clarifying questions about the docs. If you need help with the product, please login to the App Center dashboard and click the blue chat button in the lower-right corner of the page. Our dedicated support resources will answer any questions you have there.

[2018-03-12 13:04] jwargo commented on #58
@arifzaman2 The comments feature of the docs is designed to enable customers to suggest changes to the docs or ask clarifying questions about the docs. If you need help with the product, please login to the App Center dashboard and click the blue chat button in the lower-right corner of the page. Our dedicated support resources will answer any questions you have there.

[2018-03-12 14:12] Soph commented on #50
@erwan-lcs right click the dsym in Finder and then there should be an option "compress". That will give you a zip file you can then use for uploading.

[2018-03-12 14:13] #50 closed, assigned to saraford

[2018-03-12 16:17] glennwester commented on #58
@arifzaman2 Thanks for writing in. We don't support the Javascript client in Appium at the moment, this is something we can look into in the future.

[2018-03-12 18:10] #40 closed, assigned to blparr

[2018-03-12 18:54] elamalani commented on #7
@mattregul Thanks for your feedback. We will update the documentation to reflect the feedback.

[2018-03-12 19:04] elamalani commented on #60
@luminelx64 Thanks for sharing your feedback on Push service. As John mentioned, for any issues related to the product, please open a support ticket with us by clicking on the blue icon on the lower right of App Center portal. Our product team will help investigate the issue.

Regarding issue 1, it is a known issue on our SDK and we plan to fix it soon. Firebase started sending "google.ttl" as an

[2018-03-12 21:25] okulygin opened #62 "Event Metric Limits"
"The maximum number of distinct custom events that can be tracked daily is 200." Is it per App, device or user ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35f69ecd-7f5b-570c-4777-c68acdacaf70
* Version Independent ID: 2987abb6-1dad-c456-827a-600952e416ee
* Content: [Understanding App Center Events Metrics - Visual

[2018-03-12 21:26] blparr commented on #62
Hello @okulygin, this limit is per app.

[2018-03-12 21:31] okulygin commented on #62
Thank you for prompt response. Would be great if it was possible to increase this limit (by providing customer-owned data store, etc...), because for the apps with significant active users this limit is a really low, which makes it unusable sometimes...

[2018-03-12 21:46] blparr commented on #62
Thanks for the feedback! We will consider it for our future improvements.

[2018-03-12 23:10] wars23 opened #63 "FACTURAS"
DOCUMENTOS XML

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fb42032-a67b-b601-7ef0-bdf1c8838f73
* Version Independent ID: 4d052b88-6fe1-358e-47a7-4d2687f02c10
* Content: [App Center Push for Universal Windows Platform - Visual Studio App Center | Microsoft Docs](https://docs.microsoft.com/en-us/appcenter/sdk/push/uw

[2018-03-13 12:41] #7 closed, assigned to elamalani, saraford

[2018-03-13 12:42] #60 closed, assigned to elamalani

[2018-03-13 13:12] #62 closed, assigned to nobody

[2018-03-13 13:21] jwargo commented on #63
@wars23 Do you have a question or comment about the docs?

[2018-03-13 13:21] #63 closed, assigned to nobody

[2018-03-13 18:19] olumide-oyetoke opened #64 "Clarification on background notifications"
Hi,

I need a clarification on this note:
"The background notification click callback does NOT expose title and message. Title and message are only available in foreground pushes."

What about e.Custom data? Does clicking a background notification expose the custom data. If it does, I could make use of it.

Also, could you please give an example of using Push.PushNotificationReceived in an app who

[2018-03-14 17:44] jfichtner commented on #62
+1 on this! 200 total events per app is extremely low. To get useful data, I would expect a typical user to hit 15 or 20 events per use. This means the limit would be hit after about 10 to 15 uses per day!

[2018-03-14 17:49] blparr commented on #62
@jfichtner You can define up to 200 distinct event names per app (not per user) - If 15 of your users run into one of these 200 events, they will be sum in the "Users" column, and only one of these 200 events will be counted.

Hope this clarifies!

[2018-03-15 20:05] DavidPineda opened #65 "option to upload symbol file can not be found"
Documentation and tutorials indicate that the map files must be uploaded, but the button or option to upload them is not found on the platform.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b36a466-fc92-153a-e513-a2f39ed4bf36
* Version Independent ID: bfca53b7-2d88-1665-57a8-163a88af183e
* Content: [App Center Crash

[2018-03-15 23:33] rangav opened #66 "No Symbols Found"
Hi

I Uploaded the sourcemap using the command above, when i upload to app center it is showing as no symbols found.

I am unable to find Crashes sources for React Native App.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b36a466-fc92-153a-e513-a2f39ed4bf36
* Version Independent ID: bfca53b7-2d88-1665-57a8-163a88af18

[2018-03-16 14:55] putmanj00 commented on #24
This article is dated 01/19/2019....has Microsoft mastered time travel?

[2018-03-16 16:48] jwargo commented on #66
@rangav The comments feature of the docs is designed to enable customers to suggest changes to the docs or ask clarifying questions about the docs. If you need help with the product, please login to the App Center dashboard and click the blue chat button in the lower-right corner of the page. Our dedicated support resources will answer any questions you have there.

[2018-03-16 16:59] GitHubTracey opened #68 "Missing a key step (which I found elsewhere)... appcenter login"
one key step which is missing... is that in order to do a code push from the command line using the Dynamic Deployment Assignment, you first need to log into the appcenter. Should probably be mentioned prior to giving the command on how to deploy from command line. As a first attempt, following the getting started guide, it was a critical step. Cheers!

---
#### Document Details

⚠ *Do not edit th

[2018-03-16 19:10] jwargo commented on #24
@putmanj00 fixed. Thanks for finding that.

[2018-03-16 19:12] jwargo commented on #68
@GitHubTracey Great suggestion, thanks. I've asked the product PM to consider a doc update.

[2018-03-16 19:14] elamalani commented on #68
@Zakeelm Can you take care of updating CodePush doc?

[2018-03-19 12:49] sarahmarciano opened #71 "Custom crashes"
is there an API for sending a custom crash? for ex. my server returned me 404 which I did not expect so I would like to send a crash
is it possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 519e420f-cf2a-1d5b-d86a-d01c09bcf7a0
* Version Independent ID: 59c746fb-cf4d-3019-2b48-56b69e09aa27
* Content: [App Center C

[2018-03-19 15:36] jwargo commented on #71
@sarahmarciano The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional inform

[2018-03-19 15:36] #71 closed, assigned to nobody

[2018-03-19 15:38] jwargo commented on #65
@DavidPineda The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informat

[2018-03-19 15:38] #65 closed, assigned to saraford

[2018-03-19 15:42] jwargo commented on #59
@raver999 Were you able to get your question answered through App Center support?

[2018-03-19 15:42] #59 closed, assigned to dimazaid

[2018-03-19 15:45] #55 closed, assigned to nilofer

[2018-03-19 15:46] #44 closed, assigned to elamalani

[2018-03-19 15:55] #38 closed, assigned to Zakeelm

[2018-03-19 16:28] dhei commented on #57
Thanks for your feedback,  and sorry about the delay of my response. Yes, you are right--the code snippet of `PushNotificationReceived` method only logs the push notification message received without displaying any notification UI. Therefore you will have to write the UI code that actually display the notification. We will improve this doc with more clear instructions and code snippets.

[2018-03-19 16:32] #57 closed, assigned to dhei

[2018-03-19 17:27] Zakeelm commented on #56
Hey there!

As of now, this is still available through the CodePush CLI, but not in the App Center one. But, we do make these metrics available in the App Center web portal. We've actually discussed bringing this functionality  back in the new CLI, but later had a priority shift. When our team has bandwidth, we will definitely be looking into this again!

[2018-03-19 17:40] #56 closed, assigned to Zakeelm

[2018-03-19 20:31] Zakeelm commented on #49
@elamalani I think you may be able to help with this!

[2018-03-19 20:57] giladno commented on #66
@jwargo there is no chat button in the App Center dashboard. I'm experiencing a problem with symbols as well...

[2018-03-19 21:01] jwargo commented on #66
blue icon, bottom right? Try here: https://intercom.help/appcenter

[2018-03-19 21:02] giladno commented on #66
<img width="1393" alt="screen shot 2018-03-19 at 23 01 59" src="https://user-images.githubusercontent.com/417148/37622154-9d4aca50-2bc9-11e8-9a65-cb6c5c07b2bc.png">

not there...

[2018-03-19 21:04] jwargo commented on #66
@joemellin?

[2018-03-19 21:06] jwargo commented on #66
@giladno Do you have a pop-up blocker or something running that would disable that? Support chat is provided through a third-party app (the support engineers are Microsoft employees), so your browser may be blocking it?  My apologies for this. Let me get you help.

[2018-03-19 21:09] jwargo commented on #68
@GitHubTracey docs updated, thanks for pointing that out.

[2018-03-19 21:09] #68 closed, assigned to elamalani, Zakeelm

[2018-03-19 21:10] Zakeelm commented on #68
@GitHubTracey Hey, going to close this! I just added a few sentences to our docs to make this more clear.

[2018-03-19 21:27] giladno commented on #66
@jwargo thanks, that was is. Pretty weird, since Intercom works for me on other websites without any need to disable my adblocker.

I've posted my questions there, cheers!

[2018-03-19 21:30] Zakeelm commented on #43
Hey there!

Thanks for the suggestion, i'm currently investigating how I can improve the documentation for this. Can you elaborate on how you had to edit the PODS_CONFIGURATION_BUILD_DIR? I would like to know the steps a cocoapods user should take to get third party libraries to work.

[2018-03-19 22:13] saraford commented on #65
@DavidPineda Hi 👋  You should be able to use the same “Upload Symbols” button on the Symbols page to upload the map files as well. If that doesn't work for you, please use the link intercom above to contact us for support. Thanks! 🙏

[2018-03-19 23:14] MehrdadMzfr commented on #39
@K232 hi, Sandbox and Production are iOS concepts, they are used to separate development and prod apps.
based on the cert you used to build the app, you need to choose the environment.
Sandbox is for Development Certs
Production is for Adoc or App store distribution. For test flight apps, you need to build it using prod certs.

Re Auth Key, correct, you can use one key for both environments.

Plea

[2018-03-19 23:14] #39 closed, assigned to dimazaid, gaknoll

[2018-03-20 02:22] MehrdadMzfr commented on #59
hi @raver999, yes you use `startService()` where input parameter is push. in order words, you can skip adding push in AppCenter.Start() call the above method when you plan to show Push Permission alert, this method won't require app secret.

[2018-03-20 10:40] Under-Warz commented on #43
Hi @Zakeelm, well if I let the default `PODS_CONFIGURATION_BUILD_DIR` for the new environment `Staging` it doesn't work. I needed to change the configuration for `Staging` in `PODS_CONFIGURATION_BUILD_DIR` using the same variable as `Release` : `${PODS_BUILD_DIR}/Release$(EFFECTIVE_PLATFORM_NAME)`
<img width="513" alt="capture d ecran 2018-03-20 a 11 40 18" src="https://user-images.githubuserconte

[2018-03-20 12:18] #66 closed, assigned to saraford

[2018-03-20 15:20] fedegl opened #73 "The Crashes service doesn't really support React Native on Android"
This document is misleading since the Crashes service doesn't support SourceMaps for React Native on Android, which means that you won't get a line number of where the crash occurred, which in my opinion makes the Crashes services not very useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0087c543-d8f4-5ea6-5ac6-8

[2018-03-20 16:41] Mullineaux opened #74 "Eng/SW"
Hello Glenn,  Was noticing that this post speaks to PII, but not as much around methods used to I) Automated Secure Code Review, i.e. MS-approved methods to Inspect code posts by isolating known SI/Live links/Credentials, etc, ii)Monitoring & Tracking plans & investments, iii) Redundancy wrt AKV, or others. Can you say when we might hope to see more?  Many thanks,

---
#### Document Details

⚠ *Do

[2018-03-20 17:09] jwargo commented on #74
@glennwester this you?

[2018-03-20 17:19] glennwester commented on #74
Hi @jwargo and @Mullineaux,

Looking into this, will have an update soon.

[2018-03-21 05:56] theyota opened #75 "Change "stared" to "started" typo"
You can expect API support for everything you see in the portal. We have a swagger as well as documentation on how to get stared with our APIs.  Change "stared" to "started". hope this helps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beb96601-f906-374d-b0d8-537e5f80de3e
* Version Independent ID: b66d21ae-1205-3d76

[2018-03-21 12:30] jwargo commented on #75
@theyota thanks for letting us know, fixing it now.

[2018-03-21 12:30] #75 closed, assigned to nobody

[2018-03-21 12:41] bmourat commented on #49
@elamalani this is correct, we don't need to import anything to use SDK in Cordova

[2018-03-21 13:01] bnfrnz commented on #49
I'm sorry, I didn't mean to cause confusion here with my comment. I should mention that I'm writing typescript, not javascript.

![screen shot 2018-03-21 at 20 47 17](https://user-images.githubusercontent.com/26401091/37710754-90865aa6-2d49-11e8-96f0-795aa41651fb.png)

The import suggested [in the docs](https://docs.microsoft.com/en-us/appcenter/sdk/other-apis/cordova) does not work because the mo

[2018-03-21 13:14] bmourat commented on #49
@bnfrnz
Oh, I see. Our support for typescript is not at its best for now) And the only workaround is the one that you pointed out. We should add definitions for our modules for better typescript support!

[2018-03-21 16:48] elamalani commented on #49
@bnfrnz Thanks for your feedback. We will change the docs based on your feedback.
https://github.com/MicrosoftDocs/appcenter-docs-pr/pull/549

[2018-03-21 17:31] elamalani commented on #64
@jwargo The DRI from the SDK team should answer this one.

[2018-03-21 18:13] guperrot commented on #64
CustomData is always available.
For splash screen have you tried modifying the StartActivity from Splash to Main like this:

[code]

[2018-03-21 18:13] marisaroman opened #76 "createPom gradle Task"
I ran into a few issues attempting to follow these instructions.

1. I believe the final curly brace is missing from the code snippet. I had to add one for the Gradle build to work.
2. There is a comment in the createPom task indicating that we don't want to iterate over test dependencies, but the subsequent line of code appears to be iterating over the test dependencies. Which is correct?
3. The

[2018-03-21 18:18] #49 closed, assigned to elamalani

[2018-03-22 05:02] glennwester commented on #76
Hi @marisaroman, thanks for making us aware. I'm having one of our engineers review this and we'll update the docs to make this right.

[2018-03-22 12:47] jwargo commented on #76
@glennwester close this issue or leave it open until engineering has looked at it?

[2018-03-22 12:55] marisaroman commented on #76
Great - thank you!

[2018-03-22 13:39] #64 closed, assigned to thyeggman

[2018-03-22 14:58] joaosilvareed opened #77 "IP Addresses"
I need to whitelist the app center IP Address so that it does have access to our environments for testing, what are the IP Addresses?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adb0ff0a-1fb7-9362-34e4-50879d07f0f2
* Version Independent ID: 469a4e00-53a3-b903-eb0d-1d307b4b4166
* Content: [Preparing Xamarin.

[2018-03-22 15:11] jwargo commented on #77
@joaosilvareed The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional inform

[2018-03-22 15:11] #77 closed, assigned to nobody

[2018-03-22 15:17] joaosilvareed commented on #77
@jwargo  And this should be part of the documentation? Like this: https://developer.xamarin.com/guides/testcloud/uitest/working-with/submitting-tests-to-xamarin-test-cloud/#Firewall_Configuration

[2018-03-22 15:19] jwargo commented on #77
@joaosilvareed I've started a conversation with program management to investigate publishing the list of endpoints. In the mean time, reach out to our support team through the link I gave you and you'll get an answer.

[2018-03-22 17:22] Zakeelm commented on #43
Thanks for elaborating. This helps! I'm going to work on updating our docs to reflect this. I will follow up when the docs are updated!

[2018-03-26 11:41] patrickCode opened #80 "Application is breaking after adding code push"
After enabling code push in React Native, the application is crashing. While building I am getting the below error

ERROR in ./node_modules/react-native/Libraries/react-native/react-native-implementation.js
Module not found: Error: Can't resolve 'AccessibilityInfo' in 'C:\Github\React\Native\Basic_Controls\node_modules\react-native\Libraries\react-native'
 @ ./node_modules/react-native/Libraries/r

[2018-03-26 12:27] jwargo commented on #80
@patrickCode The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informat

[2018-03-26 12:27] #80 closed, assigned to nobody

[2018-03-26 21:12] MKaslan1 opened #82 "Ups.com"
Paypal Bussenis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86f6a73b-cde4-a960-792e-df0db60f2090
* Version Independent ID: a97c3ad0-dd1d-7212-c70f-15b764e0cbe7
* Content: [Android SDK Troubleshooting - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/troubleshooting/android#analytics-data-doe

[2018-03-27 14:23] gilles-leblanc opened #83 "iOS version prerequisite"
Section 1 Prerequisites mentions:
"You are targeting devices running iOS 9.0 or later or Android 4.0.3 (API level 15) or later".
In my info.plist my Deployment Target is 9.0.

Yet when I add the 1.5.0 AppCenter packages I am getting the following errors:
"error MT5209 : Native linking error : warning: object file  was built for newer iOS version (10.1) than being linked (9.0)".

Is the 9.0 or late

[2018-03-27 15:20] elamalani commented on #83
@gilles-leblanc App Center supports iOS 9 and later. If you see an error adding App Center NuGet, can you open a support ticket with us by clicking on the blue icon in the lower right of App Center portal? That way,  we can better help you investigate the issue.

[2018-03-27 15:21] gilles-leblanc commented on #83
I've found out that if I only add the AppCenter base package this does not happen.
I need to add the AppCenter.Crashes as well to get the errors.

I then tried adding only the AppCenter and AppCenter.Analytics package and it worked.
If I add the AppCenter.Crashes package again it starts failing again.

So I tested out all these combinations:

- AppCenter = ok
- AppCenter + AppCenter.Crashes = erro

[2018-03-27 15:21] #83 closed, assigned to elamalani

[2018-03-29 03:43] lxcid opened #84 "Update for React Native v0.50+ codepush support"
Its been 4+ months since this document updated, I was wondering if I can use code push with React Native v0.53 at least.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39490e39-be97-2bba-5afc-6bc8bed39690
* Version Independent ID: 357a2070-e41c-b346-e18b-606eec7255c2
* Content: [Using the React Native SDK with CodePush

[2018-03-29 14:33] jwargo commented on #84
@lxcid I've asked the product's manager to respond to you. You should be OK, I used CodePush with the latest React Native a couple of weeks ago and it worked fine for me.

[2018-03-29 15:34] lxcid commented on #84
Thanks for the reply! Thats good to hear! 👍

[2018-03-30 16:36] Zakeelm commented on #84
Hey there @lxcid . I apologize for the confusion, the docs are definitely in need of an update. Thanks for pointing this out!  But, to answer your question, yes you can use CodePush with React Native v0.53 😊

[2018-03-31 18:41] smpel opened #85 "Rural and Survey Engineer"
Keep learning!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06813350-a37b-a4a2-fdbc-a59caefb9f32
* Version Independent ID: 29787958-5b4e-efc2-2af5-2af0ee53216e
* Content: [App Center Build - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/)
* Content Source: [docs/build/index.md](https://gi

[2018-04-01 13:10] batjko opened #86 "Generic Git sources?"
Any plans to allow integration from self-hosted or other Git source?
My company uses a self-hosted Gitlab instance which is not accessible from the outside, so we would only want to set up an outgoing webhook from our side.
Anyone can add a webhook to appcenter manually, if that's what is required, so I'm not quite clear why appcenter is not serving this very common use case.

---
#### Document De

[2018-04-01 17:15] jimmmeh opened #87 "Push notifications do not work on Xamarin.Forms Android device when app is not in foreground"
Following the code in this documentation I can successfully see push notifications being output in the debug output using the app center push page when the application is in the foreground when running a Xamarin Android application built on Xamarin.Forms. However when the application is in the background the following is shown in the debug output, no matter what combination of message:

04-01 18:0

[2018-04-02 17:50] kyunghoon commented on #27
getting same exact issue, any resolution to this?

[2018-04-02 19:09] guperrot commented on #27
@kyunghoon have you tried closing VS, cleaning bin/obj folders and retry? If it does not work, please create a support ticket using the blue chat button on any page of https://appcenter.ms portal.

[2018-04-02 21:34] #87 closed, assigned to nobody

[2018-04-02 21:34] jimmmeh commented on #87
Apologies, I think this is code/device related

[2018-04-04 06:55] henrikweimenhog opened #90 "Backend?"
First of all, very nice docs right here. It only leaves one question unanswered: what about the backend?
I am comparing to what we currently use: Azure Push notifications. There I get the abstraction to registrations instead of just devices and the collecting of device registrations and also sending to one specific registration or a group of registrations.
I suppose I am to do all this on my own w

[2018-04-05 19:38] PaoloMarini opened #91 "Typo"
Support with 3 "p"s

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06813350-a37b-a4a2-fdbc-a59caefb9f32
* Version Independent ID: 29787958-5b4e-efc2-2af5-2af0ee53216e
* Content: [App Center Build - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/#feedback)
* Content Source: [docs/build/index.

[2018-04-06 23:30] conceptdev commented on #85
Thanks for your feedback.

[2018-04-06 23:30] #85 closed, assigned to nobody

[2018-04-06 23:36] #91 closed, assigned to nobody

[2018-04-06 23:36] conceptdev commented on #91
Fixed! Thanks for letting us know :)

[2018-04-09 18:49] jwargo commented on #86
@batjko I apologize for my late response, I was on vacation last week. The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our de

[2018-04-09 18:49] #86 closed, assigned to nobody

[2018-04-09 21:14] #84 closed, assigned to Zakeelm

[2018-04-10 14:30] saraford commented on #73
Thanks for the feedback. Support for source maps for Android is on our roadmap.

[2018-04-10 15:54] #73 closed, assigned to saraford

[2018-04-10 19:18] fedegl commented on #73
@saraford Should the docs specify that the support is not there yet, and also mention when will it be available? A checkmark doesn't address that nuance.

[2018-04-10 20:45] vchelaru opened #92 "Additional problem - linking hockey app on iOS"
If you have the hockey nuget packages linked in the same iOS project as App Center packages, the project will not build. The documentation says:

But I thought this meant to not initialize multiple error reporting systems. It wasn't clear to me that I couldn't even have the nuget packages as part of the project.

This should be added to this section.

---
#### Document Details

⚠ *Do not edit this

[2018-04-10 22:26] jwargo commented on #92
@vchelaru As I understand it, crash libraries generally initialize automatically, so that's why we have that warning. Just having the packages in your app is enough to create the problem. @elamalani please correct me if I'm wrong.

[2018-04-11 13:59] ad-mca-mk opened #94 "API Upload?"
We would like the symbols to be uploaded from our in-house build CI. How would we go about doing that?
We cannot go in for each build and upload it manually.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eff6b815-a958-7ca3-d6fb-7ae7df5ecadd
* Version Independent ID: f2ad8149-0f9d-acc9-2098-da35d7a76ac7
* Content: [Cra

[2018-04-11 16:34] vchelaru commented on #92
I think the problem may stem from hockey app and app center core libs using the same class names. I don't think it's tied to automatic initialization because the error was compile time, not runtime.

[2018-04-11 16:42] jwargo commented on #94
@ad-mca-mk The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informatio

[2018-04-11 16:42] #94 closed, assigned to nobody

[2018-04-11 17:21] elamalani commented on #92
@vchelaru App Center and HockeyApp SDK both use **PLCrashReporter framework** for Crashes. That is why you can only include one SDK in your app to avoid any compilation errors.

I think the documentation mentions it clearly that "you can only have one crash reporting SDK integrated."

[2018-04-11 17:21] #92 closed, assigned to elamalani

[2018-04-11 17:59] vchelaru commented on #92
The documentaiotn does mention that having only one integrated, I'm arguing the clarity of the word "integrated" as that could be interpreted to mean "started" , but in this case it more broadly means added as a package.

To support my claim that this is not clear usage, the support person I spoke on the AppCenter chat told me that this is a very common issue that they have. Would be nice to help

[2018-04-12 12:07] TeeBeeRS opened #95 "can't use hockeyapp creds?"
Please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b24e043-b73c-c05d-b101-56d2b89a3a7a
* Version Independent ID: 234e0be5-9c02-b8b4-7a5d-6032f5cba4e8
* Content: [App Center Test - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/test-cloud/)
* Content Source: [docs/test-cloud/index.md](htt

[2018-04-12 15:02] jwargo commented on #95
@TeeBeeRS The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information

[2018-04-12 15:02] #95 closed, assigned to nobody

[2018-04-13 00:16] dimazaid commented on #90
Thanks for the comment. We will be adding more about this in the future.

[2018-04-13 10:30] freever opened #96 "Default Env Vars"
Are there any environment variables created automatically by the build process? For example, I want to access the auto-incremented Build ID so that I can set the version code in my android app - is there any way I can access this value in a bash script?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97f3af3f-ef07-8896-

[2018-04-13 11:11] dipree commented on #96
We don't create an environment variable for that but I'd like to understand what you need. Do you want to set your own offset for the "Build ID" option or are you looking for something more complex?

[2018-04-13 11:45] freever commented on #96
Well, I'd like to create a bash script that automatically sets the version code and version names in my AndroidManifest.xml and Info.plist files based on a calculation that uses the Build ID. Using some other build servers I've been able to access the auto-incremented build number and do something like the following:

- set a current VERSIONBASE base eg "1.1."
- set a current build offset
- calcul

[2018-04-13 14:01] jwargo commented on #96
@freever The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2018-04-13 14:01] #96 closed, assigned to nobody

[2018-04-13 14:01] #90 closed, assigned to dimazaid

[2018-04-13 15:23] #76 closed, assigned to glennwester

[2018-04-13 19:17] awesomes007 commented on #29
Is there a replacement for Xamarin Test Recorder?

[2018-04-13 20:06] jwargo commented on #29
@awesomes007  The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informa

[2018-04-17 03:55] yogieputra8 opened #98 "Integrate manually on Android"
Hi,
Nice documentation, are you guys planning to add support for integrating manually on Android?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ed0fde7-9e78-c318-9f8c-9d921ec7d7b3
* Version Independent ID: 946ead1c-4b65-8318-c77a-ef98873adac7
* Content: [Get Started with React Native - Visual Studio App Center](https

[2018-04-17 15:34] jwargo commented on #98
@yogieputra8 What do you mean by integrating manually on Android? Integrating what?

[2018-04-18 03:36] yogieputra8 commented on #98
@jwargo Ah sorry for the missing piece of the information. I was posted this comment in the Documentation page and does not realize that my question will be posted in this Github issue.

So, as I read this Docs https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/react-native. I want to integrate `appcenter-crash` and `appcenter-analytics` manually to my existing project (Android - React

[2018-04-18 15:17] jwargo commented on #98
@yogieputra8 yep, we publish the docs using GitHub, so all comments come through as issues.  As I understand it, and I'll let @elamalani correct me if I'm wrong, but the manual steps outlined in the docs are for those who don't want to use Cocoapods to add the App Center SDK to an iOS app. This doesn't apply on the Android side, just use the instructions for adding the SDK using the existing tools

[2018-04-18 17:53] elamalani commented on #98
@yogieputra8 Thanks for your feedback. We have manual instructions for iOS because developers might not want to use Cocoapods as a dependency manager for iOS apps. Cocoapods needs to be installed first before adding App Center packages. And that's why we have shared instructions on how to manually add frameworks to your iOS app.

On Android, you don't need to install any dependency manager to add

[2018-04-18 17:53] #98 closed, assigned to elamalani

[2018-04-19 19:38] Zakeelm commented on #43
Hey just wanted to give an update on this, we're going to be doing a big overhaul of our CodePush docs in the coming weeks. I'm going to go ahead and close this. This will be updated ASAP as will all of the docs 🙂

[2018-04-19 19:38] #43 closed, assigned to Zakeelm

[2018-04-20 04:33] dparvin commented on #54
To get the country code automatically, you can use something like: AppCenter.SetCountryCode(RegionInfo.CurrentRegion.TwoLetterISORegionName);

[2018-04-20 19:40] 15mgm15 opened #100 "Disable Android updates pop up."
I am having a hard time trying to find if there is a way to do this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83d269a0-0b09-c2f6-d37a-319831bcf782
* Version Independent ID: f2c17a3a-87bb-0c75-9efb-de6ffb6f7738
* Content: [App Center Distribute for Xamarin - Visual Studio App Center](https://docs.microsoft.com/en-

[2018-04-20 19:47] jwargo commented on #100
@15mgm15 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

If you have a question about how to do something, ask our support team. App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page

[2018-04-20 19:47] #100 closed, assigned to nobody

[2018-04-21 22:39] amp64 opened #101 "Any way to use from iOS background code?"
I have a Xamarin iOS project that is used with background notifications. I can't get any analytics data, where exactly should I add the initialization call to get some? I tried in the overridden DidReceiveRemoteNotification in AppDelegate.cs but nothing happens.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d72f6fe-7

[2018-04-22 05:46] sivakumar-cf commented on #55
I tried to copied all provisioning profiles from ~/Library/MobileDevice/Provisioning\ Profiles/ into project repo folder ios/Provision, and then I added this command into pst-clone-scrpit
cp -f -v ios/Provision/*.mobileprovision ~/Library/MobileDevice/Provisioning\ Profiles/
Still not working, throwing code signing required for App extensions. Kindly help.

[2018-04-23 08:17] cuongtvc opened #102 "Mandatory attribute does not work as expected"
I had a mandatory release and it was disabled, but when I applied a patch to enable it, it becomes enabled and optional, that means mandatory attribute had been change to false. My command: appcenter codepush patch -a my_account/my_app Production -l v10 -x false
Appcenter Version 1.0.14.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-04-23 12:49] jwargo commented on #102
@cuongtvc The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

It feels like you're trying to ask a support question. App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicate

[2018-04-23 12:49] #102 closed, assigned to nobody

[2018-04-23 12:50] jwargo commented on #101
@amp64 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, s

[2018-04-23 12:50] #101 closed, assigned to nobody

[2018-04-23 13:38] jwargo commented on #55
@sivakumar-cf The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informa

[2018-04-24 05:04] softlion commented on #100
You can remove the default update dialog by implementing the ReleaseAvailable callback and calling Distribute.NotifyUpdateAction(UpdateAction.Postpone);

[2018-04-25 11:40] softlion opened #105 "Fix links to customizable strings"
For iOS:

https://github.com/Microsoft/AppCenter-SDK-Apple/blob/develop/AppCenterDistribute/AppCenterDistribute/Resources/fr.lproj/AppCenterDistribute.strings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83d269a0-0b09-c2f6-d37a-319831bcf782
* Version Independent ID: f2c17a3a-87bb-0c75-9efb-de6ffb6f7738
* Content: [Ap

[2018-04-25 12:47] jwargo commented on #105
@softlion what are you asking us to do here? All you've done is link to a translation page and I don't know what that means.

[2018-04-25 13:06] #105 closed, assigned to nobody

[2018-04-25 14:59] jabulenc opened #106 "Typo on Log Flow bullet #1"
*integrated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b54905c-48c1-06be-2676-c1ca8a9463f2
* Version Independent ID: 56586cc1-d598-9f6b-8cda-a3359ed56e4f
* Content: [Understanding the App Center Log Flow Page - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/analytics/log-flow#feedback)
* Cont

[2018-04-25 15:02] jwargo commented on #106
@jabulenc fixed, thanks,

[2018-04-25 15:02] #106 closed, assigned to nobody

[2018-04-25 15:39] softlion commented on #105
I commented on the content [article](https://docs.microsoft.com/en-us/appcenter/sdk/distribute/xamarin) so you can fix the links in this article.
These links currently opens a 404 github page (The title of this ticket is "Fix links to customizable strings").

The bad links are in the chapter "customizable strings".

One of the correct link (for ios) is [link](https://github.com/Microsoft/AppCenter

[2018-04-26 03:24] RobbyRobbyRobby opened #107 "UWP when?"
I see you have iOS, Android and Xamarin working with In-App updates, when is UWP getting this feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edc4748f-3820-3b4d-b6d5-f0566063ce30
* Version Independent ID: 103d8b55-8719-dcaa-0670-d22e46e328cb
* Content: [Enable In-app Updates - Visual Studio App Center](https://

[2018-04-26 12:34] jwargo commented on #107
@RobbyRobbyRobby The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

If you want to ask a question about feature availability, contact our support team. App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right

[2018-04-26 12:34] #107 closed, assigned to nobody

[2018-04-28 22:35] franny11 opened #109 "Need help"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdc863ba-5295-2db8-b37f-584e662e725a
* Version Independent ID: db2a1468-e4fa-6c55-985f-616de1e6484f
* Content: [App Center Pricing Information - Visual Studio App Center](https://docs.microsoft.com/en-ca/appcenter/general/pricing#faq)
* Content Source

[2018-04-30 05:03] ButuzGOL commented on #53
I have an error Found index.ios.js for ReactNative index.
In my app i have index.js instead of index.ios.js is there any way to change ?

[2018-04-30 05:40] dipree commented on #53
Please reach out through support, so we can better help you with your problem.

[2018-04-30 13:06] jwargo commented on #109
@franny11 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information

[2018-04-30 13:06] #109 closed, assigned to nobody

[2018-04-30 13:15] jwargo commented on #53
@luongs3 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2018-05-01 03:47] brimmy11 opened #110 "Error Message"
The line that says "In case of a failure while publishing, the status will change to failed with an appropriate error message" should be amended to say "In case of a failure while publishing, the status will change to failed with an completely useless error message". Seriously though, the error message just tells me that there is an error and to contact support with a correlation id.

---
#### Doc

[2018-05-01 12:54] jwargo commented on #110
@brimmy11 thank you for the feedback; I've asked @gaknoll to review your comment.

[2018-05-01 18:28] davidpricedev opened #111 "clarification"
Please make it clear that all of the "Processing crashes in JavaScript" section pertains to the NEXT run of the app, not the run that is crashed/crashing.

Also, documenting the changes in the files that need to happen when you want to switch back and forth between javascript-enabled and not would be useful too:
ios/employeecompanion/AppDelegate.m ::
    // Initialize AppCenter crashes
    // regi

[2018-05-01 18:42] jwargo commented on #111
@davidpricedev Thanks, I'll have the PM take a look at making an update.

[2018-05-02 01:34] brimmy11 commented on #110
Hi @jwargo @gaknoll , I didn't really expect to be taken seriously but since I have an audience let's address it. Below is an error we (my scrum team) are receiving when attempting to publish an application from App Center to Intune.

One of my colleagues is already in contact with App Center support to understand the details of the error so I do not require support with that. My comment was aroun

[2018-05-02 12:46] jwargo commented on #110
@brimmy11 we're committed to making App Center the best tool it can be, so your feedback is greatly appreciated. I agree that the error message doesn't tell you a lot, so we can definitely make things better (assuming that we have additional information about the error that we can share). It could be that we don't know much beyond what we've told you, but I'm going to have to let @gaknoll  answer

[2018-05-02 16:17] scopp opened #113 "Configuring OSX cloud images"
Are these cloud machines configurable in any manor?  Are these images on Azure marketplace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 022126c7-2d61-9c53-6881-149310c137c0
* Version Independent ID: 4fe62fb4-6dd9-057e-8f57-fb4c6dcb71f8
* Content: [App Center Cloud Build Machines - Visual Studio App Center](https://d

[2018-05-02 16:24] jwargo commented on #113
@scopp The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, s

[2018-05-02 16:24] #113 closed, assigned to nobody

[2018-05-02 17:39] glennwester commented on #74
@Mullineaux Please see [Microsoft Privacy Statement](https://aka.ms/privacy) for App Center privacy terms and [Security Guide](https://www.microsoft.com/en-us/trustcenter/security) for additional details regarding our polices.

[2018-05-02 17:39] #74 closed, assigned to glennwester

[2018-05-03 16:57] Mullineaux commented on #74
a generic answer to 3 very specific questions, but thanks anyway.

cheers,

Mike

On Wed, May 2, 2018 at 1:39 PM, Glenn Wester <notifications@github.com>
wrote:

[2018-05-03 20:44] jthake opened #114 "How to get the Symbols zip"
It would be useful to know how to get the Symbols zip. I found this old hockeyapp documentation on this https://www.hockeyapp.net/help/sdk/ios/4.0.0/docs/docs/HowTo-Upload-Symbols.html

That had these steps.
Chose Window > Organizer in Xcode.
Select the tab Archives.
Select your app in the left sidebar.
Right-click on the latest archive and select Show in Finder.
Right-click the .xcarchive in Find

[2018-05-03 23:05] ethioplanet opened #116 "R E U"
reshad

[2018-05-04 12:31] jwargo commented on #114
@jthake thanks for the suggestion, we'll take a look at adding this to the docs.

[2018-05-04 12:46] #116 closed, assigned to nobody

[2018-05-04 16:51] NateRickard opened #117 "Expand InTune distribution doc to provide additional clarification and use cases"
Would be great to add a bit more detail on what is being done behind the scenes and add some clarifications... some examples:

- Does App Center configure the app in InTune for you?  Does App Center send the app artifact to InTune as a LOB app?  etc. etc. (https://docs.microsoft.com/en-us/intune/apps-add).
- Can App Center support additional InTune scenarios like apps that are configured as "Requi

[2018-05-04 17:43] pnghub commented on #117
HI! Nate - this is great feedback.
The current (first) iteration of App Center - Intune integration only supports a push to the company portal but we do have plans to iterate on this.

If you had the time, would be great to have a phone meeting to understand your scenarios a bit more,  esp since we have had(are having) some conversations with the Intune team on additional integration options.

bes

[2018-05-04 17:43] jwargo commented on #117
@NateRickard I've asked the PM for that part of the product to take a look at this.

[2018-05-06 03:37] nguyenthanhliemfc opened #118 "The type or namespace name 'Start' does not exist in the namespace 'AppCenter' (are you missing an assembly reference?)"
I have install Microsoft.AppCenter.Analytics and Crashes package (version 1.6) for all project in my Xamarin.Forms solution!
I have add
 using Microsoft.AppCenter;
using Microsoft.AppCenter.Analytics;
using Microsoft.AppCenter.Crashes;
to my App.xaml.cs.
It's show this error?
CS0234	The type or namespace name 'Start' does not exist in the namespace 'AppCenter' (are you missing an assembly referenc

[2018-05-06 04:10] albeaver opened #119 "WatchOS"
Documentation does not include any information what is needed to have support for a WatchOS target. Errors are given when compiling about how "WatchOS" does not match "iPhone" but the documentation should include what is required for submitting WatchOS apps, or specifically mention if WatchOS deployments are not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-05-07 13:49] jwargo commented on #118
@nguyenthanhliemfc The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional in

[2018-05-07 13:49] #118 closed, assigned to nobody

[2018-05-07 13:50] jwargo commented on #119
@albeaver thanks for the feedback, I'll have the PM team take a look.

[2018-05-07 14:04] dipree commented on #119
@albeaver thanks for your feedback, unfortunately app extensions are currently not supported. We'll update the docs soon.

[2018-05-07 14:20] #119 closed, assigned to dipree, siminapasat

[2018-05-07 22:59] syntax-e commented on #31
Does this thread imply that I'll need to leverage Xcode manual certificates (and not Xcode Managed Certificates) if I intend to distribute App Center ad-hoc iOS builds to testers within my company via App Center?

[2018-05-08 12:40] jwargo commented on #31
@geocachingsyntaxerror The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additiona

[2018-05-08 14:25] wouterla opened #120 "Needs details on possibilities of using Enterprise install of Github"
A little more detail on how flexible the OAuth flow is from App Center (can I provide my own URL, or does it work only through github.com?) would help me determine whether I can use app-center with a hosted-on-aws instance of Github Enterprise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12fa9a24-2575-3fa4-ffab-cafae

[2018-05-08 15:17] saraford commented on #111
@davidpricedev Hi :wave: Thanks for opening this issue and for the feedback! I'm the PM for this feature area. I'll make these changes at my next opportunity and let you know when it is done in case you'd like to review.

[2018-05-08 15:19] saraford commented on #114
@jthake hi :wave: Thanks for the feedback. Good catch. Let me see what I can do to port some of this relevant information over from HA docs. I'll let you know when it's done in case you'd like to review.

[2018-05-08 15:19] #114 closed, assigned to saraford

[2018-05-08 20:55] ngalicoco opened #121 "Xamarin UI Tests started failing on App center for android"
All of a sudden all our UI tests are failing on our Android Device sets in App Center.
Tried on on Pixel Android 8.1.0, Android 8.0.0

The stack trace shows this message

**System.InvalidOperationException: ServiceLocationProvider must be set.
at Microsoft.Practices.ServiceLocation.ServiceLocator.get_Current()(<258ed8f7d4eb4da9997a483bc1e53dfa>: 0)
at *******.Business.Services.IDListenerService.Sa

[2018-05-08 21:07] jwargo commented on #121
@ngalicoco The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informatio

[2018-05-08 21:07] #121 closed, assigned to nobody

[2018-05-09 21:10] nilofer commented on #120
@wouterla thanks for this feedback. App Center does not currently support GitHub Enterprise.

[2018-05-09 21:26] #120 closed, assigned to nilofer

[2018-05-10 05:54] brimmy11 opened #122 "[LINK]"
I think the word [LINK] was supposed to be replaced by a link?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b24e043-b73c-c05d-b101-56d2b89a3a7a
* Version Independent ID: 234e0be5-9c02-b8b4-7a5d-6032f5cba4e8
* Content: [App Center Test - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/test-cloud/

[2018-05-10 13:06] jwargo commented on #122
@brimmy11 yep, you're right. I'll get that fixed.

[2018-05-10 22:09] glennwester commented on #122
@brimmy11 Thanks for reporting! This is fixed.

[2018-05-10 22:09] #122 closed, assigned to glennwester

[2018-05-11 09:02] SandipAhluwalia opened #124 "Concept of Distribution Group in App Center doesn't now exist?"
Has Teams replaced Distribution Groups as I can't find the "New Group" group button from the top of the screen?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a807b36-339c-dd76-a6bb-132005991516
* Version Independent ID: 8ffb33e3-09fd-fe41-742f-a9f4d11bf901
* Content: [Manage App Center Distribution Groups - Visual St

[2018-05-11 09:26] SandipAhluwalia commented on #124
Okay, I have now found it in the Distribute menu, so it does exist :)

[2018-05-11 09:27] #124 closed, assigned to nobody

[2018-05-11 12:22] jwargo commented on #124
@SandipAhluwalia I'm glad you figured it out. Going forward, the comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated su

[2018-05-11 15:14] thibault-ml opened #125 "Typo"
In the comparison table, Switf should be Swift

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8713388f-7f2b-1d33-2250-e2b4672feac9
* Version Independent ID: 108f8b11-d960-e440-138c-16b53e4989f8
* Content: [Mobile App Testing Frameworks Overview - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/migr

[2018-05-11 15:27] jwargo commented on #125
fixed, thanks!

[2018-05-11 15:27] #125 closed, assigned to nobody

[2018-05-12 17:26] Suil3File opened #127 "Help"
Onp issues

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06813350-a37b-a4a2-fdbc-a59caefb9f32
* Version Independent ID: 29787958-5b4e-efc2-2af5-2af0ee53216e
* Content: [App Center Build - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/)
* Content Source: [docs/build/index.md](https://github

[2018-05-14 13:32] jwargo commented on #127
@Suil3File Do you have a question about App Center? The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support tea

[2018-05-14 13:32] #127 closed

[2018-05-15 09:14] DevAlien opened #129 "A new organization will be created??"
Why that? We had everything configured already, and we are shipping the app already with the other organization, why we have to configure everything again just for this? It does not make sense that I have to change all the keys inside the project, lose all the data we had already and everything.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-05-15 09:20] eimantas opened #130 "Deleting an app"
I couldn't find a button to delete an app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0087c543-d8f4-5ea6-5ac6-8b30ec1b9e6c
* Version Independent ID: 92b8f8de-268b-a249-46e9-053edf2e97c0
* Content: [App Center Operating System/Platform Services Matrix - Visual Studio App Center](https://docs.microsoft.com/en-us/appc

[2018-05-15 13:26] chao-master opened #131 "Page is badly linked"
The [testing on devices](https://developer.xamarin.com/guides/testcloud/testing-on-devices/) links here under "Testing on local devices" Which this page no contains no information on

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b26380a-c6b6-31d8-3367-f156d9e11910
* Version Independent ID: 861c727f-76cd-ac8e-daa5-57b

[2018-05-15 13:49] jwargo commented on #129
@DevAlien The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information

[2018-05-15 13:49] #129 closed, assigned to nobody

[2018-05-15 13:51] jwargo commented on #130
@eimantas The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information

[2018-05-15 13:51] #130 closed, assigned to nobody

[2018-05-15 13:51] jwargo commented on #130
@eimantas you can find instructions on how to delete at app here: https://intercom.help/appcenter/general-questions/how-can-i-delete-an-app-in-app-center

[2018-05-15 20:52] wiltwitt opened #133 "flutter support"
I am using Flutter dev environment.  Does App Center support Flutter.io apps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 513760ea-3340-4d6c-7566-13f39e691681
* Version Independent ID: e39b0e88-0d00-4a3b-6a32-1999231e0e50
* Content: [App Center Analytics for Apache Cordova - Visual Studio App Center](https://docs.mi

[2018-05-15 20:53] wiltwitt commented on #133
I use azure backend by the way

[2018-05-15 21:38] glennwester commented on #131
Hi @chao-master,

Thanks for making us aware! We have a fix underway.

[2018-05-15 21:38] #131 closed, assigned to glennwester

[2018-05-16 05:58] jwargo commented on #133
@wiltwitt The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information

[2018-05-16 05:58] #133 closed, assigned to nobody

[2018-05-17 00:51] PulkitSethi1984 opened #135 "You start by adding the App Center Test task to your build definition."
Is there any explanation for this 'You start by adding the App Center Test task to your build definition.'? What kind of novice has written this blog? This is really appalling. Please give proper demonstration. No use going round and round between Xamarin and Microsoft blogs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-05-17 05:39] nschonni opened #137 "Dead link https://intercom.help/mobile-center/build/changes-to-tables-and-identity"
Found in docs/azure//index.md

[2018-05-17 05:40] nschonni opened #138 "Dead link https://engineering.appcenter.ms/tables-identity-direct-access-a0a97f69b050"
Found in docs/azure//index.md
Maybe this in an MS internal-only link, but isn't publicly accessible

[2018-05-17 05:47] nschonni opened #139 "Dead link https://developer.apple.com/programs/ios/information/iOS_Program_Information_4_3_15.pdf"
Found in docs/distribution//codepush/cordova.md

[2018-05-17 06:00] nschonni opened #140 "Dead link https://www.visualstudio.com/en-us/features/release-management-vs.aspx"
Found in docs/distribution//codepush/vsts-extension.md
I couldn't figure out what docs repo is missing the redirect

[2018-05-17 06:21] nschonni opened #141 "Dead link http://appium.io/slate/en/master/#about-appium"
Found in docs/test-cloud//supported-frameworks.md

[2018-05-17 06:26] nschonni opened #142 "Dead link https://google.github.io/android-testing-support-library/docs/espresso/"
The library project appears to have been renamed/moved to https://github.com/android/android-test but I'm not sure about the Expresso part.
Link found in docs/test-cloud//supported-frameworks.md

[2018-05-17 06:31] nschonni opened #143 "Dead link https://github.com/facebook/react-native/tree/master/packager"
Found in docs/distribution/codepush/react-native.md

[2018-05-18 15:02] jwargo commented on #135
@PulkitSethi1984 We're happy to accept constructive criticism of the docs in this forum. If you have suggestions on how to make the docs better, please provide them.

[2018-05-18 15:02] #135 closed, assigned to nobody

[2018-05-18 15:15] jwargo commented on #137
@nschonni thanks for catching that, I've pulled the link.

[2018-05-18 15:15] #137 closed, assigned to nobody

[2018-05-18 15:17] jwargo commented on #139
@Zakeelm can you please update this doc (and close the issue)?

[2018-05-18 15:20] jwargo commented on #140
@Zakeelm will you please fix this link and close the issue?

[2018-05-18 15:23] jwargo commented on #141
@nschonni are you just poking through the docs looking for broken links? :-)

[2018-05-18 15:28] jwargo commented on #142
@glennwester can you please fix this link then close the issue?

[2018-05-18 15:28] glennwester commented on #142
Thanks for reporting @nschonni, I'll get this fix in today.

[2018-05-18 15:29] jwargo commented on #141
@nschonni fixed, thanks.

[2018-05-18 15:29] #141 closed, assigned to nobody

[2018-05-18 15:31] jwargo commented on #143
@Zakeelm can you please fix this link and close the issue?  I'm pretty sure it's been moved to here: https://github.com/facebook/metro, but I'm not an expert.

[2018-05-18 22:40] PulkitSethi1984 commented on #135
Just better explain 'You start by adding the App center test task to your
build definitions'

On Sat, 19 May 2018, 1:02 am John M. Wargo, <notifications@github.com>
wrote:

[2018-05-19 00:11] Zakeelm commented on #140
Fixed and waiting on the PR to be merged. Going to go ahead and close this. Thanks for pointing this out!

[2018-05-19 00:11] #140 closed, assigned to Zakeelm

[2018-05-19 00:12] Zakeelm commented on #139
Fixed this and waiting on the PR to be merged. Going to go ahead and close this. Thanks for pointing this out!

[2018-05-19 00:12] #139 closed, assigned to Zakeelm

[2018-05-19 00:15] Zakeelm commented on #143
You're right! Fixed this and waiting on the PR to be merged. Going to close this

[2018-05-19 00:15] #143 closed, assigned to Zakeelm

[2018-05-19 01:52] glennwester commented on #142
This has been fixed.

[2018-05-19 01:52] #142 closed, assigned to glennwester

[2018-05-19 22:12] BicycleMark opened #145 "Terrible Doc"
What do I do with thsi command line. Add to a post build script?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8739961-b56c-598c-c23a-0be804729621
* Version Independent ID: 82b926d2-8043-71ed-4501-4e39166b0881
* Content: [Starting a Test Run - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/test-

[2018-05-21 14:45] jwargo commented on #135
@PulkitSethi1984 We do, starting here: [https://docs.microsoft.com/en-us/appcenter/test-cloud/getting-started](https://docs.microsoft.com/en-us/appcenter/test-cloud/getting-started). The writer rightfully focuses on the VSTS specific features and settings and lets the remainder of the Test docs describe everything else you need.

[2018-05-21 14:55] jwargo commented on #145
@BicycleMark do anything you want with it. Use it to trigger a test manually from the command line. Add it to a shell script you use to kick off a build, or a post-build script like you mentioned. We're simply trying to show how to use the CLI to kick off a test.

We're happy to accept constructive criticism on how to make our docs better. If you have a suggestion for how we can make the doc more

[2018-05-21 14:55] #145 closed, assigned to glennwester

[2018-05-21 14:55] jwargo commented on #145
@glennwester FYI

[2018-05-21 14:59] BicycleMark commented on #145
Almost all who are using this tool need to be pointed to how to set up test
on a server side build - most common usage. That is what is expected. The
doc shows a worst practice of not using a CI/Cd build to test with. Please
update to a common usage

On Mon, May 21, 2018 at 9:55 AM John M. Wargo <notifications@github.com>
wrote:

[2018-05-21 17:42] jwargo commented on #138
@nschonni this link isn't in the App Center docs - it'll have to be fixed by the Azure docs team.

[2018-05-21 17:43] jwargo commented on #138
oh, sorry, I see it now.

[2018-05-21 17:47] jwargo commented on #138
Fixed

[2018-05-21 17:47] #138 closed, assigned to nobody

[2018-05-21 23:52] PulkitSethi1984 commented on #135
That is all I was saying, you will redirect to test cloud docs, and they
will to app center. No body has expalined how to add test task to build
definition. Let me enlighten you
Read this and then try to understand what you guys are missing
* https://tomsoderling.github.io/AppCenter-Automated-UI-tests-on-build/
<https://tomsoderling.github.io/AppCenter-Automated-UI-tests-on-build/>*

*Kindly read

[2018-05-22 03:06] mdalikazi opened #147 "Connecting a New Repository needs to be better!!"
I was looking for a way to connect one more repository to AppCenter, and to save my life I couldn't find an option to do so in AppCenter. I sifted through the documentation only to find this golden piece of Easter Egg, hidden away from plain sight:

"Connect a new repository via the GitHub app by clicking the Connect your repository button in the email and repeat the process to create a new connec

[2018-05-22 15:38] jwargo commented on #147
@mdalikazi I think you're right, lets see what we can do to make this better. @nrajpurkar

[2018-05-22 15:54] jwargo commented on #135
@PulkitSethi1984 thank you very much for your feedback, we will try to make this more clear.

[2018-05-22 21:53] PulkitSethi1984 commented on #135
Thanks

On Wed, 23 May 2018, 1:54 am John M. Wargo, <notifications@github.com>
wrote:

[2018-05-23 11:09] angelieri opened #148 "Only GIT????"
"Only Git repositories are supported at this point"
I'm Microsoft since as I remember. Each time is getting tough to stay using it.
I'm 100% Microsoft and not able to connect to App Center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68d825ca-716c-074c-74f6-d3bfb095962a
* Version Independent ID: 6a4a0742-7430-1c18-7

[2018-05-23 13:30] jwargo commented on #148
@angelieri the comments area of the App Center docs is provided to enable readers to suggest changes or request enhancements to the docs. We're happy to accept constructive feedback here on the docs and how to make the docs better.

Product feedback (and questions) should be provided through the chat capabilities provided through the blue chat window in the lower-right corner of any App Center pag

[2018-05-23 13:30] #148 closed, assigned to nilofer

[2018-05-23 14:57] nilofer commented on #147
@mdalikazi Thanks for this feedback. I'll make the documentation clearer that this is only way to add a new repository at the current time. Your product feedback is appreciated as well!

[2018-05-23 14:57] #147 closed, assigned to nilofer

[2018-05-23 16:34] macrozone commented on #55
would also be interested for that feature. https://onesignal.com/ uses (an optional, but recommended) app extension. If you just follow the installation instructions, you will likely have that. It would be great, if appcenter would support this or provide a good workaround (in form of a script)

[2018-05-23 21:44] ChizuNoYama opened #149 "Not receiving push notifications on android"
I have a slight problem with the push functionality. It seems like the push notifications are not consistent, at least with Android. I have  a forms project running .netstandard 2.0 and I have followed the instructions exactly and for some time I was able to receive the notifications, but from one moment to another I stopped getting them. Is there something I am missing that's not stated on the do

[2018-05-23 21:50] ChizuNoYama commented on #149
I put the permissions in this order

``<uses-permission android:name="com.cob.fiu.edu.BizPass.permission.C2D_MESSAGE" />``
``<permission android:name="com.cob.fiu.edu.BizPass.permission.C2D_MESSAGE" android:protectionLevel="signature" />``

and did the old clean and rebuild and it works now. weird.

[2018-05-23 22:26] jwargo commented on #149
@titonton The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information

[2018-05-23 22:26] #149 closed, assigned to nobody

[2018-05-24 02:07] rodrigojuarez opened #150 "TrackError is inaccessible from method issue"
When I try to track an error I'm getting this error

Method `Microsoft.AppCenter.Crashes.Crashes.TrackError(System.Exception,System.Collections.Generic.IDictionary`2<string, string>)' is inaccessible from method `XXXXXX.SendEventToExternalLog(System.Exception,string)'

It's a Xamarin.Forms app, and the issue is when I try to run the app in the android emulator, I'm using Windows 10 and VS 2017

--

[2018-05-24 13:57] jwargo commented on #150
@rodrigojuarez The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional inform

[2018-05-24 13:57] #150 closed, assigned to nobody

[2018-05-26 23:42] AndyDentFree opened #152 "Developer help to ensure our use of analytics doesn't violate GDPR"
There is nothing on the site that I can find as of 27th May saying what we need to do if we want to use analytics and be compliant with GDPR.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 251647b8-9e1a-1b6c-c152-66c4bf5d4c52
* Version Independent ID: 3b409924-b402-2401-ce34-ce4ef9c541c5
* Content: [GDPR - Visual Studi

[2018-05-28 09:09] Naitbit opened #153 "How to select valid gradle Build variant"
`Build configuration` for Android project does not seem to show any valid gradle tasks.
Displayed tasks shows variants such as `normal.dimensionDebug` which then tries to execute commands such as:
`[command]/Users/vsts/agent/2.133.3/work/1/s/gradlew clean :app:assembleNormal.dimensionDebug :app:testNormal.dimensionDebug :app:lintNormal.dimensionDebug`
Which fail because other then `clean` all of t

[2018-05-28 12:58] fshafiee opened #155 "Multi-deployment Testing on Android needs matchingFallbacks to be specified"
Recently, I tired to setup the staging in one our fresh projects. I followed the instructions on how to do the Multi-deployment Test (https://docs.microsoft.com/en-us/appcenter/distribution/codepush/react-native#android), but I was not able to sync, build, or run the project because gradle could not resolve the `releaseStaging` class path on included libraries, which makes sense of coures, since t

[2018-05-28 19:59] johnliedtke opened #156 "Failed to apply settings"
I continually get the "Failed to apply settings" error message when trying to set up Push Notifications in the App Center admin portal. I have triple checked all the input fields to ensure they contain the correct keys, etc. Is there something wrong with the service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc364

[2018-05-28 20:28] jwargo commented on #156
@johnliedtke The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informat

[2018-05-28 20:28] #156 closed, assigned to nobody

[2018-05-28 20:30] jwargo commented on #153
@Naitbit The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2018-05-28 20:30] #153 closed, assigned to nobody

[2018-05-29 01:47] johnliedtke opened #157 "Error in documentation"
The documentation erroneously requests the app prefix for APNS when the Team ID is what is required. I would recommend changing the documentation and app center to specify Team ID. I spent a couple hours debugging this and finally figured it out by trying out another push notification center provider.

Note App prefix != Team ID for enterprise apps... it looks like they are the same for non-enterp

[2018-05-29 12:54] jwargo commented on #155
@farzadshafiee thanks for sharing.  We don't want you to have to work for several days to figure something out. Don't forget that you have direct access to our dedicated support team, you can ask them for help anytime. Just look for the blue chat icon in the lower-right corner of any App Center page, click that to open a chat with our support team.  You won't always get an immediate response, but

[2018-05-29 12:54] #155 closed, assigned to Zakeelm

[2018-05-29 12:56] jwargo commented on #157
@johnliedtke thanks for pointing this out. We'll take a look at updating the docs. @dimazaid can you review?

[2018-05-29 16:33] gaknoll commented on #110
@brimmy11 sorry for the delay in getting back to you. We greatly appreciate the feedback and I'll be working with our Stores integration team to improve the Intune documentation to be more accurate and useful. I hope our support team was able to help you resolve the error though!

[2018-05-29 16:33] #110 closed, assigned to gaknoll

[2018-05-29 16:46] gaknoll commented on #117
@NateRickard Thanks for your feedback here! I'll work with the Stores to improve documentation to be more clear. If you'd be willing, @pnghub and I would still be interested in learning more about your scenarios for future iterations of the App Center & Intune integration.
Best,
Garrett

[2018-05-29 16:46] #117 closed, assigned to JoshuaWeber, gaknoll

[2018-05-30 18:50] dimazaid commented on #157
hi @johnliedtke!
Thanks for pointing this out.
The documentation follows the guidance from Apple that all new app developers who joined after 2011 will have the Team ID same as the App Prefix ID. We will add a note to call out that the 2 values could be different if the developers had joined before. Link to guidance from Apple: https://developer.apple.com/library/content/technotes/tn2311/_index.ht

[2018-05-30 23:02] johnliedtke commented on #157
Nice find, I was wondering why they differed. I can confirm the team ID worked. My client’s app has been running since 2008-2009 which explains why they’re not the same.

It might be easier to just specify they use the team ID :)

[2018-05-31 12:25] #157 closed, assigned to dimazaid

[2018-05-31 14:32] gmoney494 opened #158 "wrong nuget url"
you guys still use an old v2 url in the private nuget source config file. "<add key="nuget" value="https://api.nuget.org/v2/index.json" />", its v3 now. totally threw me off when i added it at first.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68d825ca-716c-074c-74f6-d3bfb095962a
* Version Independent ID: 6a4a0742-7

[2018-05-31 14:48] jwargo commented on #152
@AndyDentFree thanks for the feedback. We published our first set of GDPR docs last week, and more are on the way. We can’t advise you on how to be compliant, but we will show you how to manage your client’s data as it relates to GDPR. Stay tuned.

[2018-05-31 14:48] #152 closed, assigned to iageoghe

[2018-05-31 14:49] jwargo commented on #158
@gmoney494 thanks for pointing that out. We'll take a look at it.

[2018-05-31 15:43] Michael-Osborn-Sanford opened #159 "Contradictory Information"
https://docs.microsoft.com/en-us/appcenter/analytics/faq
What is the maximum number of event properties that I can define per event? What happens if I send more than the limit?
The maximum number of event properties is currently set to five. If more than five properties are sent, they are automatically rejected.

https://docs.microsoft.com/en-us/appcenter/analytics/event-metrics
The maximum number

[2018-05-31 16:13] jpshelley opened #160 "React Native for UWP"
With Microsoft supporting react-native-windows development for UWP, will AppCenter support builds or other features for a React Native UWP application?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af0b7eca-4e00-1857-1e31-e17d7f03ef4d
* Version Independent ID: 0fd8c4e7-43e3-ad39-4c41-3e798f2bd54a
* Content: [App Cente

[2018-05-31 18:32] blparr commented on #159
Thank you @Michael-Osborn-Sanford , you're completely right! We increased the number from 5 to 20, and only updated one of the docs. I'll upddate asap.

[2018-05-31 19:17] jwargo commented on #160
@jpshelley The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informatio

[2018-05-31 19:17] #160 closed, assigned to nobody

[2018-05-31 20:17] arfurdo opened #161 "Code signing with corporate code signing certificate"
I assume this build process support pfx files that are secured to specific users? Is it possible to safely sign with company code sign certificate ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be2ace35-a6ef-349a-e009-ca55e3778602
* Version Independent ID: 85a92e95-828a-54f8-b7e7-4f86b8e76abc
* Content: [Configure a

[2018-05-31 21:26] southerneer opened #162 "Upload symbols via CLI"
My company currently uses Bugsnag for crash reporting. Bugsnag provides a handy interface for uploading symbols via command line: https://docs.bugsnag.com/platforms/react-native/showing-full-stacktraces/. This allows us to script uploading symbols as a step in a command line script; much easier than opening AppCenter in the browser and "manually" uploading symbols. It would be really awesome to se

[2018-06-01 12:36] jwargo commented on #162
@southerneer The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, or have product questions, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respo

[2018-06-01 12:36] #162 closed, assigned to Zakeelm

[2018-06-01 12:36] jwargo commented on #161
@arfurdo The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2018-06-01 12:36] #161 closed, assigned to nobody

[2018-06-01 12:48] jwargo commented on #159
@Michael-Osborn-Sanford Fixed. thanks for pointing it out.

[2018-06-01 12:48] #159 closed, assigned to nobody

[2018-06-01 12:50] jwargo commented on #158
@gmoney494 the docs have been updated, thanks for pointing out the issue.

[2018-06-01 12:50] #158 closed, assigned to lumaxis, nilofer

[2018-06-01 17:00] jwargo commented on #152
@AndyDentFree We published a new set of GDPR docs this morning, take a look.

[2018-06-02 22:37] yarlay opened #163 "Mrsmile"
My post

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c8ba7a8-f1c1-c6d3-5f89-39ac5aa4f41c
* Version Independent ID: 83fae69c-9555-9afe-20b0-4c3415231e28
* Content: [App Center Azure Subscription Info - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/general/azure-subscriptions/)
* Content Source:

[2018-06-03 23:34] amadeu01 commented on #53
I guess it would be useful to show the image of where you should hit the "Save and build" button after alter the build script.
You could add the image on the [custom script documentation](https://docs.microsoft.com/en-us/appcenter/build/custom/scripts/)
Something like that.
<img width="813" alt="image" src="https://user-images.githubusercontent.com/11631092/40892417-553bfcf4-676d-11e8-8143-0bb835d

[2018-06-04 18:19] jwargo commented on #163
@yarlay Did you have a comment to make on the docs?

[2018-06-04 18:28] jwargo commented on #53
@amadeu01 thanks for the suggestion. We try to minimize the use of screen shots in the documentation for two reasons: we could change how this feature or dialog works at any time (and would have to update every screen shot when we did) also, when we translate the docs to other languages, the screenshots won't be in the target language.

[2018-06-04 18:42] ManOnTheMountainTech opened #164 "Software Engineer"
Required permissions needs to be stated as part of the sequence of steps required to get a module, such as crashes, going. Putting required permissions in the troubleshooting step wastes time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86f6a73b-cde4-a960-792e-df0db60f2090
* Version Independent ID: a97c3ad0-dd1d-721

[2018-06-04 18:46] amadeu01 commented on #53
I see.

@jwargo  I agree with you. Thanks for your time and response  😄

[2018-06-04 18:57] jwargo commented on #164
@ManOnTheMountain Thanks for the suggestion.  I'll pass your suggestion on to the product team.

[2018-06-04 19:00] #163 closed, assigned to nobody

[2018-06-04 19:14] elamalani commented on #164
@ManOnTheMountain Thanks for the feedback. We plan to restructure SDK documentation in the future and I will make sure this feedback is addressed.

[2018-06-04 19:14] #164 closed, assigned to elamalani

[2018-06-05 11:40] AvatarWeb1 opened #165 "http://studio-avatar-web.business.site"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06813350-a37b-a4a2-fdbc-a59caefb9f32
* Version Independent ID: 29787958-5b4e-efc2-2af5-2af0ee53216e
* Content: [App Center Build - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/)
* Content Source: [docs/build/index.md](htt

[2018-06-05 13:00] jwargo commented on #165
@AvatarWeb1 I'm not sure what you're suggesting here.

[2018-06-05 16:12] 24coins opened #167 "Excellent introduction to App Center Test"
Very well written. Thank you for the links to documentation which further explains key related concepts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b24e043-b73c-c05d-b101-56d2b89a3a7a
* Version Independent ID: 234e0be5-9c02-b8b4-7a5d-6032f5cba4e8
* Content: [App Center Test - Visual Studio App Center](https://docs

[2018-06-05 16:22] jwargo commented on #167
@24coins thanks for the feedback.

[2018-06-05 16:22] #167 closed, assigned to nobody

[2018-06-07 16:40] ducpt2 opened #171 "[React Native] Using Jest to test?"
[React Native] Any chance we can use Jest to test our app on cloud (using Visual Studio Team Services)? and do you have any document and tutorial to using test with App Center?

Thanks in advance.

[2018-06-07 17:13] jwargo commented on #171
@ducpt2 That's a question best covered by our support team. App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center] (https://intercom.help/appcenter/getting-started/welcome-to-app-c

[2018-06-07 17:13] #171 closed, assigned to nobody

[2018-06-07 22:01] jdnichollsc opened #172 "Environment variable to change the build mode"
Hi guys,

Exist any way to change the build mode, to use **Debug** instead of **Release**, using environment variables (React Native/iOS)? or using appcenter-pre-build.sh?

Thanks in advance, Nicholls

[2018-06-07 22:03] jwargo commented on #172
@jdnichollsc The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informat

[2018-06-07 22:03] #172 closed, assigned to nilofer

[2018-06-07 23:54] jdnichollsc commented on #172
Ohh but it would be perfect to add examples about that because it is missing from the documentation

[2018-06-08 01:32] atrich opened #173 "Feature request portal link is busted"
I want to request support for the react native framework detox (OSS supported by wix) but your feature request link is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e1f8239-19fa-9c4b-52f5-b9c19cafbb4a
* Version Independent ID: 1980a317-8a4a-10b3-eedd-32af9d36cfbe
* Content: [Supported Test Frameworks - Visual

[2018-06-11 07:06] doronnahum opened #174 "ANDROID : react-native link"
missing
    compile project(':react-native-code-push')
    compile project(':appcenter-crashes')
    compile project(':appcenter-analytics')
after run link command

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ed0fde7-9e78-c318-9f8c-9d921ec7d7b3
* Version Independent ID: 946ead1c-4b65-8318-c77a-ef98873adac7
* Content

[2018-06-11 07:09] doronnahum commented on #174
It can be helpful if you can add manually install to your docs and link to your example project https://github.com/Microsoft/appcenter-sampleapp-react-native

[2018-06-11 20:02] jwargo commented on #172
@nrajpurkar got an example you can throw at this?

[2018-06-11 20:59] nilofer commented on #172
@jdnichollsc, you can see some examples of build scripts in our [example repo](https://github.com/Microsoft/appcenter-build-scripts-examples).

You would have to change
[code]
to
[code]

[2018-06-11 21:18] jdnichollsc commented on #172
@nrajpurkar ohh beautiful, where can I find that example from the repo? I can't see any example changing the *defaultConfigurationName*, but let my try :)

[2018-06-11 21:28] dhei commented on #174
Hey,  `react-native link` should automatically inject these 3 lines into your app/build.gradle so you don't need to manually add them. If you still have this problem, can you share with us a repro step with the output of `react-native info` and the version of appcenter/codepush sdk. Thanks.

[2018-06-11 21:42] jwargo commented on #173
@atrich thanks for the suggestion, can you help me understand what link you're referring to?

For feature requests, etc, use the chat window App Center.  Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center] (https://intercom.help/appcenter/getting-start

[2018-06-11 21:42] #173 closed, assigned to nobody

[2018-06-11 21:57] nilofer commented on #172
I don't actually think that exact example exists. Feel free to contribute to the examples if you come up with something, we would definitely welcome any contributions! @jdnichollsc

[2018-06-12 12:54] jwargo commented on #174
@doronnahum `react-native link` doesn't give us many problems on Android, so that's why we don't provide manual instructions. For now, lets treat any issues you have as support issues, and if we see a trend indicating that we need manual instructions, we'll add them.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button

[2018-06-12 12:54] #174 closed, assigned to elamalani

[2018-06-12 19:10] jdnichollsc commented on #172
@nrajpurkar I can see the following log after build the app
[code]

Let me know what you think

[2018-06-12 20:04] jwargo commented on #172
@jdnichollsc use App Center support to get help with issues. There's a dedicated team monitoring the chat system, so you'll get a better response.

[2018-06-12 22:19] GlennWilson opened #175 "Typos"
This:           You can still be create, compile and uploade to App Center Test from Windows.
Should be: You can still create, compile and upload to App Center Test from Windows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adb0ff0a-1fb7-9362-34e4-50879d07f0f2
* Version Independent ID: 469a4e00-53a3-b903-eb0d-1d307b4

[2018-06-13 00:16] jdnichollsc commented on #172
thanks guys!
@nrajpurkar thanks for the idea about the contributions, check my first contribution: https://github.com/Microsoft/appcenter-build-scripts-examples/pull/10

[2018-06-13 04:56] 0xpatrickdev opened #177 "advising to use `sudo` with `npm install appcenter-cli` on macOS and Linux"
[This](https://docs.microsoft.com/en-us/appcenter/distribution/codepush/index#1-install-the-app-center-cli) may not be the best advice:

Usually sudo is needed to install an npm package when one was previously installed with sudo/root permissions. For reference as to why this is not good, here's a good resource: https://givan.se/do-not-sudo-npm/
In the spirit of making everyone better devs, maybe

[2018-06-13 12:21] jwargo commented on #175
@GlennWilson thanks. I fixed that typo and cleaned up the doc. I'll get this published once @glennwester reviews it.

[2018-06-13 12:41] jwargo commented on #177
@pcooney10 thanks, I'll have the PM take a look at this. I agree with you completely, but sometimes you have to give people shortcuts to keep them moving.

[2018-06-13 16:49] #175 closed, assigned to nobody

[2018-06-14 17:50] 0xpatrickdev commented on #177
Yes, I understand the tradeoff but figured I'd raise the point.

[2018-06-14 20:08] gilles-leblanc opened #179 "About the Contact us"
The Contact us section mentions: "Report a bug or a make a feature request using the blue button at the bottom right of every App Center portal page and the product team will respond to you. ".

Either I'm really not seeing what's right in front of me or this isn't accurate anymore because I can't find a blue button and at the bottom right of any App Center pages.

It might also be helpful to link

[2018-06-14 22:10] jwargo commented on #179
@gilles-leblanc  Good point, I'll add a link to this page: https://intercom.help/appcenter/getting-started/getting-help-with-app-center which shows how it works.

You won't see the blue chat button in the Docs, only in App Center. If you don't see it, then you're having other issues. Do you have a pop-up blocker enabled in the browser?

[2018-06-14 22:10] #179 closed, assigned to nobody

[2018-06-15 00:39] gilles-leblanc commented on #179
I disabled all add-ons (ublock origin, privacy badger, https everywhere, greasemonkey, etc.) and I now see the button. My bad.

[2018-06-15 18:26] cashewshideout commented on #173
The second paragraph on this page (https://docs.microsoft.com/en-us/appcenter/test-cloud/supported-frameworks) states "To file a request for a new test framework or vote for an existing request, visit the feature request portal." The link on "feature request portal" is broken. There is no blue chat button on the page.

[2018-06-18 12:35] jwargo commented on #173
@cashewshideout thanks. The blue chat icon is on any App Center page, you won't find it in the docs. If you're in App Center and don't see the blue chat button, then check to make sure you don't have any pop-up blockers active or other browser technology that would limit access to external services from the page.

[2018-06-18 13:15] atrich commented on #173
I don't want to chat with anyone. I want the "feature request portal" link to work.

[2018-06-18 13:20] jwargo commented on #173
@atrich i'm sorry, but you'll have to use chat to do that.  We've removed the link to the feature request as that was something we were experimenting with and decided to stick with what we have. The chat process gets your feedback directly to the PM team.

[2018-06-19 19:59] jwargo commented on #177
@pcooney10 I made the docs more clear.

[2018-06-19 19:59] #177 closed, assigned to Zakeelm

[2018-06-20 06:11] cosminstirbu opened #184 "Link to release notes"
Hello,

It would be nice if each SDK Platform entry (Android, iOS, macOS, UWP, etc) would have a link to the SDK release notes.

So far I wasn't able to find them.

Regards,
Cosmin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d72f6fe-74d6-696e-e709-5f6d577c0a58
* Version Independent ID: b3d0ea8b-5a1f-bf71-7dc2-9685c

[2018-06-20 13:18] Akshaybhalerao111 opened #185 "Need to connect Visual Studio App Center to BitBucket."
Hi Team,

My BitBucket repository is in AWS EC2 instance, how can I connect that repository to my Visual Studio App Center to fetch the code.

Regards,
Akshay

[2018-06-20 13:27] jwargo commented on #185
@Akshaybhalerao111 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional in

[2018-06-20 13:27] #185 closed, assigned to nobody

[2018-06-20 13:30] jwargo commented on #184
@cosminstirbu the release notes are in the SDK repositories. https://github.com/Microsoft/AppCenter-SDK-Apple/blob/develop/CHANGELOG.md

[2018-06-20 15:15] cosminstirbu commented on #184
Not sure if those apply to Xamarin as well. For instance it seems that there has been a 1.7.1 release, and the latest .nuget package is 1.7.0

Also it mentions in the change log that a duplicate symbol error was fixed in  Xamarin wrapper SDK in 1.7.1 - does this mean that 1.7.0 is broken?

I'm currently using 1.7.0, which was published 15 hrs ago and it's not clear if I should revert due to those

[2018-06-20 15:16] jwargo commented on #184
@elamalani can you address these questions?

[2018-06-20 17:09] iamclement commented on #184
Hello @cosminstirbu,

The Xamarin release note can be found on the [DotNet GitHub release page](https://github.com/Microsoft/AppCenter-SDK-DotNet/releases).
There is no release for Xamarin version 1.7.1, we always bump the version in the code after a release but there is no version 1.7.1 released yet.
What can be confusing is the App Center Xamarin SDK is a wrapper around our native iOS and Androi

[2018-06-20 17:10] #184 closed, assigned to elamalani

[2018-06-21 08:21] luisnaranjo733 opened #186 "Cross platform frameworks could be clarified"
Currently, the "Preparing test for Upload" page group contains pages for cross platform and platform specific all thrown together in the same group. It would be easier for readers to reason with their decision making on which framework to use if they were grouped by "cross platform" and "platform specific".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-06-21 12:50] jwargo commented on #186
@luisnaranjo733 thanks for the suggestion. We're in the planning process to do a refresh on the docs, and doc structure is one of the prime motivators. I doubt we'll split things into cross-platform and platform, but we will try to organize better.

[2018-06-21 12:50] #186 closed, assigned to nobody

[2018-06-22 08:31] marcus-franzen opened #187 "Location of data processing and legal address for contracts needed"
Hi AppCenter-Team,

we would need to know where the data is processed and ideally having an option to choose EU-based servers for the AppCenter.
Also we provide our clients in our DPA the address of used cloud services, I could not find that either.

Many thanks!
Marcus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd

[2018-06-22 14:06] AntRemo opened #188 "Version number next to Date"
Hi

Can the version number be added to the date? I have to go to Nuget to determine which date is associated to the version I have installed.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62690a4a-94f3-21cb-a674-d297e557ca62
* Version Independent ID: 3adaeac7-e034-5b5b-19c5-1c0151a7264c
* Content: [App Center

[2018-06-22 14:07] jwargo commented on #188
@AntRemo The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2018-06-22 14:07] #188 closed, assigned to nobody

[2018-06-22 15:34] iageoghe commented on #187
Hi Marcus,

Unfortunately at this time we do not offer our customers a choice of region. Depending on which of our services you are using, App Center processes data in the EU and/or the US.

Thanks,

Ian

[2018-06-22 15:34] #187 closed, assigned to iageoghe

[2018-06-22 18:34] AntRemo commented on #188
@jwargo

Thanks for the reply :)

Should I reach out to App Center support for the updating of this page on the doc site?

Thanks

[2018-06-22 18:45] jwargo commented on #188
@AntRemo Use support to get the answer to the question, suggest a doc update if you think it makes sense.

[2018-06-23 12:40] starkos opened #189 "Typos"
"before getting started with our serivces" …should be "services".

"develeoper, viewer, or manager" …should be "developer".

"Create a team within your ogranization" …should be "organization".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1709b666-1277-498f-5a89-b907c8ce881b
* Version Independent ID: 648c03f3-9822-31c

[2018-06-23 22:28] MattiasFindwise opened #190 "Format of properties"
"Properties":"{\"extra_00\":\"5bcacf3598ca44ebbbc99e4488cfc854\",\"extra_01\":\"2673e48867c74d51af8dc24c762a8b28\",\"extra_02\":\"5b76c801e5074cd3a13ea37253b94484\",\"extra_03\":\"c1e76aa252c947d4b4bcd4d1d96a7be6\",\"extra_04\":\"caea50034c4f441a963700fa3cf70d03\"}"

Is this a string? I thought/hoped that it would be a nested JSON object?

---
#### Document Details

⚠ *Do not edit this section. It

[2018-06-23 23:09] FerLuisxd opened #191 "Allow notifications to be seen inside the app"
For example if someone missed the notification for some reason, they can be seen inside one tab in the app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65373652-7eda-af01-0f72-d01fcce4c131
* Version Independent ID: f85b66b3-ca30-bb5c-bfae-6425661d3365
* Content: [App Center Push for Xamarin.Forms Apps - Visual Studio

[2018-06-23 23:11] #190 closed, assigned to blparr

[2018-06-23 23:12] MattiasFindwise commented on #190
This is already documented in another issue

[2018-06-24 15:12] streinhard commented on #48
+1 For this feature, this would allow us to ditch our old CI solution and switch to AppCenter completly ;)

[2018-06-25 12:35] jwargo commented on #189
@starkos thanks for catching those. Fixed,

[2018-06-25 12:40] jwargo commented on #190
@blparr can you help out here?

[2018-06-25 12:41] jwargo commented on #190
@MattiasFindwise can you share where?

[2018-06-25 12:42] #189 closed, assigned to nobody

[2018-06-25 12:43] jwargo commented on #191
@FerLuisxd are you trying to suggest a change to the docs? If so, can you be more specific?

[2018-06-26 12:13] SonamSIngh1 opened #192 "Xamarin.Forms Not able to send Notification for android app From App Center Client"
Hi have created two apps one for iOS and other for android. I am successfully able to send push notifications using App Center Client to iOS but I am not receiving it on android, but I am  able to send Android  through UI ofApp Center.
Even I tried to change name of app , in that case its says error not found. I have tired it with various payloads

[2018-06-26 12:18] jwargo commented on #192
@SonamSIngh1 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informat

[2018-06-26 12:18] #192 closed, assigned to nobody

[2018-06-26 12:25] jwargo commented on #191
@elamalani or @dimazaid can you help here?

[2018-06-26 21:28] elamalani commented on #191
@FerLuisxd We don't support this in App Center and it looks like a feature request for Push Notification service.

[2018-06-27 12:13] #191 closed, assigned to nobody

[2018-06-27 15:32] GlennWilson opened #195 "Different Versions of Node.js Required?"
I suspect these two references should be consistent and both say Node.js version 8 or better?

Or, maybe better, leave out the Node.js version on this page, so that info does not need to be maintained?

But in the linked reference (https://github.com/Microsoft/AppCenter-CLI#installation)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-06-27 20:41] jwargo commented on #195
@glennwester we just updated the one and haven't fixed the other one yet.

[2018-06-28 09:14] MKielblock opened #196 "Maximum number of install IDs"
What is the maximum number of install IDs/devices that one can target using the Custom devices list option when sending a Push Notification.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a9c2bfe-e6be-bce0-7d66-8af878cecffa
* Version Independent ID: 00ed44c9-1037-03b1-be92-0d2869cc4b23
* Content: [App Center Push - Vi

[2018-06-28 11:28] enagorny opened #197 "Detox integration"
Do you have any plans to add detox support? https://github.com/wix/detox

[2018-06-28 12:25] jwargo commented on #196
@dimazaid can you answer this, then update the docs?

[2018-06-29 18:29] geocachingsyntaxerror commented on #55
That makes sense. I do believe the docs could be a little more clear about when Xcode Automatically Managed Signing is appropriate and when Manual Signing is required.

[2018-06-29 18:30] syntax-e commented on #31
That makes sense. I do believe the docs could be a little more clear about when Xcode Automatically Managed Signing is appropriate and when Manual Signing is required; especially for common use cases like local build (development profile) vs a beta build (ad hoc profile) build vs a distribution build (distribution profile.)

[2018-07-01 09:00] alexcurylo opened #200 "Possible to delay notification permission request?"
Passing  Push to MSAppCenter.start() has the System "... would like to send you notifications" dialog pop up immediately on first launch. These days a pretty significant fraction of users (like 60%, some stats claim) reflexively disallow notifications that pop up immediately like that, so I'd like to only have the System alert show after an appropriate pre-permission opt-in of my own during onboar

[2018-07-01 21:54] Alihamzehzadeh opened #201 "‌alihamzehzadeh"
پشتیبانی کنید از ماکروسافت

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06813350-a37b-a4a2-fdbc-a59caefb9f32
* Version Independent ID: 29787958-5b4e-efc2-2af5-2af0ee53216e
* Content: [App Center Build - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/)
* Content Source: [docs/build/index.md

[2018-07-02 13:18] enagorny opened #202 ""In some cases" part isn't clear"
Please describe "In some cases" when and why this cases could appear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52a7f669-58a0-6700-13c5-e8f9c647943c
* Version Independent ID: eec16d36-776d-3438-ed39-ad8e98ff2c08
* Content: [App Center Analytics for React Native - Visual Studio App Center](https://docs.microsoft.co

[2018-07-02 14:33] jwargo commented on #200
@alexcurylo The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informati

[2018-07-02 14:33] #200 closed, assigned to elamalani

[2018-07-02 14:39] jwargo commented on #201
@Alihamzehzadeh do you have a question or comment about the App Center docs?  App Center support is provided directly from within the App Center portal - just click the blue chat icon in the lower-right corner of any App Center page and our dedicated support team will respond.

[2018-07-02 14:50] jwargo commented on #196
App Center currently supports a maximum of 20 install ID/devices in a custom device list.

[2018-07-02 14:50] #196 closed, assigned to dimazaid

[2018-07-02 17:10] elamalani commented on #202
@dhei agreed to make this change in the docs.

[2018-07-02 17:25] glennwester commented on #197
Hi @enagorny, this is something that we're looking into, I don't yet any timeline to share however. Thanks for making us aware, we are always looking for new automation frameworks to build support for!

[2018-07-02 17:25] #197 closed, assigned to glennwester

[2018-07-02 17:32] glennwester commented on #195
Assigning @amchew

[2018-07-02 17:41] amchew commented on #195
Thanks @GlennWilson for notifying on the discrepancy! I've made a PR to fix this [here](https://github.com/MicrosoftDocs/appcenter-docs-pr/pull/707).

[2018-07-02 17:47] jwargo commented on #195
Fix applied, closing issue

[2018-07-02 17:47] #195 closed, assigned to amchew

[2018-07-03 01:17] AndrewHenderson commented on #55
@antonys1 I'm experiencing the same issue. Would you mind sharing the code and how you set this up in App Center?

[2018-07-03 01:56] zen0wu opened #203 "Question/Feedback: Missing steps for android integration"
I've done `react-native link` and got it working on iOS (Analytics has data), but not Android.

From my shallow observation, maybe we need to add things like

[code]

Since 1. those packages exist and I didn't find anything in the link script, and 2. I can't get Android integration work

Also, AppCenterReactNativeCrashesPackage seems to live under the wrong package namespace, which differs from it

[2018-07-03 02:04] zen0wu commented on #203
Update: I added these 6 lines and it shows up in app center. Might be a delay, since there's no precise time so there's no way for me to make sure.

[2018-07-03 10:05] ghost commented on #55
@AndrewHenderson see https://docs.microsoft.com/en-us/appcenter/build/custom/scripts/

Put the following shell script code in a file named `appcenter-post-clone.sh`, replacing the path to the provisioning profile.

[code]

[2018-07-03 12:29] michelmoorlag opened #204 "Localization?"
My app supports multiple languages and I would like the user to receive the notification in it's own language.

First I thought I could use Audiences with device propertie "Language" and send a localized message for every language I support. The problem is that I need to send a message to Device ID and according to the api I can not combine notification_target . I have to choose between "type" : "

[2018-07-03 13:02] jwargo commented on #203
@shivawu The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2018-07-03 13:02] #203 closed, assigned to nobody

[2018-07-03 13:06] jwargo commented on #204
@michelmoorlag The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional inform

[2018-07-03 13:06] #204 closed, assigned to nobody

[2018-07-03 18:14] AndrewHenderson commented on #55
@antonys1 Apologies for my lack of understanding. Two questions:

1. Is `../Provisioning\ Profiles` where App Center stores the uploaded provisioning profile? This command would copy it to the remote machine's `Library`? Or are you suggesting I create a `Provision Profiles` directory in my repo and store my provisioning files there for the script to access them on the remote server? If so, I belie

[2018-07-03 19:44] zen0wu commented on #203
I'm confused with the comment. Compared to the other 2 comments on the page, which is related to the exact same topic (#174 and #98), why is this one not qualified as a "suggested change" or a "question"? Also my question is not answered either.

I'm aware of the support feature on the page. I just feel this might be an issue with the doc so it's faster to report it here.

[2018-07-03 19:48] jwargo commented on #203
@shivawu you're asking a question about how to get something to work - that makes it a support question. We have an experienced team manning support, and that's the way you get help with App Center.  Asking for help on the docs doesn't get you direct access to people who can help. If there's something missing in the docs, let us know, but get it working with the help of the support team - they, or

[2018-07-03 20:50] zen0wu commented on #203
Great, thanks for the clarification

[2018-07-04 13:24] cuducos opened #205 "The sasUrl returns an error (which is not documented here)"
This pages reads:

However when I reach this point I'm always getting an error from the `sasUrl`, doesn't matter if I send it with the `X-API-Token` header or not. Actually this documentation does not clarify HOW to do the request to the `sasUrl` – POST? GET? Which headers are required?

The error is always:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2018-07-04 13:43] cuducos commented on #205
Ooops… the error changes! With `curl -H "X-API-Token: xxxxxxxxx"` plus the `sasUrl` the error is:

[code]

[2018-07-05 12:39] jwargo commented on #205
@cuducos contact our support team (click the blue chat icon in the lower-right corner of any App Center page) to resolve your issue. I'll have the team take a look at documenting the error on the page (although any service will return an error if there's something wrong with the request).

[2018-07-05 13:26] cuducos commented on #205
Hi @jwargo. I'm sorry, but I cannot find that icon. This is what I see in `https://appcenter.ms/apps`:

![image](https://user-images.githubusercontent.com/4732915/42325692-5b68dc12-803d-11e8-8ba0-f2711c3e7d9d.png)

And this is what I see in the help page that led me to the error, `https://docs.microsoft.com/en-us/appcenter/gdpr/your-data`:

![image](https://user-images.githubusercontent.com/473291

[2018-07-05 13:30] jwargo commented on #205
@cuducos turn off pop-up blockers, etc.

I can't point you to a URL for it as its embedded in App Center pages.

[2018-07-05 13:38] cuducos opened #206 "Error in the “Manage Your Data » Delete” API"
Following instructions from [Manage Your Data](https://docs.microsoft.com/en-us/appcenter/gdpr/your-data#delete) support page led me to an error:

I could get the token with:
[code]

This command gave me the following response:

[code]

Then I tried to use this token to the next HTTP request:

[code]

Which gave me the following error:

[code]

@joemellin told me the other day via e-mail that Micr

[2018-07-05 13:46] cuducos commented on #205
Off. But I cannot login anymore. Maybe, despite the error reported on #206, my account was already deleted. Good news — or kind off.

[2018-07-05 13:47] jwargo commented on #206
@cuducos App Center support is provided through the chat button in App Center. The support team does not monitor the issues queue (although I've asked them to take a look at this). Have you turned off pop-up blockers in your browser?  Other customers have seen the chat icon when they turn off blockers in their browser.  There's no need to open a second issue for the same topic.

[2018-07-05 13:52] freeknortier opened #207 "Appcenter integraton compile keyword"
In the documentation it states the following :

`dependencies {
    def appCenterSdkVersion = '1.6.1'
    compile "com.microsoft.appcenter:appcenter-analytics:${appCenterSdkVersion}"
    compile "com.microsoft.appcenter:appcenter-crashes:${appCenterSdkVersion}"
}
`

The compile keyword has been deprecated for Android. What should it be replaced with?

[2018-07-05 13:56] freeknortier opened #208 "Appcenter Android Kotlin integration"
The documentation does not show how to integrate app center into an Android Kotlin based mobile application. If app center is compatible with Kotlin please provide documentation and if not please state that it is not compatible with Kotlin.

[2018-07-05 14:01] cuducos commented on #206
It's **not** the same topic: API endpoints are different and errors are different. To be clear:

| Issue | API Endpoint | Error(s) |
|-------|--------------|--------|
| #205 | **Export** data | `Signature fields not well formed` and `Signature did not match` |
| #206 | **Delete** data | `Value cannot be null. Parameter name: internal-user-email` |

[2018-07-05 14:07] cuducos commented on #206
I cannot login to `https://appcenter.ms` anymore (_Your email or password were incorrect_) which might tell me that despite the error reported in this issue my account was deleted. But I cannot confirm since instead of a success message I got an error.

[2018-07-05 14:31] jwargo commented on #208
@freeknortier everything I've read says that Kotlin and Java are interchangeable, that there's nothing special to use a Java library in a Kotlin app. I've asked the SDK team to respond, but I don't think there's anything else they'll say.

[2018-07-05 16:15] iageoghe commented on #206
@cuducos It looks like we left out a finer point in our docs: namely that customers (or former customers in this case) should pass the [email associated](https://openapi.appcenter.ms/#/operations/gdpr/DataSubjectRight_DeleteStatusRequest) with the deleted account. This email isn't kept, but hashed and checked along with the token against the record of deletion.

Would you mind trying again passing

[2018-07-05 16:23] cuducos commented on #206
Like a charm, @iageoghe : )

[code]

Gave me:

[code]

Sweet ❤️ Many many thanks : )

Not sure if I can close this issue (as my _individual_ issue is settled) or if you wanna let it open as a reminder to include this in the docs. It's up to you now, peeps.

[2018-07-05 16:26] iageoghe commented on #206
Thanks @cuducos! We will close the issue and update the documentation today.

[2018-07-05 16:26] #206 closed, assigned to nobody

[2018-07-05 17:16] iageoghe commented on #205
Hi @cuducos, you have correctly deduced that a DSR export request will fail after a DSR delete. However, it looks like there may be a couple of things going on here and as you point out, the documentation looks like it could use some revision around the export process.

1. The first call that needs to be made for export is to the [POST](https://openapi.appcenter.ms/#/operations/gdpr/DataSubjectRig

[2018-07-05 17:16] #205 closed, assigned to iageoghe

[2018-07-05 20:54] iamclement commented on #208
Yes the SDK can be used from Kotlin: https://github.com/Microsoft/AppCenter-SDK-Android/issues/748#issuecomment-402821534.
It's not yet documented and we don't have any ETA on when Kotlin will be available in our documentation. But until then the java code snippet from the doc should work since copy-pasting java code to a Kotlin app automatically turns the code to Kotlin code.

[2018-07-05 20:57] #208 closed, assigned to nobody

[2018-07-05 21:12] guperrot commented on #207
Hi, you can use implementation instead of compile.

[2018-07-06 00:06] alexsorokoletov opened #209 "Extra variables"
Would be great to get "organization id" or "organization name" and "application id" so that we can use them in a generic scripts, for example, to build url to the current build.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca50588e-c8ad-2b8e-683f-bc5fc612dfe4
* Version Independent ID: 5d9513bd-d179-eaeb-96aa-06bd5ba0

[2018-07-06 12:26] #207 closed, assigned to elamalani

[2018-07-06 12:55] jwargo commented on #201
@Alihamzehzadeh I haven't heard back from you, so I'm closing this issue.

[2018-07-06 12:55] #201 closed

[2018-07-07 15:45] Marcelino1965 opened #210 "Test"
Schuppig g

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1709b666-1277-498f-5a89-b907c8ce881b
* Version Independent ID: 648c03f3-9822-31cc-0c4f-4d4a0d928ac3
* Content: [Using App Center - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/dashboard/#set-up-your-app-center-account)
* Content Source: [

[2018-07-09 00:51] Steven-Mark-Ford opened #211 "Order of all to Crashes.SetEnabledAsync"
Crashes.SetEnabledAsync has to be called after AppCenter.Start other wise no crash reports are uploaded and it results in the error
"Crashes service hasn't been started. You need to call [MSAppCenter start:YOUR_APP_SECRET withServices:LIST_OF_SERVICES] first."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a98dc868-6ec

[2018-07-09 13:28] jwargo commented on #210
@Marcelino1965 Do you have a question or comment about the App Center docs?

[2018-07-09 13:28] #210 closed, assigned to nobody

[2018-07-09 13:33] jwargo commented on #211
@Steven-Mark-Ford I've asked the team to take a look at this.

[2018-07-09 17:00] elamalani commented on #211
@Steven-Mark-Ford Crashes.SetEnabledAsync() is set to true by default when you use AppCenter.Start()  API. It is not required to call the API before start.

[2018-07-09 20:34] dhei commented on #202
@enagorny, thanks for the feedback. Doc is updated now and let us know if you have more questions.

[2018-07-09 20:35] #202 closed, assigned to dhei, elamalani

[2018-07-09 23:57] Steven-Mark-Ford commented on #211
Sorry I meant it has to be called AFTER start not before (I have updated my original comment above). Thanks for the info about its default value. I still think that the docs should mention somewhere that it should be called after start, or even better, prevent this behavior and still allow the crash reports to be uploaded regardless of the order of call. Calling it before start() breaks the crash

[2018-07-10 09:18] JeremyBradshaw7 opened #212 ""There should be no signing configurations in the Gradle configuration in the repository""
What exactly does this mean? If I remove all entries under signingConfigs in build.gradle the AppCenter build shows the error:
Execution failed for task ':app:validateSigningRelease'.
&gt; Keystore file not set for signing config release

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb88b888-1e68-8a75-efa4-cef2c33d436

[2018-07-10 13:26] jwargo commented on #212
@derpixeldan can you help here?

[2018-07-10 13:27] dipree commented on #212
@ranterle can you help here?

[2018-07-10 17:58] elamalani commented on #211
@Steven-Mark-Ford You are not required to call this API even after Start() API. It's surprising that your crash reports are sent to our backend only after you call this API. Can you enable verbose logging and share the console logs with us to investigate it further?

[2018-07-10 19:45] AndrewHenderson commented on #55
@antonys1 I've successfully copied my share extension's provisioning file to that directory on the App Center server, yet I still receive the following error:
[code]
I've asked App Center support if it's possible to pass `-allowProvisioningUpdates` to the share extension build, but was told by support engineer he doesn't know of a way to do this.

[2018-07-10 23:38] Steven-Mark-Ford commented on #211
@elamalani my crash reports go up if I don't call this method. But I think the documentation needs to be updated.

[2018-07-11 20:13] matthiaswenz commented on #212
The underlying reason for this piece is that it is wise from a security standpoint to not check in your signing credentials into your repository.
Another point to note is that if your app is already signed through the Gradle build steps, trying to resign it in the manual signing step will most likely fail.
So I think this is where this reference comes from - it can definitely be formulated more cl

[2018-07-11 21:14] Keboo opened #214 "Incorrect text for checkbox"
In Preparing Xamarin.Android Apps, in step 2, it describes how to disable the Shared Mono Runtime in Visual Studio.

However the checkbox is actually displayed as "Use Shared Runtime".
I recommend changing the text to be:
"In Visual Studio 2017, open the project properties, and select the Android Options tab. In the first section, look for Packaging Properties, then uncheck Use Shared Runtime."

S

[2018-07-11 21:14] Keboo commented on #214
![image](https://user-images.githubusercontent.com/952248/42599650-c517c462-8514-11e8-8e67-58b314c69b0b.png)

[2018-07-12 13:27] jwargo commented on #214
@Keboo thanks, I'll have the team take a look.

[2018-07-12 18:23] lucas-james commented on #209
As a workaround you can set them as extra environment variables in your build configuration, but agreed...it wouls be nice if these values were provided out of the box :)

[2018-07-12 18:26] jwargo commented on #209
@alexsorokoletov thanks for the suggestion, the product team added this suggestion to the list.

[2018-07-12 18:26] #209 closed, assigned to dipree

[2018-07-12 18:30] alexsorokoletov commented on #209
Thank you!
Well I can do a lot of things manually right? :) it’s just a question of convenience

Alex

[2018-07-12 19:05] carlosbasecodeit opened #216 "Error in Android app build configuration"
I have a solution with an android project and an iOS project tha I have to configure in App Center. I didnt have any problems with the build configuration for iOS, but I have problems with the configurations of the android project.
After link my repository I see all my branchs in this repository but when I try to configure the build in any branch, the Build Configuration pop up give me this error

[2018-07-12 19:12] jwargo commented on #216
@cafe1984 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information

[2018-07-12 19:12] #216 closed, assigned to nobody

[2018-07-13 15:24] glennwester commented on #214
@Keboo @jwargo thanks for reporting, I'll have this fix in on Monday.

[2018-07-15 18:53] transdigiware opened #217 "YAY"
Build now as soon as posible with the central apps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06813350-a37b-a4a2-fdbc-a59caefb9f32
* Version Independent ID: 29787958-5b4e-efc2-2af5-2af0ee53216e
* Content: [App Center Build - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/)
* Content Sour

[2018-07-16 09:21] adteulade opened #218 "Issue with `SECRET`"
I think you should add the following to this page:

SECRET is an undocumented VSTS reserved prefix, please only use this string if something precedes it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97f3af3f-ef07-8896-4b3c-05cef163b51a
* Version Independent ID: b4b1f6a4-5975-358b-1cf4-f7b10a2245cd
* Content: [Environm

[2018-07-16 12:16] jwargo commented on #217
@transdigiware are you asking a question about the docs or suggesting an edit to the docs? I can't tell.

[2018-07-16 12:16] #217 closed

[2018-07-16 12:19] jwargo commented on #218
@adteulade thanks, I'll have the team take a look at making the change.

[2018-07-17 13:26] dipree commented on #218
Hey, we're adding a prefix which is not exposed to users. Regardless of what you specify on App Center, it won't collide with anything in VSTS. Thanks, Dan

[2018-07-17 13:26] #218 closed, assigned to matthiaswenz, dipree

[2018-07-17 13:50] lassana opened #219 "Is it possible to provide additional msbuild parameters?"
In the AppCenter logs I found `msbuild` command usage:

[code]

Is it possible to add additional `msbuild` arguments? I'm especially interested in setting "/p:AotAssemblies" and "/p:AndroidSupportedAbis".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d72f6fe-74d6-696e-e709-5f6d577c0a58
* Version Independent ID: b3d0e

[2018-07-17 15:05] jwargo commented on #219
@lassana I'm a little unclear about your question. Are you asking about the SDK or one of the services?

Your best bet with questions like this is to ask our support team.  App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additiona

[2018-07-17 15:05] #219 closed, assigned to nilofer

[2018-07-17 17:05] lassana commented on #219
@jwargo I'm asking about AppCenter Build services: https://docs.microsoft.com/en-us/appcenter/build/

[2018-07-17 17:45] jwargo commented on #219
@lassana OK, that makes sense. I thought so, but the comment came in from the Xamarin getting started doc. You really should ask through support. In the mean time, one of the Build PMs will check in here.

[2018-07-17 22:16] bdwellons opened #220 "Push API/SDK Limitations"
It would be nice if the documentation listed limitations of the APIs. After extensive local trial and error it looks like getting the device's installId in Cordova set by AppCenter is not possible? After pulling what appears to be the installId from the GET notifications API, trying to send a push notification to a single installId from the APIs to Cordova apps is also not possible. Can you please

[2018-07-17 22:20] bdwellons opened #221 "getInstallId for Cordova"
Is the following mechanism or something similar available in Cordova AppCenter?
await AppCenter.getInstallId()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 846243f4-8201-c23f-9719-63326aae7572
* Version Independent ID: 5c8f7b51-1102-b427-a650-06cfc11f71e6
* Content: [Other React Native APIs - Visual Studio App Center

[2018-07-18 01:23] bdwellons commented on #220
Sorted it out later in the evening. AppCenter.getInstallId only seems to work when it is passed a success function as the first parameter and not a second function as an error handler. Don't have the time to dig in to why now, but this can be closed.

[2018-07-18 09:33] Sleeplikelion opened #222 "admin"
nop

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8ccb786-5f74-9c47-f6fa-a22720f823ad
* Version Independent ID: 3185af63-60df-aa2b-1d8c-b3db0ca3ad8c
* Content: [Upload a Build to Distribute via App Center - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/distribution/uploading)
* Content Source:

[2018-07-18 12:19] jwargo commented on #222
@Sleeplikelion do you have a question or comments about the docs?

[2018-07-18 12:19] #222 closed, assigned to nobody

[2018-07-18 12:21] jwargo commented on #221
@bdwellons The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

For this particular question, you're probably better off asking support. App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any pa

[2018-07-18 12:26] #221 closed, assigned to elamalani

[2018-07-18 12:27] macrozone opened #223 "Using Github app extremly confusing"
The documentation and the whole userflow about github integration is really confusing and flawed.

I managed to setup app center that it builds on pushes on my configured branches, but not when i created a PR on a branch. The checks just did not appear

I had to restart completly from scratch and add the github market place app and then reconfigure completly everyhting.

This leads to errors and w

[2018-07-18 12:31] jwargo commented on #220
@bdwellons we're planning on a refresh of the docs, and one of the things I want to add is a limitations section to each service's docs.  I'm not sure when this will happen, but it's in my plan.

[2018-07-18 12:31] #220 closed, assigned to dimazaid

[2018-07-18 12:35] macrozone commented on #223
also this setup page that is sent through email has to be accessible through some UI.

How i am I supposed to ad a new app otherwise? relying on an email is a really bad idea

[2018-07-18 12:40] jwargo commented on #223
@macrozone I've asked the product's PM to respond to this.

[2018-07-18 12:52] macrozone commented on #223
@jwargo This has already been reported two months ago: https://github.com/MicrosoftDocs/appcenter-docs/issues/147

it seems i am not the only one struggling with this.

Imaging this situation:

- you goto appcenter.ms and click on "add new app" and create a new app
- you configure all your branches, distributions, tests, etc. in appcenter and you are able to build whenvere someone pushes something

[2018-07-18 13:05] jwargo commented on #223
@macrozone you can already do that. The GitHub app, as I understand it, is just a way to do this *from* GitHub. You can already log into App Center, create an app and point it to a GitHub repo, that functionality has been in there since before launch.

[2018-07-18 13:19] macrozone commented on #223
@jwargo that is true, that's how we have set it up before. But then, you can't trigger builds from github pull requests, you don't have this "checks" integration which reports back go github.

the documentation even sais that you have to restart from scratch: https://docs.microsoft.com/en-us/appcenter/build/github-app#connecting-existing-apps

as much as i love app center, this is inaccatable

Edi

[2018-07-18 17:21] glennwester commented on #214
PR submitted, thanks again @Keboo

[2018-07-18 17:21] #214 closed, assigned to glennwester

[2018-07-19 05:30] GanesanRengasamy opened #225 "App Center don't restores from public NuGet feeds"
Hi

I have added the NuGet.config file as you mentioned in the document and push that in the github and trying to build my application by AppCenter. But I have faced the NuGet restore issue.

![image](https://user-images.githubusercontent.com/16695209/42924243-e6967fd8-8b46-11e8-98cc-85874b683a22.png)

Please find my Github repository as below,

https://github.com/GanesanRengasamy/UWPSample.git

P

[2018-07-19 13:48] jamesem opened #226 "AppCenter doesn't list correct Android flavor dimensions under "build variant""
Does AppCenter plan to ever support an Android project which utilises "flavor dimensions"?

When using such a project, the Build variant drop down menu does not list correct assemble configurations, so builds do not succeed.

[2018-07-20 03:45] GanesanRengasamy commented on #225
Hi,

I have added the new test app again in appcenter and again link my Github repository and trigger the build from appcenter now the NuGet packages has been restored successfully from public NuGet feeds.

Thanks,
Ganesan R.

[2018-07-20 12:55] jwargo commented on #225
@GanesanRengasamy The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional inf

[2018-07-20 12:55] #225 closed, assigned to nobody

[2018-07-20 13:11] jwargo commented on #226
@jamesem The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2018-07-20 13:11] #226 closed, assigned to nobody

[2018-07-20 15:39] jamesem opened #227 "Apps Center "chat support" button does not appear in Firefox"
Hi,

I have noticed that the blue button that is referred to on the following "Support" page, doesn't actually appear if you are using Firefox.

https://intercom.help/appcenter/getting-started/getting-help-with-app-center

Firefox 61.0.1 (64-bit) on OSX 10.13.5

[2018-07-20 15:44] jwargo commented on #227
You have to turn off any pop-up blockers, etc. I just tested it on FireFox for macOS 61.0.1 and it appears just fine.

[2018-07-20 15:44] #227 closed, assigned to nobody

[2018-07-20 16:13] jamesem commented on #227
Thank you, I do not use any third party popup blockers, however after turning off "Tracking Protection" in Firefox, the blue button appeared.

Is it possible to mention this in the help docs, when pointing customers towards the blue button? I had originally tried to find that support option and had given up.

[2018-07-20 16:42] jwargo commented on #227
@jamesem yeah, absolutely. I'll change the getting started doc now.

[2018-07-20 16:48] jamesem commented on #227
Perfect, thanks

[2018-07-20 16:50] jwargo commented on #227
@jamesem check out the getting started doc now, does that work?

[2018-07-23 03:29] Sleeplikelion opened #228 "y"
[Enter feel ack here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b892ccc-dfc5-3e39-e69e-5416a2423dfc
* Version Independent ID: 01f9db85-32f1-5a6e-df5e-731000696967
* Content: [App Center Crash Reporting - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/crashes/)
* Content Source: [docs/crashes

[2018-07-23 06:35] c-lamont opened #229 "More info on push notification "type" value"
I would like to know more about the push notification "type" value. Are the two options above "devices_target" and "audiences_target" the only two options? Is it possible to send a notification to all devices for example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beb96601-f906-374d-b0d8-537e5f80de3e
* Version Inde

[2018-07-23 09:00] jamesem commented on #227
Looks great.

[2018-07-23 15:25] thomasphillipsgb opened #230 "Event Metric Limits - Property Count"
"The portal will show up the ten property values with highest count."
Do these still get tracked anyway? I see there is an 'Other' category.
I ask this is because we are looking to run some App Insights through Azure. I'm not certain if we can create an event type which will log 50+ unique property values. Or if we're stuck with having to track specific events, which can only track 200 daily (as p

[2018-07-23 20:48] jeremycbutler commented on #223
I am having the same issues and unable to locate my welcome email. @macrozone How did you re-trigger a welcome email to properly set it up?

[2018-07-23 20:51] nilofer commented on #223
@jeremycbutler @macrozone we just enabled the ability to add a new repository without the link from the welcome email. You can follow instructions to [connect a new repository](https://docs.microsoft.com/en-us/appcenter/build/github-app#connecting-a-new-repository) and adjust your installation configuration in GitHub.

[2018-07-23 20:52] nilofer commented on #223
@macrozone thank you for the rest of the feedback you provided. This is helpful for us in understanding how to make this experience better!

[2018-07-23 20:52] #223 closed, assigned to nilofer

[2018-07-23 21:04] macrozone commented on #223
@nrajpurkar awesome, I can confirm this works. But some feedback on it:

- if you have selected "All repositories" in github under "Repository access", you have to change it to something else and back. Then you can save and you will see the setup screen from appcenter.
- its probably better to only give access to the apps you need, so you won't run into that anyway. Maybe you can mention that in t

[2018-07-23 21:32] transdigiware commented on #217
just suggesting like that.s ,, @

[2018-07-23 21:33] transdigiware commented on #217
sugested @jwargo

[2018-07-24 00:33] jonakyd opened #231 "Fastlane Match"
Is there a way to integrate fastlane match?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b5aee85-ff56-92ea-bcc1-bcb75766d0ec
* Version Independent ID: 6ff20886-6471-3dcf-1434-a9fbee5c729f
* Content: [Uploading iOS Code Signing Files in App Center - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter

[2018-07-24 01:53] jonakyd opened #232 "How can I specify `xcodebuild -configuration` when build on AppCentre?"
I have many configuration setups for my XCode project instead of just `Debug` and `Release`. How can specify that when I build with AppCentre?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc01291c-f6a0-4610-a27d-60718852390d
* Version Independent ID: 2b51b117-6b8c-f4d9-a2b2-43c891d20171
* Content: [Configure a Object

[2018-07-25 00:30] kirk-marple opened #233 "App Store two-factor auth"
The Apple Dev Program now requires two-factor auth to be enabled, in order to enroll.

But it appears that connecting the iOS App Store via App Center doesn't yet support two-factor auth?

I think I'm blocked from publishing to the app store then?  Any workarounds?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edcd901

[2018-07-25 07:32] pnghub commented on #233
Thx for the feedback Kirk. You are right in that iOS App Store updates via App Center does not currently support two-factor auth and will need to use the App store directly for store publishing in this scenario. This item is in the backlog, though we do not have an ETA yet. Your feedback is appreciated and will help us with data to build a case for getting this higher up in the priority order.

[2018-07-25 12:27] jwargo commented on #228
@Sleeplikelion do you have a question or comment about the App Center docs?

[2018-07-25 12:27] #228 closed, assigned to nobody

[2018-07-25 12:33] jwargo commented on #230
@Maxgamerboy1 the easiest way to get help with questions like this is to use App Center support.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appce

[2018-07-25 12:46] jwargo commented on #217
@transdigiware I'm sorry, I don't understand what you're telling me.

[2018-07-25 12:49] jwargo commented on #231
@jonakyd The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

The easiest way to get answer to your question is through App Center Support. App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any

[2018-07-25 12:49] #231 closed, assigned to dipree

[2018-07-25 12:49] jwargo commented on #232
@jonakyd The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2018-07-25 12:49] #232 closed, assigned to nobody

[2018-07-25 13:02] jwargo commented on #233
@kirk-marple The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informat

[2018-07-25 13:02] #233 closed, assigned to Oddj0b

[2018-07-25 17:17] kirk-marple commented on #233
@jwargo Understood, but my point for posting it here was that it likely needs to be documented, given anyone following the instructions to create a new Apple Dev Program account would run into the same problem.   I'll followup with support to see about any workarounds, thanks.

[2018-07-25 18:06] jwargo commented on #233
@kirk-marple yes, absolutely - just ask Support to mark it needing a doc update and we'll update the docs based on the results you get from your support call.

[2018-07-25 19:19] dimazaid commented on #229
Hi @c-lamont! Yes, you can use "null" and this will send it to all registered devices (broadcast).

[2018-07-25 19:55] c-lamont commented on #229
Hi @dimazaid, thanks for the info.

Is there somewhere to view all the possibilities for sending push notification?

[2018-07-26 14:32] #212 closed, assigned to matthiaswenz, dipree

[2018-07-26 19:23] jwargo commented on #229
@c-lamont Dimah made a [change to the docs](https://docs.microsoft.com/en-us/appcenter/push/pushapi) yesterday to reflect this, take a look.

[2018-07-26 19:23] #229 closed, assigned to dimazaid

[2018-07-27 01:09] vishnu4 opened #235 "Two factor not supported?"
If i go inside my IOS application in app center, and go to distribute/stores and click on "connect to store", i'm given an interface to connect to an apple developer account.  When i try to do this, i get an error that says 'Two-Factor Authentication is currently not supported'.  But the documentation above implies that it is supported.

Since it's impossible to have an apple developer account w/o

[2018-07-27 06:41] c-lamont commented on #229
Thanks @dimazaid!

[2018-07-27 12:37] jwargo commented on #235
@vishnu4 We're aware of this issue and I've asked the PM to update the docs. In the mean time, App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcente

[2018-07-27 12:37] #235 closed, assigned to dipree

[2018-07-29 19:32] Eric-Dunaway commented on #233
Is there a doc update for how we are supposed to set up Apple Store with App Center?

Does App Center no longer support  Apple Store now that 2FA is required?

[2018-07-30 17:48] andrster opened #236 "cordova build"
Is there any plan to Build for cordova in the future

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0087c543-d8f4-5ea6-5ac6-8b30ec1b9e6c
* Version Independent ID: 92b8f8de-268b-a249-46e9-053edf2e97c0
* Content: [App Center Platform Services Matrix - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/g

[2018-07-31 16:05] transdigiware commented on #217
Coba translator semoga memahami

[2018-07-31 16:57] mxstudios commented on #40
Why do the docs say that it handles up to 20 values of 125 characters each?

[2018-08-02 20:02] luisnaranjo733 opened #237 "How can we deploy multiple android APKs?"
Android apps typically ship multiple APKs to support various screen densities and CPU architectures. This is important to Android because of the inherent device fragmentation that exists on that platform.

How can we deploy multiple APKs to AppCenter through the VSTS build task? Right now, it only supports one apk path. If it supported multiple paths, the task could theoretically deploy multiple.

[2018-08-05 14:45] jwargo commented on #233
@Eric-Dunaway we're working on a doc update.

[2018-08-05 15:05] jwargo commented on #236
@andrster We're evaluating it. We have some customers asking for it, but we have other things with higher priority on our roadmap right now.

[2018-08-05 15:05] #236 closed, assigned to dipree

[2018-08-05 15:36] jwargo commented on #237
@luisnaranjo733 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional infor

[2018-08-05 15:36] #237 closed, assigned to nobody

[2018-08-06 02:07] blparr commented on #40
@mxstudios That is indeed the case. We increased the limits to 20/125 few months back. What's your concern and how can we help? Thanks

[2018-08-06 14:18] mxstudios commented on #40
The previous comment said it only allowed 5, which seemed to be the case for me. But when I updated to a later package on a hunch it allowed the 20.  I didn’t realize it was updated in a later build since I was getting only the 5 and this thread or docs didn’t mention it was only available in later build.

Thanks!

[2018-08-06 14:51] blparr commented on #40
@mxstudios You can see the update in our Changelog: https://docs.microsoft.com/en-us/appcenter/general/changelog. You will find this update on April 25th.

[2018-08-08 00:40] brunck opened #238 "This page is missing Windows/UWP instructions"
This page is linked in App Center on the New Release window for UWP Distribution, but it has nothing about Windows distribution on it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8ccb786-5f74-9c47-f6fa-a22720f823ad
* Version Independent ID: 3185af63-60df-aa2b-1d8c-b3db0ca3ad8c
* Content: [Upload a Build to Distribu

[2018-08-08 14:22] jwargo commented on #238
@brunck thanks for bringing this to our attention, I'll have the PM take a look.

[2018-08-09 06:50] BorlandFA commented on #233
I've ran into the same problem and I am blocked... It would be really good if App Center supports 2FA.

[2018-08-10 09:04] Disjes opened #239 "AppCenter.Start() rises an exception"
Hello,

When I try to call AppCenter.Start("androidkey", typeof(Push)) from App.xaml.cs I get the following error on Android;

Java.Lang.NullPointerException: Attempt to invoke virtual method 'android.content.res.Resources android.content.Context.getResources()' on a null object reference

[2018-08-13 11:07] navinilavarasan opened #240 "Android Multiple Flavor Dimensions"
Android Multiple flavor dimensions seems to be not supported and document does not contain this as a limitation.

[2018-08-13 12:09] jwargo commented on #239
@Disjes The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2018-08-13 12:09] #239 closed, assigned to nobody

[2018-08-13 12:23] jwargo commented on #240
@navinilavarasan Can you give me some context here? Which service are you working with?

[2018-08-13 13:24] allenmc1 opened #241 "App Center Crashes Link Broken"
Trying to learn more about App Center crash reporting, appears that link is broken? This link is featured prominently on this page (https://docs.microsoft.com/en-us/appcenter/) under the heading Crashes:

https://docs.microsoft.com/en-us/appcenter/crashes/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fcc87ca-795c-56

[2018-08-13 15:41] navinilavarasan commented on #240
This is about the appcenter build service.The build service in appcenter is unable to discover android flavor dimensions properly and errors out. Thought a mention in the documents on the limitation would help people. More information about it can be found here: https://github.com/Naitbit/AppCenterGradleFlavors

[2018-08-13 17:34] nilofer commented on #240
Hi @navinilavarasan, thanks for brining this up. We will add this to the documentation.

[2018-08-13 17:34] #240 closed, assigned to nobody

[2018-08-14 05:45] VladislavAntonyuk opened #242 "MacOS and WPF support"
If application crashes on macOS or WPF the report is not sent

[2018-08-14 05:49] sanjayaubergine commented on #58
+1

[2018-08-14 15:25] jwargo commented on #241
@allenmc1 thanks for pointing this out. We made some changes recently (migrating Crashes to Diagnostics) and missed a link. I'll fix it.

[2018-08-14 15:36] jwargo commented on #242
@VladislavAntonyuk The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional in

[2018-08-14 15:36] #242 closed, assigned to nobody

[2018-08-14 16:36] ghost opened #244 "yuzu-canary"
build yuzu canary Windows

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06813350-a37b-a4a2-fdbc-a59caefb9f32
* Version Independent ID: 29787958-5b4e-efc2-2af5-2af0ee53216e
* Content: [App Center Build - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/)
* Content Source: [docs/build/index.md]

[2018-08-14 16:41] jwargo commented on #244
@EmulationChannel do you have a question? I can't discern one from your comment.

[2018-08-14 16:41] #244 closed, assigned to nobody

[2018-08-15 00:19] ghost commented on #233
I am blocked on this as well. Any update on timeline to support 2FA for connecting the iOS App Store?

[2018-08-15 14:24] jwargo commented on #233
We just published a workaround to the docs. If you're part of a team and have someone with an older Apple ID (that doesn't require 2FA) then you can share those credentials via App Center.

[2018-08-15 23:53] syntax-e opened #245 "typo"
"In case you want to setup the getErrorAttachments callback to work with ES2107 async/await functions, you can return a fulfilled Promise instead. "

ES2107 =&gt; ES2017

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 519e420f-cf2a-1d5b-d86a-d01c09bcf7a0
* Version Independent ID: 59c746fb-cf4d-3019-2b48-56b69e09aa27
* C

[2018-08-16 08:02] cloris-l opened #246 "codePush.sync()"
when I use codePush.sync() i get a error that is 'CodePush Couldn`t sent request to https://codepush.azurewebsites.net...........'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a0856f1-457f-ac33-ff00-59b6a6290bea
* Version Independent ID: 773bab86-6f25-2415-e220-26fd02fb201f
* Content: [Using the Cordova SDK with Cod

[2018-08-16 09:15] halfred888 opened #247 "Private git server support"
Currently it's possible to connect repos from bitbucket/github/VTTS. Any chance to see possibility to connect repos from privately hosted git servers ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bfeef07-e3eb-9804-5c27-7ac3ec73d768
* Version Independent ID: d7c03ef1-1f84-e1f5-5913-ffad45d9efe1
* Content: [App Cente

[2018-08-16 12:46] jwargo commented on #245
@geocachingsyntaxerror thanks. It took me a while to understand what you were asking for. I'll make the change.

[2018-08-16 12:46] #245 closed, assigned to nobody

[2018-08-16 12:48] jwargo commented on #246
@cloris-l The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information

[2018-08-16 12:48] #246 closed, assigned to nobody

[2018-08-16 12:53] jwargo commented on #247
@halfred888 I've asked the product's program manager to respond to this.

Generally you can get answers to questions like this using the chat icon found in the lower-right corner of any App Center page. Our dedicated support team responds to questions there.

[2018-08-16 13:07] halfred888 commented on #247
@jwargo Thanks! I did ask in chat and got an answer without ETA, therefore I'm raising the issue here. We are just planning our work and have to figure out whether to postpone CI integration or look for alternatives.

[2018-08-16 20:39] nilofer commented on #247
@halfred888 unfortunately it is not currently possible to connect to privately hosted git servers.

[2018-08-16 20:39] #247 closed, assigned to nilofer

[2018-08-17 03:44] Steven-Mark-Ford opened #248 "Nullable Install Id"
Why is the install id nullable. Could the content give an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 691afa4b-1cbf-85ed-fb46-37a226d6c780
* Version Independent ID: b71c2a3c-a4f8-6614-15cf-13202ffed888
* Content: [Other Android APIs - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/

[2018-08-17 06:56] halfred888 commented on #247
@nrajpurkar that's why I'm asking if there are any plans to make it possible..

[2018-08-17 12:17] jwargo commented on #248
@Steven-Mark-Ford I'll ask the product's PM to update the docs with an example.

In the mean time, App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appc

[2018-08-17 12:30] jwargo commented on #247
@halfred888 Right now, we're focusing on supporting popular, public repositories. Our current [public roadmap](https://docs.microsoft.com/en-us/appcenter/general/roadmap) does not include anything regarding on-premises connectors.   As customers ask for this feature, we'll consider adding it, but right now there is no ETA for this.

[2018-08-17 13:19] halfred888 commented on #247
@jwargo Thanks for info! Keep up the good work ;)

[2018-08-17 15:23] elamalani commented on #248
@Steven-Mark-Ford InstallId should not be nullable. As mentioned, its created for each device once the app is installed. This identifier remains the same for a device when the app is updated and a new one is generated only when the app is re-installed or the user manually deletes all app data.

Do you see it empty with getInstallId() API?

[2018-08-17 15:25] elamalani commented on #211
@Steven-Mark-Ford  What changes are you suggesting in the docs? As I mentioned, you should still see the crash getting uploaded without calling this API.

[2018-08-17 15:52] #230 closed, assigned to blparr

[2018-08-18 02:01] DennisSmolek commented on #241
Link Still Broken...
Still cant get the correct symbols...

[2018-08-20 07:52] VTariko opened #249 "Secret is in invalid format or failed to connect with provided secret"
Trying to configure the export errors to Azure Blob using the "PATCH /v0.1/apps/{owner_name}/{app_name}/export_configurations/{export_configuration_id}"
I get export_configuration_id from query "GET
/v0.1/apps/{owner_name}/{app_name}/export_configurations", it works correctly.
However, instead of a successful result, an error is returned "Secret is in invalid format or failed to connect with provi