[2019-01-31 16:01] jwargo commented on #442
@K232 no worries, it just sounded like you were asking questions. The docs could be updated, what normally happens is support helps the customer through their issues, then submits a doc update on the backend. If you have a specific update you want made, suggest it here, if something isn't working, lets get it working before trying to update the docs,

[2019-01-31 16:03] jwargo commented on #443
@hussam996 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informatio

[2019-01-31 16:03] #443 closed, assigned to nobody

[2019-02-01 04:30] Eyesonly88 opened #445 "Documentation is missing how to change crash config to be processed by JavaScript"
The documentation doesn't show how to change the crash reporting configuration from ALWAYS_SEND to ASK_JAVASCRIPT for projects that have already answered "ALWAYS_SEND".

I had to go into the source code to find out what to do in order to change my existing project from the ALWAYS_SEND configuration to the ASK_JAVASCRIPT configuration.

The documentation should outline these steps.

For anyone inte

[2019-02-01 04:48] Eyesonly88 opened #446 "The documentation on how getErrorAttachments works and what it expects is not clear"
The documentation mentions being able to attach text files and binary files.
However, what if we don't have files at all? which arguments are required?

`ErrorAttachmentLog.attachmentWithText('bla', null) // is this allowed?`

`ErrorAttachmentLog.attachmentWithText(null, 'data.text') // is this allowed?`

- Also, what is the structure of the `report` object? what does it look like?
- Are we allowe

[2019-02-01 16:36] m2u-84 opened #449 "Instructions for macOS are missing"
The „Where can I find my .app.zip file?“ link from MS App Center’s „Distribute“ → „Groups“ → „New release“ for uploading new macOS builds screen brings me here. But there are no instructions for macOS here. Our build system produces DMG files and .app folders, both of which aren‘t accepted as input. The web front-end just says „Version could not be created from build.“, the CLI outputs „release bi

[2019-02-01 22:47] guperrot commented on #446
# Attachment parameters

The text content or base64 content for binaries is required, the file name is optional (it's used only by the portal to list attachments on the report and allow downloading with that file name).

# Attachment callback

The documentation has an example for async syntax where you can do long running operations, this won't block the UI or the SDK processing to use this patter

[2019-02-03 16:35] lassana commented on #48
@nrajpurkar Hi,
Unfortunately, iOS app extension signing still doesn't work for us.

The docs say:

However, I do not observe this section in our Build configuration, only one provisioning profile can be uploaded:

![screen shot 2019-02-03 at 7 29 17 pm](https://user-images.githubusercontent.com/2004960/52179321-1c2c3300-27ea-11e9-8e46-0cb06b463d5e.png)

I've re-uploaded both `p12` and `mobileprov

[2019-02-03 17:21] nilofer commented on #48
Hi @lassana, can you get in touch with us using the blue chat bubble in the corner of the App Center portal? We'll be able to better take a look at the issue you'e seeing there. Thanks!

[2019-02-03 17:28] lassana commented on #48
@nrajpurkar can you confirm that iOS extension signing is available for native Obj-C/Swift apps only and not for Xamarin?

[2019-02-04 11:12] arifzaman2 opened #451 "Could not write to pom.xml file"
Greetings,

I'm having an issue on building an APK for a react native app I'm trying to automate.

I have added the 'Automate POM File Generation Snippet' in my build.gradle file inside app. But when I try to Sync the Gradlew file, I am getting the following error

org.gradle.api.GradleScriptException: A problem occurred evaluating project ':app'.
	at org.gradle.groovy.scripts.internal.DefaultScri

[2019-02-04 11:40] arifzaman2 commented on #451
N.B:

I seem to have found the problem.

This line in the snipper is wrong:

profilesNode.append(new XmlParser().parse('https://raw.githubusercontent.com/Microsoft/AppCenter-Test-Appium-Java-Extensions/master/gradleuploadprofilesnippet.xml'))
        }

it will not be gradleuploadprofilesnippet.xml. It will be uploadprofilesnippet.xml, as the devs must have renamed the file in the Github repo.

Wh

[2019-02-04 13:32] jwargo commented on #445
@Eyesonly88 thanks, I'll have the team take a look.

[2019-02-04 13:35] #446 closed, assigned to nobody

[2019-02-04 13:47] jwargo commented on #449
@m2u-84 I'll have the team take a look at making this clearer.

When you're not sure how something works, remember that App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https

[2019-02-04 14:17] jwargo commented on #451
@arifzaman2 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informati

[2019-02-04 14:17] #451 closed, assigned to nobody

[2019-02-04 14:24] #430 closed, assigned to nilofer

[2019-02-04 17:40] justingden opened #452 "Doesn't cover how to unblock on newer versions of Android OS"
This requires adding your specific application to install unknown sources, no longer just a single setting globally.

Here is an example of the instructions:
https://www.verizonwireless.com/support/knowledge-base-222186/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcecd38a-7696-e7f8-853d-d3c12c0b050c
* Version Indep

[2019-02-04 17:53] jwargo commented on #452
@justingden are you looking for a doc update or help getting this to work?

[2019-02-04 18:01] justingden commented on #452
Just a doc update. I got through it fine, but just wanted it clarified for
other users that might be confused.

Let me know if you need any more info on the specifics.

Thank you,

Justin

On Mon, Feb 4, 2019 at 10:53 AM John M. Wargo <notifications@github.com>
wrote:

[2019-02-04 18:03] justingden commented on #452
It will also ask you automatically once you try to install the APK and
allow you to go to settings for the app that did the download.

Justin

On Mon, Feb 4, 2019 at 11:01 AM Justin Griep <griep.justin@gmail.com> wrote:

[2019-02-04 20:03] guperrot commented on #441
Hi, the message is confusing but actually harmless. The SDK does not assume any default string and will just fall back to using the default sound if it does not find a matching file.

[2019-02-04 20:05] guperrot commented on #441
Please also note that if you see this message, then Firebase is not used, your push integration will not work on Android 9+ devices or any device starting April.

Please look at https://docs.microsoft.com/en-us/appcenter/sdk/push/migration/xamarin-android.

[2019-02-04 20:51] #441 closed, assigned to elamalani

[2019-02-04 21:28] nilofer commented on #48
@lassana, that is correct and shown in our [docs](https://docs.microsoft.com/en-us/appcenter/build/xamarin/ios/#38-code-signing). We do not currently support extensions for Xamarin apps. We recently opened up a [public-facing repository](https://github.com/Microsoft/appcenter) where you can feel free to create an issue for support for this.

[2019-02-04 22:52] Eyesonly88 commented on #446
For future readers, making the second parameter optional was fixed in version 1.10.0 (https://github.com/Microsoft/AppCenter-SDK-React-Native/releases/tag/1.10.0).

Therefore, previous versions require the second parameter.

[2019-02-05 00:29] dhei commented on #445
Hi @Eyesonly88,
Thanks for the feedback. Yes, you can figure out how to manually change the config if you dig into that script.
If you re-run `react-native link` after configured, you should be prompted with the crash configuration choice on Android and iOS again. Do you not getting this prompt?

[code]

[2019-02-05 03:09] Eyesonly88 opened #453 "Missing info on how to get mappings from the App Center Build service"
This doc needs more information on:
- How to get the `mappings.txt` file from the App Center build service? where is this `mapping.txt` file located when the app is built using app center?
- For builds generated by App Center, we would expect the `mappings.txt` file to be uploaded automatically to the Diagnostics for each build. If that's not the case, then how can we send it ourselves using your

[2019-02-05 03:13] Eyesonly88 opened #454 "React Native Android source maps are not supported"
I believe this doc needs to be updated to mention that RN android apps don't have source maps and therefore the stack traces don't show the JavaScript files/lines.

This is a big issue for many people and it needs to be shown here as it is a current limitation.
(https://github.com/Microsoft/AppCenter-SDK-React-Native/issues/208)

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-02-05 09:43] angelru commented on #57
@BradVause @jwargo thanks, but the method PushNotificationReceived work when the app is background or closed?

[2019-02-05 13:54] jwargo commented on #453
@Eyesonly88 thanks, I'll have the team take a look at doing an update.

[2019-02-05 14:00] jwargo commented on #454
@Eyesonly88 thanks, I'll ask the team to take a look.

[2019-02-05 23:12] winnie commented on #453
Hi @Eyesonly88,

Thanks for the feedback! Unfortunately, our build service doesn't make the `mappings.txt` file available for download and doesn't automatically upload them to our Diagnostics service. This is something we hope to support in the future but isn't on our short term roadmap. I'll let you know if there are any updates.

In the meantime, you can upload your mappings file in UI under the

[2019-02-06 06:24] Suil3File opened #455 "Thank"
👌👍

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: b2564a62-1ac9-7f03-6474-0c74944319ed
* Version Independent ID: 816a828c-959f-c438-53bf-441db73aab6f
* Content: [App Center Distribute for iOS - Visual Studio App Center](https://docs.microsoft.com/th-th/appcenter/sdk/distribute/ios#disable-automatic-forwarding-of-application-d

[2019-02-06 13:29] jwargo commented on #453
@winnieli1208 close?

[2019-02-06 13:39] #455 closed

[2019-02-06 16:11] dotfig opened #456 "Problem with In-App Updates"
In app updates with Android version 5.1 does not function properly but Android version 7.0 does. Not sure why this is but is there a work around for this, or am I doing something wrong?

[2019-02-06 18:15] matt-paul opened #457 "Mention of Fastlane"
I'm unclear on the relevance of Fastlane, mentioned in the first paragraph...
``` Publish iOS app upgrades to the App Store and TestFlight with Fastlane in App Center.```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edcd9010-7381-ef0a-85ee-3289b742c8de
* Version Independent ID: 63c5a53d-e211-a17e-e0c0-27638748da7d
*

[2019-02-06 19:00] Eyesonly88 commented on #453
@winnieli1208 @jwargo Thanks for the reply but not all my questions were answered:

- Where is this `mapping.txt` file located when the app is built using app center?
- How can we send it ourselves using your API? an example would be highly appreciated
- Is the location of `mappings.txt` different between Android apps and React Native apps?
- Assuming someone figured out how to get this to work, w

[2019-02-06 19:36] jwargo commented on #457
@matt-paul I'll have the team take a look and clarifying that.

[2019-02-06 19:42] jwargo commented on #456
@dotfig The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2019-02-06 19:42] #456 closed, assigned to nobody

[2019-02-07 18:22] winnie commented on #454
Hi @Eyesonly88, thanks for the feedback! I've updated the [docs](https://docs.microsoft.com/en-us/appcenter/diagnostics/limitations) to mention this limitation.

[2019-02-07 18:23] #454 closed, assigned to winnie, blparr

[2019-02-07 19:09] Eyesonly88 commented on #454
Thank you.

[2019-02-08 14:06] Oddj0b commented on #452
Hi @justingden, I have updated the docs.

https://docs.microsoft.com/en-us/appcenter/distribution/testers/testing-android

[2019-02-08 14:06] #452 closed, assigned to Oddj0b

[2019-02-08 14:20] jwargo opened #459 "Anna test"
this ids a test

[2019-02-08 14:22] #459 closed, assigned to nobody

[2019-02-08 17:40] justingden commented on #452
Cool, thank you and that was quick :)

[2019-02-08 18:01] winnie commented on #453
Hi @Eyesonly88,

1. The location is dependent on the build system you use but for Android builds it's typically inside sth like `app/build/outputs/mapping/...`
2. We don't have any available APIs to retrieve the `mappings.txt` file. I've noted this as a feature request so our team can revisit this in the future.
3. Waiting to hear back from our engineering team to confirm
4. Here's a screenshot of

[2019-02-08 18:24] jwargo commented on #452
@justingden we aim to please!

[2019-02-11 20:28] mamdouht opened #460 "Adding Jira to Bug Tracker"
I had an issue doing that.
I am using Jira with Two-Step Verification. so I had to create an API token and use it instead of my password (using my ID). then i was able to connect Jira to Bug Tracker properly.
I think adding this to the documentation might help other people.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-02-11 21:26] jwargo commented on #460
@mamdouht thanks, I'll have the team take a look.

[2019-02-11 21:35] amchew commented on #460
Thanks @mamdouht for the suggestion and for using Jira as a bug tracker! I’ll make the changes in the docs shortly.

[2019-02-12 07:21] pfedotovsky opened #461 "Silent push for iOS without UI"
The documentation doesn't mention if it's possible to do silent push without UI.
I've filled GitHub issue about the topic: https://github.com/Microsoft/AppCenter-SDK-DotNet/issues/831

If silent push w/o UI is possible, documentation should describe how to do it. If not, it should also be explicitly stated in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-02-12 07:50] MatkovIvan commented on #461
Hi Pavel,

This is documented in [[Optional] Enable silent notifications](https://docs.microsoft.com/en-us/appcenter/sdk/push/xamarin-ios#optional-enable-silent-notifications) section.

Thanks,
Ivan

[2019-02-12 08:02] pfedotovsky commented on #461
That's not exactly what I'm asking.
I can send a silent push, that's working fine. But I still get UI notification that is presented to the user. I want to disable any user notification and just update app data silently. How to do it?

[2019-02-12 09:58] MatkovIvan commented on #461
@pfedotovsky leave the message field empty and put your data in "Custom data"

[2019-02-12 20:48] danim-hub opened #462 "How to enable line numbers in stack traces"
This document does not specify how to show line numbers in stack traces.  I understand *release* builds comes with no debugging information, but I think these releases can be "symbolicated" in iOS, and probably there is a similar verb for Android.  Please comment if it is possible to do this, and it will be really appreciated if you update this document accordingly.

---
#### Document Details

⚠ *

[2019-02-12 20:50] pfedotovsky commented on #461
@MatkovIvan thank you!

I leave "Message" & "Title" fields empty and now notification UI is not presented. I think this should be mentioned in the documentation.

However, when my app is in the background, a callback is not triggered (but when I open the app it is triggered). I believe it's due to how iOS processes background updates and I guess it should also be mentioned in the docs.

[2019-02-12 20:55] jwargo commented on #462
@danim-hub I'll have the team take a look at doing an update.

[2019-02-12 21:46] dstulic opened #463 "Crashes.SetEnabledAsync doesn't default to true on app restart"
Crashes.SetEnabledAsync stores value on disk, and the value is used on following app runs.
To repro:

first run
`
      AppCenter.Start("key", typeof(Crashes));
      Crashes.SetEnabledAsync(false);
`

second run
`
      AppCenter.Start("key", typeof(Crashes));
      //Crashes.IsEnabledAsync() - returns false
`

Looks like disabling crashes is stored on disk and value is used in following app runs

[2019-02-13 08:52] MatkovIvan commented on #461
You're welcome. I'll add a note to the doc about it.

[2019-02-13 14:07] jwargo commented on #463
@dstulic thanks, I'll have the team take a look.

[2019-02-13 15:00] 343max opened #464 "How do I enable this?"
How do I enable this feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edc4748f-3820-3b4d-b6d5-f0566063ce30
* Version Independent ID: 103d8b55-8719-dcaa-0670-d22e46e328cb
* Content: [Enable In-app Updates - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/distribution/inappupdates)
* Content S

[2019-02-13 15:10] jwargo commented on #464
@343max The document you referenced describes that this is automatically enabled when you add the SDK to your app.  If you're not sure how this works, App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the

[2019-02-13 15:10] #464 closed, assigned to nobody

[2019-02-13 15:46] 343max commented on #464
I'm pretty sure it isn't enabled by default, at least I never saw the screen for our builds.

In the end I've found a documentation here: https://docs.microsoft.com/en-us/appcenter/sdk/distribute/ios#add-in-app-updates-to-your-app

[2019-02-13 18:51] botatoes commented on #449
Hi, you should be able to upload .app.zip files. If you are experiencing an issue, please open an intercom ticket and we'll help you there.

I'll update the docs to include information about MacOS in our docs.

[2019-02-13 18:51] #449 closed, assigned to botatoes

[2019-02-14 05:56] winnie commented on #462
Hi @danim-hub,

We don't currently display line numbers in Xamarin stack traces. I'm actually in conversation with the Xamarin team as we think this is a limitation on the Xamarin side since we don’t process any Xamarin logs and line numbers are only available in debug builds of Xamarin apps.

In the meantime, I've noted this as a feature request to help our team prioritize this in the future. I'l

[2019-02-14 07:45] MatkovIvan commented on #463
Hi @dstulic,

This is by design. I'll add the note to our docs.

Thanks,
Ivan

[2019-02-14 13:55] toshe opened #466 "Is the query PUT, POST, DELETE?"
&gt; Stop collecting all SDK data for a specific device from the server:
Is this API query also a PUT query?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67fac13b-a00b-2ac8-682c-66ea2b5841b9
* Version Independent ID: e11445ce-4afa-a87b-102b-97df2b868bc7
* Content: [How to stop collecting data - Visual Studio App Cent

[2019-02-14 14:39] jwargo commented on #466
@iageoghe and @kpiteira can you fix this inconsistency in the docs?

[2019-02-14 15:13] #461 closed, assigned to nobody

[2019-02-15 05:38] SeanningTatum opened #467 "react-native@0.57.1: The engine "node" is incompatible with this module. Expected version ">=8.3". Got "6.16.0""
I don't know why I get this error, this error happens on android and ios

[code]

node version: v10.14.2
OS: Mac OS Mojave 10.14.2

[2019-02-15 12:16] Suil3File opened #468 "Gamecenter"
Nice

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: b2564a62-1ac9-7f03-6474-0c74944319ed
* Version Independent ID: 816a828c-959f-c438-53bf-441db73aab6f
* Content: [App Center Distribute for iOS - Visual Studio App Center](https://docs.microsoft.com/th-th/appcenter/sdk/distribute/ios#how-do-i-test-in-app-updates)
* Content Sou

[2019-02-15 13:07] #457 closed, assigned to Oddj0b

[2019-02-15 13:25] #468 closed

[2019-02-15 13:30] jwargo commented on #467
@SeanningTatum The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional inform

[2019-02-15 13:30] #467 closed, assigned to nobody

[2019-02-17 17:58] ariya opened #469 "Be specific on the location of .xcscheme file"
&gt; Then make sure the added .xcscheme file is added to source control and pushed to your remote repository - which App Center accesses.

Can be the location of the said .xcscheme file be given more specifically? I have tried to place at the top-level of the source directory, still no success (App Center does not recorgnize it). Placing it under the .xcodeproj directory? Same thing, no luck.

---

[2019-02-18 23:05] neeeeek100 opened #470 "768"
765

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9596a2ab-2a3d-66cc-bc9d-b06256bef86f
* Version Independent ID: 9c12d768-6e98-997b-192a-623e3d7bb68e
* Content: [App Center General Info - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/general/)
* Content Source: [docs/general/index.md](https://gi

[2019-02-19 15:07] jwargo commented on #469
@ariya thanks, I'll have the team take a look.

[2019-02-19 15:11] jwargo commented on #470
@neeeeek100 I don't understand what you're asking.

[2019-02-19 15:11] #470 closed, assigned to nobody

[2019-02-19 17:47] mikeberlin opened #471 "How do you disable bitcode in Visual Studio for Mac?"
I am not able to see where to disable bitcode from within Visual Studio for Mac. Where can this be disabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94f7999c-0c3c-ee5d-c8a9-29ee9aa0d622
* Version Independent ID: 1c9f21ed-86de-8e79-d007-e80945edf360
* Content: [iOS Symbolication - Visual Studio App Center](https:

[2019-02-19 18:25] jwargo commented on #471
@mikeberlin I'll have the PM team take a look at making this clearer. In the mean time, App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/getti

[2019-02-19 18:57] lumaxis commented on #471
Hey @mikeberlin!
For Xamarin.iOS projects, Bitcode is currently always disabled by default so there should be nothing for you to do here.
Are you already experiencing any issues with Bitcode and crash report symbolication?

[2019-02-19 19:16] mikeberlin commented on #471
Thanks for the reply. I am having some issues with uploading symbols within App Center. They sent me to this url to see if bitcode was enabled, and if so, to disable it.

https://docs.microsoft.com/en-us/appcenter/diagnostics/ios-symbolication

In that url, the directions are not very clear on how to disable it. It's good to know that it is disabled by default. I'll follow up with the App Center s

[2019-02-20 13:05] jameslavery-zz opened #472 "Viewing Xamarin.UITest results?"
We've got UITest testing working from DevOps, which is great. However, what would be really good is to be able to see the results (i.e. screenshots etc.) from within DevOps rather than having to go to App Center to view the results. Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb7bab69-cfac-aefa-3ec

[2019-02-20 13:31] jwargo commented on #472
@jameslavery I've asked the PM to respond.

Don't forget, App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/getting-started/welcome-to-app-cent

[2019-02-20 13:33] jameslavery-zz commented on #472
Thanks - I've used App Center support in the past, and have had good responses. I thought it would be better to ask this question here, as it's actually a DevOps question (i.e. seeing App Center results in DevOps).

[2019-02-20 14:30] jwargo commented on #472
@jameslavery well I don't have the answer for you, but we'll see what the product's PM has to say.

[2019-02-20 14:32] jameslavery-zz commented on #472
Thanks for pushing it to the PMs.

But the good news is that  I've just been told by the App Center support chaps that the App Center REST API is now available:

https://docs.microsoft.com/en-us/appcenter/api-docs/

I hadn't realised this would allow us to retrieve test result data.

So we can get details off App Center using this.

[2019-02-20 14:34] jwargo commented on #472
@jameslavery well then, there you go. How cool is that?  Just so you know, I'm a PM too - I just don't work with this service :-)

[2019-02-20 14:37] jameslavery-zz opened #473 "App Center API - example of how to download test results?"
Is there an example of the sequence of calls we need to make to download UITest results, including screenshots?

[2019-02-20 14:38] jwargo commented on #473
@jameslavery assigned the PM

[2019-02-20 17:27] dhei commented on #445
Close due to lack of response and unable to repro.

[2019-02-20 17:27] #445 closed, assigned to elamalani

[2019-02-21 02:55] amchew commented on #460
Thanks a lot again for sharing this feedback @mamdouht ! I've made a PR to update the docs here: https://github.com/MicrosoftDocs/appcenter-docs-pr/pull/1150.

[2019-02-21 02:58] amchew commented on #460
It will be published shortly, I'm closing this ticket for now. Feel free to reopen if you see any other issues!

[2019-02-21 02:58] #460 closed, assigned to blparr, amchew

[2019-02-21 09:16] rohancragg opened #474 "Add note to advise that 'Third-party application access via OAuth' policy setting must be enabled"
An Organisation Administrator (or Project Collection Administrator) needs to ensure that the setting 'Third-party application access via OAuth' is enabled  (found under 'Organisation Setting | Policies').

Seealso : https://docs.microsoft.com/en-gb/azure/devops/organizations/accounts/change-application-access-policies?view=azure-devops&viewFallbackFrom=vsts

---
#### Document Details

⚠ *Do not ed

[2019-02-21 11:20] alexandergoncharov-zz commented on #416
Hi @DLevai94 ,

That's good catch! Thanks! I've updated MS docs and Github docs.
Please feel free to reopen this issue if you have any questions.

Thanks,
Alexander

[2019-02-21 11:20] #416 closed, assigned to botatoes

[2019-02-21 13:16] userjeom3 commented on #474
Hi Rohan, it was my pleasure supporting you on this matter. I’ll see if I can put something on the doc. Thanks for your feedback.

[2019-02-21 13:17] wisdeom commented on #474
Hi Rohan, it was my pleasure supporting you on this matter. I’ll see if I can put something on the doc. Thanks for your feedback.

[2019-02-21 13:17] #474 closed, assigned to nobody

[2019-02-21 15:32] Oddj0b commented on #473
I am not aware of a plug-n-play solution, but let me ask around to find a solution and document it.

[2019-02-21 15:34] jameslavery-zz commented on #473
@Oddj0b Thanks - I'm not after a plug-n-play solution (that would be lazy), but a pointer/solution would be useful!

[2019-02-21 16:34] CyberFreek opened #475 "Code signing certificate security"
Hi,
The steps in this article instruct the developer to upload the Apple Code signing certificate (.p12 file) public and private keys into app center. Obviously if this certificate were to be obtained by a malicious user it could cause great damage to an organization. Can you describe what security measures are in place to restrict access to this certificate and ensure it doesn't fall into the wro

[2019-02-21 17:42] jwargo commented on #475
@CyberFreek don't forget, [Microsoft Runs on Trust](https://www.microsoft.com/en-us/legal/compliance/integrity), it's core to everything we do. Your stored certificate and credentials are protected. I'll ask the PM to update the docs with more details.

[2019-02-21 19:36] justingden opened #476 "Can't Find Public Download Link"
The text says "In addition to this, a public download link is displayed underneath the distribution group name at the top of the distribution group page. Anyone, including testers who aren't explicitly added to the distribution group, can access the release without signing in using the public download link."

I have looked on all the distribution group pages I can find and I can't find the Public

[2019-02-21 20:14] jwargo commented on #476
@justingden I'll have the team take a look.

[2019-02-21 21:21] ShaneQi opened #477 "App Center API Swagger Issue"
In this POST endpoint, it doesn't show an example of the request body. If I click 'try it out', it won't show the field of the request body, either.

https://openapi.appcenter.ms/#/build/branchConfigurations_create

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b113ae49-c84f-05c6-e4fd-e414e5c64304
* Version Independent

[2019-02-21 21:26] amchew commented on #477
Thanks a lot for letting us know @ShaneQi !
I'll chat with the team to edit this.

[2019-02-22 02:37] nilofer commented on #475
@CyberFreek certificates cannot be downloaded via the UI or the public API once they are uploaded. The download can only happen via a build on our agents that are torn down after each build and all of these can be traced. The communication between the server and the build agents is encrypted and only the agent can obtain the certificates and secrets.

[2019-02-22 02:37] #475 closed, assigned to nilofer

[2019-02-22 14:32] #453 closed, assigned to matthiaswenz, winnie, blparr

[2019-02-22 14:32] #462 closed, assigned to winnie

[2019-02-22 14:32] #463 closed, assigned to MatkovIvan

[2019-02-22 14:33] jwargo commented on #466
Docs updated

[2019-02-22 14:33] #466 closed, assigned to kpiteira, iageoghe

[2019-02-22 14:34] #471 closed, assigned to winnie, blparr

[2019-02-22 19:43] harlando commented on #469
I am also getting the same error. Bootstrapped the app, pushed to BitBucket and got the same issue. All my schemes are shared. I am not using an Xcode workspace....just a project. I'm not sure how/where to get this xcscheme file. My other React Native project on App Center has been building fine since last year... thank you for helping

[2019-02-22 20:17] botatoes commented on #476
@justingden you need to make the distribution group public. Go to the distribution group and click on the wrench icon then check the app can be downloaded by anyone toggle
<img width="555" alt="image" src="https://user-images.githubusercontent.com/7900087/53268727-c1288600-369b-11e9-8f89-db813e8adfa5.png">

[2019-02-22 20:17] #476 closed, assigned to botatoes

[2019-02-22 20:19] justingden commented on #476
Please don't close this. I don't see what you sent me. See this screenshot.

[image: image.png]

Thank you,

Justin

On Fri, Feb 22, 2019 at 1:17 PM Bo-ying Fu <notifications@github.com> wrote:

[2019-02-22 20:31] justingden commented on #476
![image](https://user-images.githubusercontent.com/47331336/53269437-17022b80-36a6-11e9-825b-268061d1eb58.png)

Here is the screenshot with the setting already turned on, there is NO public url.

[2019-02-22 20:34] justingden commented on #476
The screen snippet you sent also contradicts the documentation, which says "a public download link is displayed underneath the distribution group name at the top of the distribution group page".

[2019-02-22 20:42] jwargo commented on #476
@justingden The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs. We'll work on updating the docs.

It sounds like you're having trouble seeing what we're seeing, so it's best you take this to support.

App Center support is provided directly from within the App Center portal. Any time you need help, jus

[2019-02-22 20:49] justingden commented on #476
Ok, will do. On the doc side you should look at my last comment, as where
the public URL is obtained from, if it works like the screen snippet, is
different from the doc.

Thank you,

Justin

On Fri, Feb 22, 2019 at 1:42 PM John M. Wargo <notifications@github.com>
wrote:

[2019-02-22 20:57] botatoes commented on #476
@justingden You can set public for specific distribution groups. You are in the people tab under the org, meant for managing people, not groups. If you go into an app, go to the specific distribution group you want to make public, you should see the screenshot I posted once you click on the wrench.

[2019-02-22 21:01] justingden commented on #476
Thank you, Bo-ying, that is exactly what I was looking for and it does show
up under the distribution group name on that page, as the doc says.

You might want to add that minor clarification to the doc for people like
me that are confused as to with distribution page.

Thank you again!

On Fri, Feb 22, 2019 at 1:57 PM Bo-ying Fu <notifications@github.com> wrote:

[2019-02-25 13:39] ClaraLaMa opened #480 "Distribution Group Button is missing"
Hi, my organization was imported from hockeyApp to MS appcenter. Now picking my organization and the "people"-button the "Distribution Groups"-button is missing. Creating a new organization in MS appcenter the button exists but in the imported app is doesn't. It woud be nice to have a consistent menu in my organizations. Can you fix this please? Thanks!

---
#### Dokumentdetails

⚠ *Bearbeiten Sie

[2019-02-25 14:20] m2u-84 commented on #480
Indeed this issue is very irritating. Below I have attached a comparison of the current situation:

![comparison](https://user-images.githubusercontent.com/11140006/53343181-0a810b80-3910-11e9-9833-0168cf5c32c1.jpg)

We had to create a new organization to find out that this functionality is indeed missing for migrated organizations. Also, the instructions are rather misguiding: “On the People page

[2019-02-25 15:51] jwargo commented on #480
@ClaraLaMa The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informatio

[2019-02-25 15:51] #480 closed, assigned to botatoes, dimazaid

[2019-02-25 16:03] m2u-84 commented on #480
That’s what I tried to do in my comment above:

Could you please clarify why these steps don’t seem to be accurate? Did I miss something? Is it due to the migration scenario? (Please refer to my screenshot above.)

Thanks in advance!

[2019-02-26 14:15] dotfig opened #481 "In-App Updates per Android OS Versions"
I have the in-app updates enabled and running on my device. However, when I try to update on my Android v5.1 device, it does not work but when I update on my Android v7.0 device, it does work. Not sure if the feature only works for specific SDK versions of Android?

On my Andoidv5.1 device, there is a *downloadfile.apk* file that is put in my Download Manager but it does not work

[2019-02-26 14:22] jwargo commented on #481
@dotfig The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2019-02-26 14:22] #481 closed, assigned to nobody

[2019-02-26 19:48] amrutha786 opened #482 "Not able to add Apple Developer Account"
I am not able to add Apple Developer Account in Distribute > Store, Attached is the screenshot of error that I am seeing.

<img width="429" alt="screen shot 2019-02-26 at 11 47 58 am" src="https://user-images.githubusercontent.com/21096553/53441781-6608d300-39bc-11e9-80f8-81984039f165.png">

I have enabled Two Step Verification instead of Two Factor authentication.

[2019-02-26 20:33] jwargo commented on #482
@amrutha786 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informati

[2019-02-26 20:33] #482 closed, assigned to nobody

[2019-02-28 02:17] junpark12 opened #483 "Build menu for windows app."
Hi I created windows app(unity).
But i don't see build menu on the portal.
If i create iOS app, there's a build menu.
So how can i see build menu if i use windows app?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06813350-a37b-a4a2-fdbc-a59caefb9f32
* Version Independent ID: 29787958-5b4e-efc2-2af5-2af0ee53216

[2019-02-28 04:06] hsc-alexe commented on #453
@winnieli1208 @ranterle
Do you have any updates on the prioritization of this request or when we could expect to see this feature implemented? My team has been using AppCenter to build & distribute our app, but not being able to deobfuscate crashes is frankly not an acceptable place for us to be in long-term.

[2019-02-28 14:21] jwargo commented on #483
@junpark12 I don't think we support Unity apps in Build.

The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated suppo

[2019-02-28 14:28] jwargo commented on #453
@hsc-alexe I'm not sure if the feature has been proposed [here](https://github.com/Microsoft/appcenter/issues) but that is the quickest view to our roadmap and your opportunity to get your item on it.

[2019-02-28 15:16] nilofer commented on #483
@junpark12 we don't support building Unity apps. If the Build section doesn't appear in the menu for a particular app, it means we don't support CI for that app at the time.

[2019-02-28 15:16] #483 closed, assigned to maestersid, nilofer

[2019-02-28 22:21] Eyesonly88 commented on #453
@hsc-alexe I've proposed a feature for Android source maps (upvote if this is what you need too) > https://github.com/Microsoft/appcenter/issues/75

[2019-03-01 20:38] matthiaswenz commented on #453
@Eyesonly88 regarding your question

It is not significantly different, where in your typical Android app the mappings.txt would be here:
`app/build/outputs/mapping/{variant}`
for React Native they are here:
`android/app/build/outputs/mapping`

[2019-03-01 23:23] jacob-israel-turner commented on #39
Hey guys!  Kind of want to piggy back this thread since it's gotten a little traffic.

It would be nice if we could configure both a sandbox and production environment for the push notifications, so that I don't have to choose whether I want to send notifications to a local device for development or a device in TestFlight/production.  I'd rather be able to switch between the environments, similar

[2019-03-03 09:00] bogan opened #485 "Suggest Including Information about using App Center Diagnostics in a Development Scenario"
The sub articles for each platform (Android, iOS, etc) each state that "Collecting crashes works for both beta and live apps". This is good but I think you should also include information about whether it is possible to write diagnostic information to AppCenter in a "development scenario" as well (e.g. when running an Xamarin iOS app via Visual Studio in either an "device" or "simulator" scenario)

[2019-03-04 14:28] jwargo commented on #39
@jacob-israel-turner we opened up a GitHub repo to publish our roadmap and gather feedback - the best place to give feedback is https://github.com/Microsoft/appcenter

[2019-03-04 14:35] jwargo commented on #485
@bogan I'll pass on the feedback, but I'm not certain this really needs to be clarified.

When you add the SDK to an app, we start collecting data (unless you deliberately disable the SDK) - no matter where the app runs. You don't need any special environment for us to do the work we promised you we'd do - we just do it.

[2019-03-05 16:00] RyanThomas73 opened #486 "Incorrect Documentation"
The documentation item 3.2. states that the appcenter binaries can be downloaded directly and links to the releases page of the github repo. The downloaded releases zip, however, does not contain the compiled frameworks that the documentation references. It contains only the source .xcodeproj / .xcworkspace project files. The release zip needs to contain the .framework build results.

---
#### Doc

[2019-03-05 16:07] nilofer commented on #469
@ariya @harlando we should be able to pick them up if they are under the project folders where Xcode creates them by default.

If you are still facing issues, please reach out to App Center support which is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. F

[2019-03-05 16:07] #469 closed, assigned to nilofer

[2019-03-05 16:14] jwargo commented on #486
@RyanThomas73 I've asked the SDK team to respond.

[2019-03-05 16:46] RyanThomas73 commented on #486
@jwargo Thanks. After adding the comment on the documentation I realized that all of the release zips up to the most recent have the correct files (e.g `1.13.1` has the correct .framework build files in the expected folder structure). It is only the most recent `1.13.2` release zip that does not have the build files, it instead contains the source contents of the github repo.

I entered this issue

[2019-03-05 18:38] achocron commented on #486
Replied on the other issue so closing this one out.

[2019-03-05 18:38] #486 closed, assigned to elamalani

[2019-03-05 19:33] johnxy84 opened #487 "Unable to access Environment Variable"
I'm using the pre-build script on Android to access my secret but I get '***' when I'm reading and echoing the environment variable. It's just a string within my app so no easy way to know if it worked. Are there extra things to consider when setting and reading envs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97f3

[2019-03-05 19:35] jwargo commented on #487
@johnxy84 There's nothing special that I know of - we're just reading the environment variables from the build system. If this isn't working for you, you're better off asking the support team.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will r

[2019-03-05 19:35] #487 closed, assigned to nobody

[2019-03-06 00:21] philihp opened #488 "Accessing in Xcode"
How can these be accessed in Xcode?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97f3af3f-ef07-8896-4b3c-05cef163b51a
* Version Independent ID: b4b1f6a4-5975-358b-1cf4-f7b10a2245cd
* Content: [Environment Variables - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/custom/variables/)
* Conte

[2019-03-06 01:19] philihp commented on #488
To add some clarity here, I have two branches, one for `staging` and one for `release`, each of which has an environment variable giving it a `CODEPUSH_KEY`.

When I add a build step that does a `printenv` command to list all the variables, I see it showing up as `USER-DEFINED_CODEPUSH_KEY`, but environment variables allowed to have a dash in them, so printing this results in printing the value of

[2019-03-06 13:40] jwargo commented on #488
@philihp I'll ask someone on the build team to respond, but you should probably just ask support for help.  The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.  If feels like a doc update would help here, but we can do that after you resolve your issue.

App Center support is provided directly from wit

[2019-03-06 14:19] valdetero commented on #255
@glennwester why was this closed? The docs do not appear to be updated.

[2019-03-06 14:59] jwargo commented on #255
@valdetero I'm not sure - I think it's because he thought he'd make an update, but didn't.

[2019-03-06 15:00] jwargo commented on #255
@Oddj0b Can you take care of this please?

[2019-03-06 15:48] clive107 commented on #415
Hi all, does appcenter push able to handle push notification when react native iOS app is not running?

[2019-03-06 16:14] jdnichollsc commented on #415
@clive107 yes Sir, from my experience :)

[2019-03-06 16:19] jwargo commented on #415
@clive107 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs. when you have questions, just ask our support team.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated s

[2019-03-06 22:29] nilofer commented on #477
Hi @ShaneQi, thanks for bringing this to our attention. The team will get this fixed so this endpoint shows a request body.

[2019-03-06 22:29] #477 closed, assigned to nilofer

[2019-03-07 15:26] jpage4500 opened #489 "Appcenter upload API step d) not working ("Cannot PATCH")"
I'm trying to write a shell script to build and upload our app to AppCenter. I've done this for HockeyApp but apparently the same upload API doesn't work with AppCenter.

I'm following the guide here: https://docs.microsoft.com/en-us/appcenter/distribution/uploading#uploading-using-the-apis

My curl commands worked for steps a - c (getting a URL, uploading the apk, then 'commiting' the release). B

[2019-03-07 15:34] jwargo commented on #489
@jpage4500 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informatio

[2019-03-07 15:34] #489 closed, assigned to nobody

[2019-03-07 15:35] jwargo commented on #255
@brianhager we updated the docs, thanks for pointing this out. Sorry it took so long

[2019-03-07 15:35] #255 closed, assigned to Oddj0b

[2019-03-07 15:37] jwargo commented on #485
@bogan the PM made a clarifying note in the docs. Thanks for suggesting it.

[2019-03-07 15:37] #485 closed, assigned to winnie, blparr

[2019-03-07 20:27] nilofer commented on #488
@philihp the ```USER-DEFINED_``` prefix is added by App Center when you add an environment variable when configuring the branch. There isn't a way around this. If you need still need more specific help, please reach out to our support via the blue bubble in the App Center portal.

[2019-03-07 20:27] #488 closed, assigned to nilofer

[2019-03-07 23:50] philihp commented on #488
@nrajpurkar can that prefix be changed to `USER_DEFINED_` for reasons in https://unix.stackexchange.com/questions/23659/can-shell-variable-include-character/23714#23714? This would be a breaking change, but I don't imagine they're very useful with that dash.

[2019-03-08 06:49] dennispan commented on #487
@johnxy84 They are intentionally masked in the logs because they are "secret" variables. Any occurrence of the same value are masked in the build logs. To validate it, a possible workaround would be to echo a substring of it.

[2019-03-08 07:26] dennispan commented on #488
@philihp If you access the variables in the places documented here: https://docs.microsoft.com/en-us/appcenter/build/custom/variables/#access-the-variables , then `USER-DEFINED_` prefix is not needed. To access them elsewhere, unfortunately there is currently no workaround. I'd encourage adding a new feature request here: https://github.com/Microsoft/appcenter

[2019-03-08 10:41] jeevacodepro opened #491 "The setting "Build this branch on every push" doesnt trigger automated build"
As per the documentation "The default setting for build frequency is Build this branch on every push. Every time you push code to a configured branch, a build will automatically begin. You can enable this continuous integration feature or opt to manually choose when builds run."

Ideally when a commit is made on a branch we would expect a build triggered but in my case I need to manually trigger t

[2019-03-08 13:20] jwargo commented on #491
@jeevaeastpoint It sounds like this isn't working as expected for you, so I suggest you reach out to our support team. App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https:

[2019-03-08 13:20] #491 closed, assigned to nilofer

[2019-03-08 18:05] johnxy84 commented on #487
Thanks Dennis. I outputted it within my app and confirmed it actually it's there.
________________________________
From: Dennis Pan <notifications@github.com>
Sent: Friday, March 8, 2019 7:49:46 AM
To: MicrosoftDocs/appcenter-docs
Cc: John Okoroafor; Mention
Subject: Re: [MicrosoftDocs/appcenter-docs] Unable to access Environment Variable (#487)

@johnxy84<https://github.com/johnxy84> They are int

[2019-03-12 14:39] richardgroves commented on #472
@jameslavery - Did you have any look getting data out? I'm trying for XCUITest on iOS and the test runs report end point provides limit data for each test (no duration for example). It does give the URL (on AWS!) for the Test Logs and that has the breakdown but in txt format.

[2019-03-12 14:51] jameslavery-zz commented on #472
I haven't had a chance to investigate further I'm afraid. I might get a chance later today or tomorrow!

[2019-03-13 10:09] zaltzy opened #493 "Crashes Webhook on Slack is pretty minimal"
Are there any plans on enhancing it (The HockeyApp Crashes webhook was way more descriptive).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c79d5a18-b4d0-a8c4-b482-d79284c82ad4
* Version Independent ID: 8dff2b5d-ae26-5f4a-0f56-b19ac446fcf0
* Content: [App Center Webhooks Documentation - Visual Studio App Center](https

[2019-03-13 10:26] Crysis21 commented on #53
God, I hate this thing. I spent my whole morning trying to figure out what the hell is happening. I use appcenter for a long time, so I didn't have time to read the docs again, but this behaviour was unexpected to me.

[2019-03-13 15:00] differenz-system opened #494 "Push notifications not work on Xamarin.Forms Android device (Android 8.0 or higher Version) when app is in foreground"
Push notifications not work on Xamarin.Forms Android device (Android 8.0 or higher Version) when app is in foreground.
All working good in lower then Android 8.0 version. but its not work in Android 8.0 or higher Version.

[2019-03-13 15:50] jwargo commented on #493
@zaltzy are you suggesting a better example?  You pretty much do whatever you want with the webhook, we're just trying to get you started. I've asked the PM team to respond.

[2019-03-13 15:53] jwargo commented on #53
@Crysis21 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs. I do not see either in your comment.

If you're having trouble getting something to work - ask our support team for help. App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue

[2019-03-13 15:56] jwargo commented on #494
@differenz-system The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional inf

[2019-03-13 15:56] #494 closed, assigned to nobody

[2019-03-13 16:01] zaltzy commented on #493
I can't really do a lot with the Webhook when it comes to Slack - in order to do that I need to change the JSON on the POST that's being sent, and I can't seem to find any documentation on how to do that in App Center...

[2019-03-13 16:07] dipree commented on #53
@Crysis21 please consider submitting a feature request in our [public repo](https://github.com/microsoft/appcenter).

[2019-03-13 16:17] jwargo commented on #493
@zaltzy I don't think you can change the JSON that's sent. You simply get a webhook URL and configure App Center to use it - that's how I understand this works. We send a crashes package and Slack renders it. I'm not an expert, but that's what the documentation tells me.

[2019-03-13 16:24] jwargo commented on #493
@zaltzy I just double-checked and what I said above is true. You configure the webhook URL and we send the data we want. We could, and probably should, document the payloads we send based on the event type, that could be useful (what do you think).

If you want to manipulate what's sent to Slack, you could use something like Azure Functions, Microsoft Flow, or even IFTT to proxy the hook, manipula

[2019-03-13 16:24] #493 closed, assigned to winnie, amchew

[2019-03-13 16:30] jwargo commented on #472
@jameslavery @richardgroves if you have any issues getting this to work, just reach out to our support team. They'll help you.

[2019-03-13 16:35] jameslavery-zz commented on #472
@jwargo Thanks - I had a problem generating the C# classes using swagger-codegen, and Vyas identified that it's a problem with only C# generation. He's passed this on to the CLI team.

I'm using NSwagStudio to generate my client  - which seems more successful. So making progress!

[2019-03-14 10:26] jameslavery-zz commented on #472
Right - I've made progress but am getting frustrated.

Problems so far:
Calling:

returns invalid data - the first block for "master" has "passed" as the value of "passed" - but the schema requires this to be numeric. Consequently the data fails to deserialise from the returned JSON.

Then calling:

returns data which doesn't adhere to the Swagger contract. For example:

- app_upload_id not suppli

[2019-03-14 10:55] richardgroves commented on #472
I'm taking a different approach and using a BASH script to pull the JSON
down and processing based on what I see rather than what any schema claims
might be there.

(I'm using XCUITest runs so for other platforms your output might be
different)

So far I'm using:

https://api.appcenter.ms/v0.1/apps/$project_owner/$app_name/user/device_sets

to get the deice id's to map to device names.

Then use t

[2019-03-14 11:02] jameslavery-zz commented on #472
I was hoping to use the power of Swagger with the tools for generating C# clients to 'just do it'. The aim is to be able to produce a PDF test report.

Bearing in mind the API should adhere to the Swagger contract, it needs to be fixed! Just a bit frustrating that we're acting as testers on the API it seems. I know it's in preview, but...

I think it's worth persevering with this - because it's a

[2019-03-14 17:04] jwargo commented on #472
@jameslavery @richardgroves I'm so sorry you're having an issue with this. I'd absolutely get with support and get this working ASAP. They'll push for any swagger or docs updates needed to fix this for other customers. I've also asked the PM to jump into this conversation.

[2019-03-14 17:09] jameslavery-zz commented on #472
@jwargo - Thanks. This will be great when it works! It needs people using it 'for real' to tease out the errors and inconsistencies. I'm trying not to be the bloke who is continually complaining "and another thing...!"

[2019-03-14 17:18] Oddj0b commented on #472
@jameslavery @richardgroves I will be working with you guys on this issue. Right now I am pinging the engineers in Denmark to hear if they know of other customers doing this. The second step is fixing the API so that it follows Swagger rules.

[2019-03-14 17:36] richardgroves commented on #472
Appreciate that you are taking this seriously - I expect James and I are
not the only people getting data out of App Center will be useful for.

On Thu, 14 Mar 2019 at 17:18, Villars Gimm <notifications@github.com> wrote:

--
Richard Groves
Technical Director | NoodlFroot

M: +44 (0)7962 054 163

www.noodlfroot.com

NoodlFroot Limited is a company registered in England and Wales with
registration

[2019-03-14 17:40] jameslavery-zz commented on #472
@Oddj0b, @jwargo - thanks for the attention.

I may be out of the office tomorrow and Monday, so won't be able to respond to any updates. (This is weather dependent - I'm meant to be delivering a yacht this weekend but we've got serious storms forecast in the UK. Bad weather = in the office).

[2019-03-15 18:07] GiorgioG opened #496 "Scroll much?"
This page might be a tad long and useless.  Make it searchable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0c64c24-c463-0383-84ca-35465cd40f47
* Version Independent ID: 391d0c7a-f6e5-3269-c616-e83266050331
* Content: [Devices Available - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/test-clo

[2019-03-15 19:49] Oddj0b commented on #472
I am working with my engineers to find a solution. Hopefully, my next update will be better.

[2019-03-15 20:25] owenniblock commented on #472
While we investigate this - I wanted to let you know what we're doing internally.

On our App Center Test task - we have set a couple of extra runOptions:

We then use a Publish Test Results task to merge and display the results within Azure DevOps.

Currently - this does not display screenshots but it will give you a better way of displaying the results which you can use while we look in to the A

[2019-03-15 20:33] jwargo commented on #496
@GiorgioG to search it, press ctrl-F (Windows) or command-F (macOS) and type the search term you're looking for.  It's a docs page, so there's no other way to search this content. We added this to document the device list, when you're in the product and building device groups, you can use search to find the devices in the catalog more easily.

[2019-03-15 20:33] #496 closed, assigned to Oddj0b

[2019-03-15 20:40] dstulic opened #497 "Crashes.GetErrorAttachments doesn't upload data, not documented"
1)
Crashes.GetErrorAttachments - ErrorAttachmentLog.AttachmentWithText does not upload data.
I'm providing correct file path to the file, but the web portal only shows the "key".
Is there a functional example that actually proves that this functionality works?
2)
The documentation is really slim and could use additional details for these methods. For example:
ErrorAttachmentLog.AttachmentWithBinar

[2019-03-15 20:45] jwargo commented on #497
@dstulic I'll have the PM team take a look. In the mean time, if you're having trouble getting something to work, just reach out to our support team, they'll help you out. App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional

[2019-03-15 20:56] dstulic commented on #497
@jwargo I would, but it takes them a day to respond and quality of response is really low... :/

[2019-03-16 12:10] jwargo commented on #497
@dstulic well, that's the only way to get support. The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs. I've asked the PM team to take a look at your questions and address any potential docs issues.

[2019-03-18 08:18] jameslavery-zz commented on #472
Hi Owen,
Thanks -that's great. I'll take a look in the next couple of days  (I'm out of the office today). The screenshots are one of the main things we're interested in, so any update on handling/publishing those would be really useful.

Regards,

James
________________________________
From: Owen Niblock <notifications@github.com>
Sent: 15 March 2019 20:25
To: MicrosoftDocs/appcenter-docs
Cc: Jam

[2019-03-18 10:42] eebart opened #498 "Adding an AppCenter connection with a YAML build pipeline"
How do I manage the AppCenter Distribution task within a YAML-based build pipeline. I am unable to convert to a visual build pipeline, and cannot figure out specifically how to set up the App Center Connection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28aa9747-f64a-d886-487d-8ebb97d717b8
* Version Independent ID:

[2019-03-18 15:37] jwargo commented on #498
@eebart The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2019-03-18 15:37] #498 closed, assigned to nobody

[2019-03-18 16:34] anitconsultantllc opened #499 "App Center API Swagger (In Preview)"
I'm looking specifically at the "PUSH" section of the API for push notifications.  Most of these API endpoints are returning...

{"message":"Forbidden","code":"Forbidden"}

...after authenticating myself at the top.  Are these working yet and just turned off or am I missing something in utilizing this swagger doc?

DEVELOPER COMMAND PROMPT OUTPUT
---------------------------------------------------

[2019-03-18 17:10] jwargo commented on #499
@anitconsultantllc Sorry about that - the Swagger isn't properly showing the options you need to use. We're working on an update to fix this. this is where it's likely failing: `"notification_target": { "type": "string" }` you must provide an actual type there. here's an example: https://docs.microsoft.com/en-us/appcenter/push/rest-api#send-notifications-to-device-ids.

[2019-03-18 18:07] Oddj0b commented on #473
Let's keep the conversation going in #472

[2019-03-18 18:07] #473 closed, assigned to Oddj0b

[2019-03-18 21:29] dstulic commented on #497
@jwargo i understand your point of view, and I am talking to support team as well. So while that is slowly moving, I decided to ask you to improve on documentation. Specifically, I've asked you to:
1) provide a working example of **AttachmentWithText**
2) provide information for ** contentType** in **AttachmentWithBinary**
3) and suggested to add a string key value pairs as an attachment; as oppos

[2019-03-18 21:32] winnie commented on #497
Hi @dstulic,

Thanks for your feedback! I plan to improve our documentation this week so stay tuned :) It's really helpful to hear this kind of feedback directly from our users and I appreciate you taking the time to write this up.

[2019-03-19 05:39] stankovski commented on #499
Try sending a push via the AppCenter portal with Developer Tools enabled (F12). The portal calls the same API. This way you will be able to see the exact payload, check the app URL, and verify that your user has access to perform this operation.

[2019-03-19 12:04] stephenhauck opened #500 "Unhandled Exception: Java.Lang.SecurityException: <Timeout exceeded getting exception details>"
Just a heads up to all that develop on Windows and Mac
I got this error and it was killing me for about 20 minutes then I remembered that I had been testing push messaging on my Macbook Pro emulator and had to explicitly add Google Play to the emulator image .. I had not done this on the emulator on my Windows machine

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-03-19 16:22] jwargo commented on #500
@stephenhauck thanks for pointing this out, I'll ask the PM take a look at updating the docs.

[2019-03-19 16:23] jwargo commented on #500
@stephenhauck hey, look at that - you're our 500th doc issue since we went live a little more than a year ago.

[2019-03-20 00:24] iamclement commented on #500
@stephenhauck thanks for getting in touch. You are right and to be precise one need an emulator with Google APIs images to test push notifications. This is mentioned at the beginning of [the push documentation for AppCenter Android](https://docs.microsoft.com/en-us/appcenter/sdk/push/android). Perhaps we should make it more explicit.

[2019-03-20 00:34] stephenhauck commented on #500
It’s not that, the documentation was clear about needing it  ... the error it throws is JUNK, you can’t trap it and figure it out is the problem .... maybe a footnote that you could get this error without the Play API ?

Stephen

[2019-03-20 13:46] kirill-dev-pro opened #501 "This seems cool"
But how about Expo support for react-native?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ed0fde7-9e78-c318-9f8c-9d921ec7d7b3
* Version Independent ID: 946ead1c-4b65-8318-c77a-ef98873adac7
* Content: [Get Started with React Native - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/getting-sta

[2019-03-20 15:13] jwargo commented on #501
@Zmeu213 what specifically are you looking for? Can you be more specific?

[2019-03-20 15:48] kirill-dev-pro commented on #501
@jwargo Sure, I was looking for docs related to connecting react-native app to app center. Current doc page describes what to do with plain react-native application but it doesnt work with [Expo](https://expo.io). So I was asking is there are plans for adding more information about this?

[2019-03-20 15:53] jwargo commented on #501
@Zmeu213 but what would you want to be able to do with Expo in App Center?  Expo is a runtime container, so your react native app isn't an executable binary we can work with. What are you trying to do that you can't do today?

[2019-03-20 16:00] kirill-dev-pro commented on #501
@jwargo well, my motivation was to find a way to make auto test pipeline for different devices and collect bugreports and analytics from app. I thought app center was made for this

[2019-03-20 16:03] jwargo commented on #501
@Zmeu213 it is. I'm just not sure how to do that with Expo as expo's the app, not the React Native app.  I don't have enough experience with Expo to know how you'd add third-party SDKs to the Expo runtime. I'll ask the PM to respond.

[2019-03-20 16:17] annakocheshkova commented on #501
I saw several people working with expo.

[2019-03-20 16:21] jameslavery-zz commented on #472
I may be missing something on the documentation front - but where/how do I set --test-output-dir and --merged-file-name in my YAML AppCenterTest task definition?

Ah - think I've worked it out.

    runOptions: --test-output-dir $TestOutputDir --merged-file-name UITestResults.xml

[2019-03-20 18:57] guperrot commented on #500
There is not supposed to be an unhandled error, do you mean your app actually crashes?
Can you give more details about the repro and exactly what you see?

[2019-03-20 18:59] stephenhauck commented on #500
The app DOES crash with that error ... if you run it on an emulator without
Google Play

On Wed, Mar 20, 2019 at 2:57 PM Guillaume Perrot <notifications@github.com>
wrote:

--
*Be bold, make a difference and don't take no for an answer!*

[2019-03-20 19:09] guperrot commented on #500
Ok that's new/recent then. Trying to repro.

[2019-03-20 19:20] guperrot commented on #500
@stephenhauck I cannot repro, when I launch on emulator without Google Play image I just get an error that Firebase library logs on logcat but no crash:

`E/FirebaseInstanceId: Google Play services missing or without correct permission.`

What emulator are you using exactly?
Also can you share the full Java stack trace? Multiline with all method names in the stack, not truncated.

Thanks in advanc

[2019-03-21 09:00] annakocheshkova commented on #501
@Zmeu213 sorry for the previous incorrect response. Unfortunately, we have no official support of Expo so you have to eject/detach Expo before linking the SDK.

[2019-03-21 10:06] kirill-dev-pro commented on #501
@annakocheshkova but is there any plans of adding such support in the future or this seems impossible or unnecessary?

[2019-03-21 16:22] richardgroves commented on #472
I've got some results coming through to VSTS now from App Center - using my
own custom script to scrape the API and build a bunch of JUnit xml output
files.

So far it is pretty fragile: It seems that every few runs I'll find a data
item that breaks from what I expect.
The latest being that the test report device_logs section didn't have an
entry for one device in a run...but others include timest

[2019-03-21 17:02] elamalani commented on #497
@dstulic Here is the documentation for AttachmentWithText  API - https://docs.microsoft.com/en-us/appcenter/sdk/crashes/xamarin#add-attachments-to-a-crash-report

We support all the binary content like png, jpeg, gif, zip, doc etc. for AttachmentWithBinary API.

[2019-03-21 20:54] DJSlydeezy opened #502 "Android SDK"
None so far

[2019-03-21 20:55] #502 closed, assigned to nobody

[2019-03-21 21:35] owenniblock commented on #472
@richardgroves I would recommend using the approach outlined above (rather than rolling your own JUnit xml).

This downloads the xml files generated by the NUnit console during test execution and merges them in to a single file.

It should list failures and the errors generated by failures. It might not pick up crashes (if that crash doesn't trigger a test failure) even though we do try to display

[2019-03-22 10:09] annakocheshkova commented on #501
@Zmeu213 no, unfortunately that's inpossible since we use the native code.

[2019-03-22 11:00] kirill-dev-pro commented on #501
Okay, thanks for response

[2019-03-22 11:00] #501 closed, assigned to elamalani

[2019-03-25 08:41] annakocheshkova commented on #500
@stephenhauck hi, do you have any updates?

[2019-03-25 12:24] richardgroves commented on #472
@owenniblock Thanks, but I can't get that working.

I've added the suggested options to the VSTS App Center Test -> Run Options, and it shows up as being used in the logs, but no files are returned back into my build area, and so the Publish test report phase finds nothing.

[2019-03-25 12:52] richardgroves commented on #472
@owenniblock Taking an alternative approach and trying to use the appcenter CLI to download test results:

appcenter test download --test-output-dir . --test-run-id _<test run id>_ --merged-file-name UITestResults.xml --app _<username/appname>_ --token ***

Gives me:

Current test status: Done!
Total scenarios: 1
1 passed
0 failed
Total steps: 1

Error: XML reports have not been created

On a run

[2019-03-25 12:56] jameslavery-zz commented on #472
That's odd - it works for me. Today I'm not at the client site where I got this working, so I can't check it out right now. I'm there tomorrow - I'll have a look and update you. Note that I'm using YAML for the build pipeline configuration.

[2019-03-25 19:25] pmahend1 opened #503 "Value of ${applicationId} ?"
Whats the value of `${applicationId} `; if I enter the App Id from AppCenter it gives error in build since it contains `"-" `
Tried putting App Id ie `mobilesdk_app_id` from firebase but it contains `":" ` ; that errors too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed528dcd-ecaf-697e-c64a-30651d26ff3d
* Version I

[2019-03-25 22:12] IgorGanapolsky opened #504 "Robolectric AndroidX"
I would like to use Robolectric AndroidX with Espresso API to test my UI on the JVM instead of emulators:  http://robolectric.org/androidx_test/  Is this currently possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28fe6afc-06ad-8465-f29a-04b2a118a378
* Version Independent ID: 73b3398b-23b8-230d-d296-8900e053096a

[2019-03-26 12:05] smartprogrammer93 commented on #503
I left it as is. it worked like a charm :p

[2019-03-26 12:33] jwargo commented on #503
@pmahend1 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information

[2019-03-26 12:33] #503 closed, assigned to nobody

[2019-03-26 12:36] jwargo commented on #504
@IgorGanapolsky The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional infor

[2019-03-26 12:36] #504 closed, assigned to nobody

[2019-03-26 20:57] guperrot commented on #503
You have to use `${applicationId}` as is and not replace it. The build system will replace it for you (with the package name).

[2019-03-28 11:04] SunjayKalsi commented on #407
Any time frame on publishing to Windows Store support? I feel this is important as HockeyApp is being retired later on this year

[2019-03-28 13:24] jwargo commented on #407
@SunjayKalsi we started publishing our current roadmap here: https://github.com/Microsoft/appcenter/issues. You also have the ability to request features on that repo and highly voted features make it into our roadmap.

[2019-03-28 14:35] c-lamont opened #506 "No Header"
There is no information on what to do with the API Token.
I believe the API Token needs to be set as a header, is that correct?
If so what is the Key?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aadf839d-04fb-8d6e-dd5d-57a79c1d0914
* Version Independent ID: ea1d2e77-e3dd-19c7-9abd-ecd8f156a00c
* Content: [Using the

[2019-03-28 14:38] jwargo commented on #506
@c-lamont it does and I updated the docs recently to show that, but I don't see it.

[2019-03-28 14:42] jwargo commented on #506
@c-lamont aaah, here it is: https://docs.microsoft.com/en-us/appcenter/api-docs/index#using-an-api-token-in-an-api-request

[2019-03-28 14:42] #506 closed, assigned to nobody

[2019-03-28 16:58] azamatsmith opened #507 "Question - Plans to support Detox?"
Just curious if there are any plans to support [Detox](https://github.com/wix/Detox) for end-to-end tests?

Thanks!

[2019-03-28 17:11] jwargo commented on #507
@azamatsmith The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

The best place for feature requests is to send them through support (blue chat button in the lower-right corner of every App Center page) or here: https://github.com/Microsoft/appcenter.

[2019-03-28 17:11] #507 closed, assigned to nobody

[2019-03-28 19:58] droidluv commented on #453
Has the feature request for the auto upload/download of mapping.txt for proguard enabled build flavours been created if so can someone point me there? Right now to create the mapping.txt, I will have to generate it manually on my machine and then upload it seems, why when making everything else easy, make only this part a pain?

[2019-03-28 20:13] matthiaswenz commented on #453
@droidluv We are aware of this request. This thread here is about making the artifacts available as a download. Adding the mappings to your release automatically just as you are able to distribute a release to your users is equally important to us but technically more complex.

I am not aware of any other feature request for this, so would recommend to create one and outlining your use case in the

[2019-03-28 21:23] nilofer commented on #453
@droidluv to piggy-back on @ranterle's comment, you can file a feature request for that on our [repo](https://github.com/Microsoft/appcenter/issues) if it isn't already there

[2019-03-28 22:51] guperrot commented on #500
Hi, we haven’t heard from you in a while, so we will close the issue.
You can reopen it any time.

[2019-03-28 22:51] #500 closed, assigned to elamalani

[2019-03-29 07:34] potatowave opened #508 "Build Phases Shell Script."
For me with React Native in xcode 10, I had to modify the script as so:

export NODE_BINARY="'node --max_old_space_size=8192' ../node_modules/react-native/scripts/react-native-xcode.sh"

Note the addition of double quotes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6826cbd3-5ac7-94f7-6708-5f9c7f9a8d5a
* Version Ind

[2019-03-29 12:44] jwargo commented on #508
@potatowave thanks, I'll have the PM take a look at making an update. @nrajpurkar

[2019-03-31 10:36] Fitch24 opened #509 "Xamarin.Android: NetworkManagementSocketTagger"
Hi.
I see a lot of errors in the log when using the AppCenter SDK.
When I call `AppCenter.Start("********-****-****-****-************", typeof(Analytics), typeof(Crashes))`, then I receive these messages in the log:

When I call `Analytics.TrackEvent("SomeEvent")`, then I again see these messages in the log:

The app works fine. No crashes, no errors (except these mesagges in log), events are trac

[2019-04-01 05:57] srikcgaa2 opened #510 "Need more details on APIs"
The above documentation does not clearly indicate what happens if there is no internet access when attempting to TrackEvents, are there any exceptions that can be thrown by the API, any internal retries, are there any configurable timeout or any other parameters apart from just the Start and TrackEvent methods.  If these are documented elsewhere, please include the links in this documentation.  If

[2019-04-01 09:58] owenniblock commented on #472
@richardgroves sorry for the delayed reply - could you try defining a directory name instead of `.`? I suspect that this is not expecting the `.` and that's what's causing the issue - just something like `test-report-output` should place the results in `./test-report-output`

If that doesn't work and you want to get this working - I'd recommend reaching out to us through the support within the App

[2019-04-01 12:37] jwargo commented on #509
@Fitch24 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2019-04-01 12:37] #509 closed, assigned to nobody

[2019-04-01 12:48] jwargo commented on #510
@srikcgaa2 as I understand it, but I'll let the SDK team correct me, analytics data is cached while the device doesn't have network connectivity, and delivered when it does. There's even a method you can use to set the cache size if I remember correctly.

What do you feel the need to design around? We collect the data and deliver it as soon as we can. What else do you need to happen?

[2019-04-01 12:55] srikcgaa2 commented on #510
@jwargo, thanks for the response.  The information about caching was not mentioned in this documentation.  Also, the information on setting the cache size is also not mentioned anywhere.  These details would be helpful to plan on our integration.

Regarding design, since the API is of type void, there is no way for us to know if the event reached AppCenter or not and so we were planning to store i

[2019-04-01 12:58] srikcgaa2 commented on #510
By the way, I just looked at the previously closed issue #412 and that coincidentally talks about the same concern as I mentioned.  I just observed the closed topic now and since the same query has come up from two different people, it does look like there is a need to enhance the API, especially around the negative scenarios, internal retries the API does, threading details.

[2019-04-01 13:47] MatkovIvan commented on #510
Hi @srikcgaa2,

No, our SDK doesn't throw any exceptions. If s, please report a bug to us.

Yes, we have the retry logic for network and some server problems.

No, there is no public API to configure it.

You can configure [storage size](https://docs.microsoft.com/en-us/appcenter/sdk/other-apis/android#storage-size) in native SDKs (Android and iOS), but it isn't exposed to Xamarin SDK yet.

It's a

[2019-04-05 06:23] ghost opened #512 "Not able to run my ui tests after updating vs and xcode"
After a visual studio update and xcode update I'm unable to run my xamarin ui tests. No idea why of how this happend...

I get the following exception:
[code]
Anybody an idea what is happening?

[2019-04-05 08:40] hihelloluigi opened #513 "Multi target management iOS"
Hi guys, I need some information on how to manage multi target in your fantastic platform that I discovered some days ago.

I split my app with different target to manage environments (Dev, Staging ecc..).
How can I add this different targets to my platform? Do I have to create different applications on platform or I can manage all target in only one?

For example in Firebase I can create a single

[2019-04-08 13:50] jwargo commented on #512
@laurenspp The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informatio

[2019-04-08 13:50] #512 closed, assigned to nobody

[2019-04-08 14:27] jwargo commented on #513
@mo3bius The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2019-04-08 14:27] #513 closed, assigned to nobody

[2019-04-08 21:39] jwargo commented on #510
@srikcgaa2 it's been 7 days since the last comment, so I'm going to close this.

[2019-04-08 21:39] #510 closed, assigned to elamalani

[2019-04-08 21:41] jwargo commented on #499
@anitconsultantllc We're doing an update to fix this.

[2019-04-08 21:42] jwargo commented on #497
@dstulic it's been 18 days since the last response, so I'm going to close this issue.

[2019-04-08 21:42] #497 closed, assigned to winnie, blparr

[2019-04-08 21:42] jwargo commented on #472
@jameslavery any updates? Are you good?

[2019-04-08 23:54] ant81584 opened #514 "Xamarin.Forms Analytics.TrackEvent to Not Use Location Services by Default"
Xamarin Analytics.TrackEvent seems to use Location Services by default to get the country code.  I would like this to be off by default and/or have option to turn it off.  Currently Apple is strict about using this and I don't need the location.

So now I have to add purpose string for the user to see. NSLocationAlwaysUsageDescription and NSLocationWhenInUseUsageDescription. Even though I don't ne

[2019-04-09 11:36] arvindrajachourasiya opened #515 "What are the advantages of using App Center for push notifications"
What are the advantages of using notifications from App Center?

I have to create project in **FCM** console, **GoogleJson** file, need to add firebase **plugins** in my project.
So what is the role of app center?

[2019-04-09 12:50] jwargo commented on #514
@ant81584 I'm sorry, but I don't understand the purpose of the issue you submitted. I don't see any questions suggestions for the docs. Can you please clarify what you need/want?

[2019-04-09 13:55] jwargo commented on #515
@arvindrajachourasiya this doesn't feel like a question or comment about the docs, but I'll give a shot at answering. To build your own push service, you must do all those things you listed PLUS build a system for managing the registration process, storing the device tokens, and sending the push notifications across multiple push services. App Center Push handles the stuff after the PLUS.

[2019-04-09 13:55] #515 closed, assigned to nobody

[2019-04-09 14:38] annakocheshkova commented on #514
Hi @ant81584. As I already answered you in Intercom, our SDK doesn't make any calls to `CLLocationManager`. You can make sure yourself: the only place where it is used is our test app, no usage in the SDK itself: https://github.com/Microsoft/AppCenter-SDK-Apple/search?q=CLLocationManager&unscoped_q=CLLocationManager

[2019-04-09 15:27] arvindrajachourasiya commented on #515
@jwargo - I am sorry if my language was rude. Question was about docs only. This information supposed to be mentioned very first.
If I go on page appcenter doc page1 , it redirected me on page2, page2 redirected me on page3.. so on. finally you would end up with closing all tabs.

As you mentioned  above, storing device token, If my app 1000 people installed is it storing those all token and if I

[2019-04-09 15:33] jwargo commented on #515
@arvindrajachourasiya your language wasn't rude, I just didn't see any questions or suggestions in your issue. Thanks for the advice, I'll update the docs with a benefits overview.

[2019-04-09 20:41] nilofer commented on #508
@potatowave thanks for the catch here. I'll update the docs to include this difference for RN and Xcode 10.

[2019-04-10 00:10] ant81584 commented on #514
I'm going to remove the Xamarin app center Analytics.TrackEvent code to see if this resolves the issue with Apple.  I only got this issue as soon as I started using it the xamarin forms Analytics.TrackEvent.

Sorry @annakocheshkova about the duplicate prompted question.  I will update once removing this event code helps the issue from apple sees.

[2019-04-10 13:05] c-lamont opened #517 "No SetUserId method in AppCenter"
As far as I can see, there is no method `AppCenter.SetUserId("your-user-id");`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3bf0fbb-48d0-4f3c-c6d1-fd691426f00d
* Version Independent ID: 47948784-507a-28f3-bcf6-4cce8c950d2d
* Content: [Other Xamarin APIs - Visual Studio App Center](https://docs.microsoft.com/en-us/a

[2019-04-10 13:53] annakocheshkova commented on #514
@ant81584 feel free to remove App Center packages completely and see if the warning goes away. I will close the issue here, lets keep track of this issue in Intercom.

[2019-04-10 13:53] #514 closed, assigned to elamalani

[2019-04-10 14:39] jwargo commented on #517
@c-lamont I'm pretty sure it is, but I'll let the SDK team respond.

[2019-04-10 14:44] bsimser opened #518 "Using "environment variables" per environment"
The environment variables in App Centre don't seem to be very "environmental". For example let's say I have an API that I want to talk to so I enter the name of it and value. However that's only one name and value. Normally I would have the same variable set for a development, test, and production build of the app. There doesn't seem to be any way to specify a scope or build type or environment he

[2019-04-10 14:53] jwargo commented on #518
@bsimser The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs. I don't see any questions or comments about the docs in your issue.

It feels like you're trying to ask a question about how App Center works and the best way to get questions answered or to figure out how to make App Center work for your par

[2019-04-10 14:53] #518 closed, assigned to nobody

[2019-04-10 14:55] bsimser commented on #518
Thanks. Apologies as I was thinking this was the right place but you're right. I'll direct my question through premier services.

[2019-04-10 14:58] jwargo commented on #518
@bsimser No need for that, just use the blue chat button on every App Center page - that connects you directly with our dedicated support team and the PM and Engineering teams are available there as well. Also, we recently started collecting customer feedback and feature requests here: https://github.com/Microsoft/appcenter.

[2019-04-10 17:19] elamalani commented on #517
@c-lamont Here is the API to set user id in Xamarin - https://docs.microsoft.com/en-us/appcenter/sdk/other-apis/xamarin#identify-users

[2019-04-10 17:19] #517 closed, assigned to elamalani

[2019-04-11 09:42] ghost opened #519 "Application not available in Microsoft Registration Portal"
After associating the app with store from VIsual Studio, the application does not appear in the Microsoft Registration Portal. It appears in the Microsoft Dev Center. Can you elaborate on how to do this. and what role of users can associate and see the app sin Dev center.

[2019-04-11 09:46] ghost commented on #355
Same issue for me. Associated Windows Store app not listing registration portal. Why does the app not appear under Registration Portal after i associated with store from VS

[2019-04-11 09:50] ghost opened #520 "Application not available in Microsoft Registration Portal"
After associating the app with store from VIsual Studio, the application does not appear in the Microsoft Registration Portal. It appears in the Microsoft Dev Center

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fb42032-a67b-b601-7ef0-bdf1c8838f73
* Version Independent ID: 4d052b88-6fe1-358e-47a7-4d2687f02c10
* Conte

[2019-04-11 09:56] #520 closed, assigned to nobody

[2019-04-11 09:57] ghost commented on #520
Duplicate

[2019-04-11 13:43] jwargo commented on #519
@rjax87 this is the same topic posted here: https://github.com/Microsoft/appcenter/issues/275. This is not an issue related to Visual Studio App Center. This relates Visual Studio and the App Store, not Visual Studio App Center.

[2019-04-11 13:43] #519 closed, assigned to nobody

[2019-04-11 13:49] jwargo commented on #355
@rjax87 as described here: https://github.com/MicrosoftDocs/appcenter-docs/issues/519, this issue relates to the app store and Visual Studio, not App Center. I suggest you take this up with the store.

[2019-04-11 15:42] Anakha77 commented on #472
Hi,
Option '--test-output-dir' don't working for me.
I got the following error :

Command 'test run (...)' failed with exception "Unknown argument --test-output-dir"

Do I something wrong ?
Thx for help

[2019-04-11 17:12] jwargo commented on #472
@Anakha77 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information

[2019-04-12 01:06] ErikGranse opened #521 "Outdated info"
I'm looking at the API (https://openapi.appcenter.ms/#/crash/crashGroups_list) and nearly every API call listed on this page has been deprecated or removed. No idea how to accomplish crash report downloading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8b051fd-562b-0f49-4f14-5c8414d5816d
* Version Independent ID: 1

[2019-04-12 12:35] jwargo commented on #521
@ErikGranse I'm not sure what's up with that, I'll have someone from the team respond to you.

[2019-04-12 12:51] pipacs opened #522 "Disabling Carthage bootstrap"
We are using Carthage to pre-populate our Git repo with the dependencies. However App Center is forcing "carthage bootstrap" as an early build step.

Problem is, this step never succeeds as our dependencies are in-house, accessible from our intranet only.

Is there a way to disable the "carthage bootstrap" step?

[2019-04-12 13:38] jwargo commented on #522
@pipacs The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2019-04-12 13:38] #522 closed, assigned to nobody

[2019-04-12 13:40] ErikGranse commented on #521
Thanks. I eventually figured it out to an extent; according to https://docs.microsoft.com/en-us/appcenter/diagnostics/using-the-diagnostics-api, the API calls on this page are still available for UWP apps, but have been officially deprecated. I'm trying to track an Android/Xamarin app, so I have to use new the new API. The page I linked above has mapping from the deprecated to the new APIs, but I

[2019-04-12 13:54] #521 closed, assigned to winnie, blparr

[2019-04-12 14:27] Bassem-Samy opened #523 "Is there an API to upload the mapping.txt file using curl or so?"
I couldn't find a REST API to upload the mapping.txt file, is it only done through the UI ? is there a way to use a REST Request?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77e9c7ee-7522-cc0a-7ff1-7748f93efa83
* Version Independent ID: 683bf206-d70c-192b-6f59-f03dd1f66885
* Content: [Android ProGuard - Visual Studi

[2019-04-12 15:29] winnie commented on #523
Hi @Bassem-Samy,

You can use the upload symbols API to upload the mapping.txt file. Instructions are [here](https://docs.microsoft.com/en-us/appcenter/diagnostics/iOS-symbolication#app-center-api). Let me know if that works!

[2019-04-12 15:54] #523 closed, assigned to nobody

[2019-04-15 07:47] ravindra2010 opened #525 "App not working on mobile"
I have created build successfully but the .apk generated by the build is not working on device after distribution. It showing error "application not installed". Please help if you have any idea abut this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcecd38a-7696-e7f8-853d-d3c12c0b050c
* Version Independent ID: abdba

[2019-04-15 14:43] fabiodamasceno commented on #58
React Native users are not able to use a decent ui test framework at this time because there isn't support to Detox, Appium nor any functional high-level UI test frameworks (unless to be XCUITest, that is native and not the case). This make unfeasible AppCenter to React Native projects, continuous delivery.  Can community contribute in anyway to speed up this support?

[2019-04-16 17:43] bobber205 commented on #212
Seeing this same error.

[2019-04-17 00:21] JarrydSemmens opened #526 "No forums support!"
There is nowhere I can ask questions for support for App Center.
There are issues I cannot solve without help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45dd71a0-a249-a87b-e4eb-e4da0a20472f
* Version Independent ID: 450c26f5-ab13-8df5-d45a-6086f5391b23
* Content: [App Center Support - Visual Studio App Center](htt

[2019-04-17 01:22] softwaresaiyajin opened #527 "Incomplete results in error search endpoint"
/errors/search endpoint only returns a maximum of 100 latest items no matter what the date range for timestamp filter is

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b113ae49-c84f-05c6-e4fd-e414e5c64304
* Version Independent ID: a04ff30c-e14b-9b76-6dd3-223e05d3a8cb
* Content: [App Center API Documentation - Visual St

[2019-04-17 13:03] jwargo commented on #525
@ravindra2010 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informa

[2019-04-17 13:03] #525 closed, assigned to nobody

[2019-04-17 14:34] jwargo commented on #526
@JarrydSemmens that is not true, on EVERY App Center page, there's a blue chat button on the bottom-right corner that connects you **directly** to our dedicated support team. It couldn't be any easier. You can read more here: https://intercom.help/appcenter/getting-started/getting-help-with-app-center

[2019-04-17 14:34] #526 closed, assigned to nobody

[2019-04-17 15:27] jwargo commented on #527
@softwaresaiyajin I'll have the team take a look.

[2019-04-18 00:26] winnie commented on #527
Hi @softwaresaiyajin,

This is expected behavior - our search API only returns a maximum of 100 results. Or are you saying the 100 results are the same regardless of the date range?

Thanks!

[2019-04-18 15:44] SharbelWired opened #528 "Appcenter push: dynamic navigation based on custom data"
Hi everyone, I'm wondering if I could get some help using AppCenter push in my Xamarin Forms app that targets Android & iOS.

Essentially, I've followed the instructions and I'm able to see the push notifications in my testing on Android.  I understand that there are different behaviors between foreground and background notifications and have stepped through via the debugger when the PushNotificat

[2019-04-18 16:52] pateljay43 commented on #232
@jonakyd App center is using `xcodebuild archive` command and we can specify a scheme to build with a branch. You can change the configuration in that Scheme configuration for `Archive` step (select Debug or Release)

[2019-04-18 21:17] RyanThomas73 opened #529 "Lack of documentation for webhook JSON payloads"
The documentation for appcenter webhooks has a single example payload for a build event. There do not appear to be any examples of the other payload types. We are investigating the possibility of using webhooks to post events to our own api. We're unable to develop the api endpoint without knowing the structure of the payload.

Additional Note: While documentation for the payload structure would b

[2019-04-20 11:49] softwaresaiyajin commented on #527
Hi @winnieli1208 ,

Yes, that's exactly the case. If I input the timestamp starting Mar 18 - Apr 18, I'm expecting all crashes within that specified date range will be returned. But the behaviour now returns just a maximum of 100 items. If I specify that page size to be 99, the first page will have 99 items, the second page will just have one item, and that's it.

[2019-04-22 12:59] jwargo commented on #529
@RyanThomas73 I'll have the PM take a look at making an update.

[2019-04-22 13:00] jwargo commented on #528
@SharbelWired I've asked the team to take a look at providing a recommendation.

[2019-04-22 15:35] v-fekalu commented on #528
@SharbelWired Please, try next to resolve situation:
1. Try to set LaunchMode to SingleTask and see if it does required changes.
2. I was unable to find event OnInitialized in activity or app lifecycles. Can you please try OnCreate event instead of the OnInitialized?
3. Other way to accomplish task is to keep state somewhere in app, for example add some static property into App.xaml.cs like next:

[2019-04-22 17:30] SharbelWired commented on #528
@jwargo   I was able to do something similar to your suggestion in your item 3, but unfortunately the public variable in app.xaml.cs is set after the initial redirect.  I was able to use it a little later in the initial redirect to trap the redirect to the home UI.  It's not exactly ideal, but it'll work for now...

[2019-04-22 17:40] jwargo commented on #528
@SharbelWired that was @v-fekalu who suggested that.

[2019-04-23 16:14] nilofer commented on #529
@amchew can you take a look at this please? Thanks!

[2019-04-23 17:09] eclipsed4utoo commented on #55
It's been almost 5 months. Is there an ETA on this? How does native iOS and React Native get support, but not Microsoft's own technology?

[2019-04-23 17:13] jwargo commented on #55
@eclipsed4utoo if you want this feature, vote for it: https://github.com/Microsoft/appcenter/issues/30

[2019-04-23 17:14] nilofer commented on #55
@eclipsed4utoo No ETA at the moment, but we are tracking [this issue](https://github.com/Microsoft/appcenter/issues/30). We've had our plate full with other work and haven't been able to get to this yet.

[2019-04-23 17:42] eclipsed4utoo commented on #55
Voted, or liked and commented...hopefully that counts for a vote.

In the mean time, I guess I'll start using Bitrise.

[2019-04-23 20:08] winnie commented on #527
@softwaresaiyajin this is expected, our search functionality returns a maximum of 100 items no matter what time range is specified. I understand this might not be ideal for many users and we are considering increasing this limit. Feel free to create a feature request in this repo so we can monitor community interest. Thanks!

[2019-04-23 20:40] thedee commented on #462
Anything new on this?  I am using Xamarin and AppCenter and when things get logged there are no lines #'s in the exception log.

[2019-04-23 21:07] jhensley707 opened #533 "No notification event for emulator in Background"
I followed the instructions and was able to send a push notification to my app in the Android emulator. I can see the activity in the debug window when the app is in the foreground. However, if the app is in the background on the emulator, I don't see any Android system notification, as mentioned above. Also, there is no activity in the debug window. Am I supposed to set anything else up, such as

[2019-04-23 23:10] jwargo commented on #533
@jhensley707 As I understand it, your emulator has to use the Google APIs in order to be able to support push. I could be wrong though. Remember, App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App

[2019-04-24 02:43] softwaresaiyajin commented on #527
Hi @winnieli1208 ,

Yes, I'd like to request this as feature. Please add feature label, I cannot modify the tags.

Thanks!

[2019-04-24 15:15] jwargo commented on #527
@softwaresaiyajin we track feature requests here: https://github.com/Microsoft/appcenter. That way people can vote on them, etc.

[2019-04-24 15:15] #527 closed, assigned to winnie, blparr

[2019-04-25 12:42] jwargo opened #534 "Device Properties"
There's no mention of device property collection by the SDK. Also we need a list of the properties collected published here (or somewhere).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10bf64ee-c669-4226-5d8b-2ecda57440f0
* Version Independent ID: f5b4523c-9710-de70-3e9f-ab954478e224
* Content: [App Center Analytics

[2019-04-25 15:05] #533 closed, assigned to nobody

[2019-04-25 16:17] jhensley707 commented on #533
I'm going to assume that if I can receive the Push while the app is in the foreground, the Android emulator has the proper Google APIs included. To verify, I checked the Android Device Manager which indicates the emulator image I'm using does include Google APIs. That leads me to believe that perhaps this Xamarin Forms page documentation may be lacking in some details. I will try to use the App Ce

[2019-04-25 17:56] jwargo commented on #533
@jhensley707 yeah, the support team is essentially us plus our front line support team, so they'll get you set straight and let me know if we need to update the docs based on what they learn.

[2019-04-25 19:57] jwargo commented on #534
"device": {
            "wrapperSdkVersion": "2.0.0-SNAPSHOT",
            "wrapperSdkName": "appcenter.xamarin",
            "wrapperRuntimeVersion": "9.2.3.0",
            "sdkName": "appcenter.android",
            "sdkVersion": "2.0.0-30+5bacb9254",
            "model": "Android SDK built for x86",
            "oemName": "Google",
            "osName": "Android",
            "osVersion": "9",

[2019-04-26 13:55] Tempest1000 commented on #529
Hello, we are also looking at the ability to post events to our own api, specifically around crash events (when the crash group is created in AppCenter). We would also like to know the structure of the payload that is being sent to the webhook URL as @RyanThomas73 mentioned.

[2019-04-29 14:35] jwargo commented on #528
@SharbelWired OK if I close this?

[2019-04-29 14:43] SharbelWired commented on #528
Yes, it can be closed @jwargo

[2019-04-29 14:43] #528 closed, assigned to jwargo

[2019-04-29 15:19] amchew commented on #529
Hey @RyanThomas73 and @Tempest1000, thanks for reaching out! Apologies for the delayed response, was OOF.

It sounds like the requirements are:
- publish structure of build, crash, distribute payload

with the goal for you post events to your API.

Will update the doc by next week.

[2019-04-30 13:33] julienshepherd opened #535 "Confusion about time filters"
The time filters are mentioned only in the Active users section. Does it mean they are not available for engagement and device metrics?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9593966b-ff1f-fd2a-761d-a5fbd604570b
* Version Independent ID: ed34ddcd-2355-7b10-094e-9de27b5f38bc
* Content: [Understanding the App Cen

[2019-04-30 13:38] jwargo commented on #535
@julienshepherd I'm not sure, I'll ask the PM to respond.

[2019-04-30 15:02] iiAtlas opened #536 "Event priority and persistence in Objective-C?"
It appears there is no way to set event priority and persistence (`MSFlagsPersistenceNormal`, `MSFlagsPersistenceCritical`) when using Objective C.  The "flags" option is missing from `[MSAnalytics trackEvent:withProperties:]`.  Is this correct?  Or is the documentation simply lacking.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-04-30 15:22] jwargo commented on #536
@iiAtlas I'll ask the PM to respond. Also, please keep in mind that App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/getting-started/welcome-t

[2019-04-30 15:24] iiAtlas commented on #536
Thanks! Sorry if this was the wrong place to comment..

[2019-04-30 15:31] jwargo commented on #536
@iiAtlas No, it isn't, no worries. If the docs are lacking, this is the place to ask. I just pointed that out in case you were in a hurry for the answer as support is probably faster than a docs response.

[2019-04-30 15:34] iiAtlas commented on #536
@jwargo Excellent!  Thank you for your wonderful support!

[2019-04-30 16:35] elamalani commented on #536
@iiAtlas You can set event priority and persistence in Objective-C as well. Here is the doc link -
https://docs.microsoft.com/en-us/appcenter/sdk/analytics/ios#event-priority-and-persistence

[2019-04-30 16:51] iiAtlas commented on #536
@elamalani The documentation you've provided (and which I commented on) is only showing Swift code.  The relevant method does not seem to exist in Objective-C!

[2019-04-30 17:09] elamalani commented on #536
@iiAtlas You can switch the language to Objective-C by using the dropdown on the upper right of the docs page.  Here is the code snippet:

NSDictionary *properties = @{@"Category" : @"Music", @"FileName" : @"favorite.avi"};
[MSAnalytics trackEvent:@"Video clicked" withProperties:properties flags:MSFlagsPersistenceCritical];

// If you are using name only, you can pass nil as properties.

[2019-04-30 17:10] #536 closed, assigned to hamswan

[2019-04-30 17:16] iiAtlas commented on #536
Hi @elamalani , thanks for the tip on how to change the language -- that helps!  I was just going to comment on how the method `[MSAnalytics trackEvent: withProperties: flags:]` did not exist in the latest AppCenter SDK version, then I checked and noticed I was on `1.6.1` rather than the latest `1.14`.  I've since found the method.

Thank you both!

[2019-04-30 20:26] hamswan commented on #535
The Analytics Overview page shows the Engagement Metrics and this can be seen filtered for Last 7, 30, 60, 90 days.

The time filter apply to all the Metrics you see on the Overview page.

[2019-05-01 15:33] jwargo commented on #472
@Oddj0b What do we want to do here? This has been open for a while.

[2019-05-01 17:33] espoelstra opened #537 "Supported versions build machine details are horribly out of date compared to the referenced link"
It states OS X 10.11.6 on this page but on the other page it shows 10.13 and 10.14 nodes are available (which happen to also be the details of the versions available in Azure DevOps).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc01291c-f6a0-4610-a27d-60718852390d
* Version Independent ID: 2b51b117-6b8c-f4d9-a2b2-43

[2019-05-01 17:45] nilofer commented on #537
@espoelstra you're correct, thanks for pointing this out. The detailed list of agent software is most update. I'll update the page that lists OS X 10.11.6

[2019-05-02 08:08] Veris-Mansi opened #538 "Can I run tests with appium written on Python with appium python-client ? If yes where is the documentation for that?"

[2019-05-02 08:13] Veris-Mansi opened #539 "I am testing react native android and ios apps with appium using python and pytest. So do appcenter supports appium -python-client.If yes where is the documentation"

[2019-05-02 13:11] jwargo commented on #538
@Veris-Mansi I'm not sure I understand the question, the language you use for writing your Appium tests shouldn't change anything (or need special docs) but I've asked the PM to respond.

Please keep in mind that App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated

[2019-05-02 13:12] jwargo commented on #539
@Veris-Mansi this is a duplicate of #538.

[2019-05-02 13:12] #539 closed, assigned to nobody

[2019-05-02 13:51] Oddj0b commented on #538
Sorry, we only support Appium with the Java flavor. I have asked for more details in your feature request on the Microsoft/appcenter repository.

[2019-05-02 13:51] #538 closed, assigned to Oddj0b

[2019-05-02 14:00] #499 closed, assigned to jwargo

[2019-05-02 14:11] jwargo commented on #535
@julienshepherd were you able to get it to work?

[2019-05-03 13:09] vinaypancholi commented on #211
What will be expected behavior if the application crashed and on app restart, internet is not available then how logs will be synced?
Is this handling automatic syncing the logs/error report when the internet is available?

[2019-05-03 13:16] jwargo commented on #211
@vinaypancholi yes, thats how it works.

[2019-05-05 18:22] markskiba opened #540 "Step 3 Now Doesn't work as documented"
... on my 6S, the Allow configuration wasn't automatic.    There was a separate step of opening the iOS Settings app, find my downloaded config, and then Approve.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 811f9eee-5b17-06e1-c108-dbef47984425
* Version Independent ID: 8fe50e13-c934-6a43-bf7d-1f33946da9d3
* Content:

[2019-05-07 13:58] gerwaldo opened #541 "Free tier - Azure pipelines"
"The free tier" of Azure pipelines increased to:
Private project: One free parallel job that can run for up to 60 minutes each time, until you've used 1,800 minutes (30 hours) per month.
Does this apply to App Center as well ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdc863ba-5295-2db8-b37f-584e662e725a
* Version

[2019-05-07 16:16] jwargo commented on #540
@markskiba I'll ask the PM to take a look

[2019-05-08 00:16] vitorverasm opened #543 "What about translating the docs?"
The app center documentation is pretty straightforward and clear in all steps and it's helping me a lot. But what about supporting other languages?

I don't know a lot about [DocFX](https://github.com/dotnet/docfx) internationalization system and if there is a way to integrate different languages in one DocFX site like it was said in [this comment](https://github.com/dotnet/docfx/issues/803#issuec

[2019-05-08 02:31] justindmyers opened #544 "Signing with environment variables doesn't work as shown"
In section 3 (https://docs.microsoft.com/en-us/appcenter/build/android/code-signing) on the code signing page it says that the credentials will be supplied as environment variables on build, but  I could not make this work until I manually set the variables myself.

It seems like the environment variables should be automatically available according to how the docs are worded, but I could not make

[2019-05-08 06:52] Lapinou42 opened #545 "Wrong async method name"
Hello there,

First of all, thanks for providing this new feature : Auth :)
I think you should name your sign in method : `SignInAsync` instead of "SignIn" since it's an async method.

Change :

[code]

Into :

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac18b7db-fbd4-041f-9628-bd014def0cda
* Version Independ

[2019-05-08 07:21] tonyarnold commented on #488
Why is this closed? The issue isn't resolved, and there's no workaround?

[2019-05-08 07:57] dennispan commented on #488
@tonyarnold The environment variables configured in App Center Build are currently specifically designed to be used in places documented here: https://docs.microsoft.com/en-us/appcenter/build/custom/variables/#access-the-variables, where you can access them without the `USER-DEFINED_` prefix. This is achieved by storing the variables with `USER-DEFINED_` prefix, and then remove the prefix when we

[2019-05-08 08:00] tonyarnold commented on #488
Thanks for the info, @DennisPan.

I have components of my Xcode build that I only wish to run in release builds. To date, I’ve been doing that using environment variables that I watch for in build phase scripts.

I also use them to pass a password to lock/unlock a bundled Keychain with build secrets in it.

I really need these available during the Xcode build - I can’t make this work via pre/post

[2019-05-08 08:02] dennispan commented on #488
@tonyarnold Thanks for the quick reply! Let's move this discussion to https://github.com/microsoft/appcenter/issues/161? Would be great to consolidate feedbacks on this in one place

[2019-05-08 08:02] tonyarnold commented on #488
Actually, I take that back. I can think of a workaround for the release components. Not sure what to do about the bundled keychain though.

[2019-05-08 14:11] jwargo commented on #544
@justindmyers I'll have the PM take a look. @nrajpurkar

[2019-05-08 14:13] jwargo commented on #545
@Lapinou42 thanks for that feedback, I passed it on to the Auth PM @amchew

[2019-05-08 14:35] jwargo commented on #543
@vitorverasm we haven't translated App Center into any other languages, so once we do that the docs will immediately follow.

[2019-05-08 14:35] #543 closed, assigned to nobody

[2019-05-08 16:35] amchew commented on #545
Hi @Lapinou42!

Thank you for your quick feedback, testing Auth and reading the docs in detail! We will update the method in the docs to ```async Task SignInAsync()```.

[2019-05-10 22:31] msft-cofitz opened #549 "AppCenter Test + Android Emulators"
Are there any plans to add support for running on emulators? I have tests that require a lot of API coverage and leasing all of the physical devices needed is very time consuming.

[2019-05-10 22:37] msft-cofitz opened #550 "AppCenter Test + Device Leases"
Are there any plans to support "leasing" a device for use in a DevOps pipeline for a period of time instead of only supporting test workloads that run directly on the device unassisted?  I have scenarios where using adb directly on a device is necessary to orchestrate testing - ideally a DevOps task could be used to get a device that is accessible for all of the remaining tasks in the pipeline.

[2019-05-12 20:28] jwargo commented on #549
@cofitz1 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2019-05-12 20:28] #549 closed, assigned to nobody

[2019-05-12 20:29] jwargo commented on #550
@cofitz1 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2019-05-12 20:29] #550 closed, assigned to nobody

[2019-05-13 11:27] nguyenthanhliemfc commented on #503
Where I can get ${applicationId}. From AppCenter or Cloud Messing Firebase?

[2019-05-13 12:04] nguyenthanhliemfc commented on #503
I think ${applicationId} is Android App Package!

[2019-05-13 14:03] msft-cofitz commented on #549
Redirecting this to the correct github repo :)

[2019-05-13 14:03] msft-cofitz commented on #550
Redirecting this to the correct github repo :)

[2019-05-13 19:54] jwargo commented on #541
@gerwaldo I'm not sure, I'll ask the billing PM to take respond.

You can also get questions like this answered by our support team. App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help

[2019-05-13 19:58] maestersid commented on #541
Hi @gerwaldo, at this time, we have not made any changes to our pricing nor what the free tier offers. It is the same as it was before, though we are always looking at how we can make the offer more compelling in the future.

[2019-05-13 20:05] michaelmerrill opened #553 "Set User Id Propagation Time"
How long does propagation take when updating the user's identity through the sdk? Custom properties take up to 30 minutes to propagate. Is setting a user id similar?

[2019-05-13 22:03] candelinJC opened #554 "Out of date"
Regarding the line
"From your home screen or menu, tap on Settings&gt;Security. Under the Device Administration heading, check the box next to Unknown Sources."
does not follow my menus on my Pixel Gen 1 running Android 9

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcecd38a-7696-e7f8-853d-d3c12c0b050c
* Version Inde

[2019-05-13 22:19] jwargo commented on #553
@michaelmerrill I'm not sure, but I'll have the PM or SDK team respond.

[2019-05-13 22:21] jwargo commented on #554
@candelinJC yeah, sorry about that, but settings move around.

[2019-05-14 08:21] annakocheshkova commented on #553
Hey @michaelmerrill the user id, as well as custom properties, is sent from the SDK right away. The delay might be on the backend.
@jwargo we have to ask somebody from backend team to answer this.

[2019-05-14 16:35] jwargo commented on #553
@michaelmerrill which service are you asking about?

[2019-05-14 16:40] michaelmerrill commented on #553
App Center Push - https://docs.microsoft.com/en-us/appcenter/push/push-to-user

[2019-05-14 16:48] jwargo commented on #553
@michaelmerrill cool, let me check.

[2019-05-14 17:58] jwargo commented on #553
@michaelmerrill it should be available pretty quickly, less than a minute in our testing.

[2019-05-14 17:58] #553 closed, assigned to elamalani

[2019-05-15 09:06] c-lamont opened #555 "Delay showing Push Notifications"
The tip regarding "Delay showing Push Notifications" does not work on iOS

When I call the `AppCenter.Start(typeof(Push));`, I get the popup to accept push notifications which is good.

When I receive a notification however, `Push.PushNotificationReceived` is never called either in the foreground or the background.

When I call the `AppCenter.Start(typeof(Push));` in `FinishedLaunching` then every

[2019-05-15 09:11] zanechua opened #556 "Invalid documentation for Android Code Signing"
~~The current documentation for Android code signing does not indicate which keystore filename to use and where the keystore will be located after you configure a branch. Looking up multiple tutorials online it seems that the keystore should be in app/nameofkeystorefile.keystore or etc. However this is invalid.~~

~~When the agent starts the build, the following script is ran.~~

[code]

~~For wha

[2019-05-15 14:55] jwargo commented on #555
@c-lamont as I understand it, it should; we got that directly from our SDK team. I'd suggest you work this out with our support team.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Hel

[2019-05-15 14:56] jwargo commented on #556
@zanechua I'll have the Build PM take a look.

[2019-05-15 19:19] guperrot commented on #555
Hi, I would suggest delaying the start only the first time for optin, then if push notifications are enabled at start, start immediately.

[code]

Where `app` is the Xamarin.Forms app passed in `LoadApplication` then in `OnStart` you can add that boolean property and test it while starting services.

For a pure Xamarin.iOS solution (without Forms), it's more direct:

[code]

[2019-05-15 20:47] jwargo commented on #555
Thanks @guperrot! @c-lamont let me know if this works for you and I'll close the issue. Looks like there's a doc update pending on this as well.

[2019-05-16 00:39] #535 closed, assigned to hamswan

[2019-05-16 01:34] botatoes commented on #540
@markskiba thanks for the feedback. I updated the docs with the change. The changes will get merged soon.

[2019-05-16 01:34] #540 closed, assigned to botatoes

[2019-05-16 03:51] kevinclarkneudesic opened #558 "How can I use a client like Postman or Insomnia?"
Can you just tell how to do it via cURL or a different client as well?  Is it just one header for the authentication?  If so, what is the header key for the api key that is used for authentication?  Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b113ae49-c84f-05c6-e4fd-e414e5c64304
* Version Independent ID:

[2019-05-16 08:02] zanechua commented on #556
After spending more time debugging, I realised that I should probably not even be setting a configuration for the keystore. Only unless the file is inside my repository. Therefore the install-keytool.sh part is still correct and instead the only change here should be the `System.getenv` to `System.getProperty`. Everything else should be the same.

[2019-05-16 15:28] daveokeeffe commented on #529
Hi @amchew, any chance of getting these API samples?

[2019-05-16 16:01] jwargo commented on #558
@kevinclarkneudesic the swagger page shows you how to do it via curl.  You must authenticate first (using the option at the top of the page), but once you do that, the swagger example updates with the correct auth key.

I updated the docs recently to describe this, but I can't seem to find it.

[2019-05-16 16:03] jwargo commented on #558
@kevinclarkneudesic aah, here it is - yes, just the one header for auth: https://docs.microsoft.com/en-us/appcenter/api-docs/#using-an-api-token-in-an-api-request.

[2019-05-16 16:03] #558 closed, assigned to nobody

[2019-05-16 16:12] c-lamont commented on #555
Thanks @jwargo @guperrot , On first test this has solved the issue and the `Push.PushNotificationReceived` is being fired. 👍

[2019-05-16 16:34] kevinclarkneudesic commented on #558
Ah, I see it now. "X-API-Token".  Thank you @jwargo!

[2019-05-16 20:10] gchiacchio commented on #453
Anyone looking for a guide on how to upload the generated `mapping.txt` to AppCenter, you can see my comment (with instructions) in the [proposed feature](https://github.com/microsoft/appcenter/issues/75#issuecomment-493184790)

[2019-05-16 23:00] amchew commented on #529
Hey @daveokeeffe sorry for the delay. Will get them to you shortly.

[2019-05-17 04:47] amchew commented on #529
Hey @daveokeeffe, @Tempest1000 and @RyanThomas73, I just made a PR to update our docs, you should see it in the next day or so.

In the meantime, here are examples of the JSON webhook payload for:

1. Build

[code]
2. Crash

[code]

3. Distribute

[code]

[2019-05-17 07:44] c-lamont commented on #555
@jwargo After some more testing the startup screen freezes when the `UNUserNotificationCenter.Current.GetNotificationSettingsAsync().ContinueWith` is called.

[2019-05-17 12:38] jwargo commented on #555
@c-lamont OK, so we can't do support through the docs, please open a support ticket using the blue chat button in the bottom-right corner of the App Center portal.

[2019-05-17 12:38] #555 closed, assigned to jwargo

[2019-05-17 14:09] sseyod opened #559 "Amazon App Store support is missing"
As the comment says - Android App Store support is missing

[2019-05-17 14:09] sseyod opened #560 "macOS App Store support is missing"
As the title says - macOS App Store support is missing

[2019-05-17 14:10] jwargo commented on #559
@sseyod I'm sorry, I don't understand what you're asking for. Can you give me some more context?

Android App Store support is missing from what?

[2019-05-17 14:12] jwargo commented on #560
@sseyod I'm sorry, I don't understand what you're asking for. Can you give me some more context?

macOS App Store support is missing from what?

[2019-05-17 14:19] sseyod commented on #560
Hi! Sorry if this wasn't clear. I thought the issue I raised would link somehow to the page - please see the table here: https://docs.microsoft.com/en-us/appcenter/distribution/stores/

[2019-05-17 14:19] sseyod commented on #559
Hi! Sorry if this wasn't clear. I thought the issue I raised would link somehow to the page - please see the table here: https://docs.microsoft.com/en-us/appcenter/distribution/stores/

[2019-05-17 15:01] jwargo commented on #559
@sseyod Android App Store is the Google Play Store. They're one in the same.

[2019-05-17 15:13] sseyod commented on #559
I am *really* sorry, I can't believe I mistyped - I meant *Amazon* app store. I've corrected the title!

[2019-05-17 15:26] jwargo commented on #560
@sseyod normally it does, but for these it didn't.

[2019-05-17 15:46] #529 closed, assigned to amchew

[2019-05-17 17:46] shnaz opened #562 "Insufficient APNs configuration guide"
Hello

I have a simple suggestion that will make lives of a lot of new beginners easier.

Configuration of Xamarin.iOS and APNS should be made a lot more explicit and thorough than it is. In the [prerequisite](https://docs.microsoft.com/en-us/appcenter/sdk/push/xamarin-ios#prerequisite---enable-apple-push-notifications-service-apns-for-your-app) section, it states the following:

The above documen

[2019-05-17 19:53] jwargo commented on #562
@shnaz I'll do what I can to update the docs. I'm not an expert in APNS, but I'll get one of our engineers to help me.

[2019-05-17 20:14] zigfreid5 opened #564 "Platform Dropdown Menu Always Shows 'Android'"
Regardless of the platform chosen, the dropdown picker always shows 'Android' as the selected value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7cb9ac6-0d20-5f02-583f-21021ed5ccce
* Version Independent ID: d7429800-d5af-825a-48d3-b8c45ec7ee4e
* Content: [Other iOS APIs - Visual Studio App Center](https://docs.micr

[2019-05-17 20:20] jwargo commented on #564
@zigfreid5 can you try a different browser? I'm not experiencing that problem here.

[2019-05-17 21:04] zigfreid5 commented on #564
@jwargo The same thing happens in both Safari and Chrome for me, on both iOS and MacOS.

[2019-05-17 21:31] zigfreid5 opened #565 "Misleading comments about bitcode support"
Disabling bitcode may not have any downsides when distributing apps via App Center, but does when distributed through the app store. WatchOS and tvOS targets require bitcode, disabling bitcode results in larger binaries when uploaded to and installed via the AppStore, and I suspect apps without bitcode enabled will not be supported by Apple's "Project Marzipan" when that is released later this yea

[2019-05-19 01:38] jwargo commented on #564
@zigfreid5 You're referring to in the docs, right?

[2019-05-19 01:39] jwargo commented on #565
@zigfreid5 I'll have the PM take a look.

[2019-05-20 05:23] SogoGolf opened #570 "Are these iOS API's using Azure.iOS ?"
Bit confused, are the Appcenter data API's separate / different from https://github.com/Azure/Azure.iOS ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5daee3ed-f796-73bd-af36-6deb5e33db9d
* Version Independent ID: 91af479e-8b3e-2395-c3f6-0bb0c108b61e
* Content: [Configuring App Center Data for iOS - Visual Studio App

[2019-05-20 13:11] jwargo commented on #570
@SogoGolf yes. App Center has its own SDK and that's how we implement data sync.

[2019-05-20 13:11] #570 closed, assigned to Zakeelm

[2019-05-20 13:26] jwargo commented on #564
@zigfreid5 that platform picker at the top of the doc will always say Android. When you make a choice in the drop-down, it switches to the selected page, but always renders the drop-down the same.

[2019-05-20 13:26] #564 closed, assigned to nobody

[2019-05-20 13:31] #545 closed, assigned to amchew

[2019-05-20 13:31] #541 closed, assigned to maestersid

[2019-05-20 15:49] Oddj0b commented on #472
It's Stale let's close it.

[2019-05-20 15:49] #472 closed, assigned to Oddj0b

[2019-05-20 18:48] ghost opened #571 "Unclear how to setup xamarion 3.0.0"
Now first of all is it compatible with .net core 2.1?

I tried installing the following nuget packages
Xamarin UITest 3.0.0
Nunit 3.11.0

And I still get warnings that it may not compatible, this is not the first time document your pages good and correctly. I hope to get an answer soon because every minute is a minute that costs me time and money. I thank you.

[2019-05-20 19:29] jwargo commented on #571
@laurenspp is what compatible with .NET Core 2.1?  Your issue title says Xamarin 3.0.0, but this isn't the docs for Xamarin. So could you clarify what you're asking?

The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time

[2019-05-20 19:33] ghost commented on #571
ok... I contacted support many times :-)

Is xamarin 3.0.0 and Nunit 3.12.0 compatible with net core 2.1?
Because here I always get compatibility issues

[2019-05-20 19:35] jwargo commented on #571
@laurenspp I'm sorry, I can't help - I don't know the answer to that question as this isn't the Xamarin team.

What App Center service are you trying to use? Is this for Test?

[2019-05-21 04:17] nilofer commented on #544
Hi @justindmyers, thanks for reaching out. Want to clarify what was confusing here so I can make the right changes to the docs. Was the confusing part here that you had to set the environment variables in App Center's UI _in addition to_ having the variables called out in your code?

[2019-05-21 12:31] iTofu opened #572 "Can we take custom log file or log string when app crashed?"
Thank you.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 45228922-4a96-8c08-7d27-69ef98d44943
* Version Independent ID: d04ef359-7b17-8a14-970b-5c48820976cd
* Content: [Get Started with iOS - Visual Studio App Center](https://docs.microsoft.com/zh-cn/appcenter/sdk/getting-started/ios#feedback)
* Content Source: [docs/sdk/getting-started/ios.md](https://github.com/M

[2019-05-21 13:07] #572 closed, assigned to nobody

[2019-05-21 22:59] aimankhan commented on #562
Hi @shnaz
I'm sorry to hear you had issues with this. The reason there isn't a guide to setting up a certificate in APNS included in the documentation you linked to is because that's not something you need for key based authentication.

In other words, you don't need to generate a .p12 file at all - simply following the steps to create a auth key - as shown below will suffice.
![image](https://use

[2019-05-22 08:53] shnaz commented on #562
Hi @aimankhan

I know that the .p12 file is completely useless when using an Auth Key **BUT** you still have to have an Apple Push Services Certificate. Furthermore you have to enable the service for the App ID which requires the forementioned Apple Push Services Certificate.

![image](https://user-images.githubusercontent.com/6933856/58161008-c3d94e00-7c7f-11e9-8022-76c975dadcbf.png)

[2019-05-22 11:05] shamprasadrh opened #573 "Platform and title are not in sync"
Page title says "Get Started with React Native" but the platform shown is "Android".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ed0fde7-9e78-c318-9f8c-9d921ec7d7b3
* Version Independent ID: 946ead1c-4b65-8318-c77a-ef98873adac7
* Content: [Get Started with React Native - Visual Studio App Center](https://docs.micro

[2019-05-22 13:34] jwargo commented on #573
@shamprasadrh that's just a drop-down you can use to select the same content for a different target platform. Unfortunately it's not being set to the currently selected language.

[2019-05-22 13:34] #573 closed, assigned to nobody

[2019-05-22 13:46] pronouncedJerry opened #574 "More details needed"
Is there something that needs to be done on the device to enable/disable this? Or any device running the software will submit to Log Flow?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b54905c-48c1-06be-2676-c1ca8a9463f2
* Version Independent ID: 56586cc1-d598-9f6b-8cda-a3359ed56e4f
* Content: [Understanding the App

[2019-05-22 14:05] jwargo commented on #574
@pronouncedJerry no, as long as the App Center SDK is in your app and activated, logs move through the system.

[2019-05-22 14:05] #574 closed, assigned to nobody

[2019-05-23 12:27] christopheph opened #575 "Push notifications not received on iOS when device was off"
Hi,

It seems that push notifications are not recieved by iOS devices that where offline at the moment of the push notification sending (even some seconds). If we go to appcenter push notification page, the notification is marked to sent 1/1 even if device never recieved it.

We are using a xamarin app, and notifications are well received when device is online even if the application is not runnin

[2019-05-24 06:57] dennispan commented on #477
@ShaneQi We've deployed a change that adds swagger for creating branch configuration API. Thanks for reaching out!

Unfortunately, due to limitation in swagger and the complexity of the models in this API, we were not able to make it clear that which properties are required. They really depend on the OS and platform of your application, and whether you have signing enabled, etc. To have a more acc

[2019-05-24 14:43] ShaneQi commented on #477
@DennisPan
I do see that the body field now showing up 🎉.

The reason that the model can't be represented in swagger makes sense to me. And the solution works for me.

Thanks for following through with this issue.

[2019-05-24 20:50] deepaknarula opened #576 "UWP C++"
Is there a version which would support C++/WinRT UWP Apps as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06ece9ab-9965-2ddf-34b6-44f0f61fe599
* Version Independent ID: 16261b98-a85e-060f-ccf4-3a24f5f14c4c
* Content: [Get Started with UWP - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sd

[2019-05-27 18:28] bezysoftware opened #577 "Broken link to Windows plan"
The link https://github.com/Microsoft/appcenter/blob/windows/specs/2019-04/Windows-Plan.md doesn't work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5756765e-fef2-e8d9-f8d9-5c01690095b8
* Version Independent ID: b474e30a-6e59-97fc-476a-92be5ec3a01a
* Content: [App Center Crashes for UWP - Visual Studio App Center](ht

[2019-05-28 11:40] jwargo commented on #577
@bezysoftware thanks for catching, I'll fix.

[2019-05-28 11:40] #577 closed, assigned to nobody

[2019-05-28 11:42] jwargo commented on #576
@deepaknarula I'll have the PM take a look at your question. Don't forget as well that App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/gettin

[2019-05-28 11:44] jwargo commented on #571
@laurenspp it's been 8 days with no response, I'm going to close this issue. It feels like you were looking for Xamarin support, which we can't help you with, but if you have an App Center support question, App Center support is provided directly from within the App Center portal.

Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated suppo

[2019-05-28 11:44] #571 closed, assigned to nobody

[2019-05-28 11:45] jwargo commented on #562
@shnaz I didn't see a question in your last comment; are you good or do you still need help?

[2019-05-28 11:59] Oddj0b commented on #560
@sseyod The documentation is accurate as App Center doesn't support store connections with MacOS apps. If you would like to request App Store support, visit our public repository and create an issue using this link: https://github.com/microsoft/appcenter/issues/new?assignees=&labels=feature+request&template=feature_request.md&title=

[2019-05-28 11:59] #560 closed, assigned to Oddj0b, botatoes, dimazaid

[2019-05-28 12:01] jwargo commented on #554
@candelinJC Google changed the security model in Android 9, so that setting is no longer needed. You can read about the changes [here](https://www.zdnet.com/article/android-oreo-google-has-just-made-app-installs-from-unknown-sources-a-lot-safer/).  I'm not an expert on Test, so I don't have specific instructions to give you, but I've asked the PM to take a look at making a doc update.

[2019-05-28 12:01] Oddj0b commented on #559
Hey @sseyod, it's me again. Same as the other issue, please create a feature request on our public repository using this link: https://github.com/microsoft/appcenter/issues/new?assignees=&labels=feature+request&template=feature_request.md&title=

[2019-05-28 12:01] #559 closed, assigned to botatoes, dimazaid

[2019-05-28 12:02] jwargo commented on #544
@justindmyers do you have an answer for @nrajpurkar?  If not, I'll assume you're good and close this issue.

[2019-05-28 12:04] #508 closed, assigned to nilofer

[2019-05-28 17:43] elamalani commented on #576
@deepaknarula We only support UWP apps built with C#. We don't have a windows SDK for C++ or WinRT platform.

[2019-05-28 17:43] #576 closed, assigned to elamalani, winnie

[2019-05-28 18:42] shnaz commented on #562
@aimankhan wrote that it was not needed to document the creation of the APNS and setting up the AppID, but I disagree and still suggest you to clarify your documentation on the mentioned parts.

[2019-05-28 20:57] mspasov opened #578 "Wrong cocoapods version"
Document states that cocoapods is 1.6.1, but the installed version is 1.7.0 (and 1.7.0 breaks my build 😤)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 022126c7-2d61-9c53-6881-149310c137c0
* Version Independent ID: 4fe62fb4-6dd9-057e-8f57-fb4c6dcb71f8
* Content: [App Center Cloud Build Machines - Visual Studio App Cen

[2019-05-28 21:46] jwargo commented on #578
@mspasov hmmm, I'll have the team take a look.

[2019-05-28 21:53] jwargo commented on #578
@mspasov sorry about that, there was a doc update pending and it's been published.

[2019-05-28 21:53] #578 closed, assigned to nilofer

[2019-05-28 22:59] winnie commented on #565
@zigfreid5 thanks for the feedback! I've updated the docs to specify that we are specifically referring to iOS apps, and not Watch and tvOS. Our team is keeping an eye out on the Marzipan project and will update our docs/product to reflect any major changes. I'll close the issue for now but let me know if you have any other questions.

[2019-05-28 22:59] #565 closed, assigned to winnie

[2019-05-29 20:48] lumaxis commented on #565
@zigfreid5 Have you actually observed this yourself? I've heard this statement many times before but so far, we've never been able to actually confirm this and I've only seen anecdotal evidence for it. I'd be curious if you have made any specific observations around this.

[2019-05-30 08:29] SABRYX commented on #96
Did you find anything on this ?

[2019-05-30 13:32] #537 closed, assigned to nilofer

[2019-05-30 17:42] Luke-Gurgel opened #579 "Documentation could be clearer"
The documentation on Silent Mode (https://docs.microsoft.com/en-us/appcenter/distribution/codepush/tutorials#1--silent-mode) suggests that if `codePush.sync()` is not called on app start, the `codePush.notifyApplicationReady()` method needs to be called in order to notify (what?) that the update was successfully installed, but doesn't provide examples. Also, `codePush.notifyApplicationReady()` has

[2019-05-30 17:43] jwargo commented on #579
@Luke-Gurgel I'll ask the PM to take a look at making an update,

[2019-05-31 02:03] bramski commented on #53
FFS this issue is a year and a half old and I am still discovering it.

"We know it’s faily unintentional and will change the behaviour in the future."
Your exact words @derpixeldan. Were you just baiting us?

[2019-05-31 07:57] dipree commented on #53
@bramski no ETA was committed to, it's a known pain point though. I recommend commenting and upvoting the above [issue](https://github.com/microsoft/appcenter/issues/265).

[2019-05-31 12:21] jwargo commented on #53
@bramski please refrain from using abusive language on this forum. This forum exists to enable our customers to ask questions or suggest updates to the documentation. If you'd like to propose a feature or submit a bug, please refer to the [App Center Repo](https://github.com/Microsoft/appcenter) and, as mentioned previously in this post, you can contact our dedicated support team at any time using

[2019-05-31 12:35] Crysis21 commented on #53
Guys, it took you more time to answer this issue, that it would've taken you to fix the docs. Or the real issue itself (which would've been quite nice). After all, some of us pay for app center.

[2019-05-31 12:40] jwargo commented on #53
@Crysis21 OK, I assumed this was more about changing the behavior then updating the docs.  I'll work with @derpixeldan to update the docs on this.

[2019-05-31 13:01] jwargo commented on #53
Done. Please stop the abuse. :-)

[2019-05-31 15:29] vojtarylko opened #580 "Third-party Crash Reporting forbids use of Analytics?"
Documentation states prerequisite "You are not using any other library that provides Crash Reporting functionality." Is this prerequisite mandatory even when I want to use just AppCenterAnalytics and *not* AppCenterCrashes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45228922-4a96-8c08-7d27-69ef98d44943
* Version In

[2019-05-31 15:35] jwargo commented on #580
@vojtarylko I'll ask the SDK team to give you a formal reply, I have an opinion but don't want to give you faulty information.

[2019-06-03 14:04] MatkovIvan commented on #580
Hi @vojtarylko,

This limitation is caused by the way of handling low-level signals after a crash. So, the usage of another library can break only crash reporting functionality.
The Analytics module should work in this case.

We'll add a note about it into the docs.

Thanks,
Ivan

[2019-06-03 14:04] #580 closed, assigned to elamalani

[2019-06-04 14:48] jwargo commented on #562
Shnaz, Thank you for your feedback, but our research indicates that the documentation is correct as written, so we will not be making any changes.

[2019-06-04 14:48] #562 closed, assigned to jwargo

[2019-06-05 16:25] fermelone opened #582 "Followed the guide, I see no analytics data. Help?"
Also not sure why I am redirected to a page with no content! (this one).

I followed the steps for an iOS build on Unity 2019.1.5f1, and all the SDKs are installed ok, App Center Behavior game object is ok and it is there when running the game. Still, no data shown back in appcenter.

Help!

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-06-05 17:16] jwargo commented on #582
@fermelone that's because we wanted to publish troubleshooting information, but don't have any yet. When we have some, we'll add it to the page.

If you're having trouble making something work, please open an issue with our support team. App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of an

[2019-06-05 17:16] #582 closed, assigned to nobody

[2019-06-05 21:09] ssharma0312 opened #583 "Post Build script variable to set build status = fail or pass"
Hi

I want to include a logic in my post script to make an external call which returns test results, and mark build as Pass or Fail based on the api response. Is there any variable exposed to set build status to fail or pass?

[2019-06-06 00:06] lumaxis commented on #565
To follow up: I just confirmed this with Apple’s engineers at WWDC, disabling Bitcode has no negative effect on the installed app file size.

[2019-06-06 09:01] vforvasile opened #584 "Remove AppCenter dependencies from the project (right-click the dependency > Remove dependency)."
Can you be more specific on what dependencies and from where to remove them? xCode is a huge maze that can be tricky sometimes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f1b3f6c-3754-3c3f-1f63-1af79ad651a2
* Version Independent ID: 7fdc3cf5-f1fc-6fca-e9b6-ca1f287e1785
* Content: [React Native SDK Troubleshooting -

[2019-06-06 09:20] brynjar opened #585 "Moving apps to appcenter"
This doc still mentions early 2019 - is it possible yet to move apps over from hockey to appcenter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27acd64c-5106-51ce-628c-8a1a17269e95
* Version Independent ID: d57cf8a3-d9de-4a8a-b746-e1f278e2c80c
* Content: [HockeyApp Transition - Visual Studio App Center](https://docs

[2019-06-06 12:44] dipree commented on #585
Apologize, I'll change it. We're still in a closed beta but it's definitely coming mid 2019.

[2019-06-06 12:44] #585 closed, assigned to dipree

[2019-06-06 14:41] jwargo commented on #583
@ssharma0312 I'll ask the PM to respond.

The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will res

[2019-06-06 14:59] jwargo commented on #584
@vforvasile I'll ask the team to take a look at your question.

[2019-06-06 14:59] jwargo commented on #544
Closing due to no response from the customer.

[2019-06-06 15:00] jwargo commented on #554
Closing due to no response from the customer

[2019-06-06 15:00] #554 closed, assigned to botatoes, dimazaid

[2019-06-06 15:01] jwargo commented on #575
@christopheph you have to setup your app to process background notifications. See https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/pushing_background_updates_to_your_app

[2019-06-06 15:24] shnaz commented on #562
Your support-team and I do not agree, but fair enough. :)

<img width="378" alt="Screenshot 2019-06-06 at 17 20 26" src="https://user-images.githubusercontent.com/6933856/59045143-c0e57c80-887f-11e9-928c-ca9c429ce200.png">

[2019-06-07 05:00] ducpt2 commented on #58
+1 looking for React Native + Appcenter Test work.

[2019-06-07 06:39] zanechua commented on #556
@jwargo

Why was this closed?

[2019-06-07 09:40] AnastasiaKubova commented on #584
Hi, @vforvasile! Thank you for your comment. We will fix it.

[2019-06-07 11:21] #58 closed, assigned to Oddj0b

[2019-06-07 11:23] Oddj0b commented on #58
@ducpt2 You can create a feature request at our public repository: https://github.com/microsoft/appcenter/issues/new/choose or upvote the agnostic appium test run: https://github.com/microsoft/appcenter/issues/453

[2019-06-07 12:52] jwargo commented on #556
@zanechua because in your response you indicated things that you probably shouldn't have done and didn't ask any additional questions, so I assumed you were good. If you have questions about the docs, please ask them. If you need support, open a support ticket.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the

[2019-06-07 12:53] OlexandrStepanov opened #587 "AppCenter Auth with native sign in page"
[Enter feedback here]

---
Hello 👋,

We would like to use AppCenter as BaaS solution on mobile (iOS+Android) project, and in order to have user data partitions with need to implement authorisation using AppCenter SDK.
But our UI/UX would like to have native UI for sign in page with login & password inputs.
I know that AAD B2C supports [custom UI](https://docs.microsoft.com/en-us/azure/active-direc

[2019-06-07 15:01] jwargo commented on #587
@OlexandrStepanov I'll ask the PM to take a look at your question.

In the mean time, App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/getting

[2019-06-07 18:07] amchew commented on #587
Здрастуйте @OlexandrStepanov! :)
I'll am checking, and will get back shortly!

Also, thank you for using Auth! I'd love to learn about your experience with Auth so far. Would you be available for a call next week? If so, email me at amchew [at] microsoft [dot] com.

[2019-06-07 20:12] zanechua commented on #556
Yes i did indicate what I should not have done but I did mention that `System.getenv` is inaccurate. This is still a problem with the docs. Removing out all the key signing issues, when I used `System.getenv`, my application wouldn't compile. Hence the docs still need to update the values to `System.getProperty` as mentioned in my previous comment and the original issue.

There are two distinct is

[2019-06-08 13:02] fabiodamasceno commented on #58
Thanks for the feedback Villars ;D

[2019-06-09 19:18] devStarscream opened #590 "Access multiple containers from AppCenter Data"
Hi you all,

I would like to access all containers (collections) available in my database (in Cosmos DB instance) by using AppCenter-Data.
I've read on this document (web page) that is not possible, yet.

That would be interesting having access to all collections in the database right from AppCenter-Data (similarly to Google's Firebase) and choose directly from the SDK on which container (collecti

[2019-06-10 07:48] MatkovIvan commented on #584
The detailed steps for it have been added to the docs.

[2019-06-10 07:48] #584 closed, assigned to elamalani

[2019-06-10 08:01] OlexandrStepanov commented on #587
Ni hao, @amchew :)

We are currently on the stage of establishing a new project for our client, mobile app for both platforms, iOS & Android.
The client is using Azure as infrastructure provider, and thus we are looking at AppCenter not only as CI/CD solution, but also as data storage, crash reporting and analytics provider.
We don't have experience with it, but have some with Firebase, and thus c

[2019-06-11 00:21] nilofer commented on #583
Hi @ssharma0312, you should be able to add logic based on the API result of your tests to cause the build to fail. To fail the build, you'll just need to add a line that says `exit 1` in your script. This fails the script and the whole build overall.

[2019-06-11 00:21] #583 closed, assigned to nilofer

[2019-06-11 08:42] sum0999 opened #591 "Push FAQ correction on device limits per request"
The device limit for a single push notification request (when sending to devices) is stated to be **20** devices in the FAQ:
https://github.com/MicrosoftDocs/appcenter-docs/blob/live/docs/push/faq.md#push-faq

This should be **100** devices

(The correct value is mentioned in the REST API section of the Push documentation: https://github.com/MicrosoftDocs/appcenter-docs/blob/live/docs/push/rest-ap

[2019-06-12 09:27] shamprasadrh opened #592 "SDK for React-native"
Hi,

is SDK available for React native also?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a0f404e-cea8-b8b3-917c-c6e69facfc11
* Version Independent ID: 8fab40e9-9152-e137-7de4-c78e6d80bde1
* Content: [Managing Data with the App Center Data Service - Visual Studio App Center](https://docs.microsoft.com/en-us/appcente

[2019-06-12 22:55] lbrownell-gpsw opened #593 "Support for private GitHub orgs that use SSO"
We have private organizations in GitHub and also use single-sign on.  I connected my account to VS App Center, and all I can see are my own account's repos and a public organization we also maintain.

Will there be support for SSO-enabled GitHub organizations?

[2019-06-12 23:31] valnav commented on #587
Hi in order to use a native signup/signin experience with B2C - you will need to use [ROPC](https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-ropc). We have it in User Flows and a have sample with [custom policies-ROPC] (https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/tree/master/scenarios/source/aadb2c-ief-ropc)

[2019-06-13 14:31] faramos commented on #373
@stesvis I´m having the same problem. Did you find the solution?
Thanks in advance

[2019-06-14 12:13] christopheph commented on #575
Hi @jwargo we tested the functionnality, in fatc using the "silent push" feture of AppCenter but this does not solve our problem.

I will try to explain the use case we try to achive:

1. The device is offline (disconnected from the network) or off (shutdown)
2. A push notification is sent when device is not connected
3. The device is connected again (network reconnection or on again), the notific

[2019-06-18 05:18] naveen-iiit opened #594 "Issue after installing latest dll in Android"
Hello,
I have installed the latest dll from nuget package but after installing it is not supporting with latest core UI dlls as they have updated to 28.0.0.1. It is only supporting 26.0.2

[2019-06-18 06:30] venh opened #595 "Using App ID instead of App Name for Getting Upload URL using API"
For App Center Upload using API, we first need to get the Upload URL and for this, we need the Owner Name and the App Name, as per the documentation. But, is there a way to use the App Id instead of App Name for getting this Upload URL? It will be much better to use this, I believe. I tried  searching, but didn't get anything. Please help.

[2019-06-18 10:25] zanechua commented on #556
Ping @jwargo .

The original issue still stands and this issue should be opened

[2019-06-18 13:16] OlexandrStepanov commented on #587
Hello @valnav,
Thank you for your feedback.
I have investigated the ROPC flow proposed by you above, but have some open questions left:

- I didn't got where to place username/password validation in ROPC flow, so AAD B2C token is generated only if this pair exist on 3rd party service. Supposed flow is:
`iOS app -(username/pass)-> Azure Function -(username/pass)-> 3rd party API -(3rd-party-token)->

[2019-06-18 16:37] raulalvarado1 opened #596 "All"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06813350-a37b-a4a2-fdbc-a59caefb9f32
* Version Independent ID: 29787958-5b4e-efc2-2af5-2af0ee53216e
* Content: [App Center Build - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/)
* Content Source: [docs/build/index.md](htt

[2019-06-18 16:40] raulalvarado1 opened #597 "Email"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06813350-a37b-a4a2-fdbc-a59caefb9f32
* Version Independent ID: 29787958-5b4e-efc2-2af5-2af0ee53216e
* Content: [App Center Build - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/)
* Content Source: [docs/build/index.md](htt

[2019-06-18 20:32] shwetadodiya opened #598 "Not able to see any Analytics data in azure portal but can view them in appcenter"
I had created app for iOS and android in Appcenter.ms.

1) Integrated the SDK 2) Added the event. 3) I can see the events and log flow in the appcenter.ms But not in the Application insights on Portal.azure.com.

As show in this i did followed the steps : https://docs.microsoft.com/en-us/appcenter/analytics/export

Adding an Azure Subscription

App belonging to an organization: If you are the orga

[2019-06-18 21:06] blparr commented on #591
Hi @sum0999 , thanks for your feedback. I'll let our Push PM know. cc @jwargo

[2019-06-18 21:13] blparr commented on #592
Hi, yes, we have a React Native SDK. See docs here: https://docs.microsoft.com/en-us/appcenter/sdk/analytics/react-native

[2019-06-18 21:15] blparr commented on #593
Hi @lbrownell-gpsw , looks like this is a duplicate of https://github.com/microsoft/appcenter/issues/556. Thank you!

[2019-06-18 21:19] elamalani commented on #594
@naveen-iiit This doesn't look like a docs issue. Can you please open a support ticket with us by clicking blue icon on the lower right of App Center portal?

[2019-06-18 21:19] #594 closed, assigned to nobody

[2019-06-18 21:23] Zakeelm commented on #590
Hey there!

This is something we're definitely looking into and are going to investigating going forward. As of now, we use a one collection model, which means you can only utilize one collection at a time with the Data service.

I would love to hear more about your use case and why one collection doesn't fit your needs. Can you share what you're trying to accomplish with me that would require mul

[2019-06-18 21:24] hamswan commented on #598
Hi @shwetadodiya ,
Can you check the following?
When you go the export settings, Are you seeing it enabled?
Can you doublecheck that the Application Insights instrumentation key is valid?
Hamsa

[2019-06-18 22:07] rawrgrr opened #599 "Error in CLI Install Metrics"
Ran `appcenter codepush deployment history`

Under the "Install Metrics" column got:
Active: 4.0e+2% (4 of 1)
Installed: 8

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2c2bd47-97e3-abc8-fbdd-305f0c631827
* Version Independent ID: 318718e7-a38a-7cc5-01a4-7ce0153c4398
* Content: [Releasing CodePush updates using the A

[2019-06-19 01:42] #593 closed, assigned to nobody

[2019-06-19 01:44] #596 closed, assigned to nobody

[2019-06-19 01:44] #592 closed, assigned to nobody

[2019-06-19 01:45] #597 closed, assigned to nobody

[2019-06-19 01:50] blparr commented on #579
Hi @botatoes, could you take a look at Luke's suggestion above? Thank you

[2019-06-19 10:38] PaulsonM commented on #272
I'm having the same problem with Xamarin.Forms iOS
Referencing #974 here - https://github.com/microsoft/appcenter-sdk-dotnet/issues/974

[2019-06-19 18:46] shwetadodiya commented on #598
Hello,
Thank you for the reply.
I did check the the settings.
1) It is enable.Please check the screenshot.My instrumentation key is also
seems to be valid.but can you guide me how can i check its valid or not.
2) Where can i check the application insight in portal ? i mean in which
tab ?
3) I had added the application insight and instrumentation key for my iOS
and Android both the app.so how can i

[2019-06-20 05:12] agrabhi opened #600 "Unclear steps"
Not clear how to perform step 7 to get custom redirect uri
- which app is it?
- secret is supposed to be 'secret' - is it safe to put it in plain text?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bac43716-ce54-d6bf-8a2a-0260a8b8f1d3
* Version Independent ID: 5f836302-e4f3-897a-c964-c3a60d39ff6b
* Content: [Getting s

[2019-06-20 13:58] RyanThomas73 opened #603 "Incorrect / Out of date reference to HockeyApp"
The documentation references using the 'AppCenter Android App' and provides installation instructions to install the HockeyApp native app.

The hockey app native app can only be used to install apps that came from hockey app, not apps that were created directly in an app center organization.

Additionally the hockey app references should likely be removed with the pending retirement of the hockey

[2019-06-20 16:02] zigfreid5 commented on #565
@lumaxis I think you either got misinformation or just misunderstood. There's an explicit breakdown of app sizes in the app store. Here's an example:

![image](https://user-images.githubusercontent.com/4284140/59863478-05721d00-9342-11e9-8f89-88367f3746d1.png)

The Universal binary size is what you will get if you don't enable bitcode. Bitcode lets Apple recompile and optimize your app for each sp

[2019-06-21 17:19] hamswan commented on #598
@shwetadodiya Did you add a screenshot, I can't see the attachment. Can you add again?

[2019-06-21 17:53] syntax-e opened #605 "Clear user id after setting it"
How does one clear a user id after setting a user id via AppCenter.setUserId("your-user-id"); ?
I assume setting it to null will do the trick but I can't be sure based on the documentation.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 846243f4-8201-c23f-9719-63326aae7572
* Version Independent ID: 5c8f7b51-

[2019-06-21 18:31] shwetadodiya commented on #598
Hello,

Here is the screenshot.
I can see AppcenterExport-LogPrototype1 project in azure.portal.

But i can not see any activity logs or Logs(analytics).
In Appcenter.ms i can see the logs , events and overview of chart showing
how much device have the app installed.
But not in the portal.
I did waited for more than 1hr and also try doing the logs. I can see new
logs in appcenter.ms but not on the

[2019-06-21 18:42] tharanagaraj opened #606 "Support for Swift bindings"
Right now, we're hit with the error -
Invalid Swift Support - The SwiftSupport folder is missing. Rebuild your app using the current public (GM) version of Xcode and resubmit it.
The workaround is to create the SwiftSupport library, repackage and then manually upload the IPA.
Is there a plan to provide out of the box support? We can no longer use AppCenter to automatically upload builds to TestFli

[2019-06-21 20:45] elamalani commented on #605
@bearer-syntaxerror You can clear the user id by setting it to NULL.

[2019-06-21 20:45] #605 closed, assigned to nobody

[2019-06-21 21:15] blparr commented on #600
Hi @agrabhi , can you please specify what 'step 7' in the documentation are you referring to?

[2019-06-21 21:16] amchew commented on #600
Hey @blparr, I synced with @agrabhi - he's referring to step 7 of https://docs.microsoft.com/en-us/appcenter/auth/getting-started#register-the-application-and-grant-the-application-permissions-on-azure-ad-b2c. Will make the steps clearer.

[2019-06-21 21:17] blparr commented on #600
Thanks @amchew , and thanks @agrabhi for the feedback. I will close this issue then.

[2019-06-21 21:17] #600 closed, assigned to nobody

[2019-06-21 22:36] nikitag-ms commented on #598
You mentioned two apps in your original post: for iOS and Android. Based on the name of the AI resource that you mentioned (`AppcenterExport-LogPrototype1`), I could only find your iOS app (which looks like the app you configured your export for). I do not see any events emitted from any client device for the iOS apps. Is it possible that you are emitting events from Android clients and they appea

[2019-06-22 06:44] dipree commented on #603
Except for the two screenshots everything is still valid. The HockeyApp native app is capable to download apps from both HockeyApp and App Center. It's using App Center APIs only and will be renamed by the time of the shutdown.

If you're facing any issues downloading releases or seeing an app, please reach out to our support.

[2019-06-22 06:44] #603 closed, assigned to dipree

[2019-06-23 14:00] voroninp opened #607 "What is release type?"
Could you provide more details on what release type is and where it us used in distribution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7031e14-f8ab-1d70-6910-72565048b2c1
* Version Independent ID: 23e13d47-a99e-452a-4891-af3147995842
* Content: [Creating and managing apps - Visual Studio App Center](https://docs.

[2019-06-24 04:26] thsbrown commented on #374
I would love and answer to this as well.

[2019-06-24 04:31] thsbrown opened #608 "Oops! There was a problem building the app."
We have automatically manage devices turned on for our iOS application, yet anytime a tester tries to register a new iOS device and get our app downloaded after it "re signs" it , they get this error.

This has been happening for more then a month now and at this point, and I'm wondering if this is a known issue.

![MVIMG_20190623_105657](https://user-images.githubusercontent.com/2967721/59991860-

[2019-06-24 16:03] shwetadodiya commented on #598
Hi Nikita,
Thank you for the reply.

 1) AppcenterExport-LogPrototype1   - This is for iOS but i dont know why i
can not see my android project there in log portal.
I had export the same application-insight instrumentation key in both of my
iOS and android project.
Is this the reason only iOS project is shown and not android.

2) I execute the iOS project and can see some log events in Appcenter f

[2019-06-24 16:48] thsbrown commented on #608
I believe i figured out the issue as it pertains to this page here https://docs.microsoft.com/en-us/appcenter/distribution/auto-provisioning.

I believe the error occurred because I renamed the provisioning profile and the name needed to match exactly that of the app id on the apple developer console. I had named my provisioning profile originally "App Name - iOS". Once i changed it to "App Name"

[2019-06-24 18:01] blparr commented on #607
Hi @voroninp - Release type is just a tag attached to an app. It is not used as part of the distribution flow.

I'll make a docs update to clarify.

Thanks!

[2019-06-24 18:01] #607 closed, assigned to nobody

[2019-06-25 07:10] botatoes commented on #606
Thanks for pointing this out, I will investigate this

[2019-06-25 07:12] botatoes commented on #599
Thanks for pointing this out. We are doing some improvements to CodePush and will update the docs once the improvements are finished.

[2019-06-25 13:18] jwargo commented on #373
@faramos please contact support for help.

[2019-06-25 14:04] jwargo commented on #591
@sum0999 thanks for catching that, I'll make an update.

[2019-06-25 14:45] shwetadodiya commented on #598
Hi ,
Thank you for the reply.

 1) AppcenterExport-LogPrototype1   - This is for iOS but i dont know why i
can not see my android project there in log portal.
I had export the same application-insight instrumentation key in both of my
iOS and android project.
Is this the reason only iOS project is shown and not android.

2) I execute the iOS project and can see some log events in Appcenter for
iOS

[2019-06-25 20:27] jwargo commented on #575
@christopheph I apologize for the delay in my response, I was out of the country for two weeks. I know there's no guarantee that a notification will be sent if the device is off when it's sent. I imagine this is because of the `expiration` value, but I'm not an expert. The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questio

[2019-06-25 20:27] #575 closed, assigned to jwargo

[2019-06-25 22:40] rawrgrr commented on #599
Thanks for looking into it!

[2019-06-26 00:30] iageoghe commented on #608
Hi @Spartanace1024, are you a collaborator on the app and if so, did you receive a "<App Name> failed to add devices" email from us?

[2019-06-26 17:06] jwargo commented on #591
Fixed.

[2019-06-26 17:06] #591 closed, assigned to jwargo

[2019-06-26 18:00] jwargo commented on #556
@zanechua I apologize for the delay, I was out of the country for two weeks and just got back. I'll ping the PM to take another look at this.

[2019-06-28 10:06] sseyod opened #609 "Breakpad binaries?"
Hi! Your instructions require us to first build Google's Breakpad tool; however, I'm unable to figure-out how to get that build working (macOS host). Might I strongly urge you to provide pre-build binaries for x86, arm, arm64, x86_64 etc.? I presume you must have already done this, otherwise you'd not have been able to test your solution. Without a compiled Breakpad, I'm unable to use your Android

[2019-06-28 10:32] techiesalman opened #610 "Repl window is not opening"
Hi,

I am trying to open Repl by app.Repl() method but the window is not opening. What can be the reason behind this. I tried to find the solution by googling but to no avail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3c51913-785c-84d7-8dc4-b50413fbf804
* Version Independent ID: 4ecc47b2-ca24-b8f9-10c9-2ae7f990dd

[2019-06-28 12:05] sseyod opened #611 "Typo"
Your example code has a typo.

You need to remove the "." from the end of this line:

Crashes.getMinidumpDirectory().thenAccept(new AppCenterConsumer&lt;String&gt;() {.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5dbf28d0-dedf-3e44-7c5b-4d2a2ed22c02
* Version Independent ID: 353d51d2-d428-c95d-2746-1d8b285a312d
* Co

[2019-06-28 12:10] sseyod commented on #609
I was able to find just one location that I could use to help me build the libraries for Android.

The instructions I followed were in last section here:
    http://zompi.pl/symbolicating-crash-dumps-for-android-in-unreal-engine-4/#lastchapter
I had to edit APP_API three times and remake, once for each target (x86, armeabi-v7a, x86_64)

It would be great for future developers if you could reproduc

[2019-06-28 18:49] sseyod opened #613 "dump_syms"
You say to use dump_syms, but this doesn't seem to work on macOS.

I get a message like "...so: file is neither a fat binary file nor a Mach-O object file"

I've read comments (e.g. https://groups.google.com/forum/#!topic/google-breakpad-discuss/XT8bh08JE4g) saying that to use dump_syms for an Android binary, would require dump_syms to be run on Linux. Can you please advise as to what macOS-based

[2019-06-28 19:13] sseyod commented on #613
Furthermore, is the intention that we're supposed to use https://github.com/microsoft/appcenter-sdk-android-breakpad instead?

If so, then that project has various build problems that need fixing (I've logged them there...)

Please advise!

Pete

[2019-06-29 00:21] YiMysty commented on #598
Hi Sweta!

1. Yes! If you use the same instrumentation key, no matter the app is android or iOS, it will be export to the same application insights application.

2. We queried our system logs, we saw bunch of data exported today, does the AI show the data now? thanks!

3. You can check the https://openapi.appcenter.ms/#/analytics here for apis or write the app insights query for your application :

[2019-06-29 13:11] sseyod commented on #613
Just to clarify further, I installed a Linux VM on my mac, pulled your code from GitHub; found it didn't build; had to patch it for Linux; then got it built; I was then able to use dump_syms on Linux from the VM to create the symbols.zip file ... not easy! :)

[2019-06-30 14:40] venh opened #614 "Error: Uploading to a HockeyApp store app is not supported"
I have apps that are getting currently uploaded to Hockey App. But since Hockey App will be deprecated after a couple of months, we are currently in the process of migrating / uploading our mobile builds to App Center. We have both Android and iOS builds for various configurations like Debug, Beta, Automation, Production and so on. I followed the documentation provided in the link [https://docs.mi

[2019-07-01 09:50] stevehurcombe opened #615 "Benefits"
It's not clear to me why we'd want to use appcenter.ms over using AD B2C directly.
It would be good to document why adding another dependant service is worth it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bac43716-ce54-d6bf-8a2a-0260a8b8f1d3
* Version Independent ID: 5f836302-e4f3-897a-c964-c3a60d39ff6b
* Content:

[2019-07-01 14:14] jwargo commented on #615
@stevehurcombe we call that App Center Magic - that special stuff that App Center does to make this easier. We talked about it here: https://mybuild.techcommunity.microsoft.com/sessions/77048?source=sessions#top-anchor but I'll ask the PM to take a look at making this more clear in the docs.

[2019-07-01 14:16] jwargo commented on #614
@venh The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, se

[2019-07-01 14:16] #614 closed, assigned to nobody

[2019-07-01 14:18] jwargo commented on #611
@sseyod thanks for catching that, fixed.

[2019-07-01 14:18] #611 closed, assigned to nobody

[2019-07-01 14:19] jwargo commented on #610
@salmank63 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informatio

[2019-07-01 14:19] #610 closed, assigned to nobody

[2019-07-01 14:22] jwargo commented on #609
@sseyod thank you for the suggestion, I'll assign this to the PM to take a look.

[2019-07-02 14:16] jwargo commented on #595
@venh I'm not sure if this is possible, but we've asked the PM to respond.

[2019-07-03 02:15] jarrodbell opened #616 "Objective-C examples"
All the push notification examples I have seen are Swift only. Can also only find swift sample apps. Is there anywhere with full Obj-C examples covering this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc364b7b-1462-5c0a-ca8b-e25f2847f41f
* Version Independent ID: 3829a377-4190-4644-a6c1-7e90e19483a5
* Content: [Ap

[2019-07-03 08:07] sseyod commented on #609
@jwargo furthermore, is there any reason why dump_syms can't be fixed so that it can be run *from macOS* to work with Android ELF format files?

Thanks, Pete

[2019-07-03 08:08] sseyod commented on #613
@jwargo Furthermore, is there any reason why appcenter CLI doesn't contain a simple command to do all this automatically?

Create symbols.zip that covers all the so files in the distribution:
appcenter crashes make-ndk-symbols-zip

[2019-07-03 12:38] jwargo commented on #609
@sseyod I have no idea as I didn't understand much of what you asked :-). The PM is out for the next three weeks, but I'll get you an answer as soon as I can.

[2019-07-03 12:42] jwargo commented on #613
@sseyod I can't answer your question, but I'll ask the PM to respond. Isn't this similar to #609 ??

[2019-07-03 14:13] jwargo commented on #616
@jarrodbell In the docs header, change the selected language to objective-c and you'll see the code you want.

![image](https://user-images.githubusercontent.com/30843404/60598709-2ba0af80-9d7b-11e9-98ca-5ecdc2a00284.png)

[2019-07-03 14:13] #616 closed, assigned to nobody

[2019-07-03 16:17] sseyod commented on #609
@jwargo No worries John, thanks for helping :) Hopefully this'll make sense to the PM! Pete

[2019-07-03 16:18] sseyod commented on #609
I just wanted to add - it is great that Microsoft are open to receiving feedback from developers. Top stuff!

[2019-07-03 17:18] jwargo commented on #609
@sseyod Thanks!

[2019-07-03 21:45] MakhouT opened #617 "Docs incomplete for android"
In my opinion it's definitely needed to add manual linking process for android. I've spent half a day looking why iOS is running correctly and android isn't.
I did react-native link and it did not link android correctly. I also created a new project to try it there and it was exactly the same.

In the end the culprit was in MainApplication.java
The following lines weren't added
[code]

---
#### Do

[2019-07-03 23:11] jarrodbell commented on #616
Ahh nice! I was looking for a button alongside the code examples where it says "swift" - maybe make that a drop down too?

[2019-07-04 04:05] zanechua commented on #556
After re-looking at this issue again and doing a bit more digging. It seems that this was changed in #428 . I seem to have a misunderstanding of how the signing of the apk through appcenter would work if you didn't specify signing configs. So I am wrong about the necessary change to the documentation and this issue should be closed.

Sorry for the time-wasting @jwargo

For those using appcenter to

[2019-07-04 04:05] #556 closed, assigned to nilofer

[2019-07-05 03:33] samannoshirvani opened #618 "Face id"

[2019-07-05 03:33] #618 closed, assigned to nobody

[2019-07-05 12:22] jwargo commented on #617
@MakhouT thanks for the feedback; the requirement to do manual linking should be rare as React Native is supposed to take care of it for you. I'll ask the PM to take a look at doing an update.

[2019-07-05 13:11] jwargo commented on #616
@jarrodbell yeah, that would be a great thing to have, but our docs system (which applies to all Microsoft docs) doesn't have that feature (today). I have to use the tools I'm given, but I'll pass on the feedback.

[2019-07-05 14:35] jwargo commented on #617
@MakhouT engineering's working on a doc update, should have it published in the next couple of days.

[2019-07-05 21:02] #598 closed, assigned to nikitag-ms, hamswan

[2019-07-09 00:33] amchew commented on #615
@stevehurcombe thanks for the feedback and tip to make the docs and value prop clearly! I'll add that section in by tomorrow, and update you again.

[2019-07-09 02:00] amchew commented on #615
Hey @stevehurcombe I just made a PR to clearly state the value proposition of App Center Auth, you should see the changes shortly. Thanks again for the tip!

[2019-07-09 11:02] alaskanrogue opened #619 "Confusing Instructions"
It is not clear in Step 1 what to modify, i.e. add or remove, because there are two sub-steps which both say remove. In the first sub-step, although it says to remove, the details say add.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edb6a101-b62b-95c8-32e5-5769bd116457
* Version Independent ID: c0c08f43-46d6-6929-4e

[2019-07-09 13:14] jwargo commented on #619
@alaskanrogue what is not clear? The instructions tell you to remove both. You're whacking two elements from the project's `AndroidManifest.xml` file.

[2019-07-09 16:38] winnie commented on #609
@sseyod thanks for the feedback and apologies for the delay! We have an engineering team looking into our NDK support to fix a few issues in the next week or so. We'll address your comments and post updates then.

Thank you for your patience!

[2019-07-09 16:45] sseyod commented on #609
Thanks. We're not seeing any crash reports coming through from the NDK crash reporting system, which makes me think that the current implementation might be broken (you mentioned there are a few issues)... so, looking forward to updates as they arrive! Pete

[2019-07-09 21:52] alaskanrogue commented on #619
John,

                The two highlighted elements in the code shot saying “Add these lines”…

Marc W. George

Consulting Senior Software Architect and Methodologist

Thought, Systems Consulting & Engineering, Inc.

414 Metropolitan Blvd., Pasadena, MD 21122

(443) 562-6482 | Skype: live:mwg_7 |  <https://www1.gotomeeting.com/join/638050721> GoToMeeting (805) 309-0010 Access Code: 638-050-721
S-S

[2019-07-10 08:21] stevehurcombe opened #621 "Security"
I gather that best practice for CosmosDB is to store the primary database connection in the cloud somewhere so that clients only ever have access to their own data.

I'm hoping that this is the case, in which case it would be great to have a simple architecture diagram calling this out to highlight good design practice.

Thanks for the excellent work.

---
#### Document Details

⚠ *Do not edit thi

[2019-07-10 09:27] josersleal opened #622 "build is problematic"
there are so many issues with building in ADO for IOS and specially for cordova that a link to a how-to that actually works would be useful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28aa9747-f64a-d886-487d-8ebb97d717b8
* Version Independent ID: 0c7edbb7-4bf7-f66c-c8a7-275308365f27
* Content: [Deploy Azure DevOps B

[2019-07-10 09:28] josersleal opened #623 "build is problematic"
there are so many issues with building in ADO for IOS and specially for cordova that a link to a how-to that actually works would be useful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28aa9747-f64a-d886-487d-8ebb97d717b8
* Version Independent ID: 0c7edbb7-4bf7-f66c-c8a7-275308365f27
* Content: [Deploy Azure DevOps B

[2019-07-10 09:29] josersleal opened #624 "build is problematic"
there are so many issues with building in ADO for IOS and specially for cordova that a link to a how-to that actually works would be useful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28aa9747-f64a-d886-487d-8ebb97d717b8
* Version Independent ID: 0c7edbb7-4bf7-f66c-c8a7-275308365f27
* Content: [Deploy Azure DevOps B

[2019-07-10 09:40] antbui commented on #390
Hi @amoljain
I am facing the same issue with you. Without 'index.android.bundle' on branch, the app can not start although appcenter built successfully.
In case, we put this file to branch, in the next build time, if we don't re-bundle, the app can't load new change.
Do you have any idea to overcome this issue?
Thanks in advance.

[2019-07-10 10:28] dbeff commented on #617
Please also keep in mind that the command link is not supported in the new version of React Native. It's a very recent version and with a very important change called autolinking. Based on that the documentation should also include caveats of use link after ver 0.60 of react native.

https://facebook.github.io/react-native/blog/2019/07/03/version-60#native-modules-are-now-autolinked

[2019-07-10 10:30] dbeff opened #625 "Missing info about React 0.60 and Android setup"
Please keep in mind that the command `react-native link` is not supported in the new version of React Native (0.60). It's a very recent version and with a very important change called autolinking. The documentation should also include caveats of use link after version 0.60 of react native.
https://facebook.github.io/react-native/blog/2019/07/03/version-60#native-modules-are-now-autolinked

---
###

[2019-07-10 10:32] MakhouT commented on #617
Correct @dbeff
I was using 0.59.10

[2019-07-10 12:33] jwargo commented on #619
@alaskanrogue aaah, I see the issue now, thanks. I’ll update it

[2019-07-10 13:16] jwargo commented on #621
@stevehurcombe thanks, I’ll have the PM take a look at making an update.

[2019-07-10 13:18] jwargo commented on #622
@josersleal I’ll have the PM take a look at making an update.

[2019-07-10 13:19] jwargo commented on #623
Closing, duplicate of #622

[2019-07-10 13:19] #623 closed, assigned to nobody

[2019-07-10 13:19] jwargo commented on #624
closing, duplicate of #622

[2019-07-10 13:19] #624 closed, assigned to nobody

[2019-07-10 13:24] jwargo commented on #390
@antbui please see my previous comment - the best place to get support is not the docs, please contact our dedicated support team.

[2019-07-10 13:47] davebcn87 commented on #585
Is it still in closed beta? Is it worth to change the SDK for the existing apps now or should we wait until we can move definitely to AppCenter?

[2019-07-10 15:08] nilofer commented on #608
@spartanace1024 are you still experiencing this issue? I'm closing this for now, but feel free to re-open if you still need assistance from us.

[2019-07-10 15:08] #608 closed, assigned to nilofer, iageoghe

[2019-07-10 15:10] nilofer commented on #622
Hi @josersleal, can you clarify what how-to you're looking for? If you're looking for assistance related to building in Azure Pipelines before distributing using App Center, check directly with [Azure DevOps Support channels](https://azure.microsoft.com/en-gb/support/devops/).

Or are you looking for help related to Distributing a build from Azure Pipelines? In that case @botatoes can help out.

[2019-07-10 15:17] dipree commented on #585
@davebcn87 it's recommended to move the apps to App Center first, then update the SDK. The option to move apps will be available end of the week or early next week.

[2019-07-10 17:18] dinobu opened #626 "App Center Inconsistend instructions for Android, IOS, UWP"
App center instructions to install App Center Analytics and Crashes nugets inconsistent;
- on UWP, missing info about Crashes nuget;
- on UWP, adding secret key and everything else according to instructions is not working, neither Analytics nor Crashes section show nothing
- on IOS/Droid, the code sample to start app center tracking (where you enter your secret key) provided by App Center once you

[2019-07-10 18:36] jwargo commented on #626
@dinobu I’ll have the PM take a look.

[2019-07-10 18:51] dhei commented on #617
Hey folks,

We are working on docs update of React Native manual android linking for 0.59.x.

@dbeff, yes we are actively working on the autolinking support of React Native 0.60.0. For anyone interested, https://github.com/microsoft/appcenter-sdk-react-native/issues/613 is the one tracking that.

[2019-07-10 19:02] elamalani commented on #626
@dinobu We are improving the experience for UWP crash reporting in App Center. Once that is done, we will update the getting started instructions on using the crashes NuGet.

Please contact App Center support if you are unable to see any data in Analytics and Crashes once the SDK is integrated into a running app.

Can you point to the page link where you see a missing semi colon?

[2019-07-10 19:31] botatoes commented on #595
Hi, this is being addressed by one of our API initiatives. Tagging @nrajpurkar to this for tracking.

[2019-07-10 19:40] dinobu commented on #626
Create an iOS app for Xamarin in App Center > go to Overview and select Xamarin Forms tab.  In there you will see this:
![app center-1](https://user-images.githubusercontent.com/40807298/60999392-eac31080-a30f-11e9-8f40-e75129016f76.png)

[2019-07-10 19:45] dinobu commented on #626
is there any ETA where to expect working UWP Xamarin Forms update and documentation update?

is there any link about this plan you can provide?

Thanks

[2019-07-10 20:12] dinobu opened #627 "Crashes not working on UWP"
Even though I have added Analytics and Crashes nuggets in my .NETStandard project and all 3 head projects (Android, iOS, UWP) and then in App.xaml.cs OnStart() of my .NETStandard project, added below as you suggested by replacing my app secret appropriately:

AppCenter.Start("ios={Your App Secret};android={Your App Secret};uwp={Your App Secret}", typeof(Analytics), typeof(Crashes));

The Crashes a

[2019-07-10 20:23] elamalani commented on #627
@dinobu For support issues, can you please reach out to App Center support by clicking on the blue icon on the lower right of App Center portal? Someone from our team should be able to help you. Thanks!

[2019-07-10 20:23] #627 closed, assigned to nobody

[2019-07-10 20:25] elamalani commented on #626
Here is the [roadmap ](https://github.com/Microsoft/appcenter/wiki/Roadmap#hockeyapp ) link for improved UWP support.

[2019-07-10 20:28] elamalani commented on #626
Thanks for reporting the portal bug. We will fix it.

[2019-07-10 20:35] dinobu commented on #626
Created https://github.com/microsoft/appcenter/issues/697

[2019-07-10 20:37] jwargo commented on #627
@dinobu The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2019-07-10 20:59] Zakeelm commented on #621
I can definitely look into how we can make this happen. To make sure i'm understanding correctly, you're suggesting something that does a bit more in depth than the current diagram, yes?

![image](https://user-images.githubusercontent.com/31293287/61004437-e3edcb00-a31a-11e9-9b09-45e5a6121fef.png)

[2019-07-10 21:12] dinobu opened #628 "Crashes on UWP (Xamarin.Forms)"
First, I dont see Crashes working at all on UWP.

Also, I read your document and it is confising to me in these 2 points:

1. When you say crash reporting on UWP is only supported for AppCenter.Start and not through call to Crashes, then what is the point of it?  AppCenter.Start is what is called on App start.  That basically means no crash will ever been reported on UWP if I understand it correct

[2019-07-10 21:15] amchew commented on #615
Hi @stevehurcombe! I updated the fourth paragraph here: https://docs.microsoft.com/en-us/appcenter/auth/ to include the value proposition for Auth.

Thanks for the tip! :)

[2019-07-10 23:03] aaronrogers opened #629 "What happens to symbols from builds generated in App Center?"
I’m using the build feature in App Center and it seems that the symbols aren’t automatically captured and uploaded along with the build.  Is there something custom I need to do?

[2019-07-11 02:34] aaronrogers commented on #629
Looks like they’re updated automatically, and if I want crashes completely symbolicated I need to disable bitcode.

[2019-07-11 02:34] #629 closed, assigned to nobody

[2019-07-11 08:08] stevehurcombe commented on #621
Hi Zakeelm,
I think that's a great diagram, I wouldn't make it more complicated. It shows the partitioning quite well.

I think you need a new diagram that illustrates (in a simpler way) how the permission broker is working. I worked it out using this article (amongst others):

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/data-cloud/authentication/azure-cosmosdb-auth

This one is useful

[2019-07-11 08:45] stevehurcombe commented on #615
Thanks Amanda.
I didn't think this sentence was correct though:

"It is also currently the only way to use the signed-in user's identity with other App Center services like Data and Push."

The user's identity can be set using the SDK.

[2019-07-11 08:53] davebcn87 commented on #585
thanks @derpixeldan Where can I follow the progress on that?

[2019-07-11 09:10] abilopoliy opened #630 "Cannot run tests. Returning exit code 2."
I try run test in AppCenter Cloud. React-native app on appium. On my local machine app start. but in AppCenter i see error " Cannot run tests. Returning exit code 2."
 [INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building run-test 1.0-SNAPSHOT
[INFO] --------------------------------------------------------------------

[2019-07-11 09:28] dipree commented on #585
Yes, it's on our [roadmap on GitHub](https://github.com/Microsoft/appcenter/wiki/Roadmap) and the ticket is [here](https://github.com/Microsoft/appcenter/issues/230).

[2019-07-11 12:55] jwargo commented on #615
@stevehurcombe that’s true. @amchew can you please make that edit?

[2019-07-11 13:15] jwargo commented on #630
@abilopoliy The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informati

[2019-07-11 13:15] #630 closed, assigned to nobody

[2019-07-11 13:40] wsrzx commented on #55
@knicholasa There an ETA on this?

[2019-07-11 13:55] annakocheshkova commented on #628
Hi there, what this means is that the only thing available right now is actually starting the crash service. This doesn't mean that it won't work at all - basic crash functionality will work, but all the other calls like `isEnabled`/`setEnabled` are not available.
2nd point you have understood correctly. As we already mentioned in the docs, we plan to improve App Center's Windows support in Summer

[2019-07-11 15:20] nilofer commented on #55
@willbuildapps, we're in the middle of adding in support for connecting to GitLab in Build at the moment, but we'll be taking a look into design for Xamarin.iOS extension support soon after that wraps up.

[2019-07-11 15:33] dinobu commented on #628
Thanks Anna, I understand you are working to improve it but what I am trying to point to is that 2nd point is pretty much saying "you cannot see how it looks, how good it reports, what it reports until you implement it and ship it to customer through playstore but as we explained in 1st point, it may or may not work, most likely wont work".  It is basically saying "stay away from this".  The docum

[2019-07-11 16:06] amchew commented on #615
@stevehurcombe great point. I've submitted a new PR to correct my statement. Very nice catch!

[2019-07-11 16:43] jwargo commented on #625
duplicate of #617

[2019-07-11 16:43] #625 closed, assigned to nobody

[2019-07-11 16:44] #619 closed, assigned to jwargo

[2019-07-12 09:46] RohanTalip opened #631 "CodePush for Cordova docs: 2 Enums sections each with an InstallMode subsection"
In the Cordova Client SDK documentation page for CodePush, there are 2 Enums sections, each with an InstallMode subsection, although the InstallMode subsections are slightly different (the second includes ON_NEXT_RESUME, while the first doesn't).  I can't tell if this was intentional or if it is a copy-and-paste error.

The first Enum section:
https://docs.microsoft.com/en-us/appcenter/distributio

[2019-07-12 12:50] jwargo commented on #631
@RohanTalip I’ll have the PM take a look.

[2019-07-12 15:34] jbazeley commented on #609
Hi, I also see no native crashes on the appcenter UI for our app.

If I set AppCenter.setLogLevel(Log.VERBOSE), I see a bunch of logs which *look like* the send succeeded:
e.g.

2019-07-12 16:28:47.432 12071-12129/my_app D/AppCenter: checkPendingLogs(group_core) pendingLogCount=0 batchTimeInterval=3000
2019-07-12 16:28:47.650 12071-12242/my_app V/AppCenter: Calling https://in.appcenter.ms/logs?api

[2019-07-12 15:37] sseyod commented on #609
Thanks @jbazeley, glad to know it wasn't just me :) Pete