[2019-07-14 17:05] caseyniemann commented on #587
@amchew  Can we use this for a phone auth first approach similar to FB Account Kit, Firebase or Twilio?

[2019-07-15 11:08] christopheph opened #632 "Distribute Unity via appcenter"
Hi,

We are trying to distribute a unity application (build with unity editor). We saw that appcenter allows to upload a .zip file, but this does not work, because appcenter cannot find any versioning infos in the zip package. Is there some specific file needed in the package ? I do  not find any information about this error.

Are there other manner to create packages for that kind of project ?

T

[2019-07-15 12:24] jwargo commented on #632
@christopheph The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informa

[2019-07-15 12:24] #632 closed, assigned to nobody

[2019-07-15 12:54] #615 closed, assigned to amchew

[2019-07-15 18:31] valnav commented on #587
@OlexandrStepanov
I am not sure i understand your supposed flow, but did you see - [Setup ROPC with Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-ropc)

[2019-07-15 21:57] Zakeelm commented on #590
Hi there!

We don't currently have plans to implement this change. But, we're keeping an eye on additional requests for this and will continue to investigate as re-prioritize as needed.
I'm going to close this issue for now and we can re-visit it in the future.

Feel free respond here in this thread and we can continue this discussion!

[2019-07-15 21:57] #590 closed, assigned to Zakeelm

[2019-07-17 01:44] amchew commented on #587
Hey @OlexandrStepanov, App Center Auth only supports the sign-in user flows and custom policies, so yes the authentication part must be implemented via MSAL library manually. I would love to learn more about your use case and what you've tried with setting up ROPC, would you be available this week for a call? Email me at amchew [at] microsoft [dot] com.

@caseyniemann If I understand your question

[2019-07-17 11:56] caseyniemann commented on #587
@amchew Yes.  Your competition in this space is FB Account Kit and Firebase Phone Auth---they allow that to be a first authentication---instead of a second (like MFA).

[2019-07-17 19:55] valnav commented on #587
@caseyniemann - there are few samples for one time pass code and phone number sign in here - https://github.com/azure-ad-b2c/samples

[2019-07-18 12:16] surensaluka opened #634 "[UWP] Does not work build under Windows 10.0.14393"
I have tested this and found when you have the minimum target version below build 14393 it does not work. When I set the current configuration to
Min version build 14393 and
Target version build 17763 it works. Why this not supporting Windows 10 versions below 14393?

[2019-07-18 12:47] jwargo commented on #634
@surensaluka I’ll ask the PM to take a look at your comment. However, the comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our ded

[2019-07-18 13:12] nilofer commented on #634
@surensaluka please reach out to support regarding this. Thanks!

[2019-07-18 13:12] #634 closed, assigned to nilofer

[2019-07-18 13:13] nilofer commented on #622
Hi @josersleal, we haven't heard from you in a while so I'm closing this out. Feel free to re-open if you're still having issues.

[2019-07-18 13:13] #622 closed, assigned to nilofer

[2019-07-18 19:53] jvandenaardweg commented on #544
I was struggling with the same thing when I noticed this issue.

Yes, that's the confusing part :-)

It wasn't clear to me too you need to fill the environment variables in the section where the other environment variables are. The UI is a little confusing there.

[2019-07-19 12:19] jwargo commented on #544
@jvandenaardweg do you have any suggestions for how to make it better?

[2019-07-19 15:59] winnie commented on #628
Hi @dinobu - we understand this is a major limitation and we have plans to support crash reporting for UWP apps not distributed through the store (looking at the September time frame).

If you would like to better understand what App Center crash reporting has to offer, I'm happy to chat. Feel free to start a support thread (blue chat bubble) and our support team will triage the ticket accordingly

[2019-07-19 16:05] dinobu commented on #628
Thanks @winnieli1208, I think it is best to see it my self once it is supported.

[2019-07-19 18:56] nilofer commented on #544
@jvandenaardweg I've added a fix to explicitly call out needing to set the environment variable with a link to the relevant doc. Closing this out, but feel free to re-open and provide any additional suggestions.

[2019-07-19 18:56] #544 closed, assigned to nilofer

[2019-07-20 10:24] jvandenaardweg commented on #544
Thanks @nrajpurkar , much better now 👍

Only a small markdown problem with bold text now after this change in the docs

![01384B23-9D65-4678-9A11-E3924EE1F2F6](https://user-images.githubusercontent.com/5155373/61577543-12249500-aae9-11e9-8db9-bf37e45fc5e8.jpeg)

[2019-07-22 09:14] shamprasadrh opened #635 "Is Data service supported for React-Native?"
I do not see any documentation for React-Native for Data service. Is it supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1f06a24-389f-8986-83b3-5f12d34d4e35
* Version Independent ID: 904c6d8f-ea31-d36c-ec1d-b70df33192e3
* Content: [Getting started with the App Center Data Service - Visual Studio App Center](h

[2019-07-22 16:14] jwargo commented on #635
@shamprasadrh no, not at this time, but it’s on our roadmap.

[2019-07-22 16:31] Zakeelm commented on #635
Hey there, React Native isn't currently supported, but it's something we're actively working on and should have some news to share on this soon!

[2019-07-22 16:31] #635 closed, assigned to nobody

[2019-07-22 16:44] AbdurrahmanSefer commented on #422
Are you find the way?

[2019-07-22 16:56] jwargo commented on #422
@AbdalrhmanAlsafr You can export the device data using the export API: https://openapi.appcenter.ms/#/push/Push_ExportDevices then use that data on your backend to send notifications,

[2019-07-22 17:44] fredrikhaglund opened #636 "Broken link in menu"
Menu item Build &gt; Xamarin &gt; Android is "broken" since it leads to "https://docs.microsoft.com/en-us/".

Go to: https://docs.microsoft.com/en-us/appcenter/build/xamarin/android/

The menu path is Build &gt; Xamarin &gt; Introduction &gt; Introduction.

So there are two pages titled "Introduction" under Build &gt; Xamarin in the menu. I think there is a miss-configuration and the second "Intro

[2019-07-22 17:46] AutumnEvans418 commented on #422
@AbdalrhmanAlsafr the suggestion @jwargo provided is what we are currently doing.  we match the device id with a username and use that to send to their devices.

[2019-07-22 18:09] gwharvey opened #637 "Deleting mapping files?"
Please add instructions on how to delete a mapping file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77e9c7ee-7522-cc0a-7ff1-7748f93efa83
* Version Independent ID: 683bf206-d70c-192b-6f59-f03dd1f66885
* Content: [Android ProGuard - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/diagnostics/andro

[2019-07-23 23:14] cainejette opened #638 "Not clear what to do if `OnStartup` method doesn't exist for WPF app"
We should mention that if it does not exist, you can override it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e799e45-8feb-d74c-4e25-3bdf49301766
* Version Independent ID: b6aef403-76f7-5df2-aa5d-3ed66397893d
* Content: [Get Started with WPF/WinForms - Visual Studio App Center](https://docs.microsoft.com/en-us/appce

[2019-07-24 03:31] archerfob opened #639 "Distribute.ReleaseAvailable is not called on Unity Android"
I am trying out the Distribute module with implementing my own UI to handle Distribute.ReleaseAvailable. However, this callback is never called. Distribute.ReleaseAvailable = OnReleaseAvailable; is put in Awake() but still no luck. Please help. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 553de3d3-ad6c-f329-1

[2019-07-24 10:22] ikrasnoselskikh opened #640 "Cannot disable notifications for some users"
Hi!
Some users of our company cannot disable email notifications.
It caused by click on the user icon doesn't show dropdown with Account Settings option. So user cannot enter into Account Settings window. These users have such permissions as another users of company and locate in one distribution group.
So we cannot find a way to customize or delete email notifications for some our users

---
####

[2019-07-24 17:58] amchew commented on #640
Hey @ikrasnoselskikh! May I ask if you can take a screenshot of the account settings page? I am testing this out on https://appcenter.ms, and it's working for me.

[2019-07-25 08:20] Julien-Mialon opened #642 "[Exporting Diagnostics Data - Visual Studio App Center] Invalid json property name in payload sample"
Hello,

I just tried to create some export configuration following this documentation page and found out that the property name `"exportEntities"` in json payload sample is invalid, it should be `"export_entities"` instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 667d49a6-a257-4783-b01f-34d93108669b
* Version In

[2019-07-25 17:36] winnie commented on #637
Hi @gwharvey you can use the delete symbols API to delete a mapping file: https://openapi.appcenter.ms/#/crash/symbolUploads_delete

I will update our docs to reflect that. Thanks for your feedback!

[2019-07-25 18:30] stephenhauck opened #643 "Global application crash logging ?"
Does / is there a way to log crashes without explicitly writing the entry in a catch block for areas that may not have appropriate exception handling ?

Xamarin forms is the platform I am using.

[2019-07-25 19:55] gabriele-sacchi opened #644 "Error in documentation"
&gt; We recommend that all users take advantage of the automatically created Staging and Production environments

That is not correct, they are not automatically generated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2c2bd47-97e3-abc8-fbdd-305f0c631827
* Version Independent ID: 318718e7-a38a-7cc5-01a4-7ce0153c4398
*

[2019-07-26 13:07] ikrasnoselskikh commented on #640
Hi @amchew! That is it:
/Users/ivankrasnoselskikh/Downloads/2019-07-26 15.03.27.jpg

[2019-07-26 13:08] ikrasnoselskikh commented on #640
![2019-07-26 15 03 27](https://user-images.githubusercontent.com/38478214/61953625-2ec43f80-afb7-11e9-89c0-08763eb0ad05.jpg)

[2019-07-26 17:23] amchew commented on #640
Hi @ikrasnoselskikh, got it! That screenshot is the view of a tester in the install page of App Center. AFAIK testers can't change their notification settings (fyi @botatoes correct me if that's wrong!). To customize your notifications/or determine if testers should receive it, you can toggle this in the distribution process:

![image](https://user-images.githubusercontent.com/33160470/61969447-67

[2019-07-28 09:17] quantumarun opened #645 "Push Notification not received in Foreground on Android device targeting Android 8.0+"
I have a Xamarin.Forms application and had integrated AppCenter Push. All was working fine until recently the push notification stopped getting received in foreground. While debugging i can see the notification is received but it's not shown as notification at the top.

I had followed the steps from below link:
https://docs.microsoft.com/en-us/appcenter/sdk/push/xamarin-forms

Here is my code to p

[2019-07-28 22:13] JDaance opened #646 "Upload crashes"
I used to upload crashes from Lua in my game using HockeyApp http API. Is this still possible? I need to be able to upload crashes from my clients game, without using the SDK, or if you have some lua based SDK?

This is the documentation for this feature on HockeyApp:
https://support.hockeyapp.net/kb/api/api-crashes#post-custom-crashes

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-07-29 11:24] glintpursuit commented on #212
Did you got solution ?

[2019-07-29 14:54] matthiaswenz commented on #212
@bobber205 @Abhi-Tech9 Sorry for the late response - to help you fix these potential problems, as this is a ticket for the App Center documentation, can you provide more details on your configuration and what exact error you are seeing? You can also share this in private with our customer service, ideally with the information about which app in App Center you're seeing problems with.
Alternatively

[2019-07-29 15:00] glintpursuit commented on #212
@ranterle, thanks for response.

I am trying to use App Center build with KeyStore provided on App Center.

As per the latest suggestion from customer service, I have disables signing config in build.grdle by commented it out, like below

// signingConfigs {
    //     release {
    //         // storeFile file(MYAPP_RELEASE_STORE_FILE)
    //         // storePassword MYAPP_RELEASE_STORE_PASSWORD

[2019-07-29 15:11] matthiaswenz commented on #212
@Abhi-Tech9 This means that your Gradle configuration is referencing the signing configuration `release` somewhere, i.e. you have a line like `signingConfig signingConfigs.release` in your configuration somewhere - so removing the entire signing configuration will not be sufficient.

I will follow up with you from the App Center support to further keep this issue for our documentation.

[2019-07-29 15:14] glintpursuit commented on #212
Yes, after commenting below mentioned line getting new error but it is something related to not proper singing key

Commented out
  //signingConfig signingConfigs.release

Error :

jarsigner: Certificate chain not found for: ***.  *** must reference a valid KeyStore key entry containing a private key and corresponding public key certificate chain.

[2019-07-29 23:54] winnie commented on #646
Hey @JDaance - App Center doesn't have an equivalent upload custom crashes API at the moment. This is on our roadmap and we expect to have this complete very soon. Please reference this issue [#31](https://github.com/microsoft/appcenter/issues/31) for the latest updates.

We don't have a Lua based SDK but you should be able to use the uploads API once we implement it. Thanks!

[2019-07-30 02:38] nilofer commented on #636
Thanks for pointing this out @fredrikhaglund. Got a fix on the way!

[2019-07-30 04:52] jarrodbell opened #648 "Missing custom_data length limits"
After testing (and getting 400 Bad Request errors), I found there is a 100 character limit for data within custom_data values. This is not documented here, and would have been great to know before implementing code.

{"code":400,"message":"body parameter is invalid or empty.: 'CustomData[\"example\"] value '1234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901

[2019-07-30 12:19] jwargo commented on #645
@quantumarun The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informat

[2019-07-30 12:19] #645 closed, assigned to jwargo

[2019-07-30 13:03] JDaance commented on #646
Hey, thats great to hear! Thanks

[2019-07-30 13:03] #646 closed, assigned to winnie

[2019-07-30 13:11] jwargo commented on #648
@jarrodbell thanks for pointing this out (and sorry for the confusion). I’ll take a look at making this more clear in the docs.

[2019-07-30 13:40] jwargo commented on #648
@jarrodbell that limitation is documented here: https://docs.microsoft.com/en-us/appcenter/push/send-notification#limitations but I’ll make a reference in the other doc.

[2019-07-30 13:40] #648 closed, assigned to jwargo

[2019-07-30 14:14] winnie commented on #637
Docs have been updated: https://docs.microsoft.com/en-us/appcenter/diagnostics/android-proguard#deleting-a-mappings-file.

Closing this issue.

[2019-07-30 14:14] #637 closed, assigned to winnie

[2019-07-30 14:24] winnie commented on #642
Thanks @Julien-Mialon! I just submitted a PR to have this fixed. I'll close this issue once the PR is merged.

[2019-07-30 14:28] winnie commented on #643
Hi @stephenhauck - the App Center crashes SDK will send crash logs from your app to App Center. You can learn more here: https://docs.microsoft.com/en-us/appcenter/sdk/crashes/xamarin

You only need to use the try/catch blocks if you are tracking errors (handled exceptions). Hope that helps!

[2019-07-30 15:18] #643 closed, assigned to elamalani, winnie

[2019-07-30 18:28] paranornfff opened #649 "1"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06813350-a37b-a4a2-fdbc-a59caefb9f32
* Version Independent ID: 29787958-5b4e-efc2-2af5-2af0ee53216e
* Content: [App Center Build - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/)
* Content Source: [docs/build/index.md](htt

[2019-07-30 22:37] LanceMcCarthy opened #650 "Incorrect Method Names"
Here are the correct names for the methods mentioned in this article:

In this section: https://docs.microsoft.com/en-us/appcenter/sdk/crashes/wpf-winforms#did-the-app-crash-in-the-previous-session

The method should be:

`var hasCrashed = await Crashes.HasCrashedInLastSessionAsync();`

In this section: https://docs.microsoft.com/en-us/appcenter/sdk/crashes/wpf-winforms#details-about-the-last-cras

[2019-07-31 00:46] blparr commented on #649
Can we help you @paranornfff ?

[2019-07-31 05:16] cainejette opened #651 "Errors are available for more than just Xamarin platform"
We should update this to be correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c2b0f5e-997d-d42d-f7e2-8168cdc812e0
* Version Independent ID: 7f760699-c91d-e427-25be-85a4611fba7d
* Content: [Limitations - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/diagnostics/limitations)
* Content Source

[2019-07-31 05:19] cainejette commented on #651
This page also says errors only for xamarin/unity: https://docs.microsoft.com/en-us/appcenter/diagnostics/using-the-diagnostics-ui

[2019-07-31 06:06] winnie commented on #642
Docs are updated: https://docs.microsoft.com/en-us/appcenter/gdpr/diagnostics-export

Closing this issue. Thanks!

[2019-07-31 06:06] #642 closed, assigned to winnie, hamswan

[2019-07-31 06:16] winnie commented on #638
Docs are updated: https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/wpf-winforms#5-start-the-sdk

Closing this issue. Thanks!

[2019-07-31 06:16] #638 closed, assigned to winnie

[2019-07-31 06:49] Julien-Mialon commented on #642
Thank you! :)

[2019-07-31 10:35] quantumarun commented on #645
Thanks @jwargo. I had reached to AppCenter support on this.

[2019-07-31 15:42] winnie commented on #651
Docs have been updated to reflect handled errors support for WPF/WinForms apps:

https://docs.microsoft.com/en-us/appcenter/diagnostics/using-the-diagnostics-ui
https://docs.microsoft.com/en-us/appcenter/diagnostics/limitations

[2019-07-31 15:42] #651 closed, assigned to nobody

[2019-07-31 17:56] tele-bird opened #652 "2.1 Convert the application identifier"
I see that the new initialization code uses app secret instead of app id.... Why do I need to convert the application identifier if it's not used in the new code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e158918e-8740-6b57-4579-9baa3db532ac
* Version Independent ID: 9d14e1ae-ca37-791b-44eb-e3448cbc70ae
* Content:

[2019-07-31 23:31] #649 closed, assigned to nobody

[2019-08-01 01:39] nilofer commented on #636
All fixed! Closing this out.

[2019-08-01 01:39] #636 closed, assigned to nilofer

[2019-08-01 16:28] mist3rj opened #654 "Crashes and errors in one call?"
Hi, can you confirm that with one API call we retrieve both errors and crashes?

e.g. https://api.appcenter.ms/v0.1/apps/{owner_name}/{app_name}/errors/errorGroups/{errorGroupId}

How can I know which HandledError resulted in a crash ?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 667d49a6-a257-4783-b01f-34

[2019-08-01 20:06] andrewleader commented on #57
Seems like this was never answered and should be reopened... how do you programatically receive push notifications when the app is in the background or closed? Like you want your code to wake up and do something in response?

[2019-08-01 20:13] jwargo commented on #57
@andrewleader so we updated the docs based on this a year ago. I thought this was resolved - what you see in the docs isn't enough?  Probably the best thing to do is ask support for help.

[2019-08-01 20:22] guperrot commented on #57
@jwargo @andrewleader As documented in the notes of https://docs.microsoft.com/en-us/appcenter/sdk/push/xamarin-android#intercept-push-notifications the user can receive a notification in background (including when an app is not running) but you cannot execute code at receive time. The callback is only executed at notification click time. The only exception is Silent push on iOS (silent on iOS can

[2019-08-01 20:33] tele-bird commented on #652
I found out that I needed to use HockeyApp's app ID value (and NOT the app secret, as these docs imply) in place of {Your App Secret} in the call to AppCenter.Start().

[2019-08-01 21:33] guymerin opened #655 "Missing import com.microsoft.appcenter.data.models.DocumentWrapper;"
Compile will fail

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b937bafd-1f6f-b759-18ec-8f960cc54150
* Version Independent ID: 2c928903-1b57-4dc8-e362-c4b78719df57
* Content: [Configuring App Center Data for Android - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/data/android#feedback)
* Con

[2019-08-02 22:06] winnie commented on #654
Hi @mist3rj - you can call this API to retrieve all crash and error groups: https://openapi.appcenter.ms/#/errors/Errors_GroupList

In the returned results, you'll see the group ID. If the group ID has a "u" attached to the end of the numbers, then that indicates a crash.

For example, the first group in the screenshot below is an error group and the second one is a crash group:
![image](https://u

[2019-08-02 22:14] winnie commented on #628
We'll let you know as soon as we have something for you to try out. In the meantime, you can follow our [roadmap]( https://github.com/microsoft/appcenter/wiki/Roadmap) for updates.

Closing this issue. Thanks!

[2019-08-02 22:14] #628 closed, assigned to elamalani, winnie

[2019-08-02 22:23] #654 closed, assigned to winnie

[2019-08-02 22:26] winnie commented on #613
Apologies for the delay. Our engineering team is looking into our NDK support now. We'll get back to you shortly.

Thanks for your patience!

[2019-08-02 22:26] winnie commented on #609
Apologies for the delay. Our engineering team is looking into our NDK support now. We'll get back to you shortly.

Thanks for your patience!

[2019-08-03 14:34] narcismihaitech opened #656 "Slightly adjust point 3.1.2"
At point 3.1.2 Integrate React Native Android, it should be stated that the "assets" folder might not exist (it didn't exist for my project, for example). In that case, it should be created under "*project_root*/android/app/src/main/assets"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ed0fde7-9e78-c318-9f8c-9d921ec7

[2019-08-05 02:01] kys9096 opened #657 "Uploading issues takes too long"
I'm using App Center with Android NDK (unreal engine 4 + google break pad).
In my app, crash was generated on 02 Aug (at 7:50 p.m), but that issue was not uploaded at diagnostics.

At that time, I thought that I mistook something about my settings.
So I tried to find the problem by the evening of 03 Aug, but I can't find anything.
(Of course, I kept checking if the issue had been uploaded until th

[2019-08-05 18:52] LanceMcCarthy commented on #650
Why was this closed? The documentation was not updated and those are incorrect methods that do not compile.

To add another error for that page, this is not a method in WinForms/WPF:

`AppCenter.start()`

It should instead be

`AppCenter.Start()`

[2019-08-05 19:28] blparr commented on #650
We made the corresponding documentation update, and therefore the issue was closed automatically. Changes might take a bit to be live.

[2019-08-05 20:03] LanceMcCarthy commented on #650
Hi Blanca,

My apologies for being impatient. I did do a Shift + F5 on the page to make sure I was seeing the latest non-cached version.

I usually see a linked commit or another discussion when a fix is incoming. By just seeing this:

![image](https://user-images.githubusercontent.com/3520532/62491574-5460fe00-b79a-11e9-868d-682c514212c6.png)

I believed it was arbitrarily closed. Thanks for foll

[2019-08-05 20:22] blparr commented on #650
Hi, no worries!

Our colleague @guperrot referenced his documentation changes (might not be visible externally), see below:

<img width="712" alt="Screen Shot 2019-08-05 at 1 21 34 PM" src="https://user-images.githubusercontent.com/22063767/62492627-f88b7a80-b783-11e9-9a29-7eba85921999.png">

[2019-08-06 02:28] BaileyMillerSSI opened #658 "UWP Wrong Token"
I followed the instructions from the App Center well setting up a Universal Windows App. I associated my app to the store using Visual Studio. Then navigated to the Url that was given on the app center website. The instructions are slightly vague for where to get the 'Security Key' because under the Microsoft Store page there is just Application Secrets and a key there. I copied those values and p

[2019-08-07 02:48] jp-andre commented on #609
Hi @sseyod,

While working on this I made myself a script to easily run `dump_syms` and generate a ready-to-upload archive. This uses Docker to compile and run the tool on a Linux VM:
https://github.com/jpeg-ms/breakpad-tools-appcenter

Also, note that you probably don't need to set APP_API. All ABIs will be compiled by default, see: https://developer.android.com/ndk/guides/application_mk

I hope

[2019-08-07 02:52] jp-andre commented on #613
Hi @sseyod

I've responded to #609, pointing to https://github.com/jpeg-ms/breakpad-tools-appcenter
I hope this helps and we will keep looking into improving this.

[2019-08-07 14:01] jwargo commented on #658
@BaileyMillerSSI We just updated the docs last week to address the setup issues (and Microsoft moving to a new experience for Windows apps), Can you check to see that the docs there are the same as you followed? https://docs.microsoft.com/en-us/appcenter/sdk/push/uwp.

The best way to work through this is with help from our support team. App Center support is provided directly from within the App

[2019-08-07 21:54] hrushie opened #660 "Webhook is not working for Webex teams"
Hello team,

I am trying to add webhook to webex teams to notify new release in the appcenter, but I am getting the following error on the test -

<img width="356" alt="Screen Shot 2019-08-07 at 4 50 58 PM" src="https://user-images.githubusercontent.com/585126/62660460-b30daf80-b933-11e9-8b21-7193b9d53df4.png">

Same Web-hook url is working in the hockey app side and I am getting notification but

[2019-08-07 22:22] ghost opened #661 "iOS build submitted using App Center does not work on TestFlight (but works if submitted through XCode)"
I have a React Native project that I'm building for iOS. I have created a "
iOS Distribution (App Store and Ad Hoc)" Certificate and an App Store Distribution provisioning profile. I've added the newly created Certificate to the provisioning profile and set the App ID to explicitly match exactly.

I'm trying to distribute the app using TestFlight but having an issue. If I create an archive using X

[2019-08-08 09:26] ahmedsza opened #662 "User class and constructor"
The user class does not define a constructor, but the code to create a document uses a constructor based syntax

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b8b5526-4ef0-84ad-9e64-492af189ad41
* Version Independent ID: b498d251-e622-7524-8616-d03894f6b362
* Content: [Configuring App Center Data for Xamarin - Visual

[2019-08-08 09:42] sseyod commented on #609
Thanks for that. I, too wrote a similar script. For most developers, I'd have thought that that sort of scripting is probably a bridge too far in terms of complexity, and will stop them using Microsoft's Crash Reporting for the Android NDK. Come on Microsoft : provide a native Mac solution :) Pete

[2019-08-08 13:03] martinfrouin opened #663 "Symbols UUID isn't matching the one on AppCenter"
(iOS only)

I can't get the Diagnostics of my react native app because AppCenter tell me that I've some unsymbolicated crashes.
I uploaded the dSYM file asked but it still doesn't works.

My app is uploaded on AdHoc mode. Bitcode is disabled.
I checked the UUID using `dwarfdump --u MY_DSYM_FILE.dSYM` and it doesn't match with the one I saw on AppCenter.

I don't really know what I need to do. Is t

[2019-08-08 13:35] Evanion opened #664 "guide on how to setup private npm registry"
The documentation for setting up build is lacking documentation on how to setup support for private npm packages.

[2019-08-11 16:29] markghayden commented on #576
Are there any plans for Windows C++ support in SDK?

[2019-08-11 19:21] winnie commented on #576
Hi @markghayden - C++ for UWP apps isn't on our immediate roadmap.

There are a few feature requests around crash reporting support for C++ apps:
https://github.com/microsoft/appcenter/issues/436
https://github.com/microsoft/appcenter/issues/374

Feel free to give these issues a +1 or create a seperate feature request on the [App Center repo](https://github.com/Microsoft/appcenter) to help our tea

[2019-08-12 06:41] BrayanKhosravian commented on #270
Why is uwp not mentioned at all in the uitest chapter?

[2019-08-12 06:42] BrayanKhosravian opened #665 "Uitest uwp"
Why is uwp not mentioned at all in the uitest chapter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a0474be-6e14-b8e6-b6cf-934a04f0e509
* Version Independent ID: 4a79fc1d-8dca-1c17-718f-c30fda180f05
* Content: [Xamarin.UITest - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/test-cloud/uitest/)

[2019-08-12 06:49] kys9096 commented on #657
Thank you for your dedication.

I really don't mean to rush you, just want to know about progress of job.
Because my project is at an important time, if I can't expect this to improve in a few weeks, I need to add additional temporary things.
Can I expect this to improve in a few weeks?

Thanks.

[2019-08-12 14:01] dunno7 opened #666 "Could not upload zip file"
I could not upload a zip file with exe file inside. It worked fantastic with Hockeyapp.net. Please show me how to do in AppCenter.

[2019-08-12 14:25] martinfrouin commented on #663
I finally did it, thanks to the AppCenter support.
The problem was that I wasn't uploading the good dSYM file.
The good one for me was in the **DerivedData** -> `~/Library/Developer/Xcode/DerivedData/YOUR_APP/Build/Products/Debug-xxx/xxx.dSYM`
It's working now 👍

[2019-08-12 14:25] #663 closed, assigned to winnie

[2019-08-12 19:13] winnie commented on #665
Hi @BrayanKhosravian thanks for the feature request! This isn't on our immediate roadmap but Microsoft has another tool called WinAppDriver that might help with UI tests: https://github.com/microsoft/WinAppDriver

[2019-08-12 19:17] BrayanKhosravian commented on #665
Thanks for response. So uitesting for uwp is not supported at all with xamarin.uitest? Or is it just not mentioned in the doc?

[2019-08-12 19:24] winnie commented on #665
UWP is not supported at all

[2019-08-13 14:05] hrushie commented on #660
@blparr and @amchew any update on this? do we have any solution for this or I have to find out other way to send notifications to webex teams?

[2019-08-13 14:53] angelru commented on #57
@guperrot @jwargo @andrewleader I hope the code runs soon upon receiving a notification as a firebase without touching the notification events OnReceived and OnOpened

[2019-08-13 18:44] winnie commented on #657
@kys9096 apologies for the delay. Our engineering team is actually working through some NDK issues that may or may not be related to what you're seeing. Can you please start a support ticket and provide your app ID / name so our team can take a closer look for you?

Thanks!

[2019-08-14 00:21] amchew commented on #660
Hi @hrushie! We currently only support webhooks for Slack and Microsoft Teams unfortunately. You can write an [Azure function](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-serverless-api) that translates the way we POST to fit the requirements of the platform. Please see details [here](https://docs.microsoft.com/en-us/appcenter/dashboard/webhooks/#custom-webhook-support)

[2019-08-14 02:32] kys9096 commented on #657
Thank you for your reply.

How do I start a support ticket?
Is this it?
![image](https://user-images.githubusercontent.com/29933563/62990482-20b36180-be87-11e9-98ec-db033d36c09f.png)

Thanks.

[2019-08-14 14:52] meliheran commented on #55
Still waiting for the Xamarin.IOS extension provisioning file support !?

[2019-08-14 15:13] StAI opened #667 "How can we set the "short version""
How can we set the "short_version" when we are uploading UWP .zip package?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8ccb786-5f74-9c47-f6fa-a22720f823ad
* Version Independent ID: 3185af63-60df-aa2b-1d8c-b3db0ca3ad8c
* Content: [Upload a Build to Distribute via App Center - Visual Studio App Center](https://docs.m

[2019-08-14 17:20] nilofer commented on #55
@meliheran we haven't been able to get to this yet as other work is prioritized above this. I understand that this is an important feature request for Xamarin.iOS apps and we're taking that into account as we look at future priorities.

[2019-08-15 07:46] jinyang1994 opened #670 "Update React Native 0.60+ CodePush support"
The configuration of React Native 0.60+ is slightly different from the previous one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39490e39-be97-2bba-5afc-6bc8bed39690
* Version Independent ID: 357a2070-e41c-b346-e18b-606eec7255c2
* Content: [Using the React Native SDK with CodePush - Visual Studio App Center](https:/

[2019-08-15 20:11] e4c4 opened #671 "A few small changes"
Very helpful guide. Just had to make a few small changes to the above instructions to get it to work for me:

Instead of "classpath 'com.google.gms:google-services:4.0.1'", the current version of Google services at this time seems to be "classpath 'com.google.gms:google-services:4.3.0'"

Needed to change "protected void onNewIntent(Intent intent)" to "public void onNewIntent(Intent intent)" in ord

[2019-08-16 11:04] BrayanKhosravian commented on #665
ok thanks.

[2019-08-16 11:04] #665 closed, assigned to Oddj0b, winnie

[2019-08-16 11:35] Nov1kov opened #672 "Does support jira server as bug tracker?"
I used Jira as a bug tracker In Hockey App successfully via login and password.
App Center requires use jira via app token.
But Jira server doesn't support feature API tokens
https://confluence.atlassian.com/cloud/api-tokens-938839638.html
This feature only for Jira cloud.
What can I do?
Thanks.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-08-16 20:14] duncan-iaria commented on #671
Had to do the above things as well (in my case though I downgraded to 3.2.1 since I had some other dependencies on that version). Thanks for the help!

[2019-08-16 21:21] hamswan commented on #656
Thanks @Narcis11 we will include this in our next iteration of doc edits.

[2019-08-16 21:40] nilofer commented on #661
Hi @myblueprinteric, can you contact [App Center support ](https://intercom.help/appcenter/en/) so we can better troubleshoot this please? We'll need some additional information to understand the cause of this issue.

[2019-08-16 21:40] #661 closed, assigned to nilofer

[2019-08-16 22:02] nilofer commented on #664
Thanks for pointing this out @Evanion. You can achieve this using a build script. Take a look at [a way](https://blog.theodo.com/2018/07/installing-private-npm-packages-appcenter-2/) someone else using App Center has solved this.

We have [folder](https://github.com/Microsoft/appcenter/tree/master/sample-build-scripts) with build scripts that is community driven if you'd like to contribute there!

[2019-08-16 22:02] #664 closed, assigned to nilofer

[2019-08-16 22:07] andrewleader opened #674 "The "Windows Plan" link is broken"
The "Windows Plan on Github" link 404's: https://github.com/Microsoft/appcenter/blob/windows/specs/2019-04/Windows-Plan.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e433b8e-4a4b-97a9-b1be-b32130379785
* Version Independent ID: 9d76a644-9b5c-4e0b-3d21-787d742c6f1c
* Content: [Windows Support - Visual Studio App Ce

[2019-08-16 23:01] abhayTale86 commented on #585
What is the alternative of method onNewCrashesFound() of CrashManagerListener of HockeyApp in App center

[2019-08-17 01:24] cainejette opened #675 "The "Let's get started with setting up..." line is incomplete"
It says: "Let's get started with setting up App Center SDK in your app to use App Center Crashes."

But then we go on to get it set up for Analytics, as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e799e45-8feb-d74c-4e25-3bdf49301766
* Version Independent ID: b6aef403-76f7-5df2-aa5d-3ed66397893d
* Content: [Ge

[2019-08-18 13:42] anandwahed opened #676 "Wrong podspec location for the iOS"
In the above documentation the path for the podspecs is wrong and using the above gives an error. The above should be changed to use the below values for the `pod install` to work as expected.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f1b3f6c-3754-3c3f-1f63-1af79ad651a2
* Version Independent ID: 7fdc3cf5-f

[2019-08-19 07:18] dipree commented on #585
@abhayTale86 please reach out to us directly via support, the blue button in the lower right in App Center.

[2019-08-19 12:46] jwargo commented on #658
@BaileyMillerSSI any progress on your end? Was our support team able to help you?

[2019-08-19 17:32] winnie commented on #667
Hi @StAI - you only need to specify a version if you're uploading a .zip for a WPF or WinForms app. Did you run into any issues when uploading a UWP .zip package?

[2019-08-20 00:12] winnie commented on #657
@kys9096 yep that's it!

[2019-08-20 00:13] winnie commented on #657
Closing this issue since our support and engineering team will be able to resolve this for you. Thanks!

[2019-08-20 00:13] #657 closed, assigned to winnie

[2019-08-20 00:14] #650 closed, assigned to winnie

[2019-08-20 00:15] winnie commented on #650
Docs were updated so I'm closing this issue. Thanks!

[2019-08-20 00:18] winnie commented on #626
Closing this issue. As mentioned by Ela, this is expected as the team is working on adding full diagnostics support for UWP apps. To keep track of progress on the UWP work, I recommend following the App Center [roadmap](https://github.com/Microsoft/appcenter/wiki/Roadmap) and [iteration plan](https://github.com/Microsoft/appcenter/wiki/Iteration-plans).

[2019-08-20 00:18] #626 closed, assigned to elamalani, winnie

[2019-08-20 00:21] winnie commented on #674
Thanks for reporting this! I just submitted a PR to update the link. In the meantime, here is the right link to the Windows plan: https://github.com/microsoft/appcenter/blob/specs/specs/2019-04/Windows-Plan.md

[2019-08-20 02:14] kikijhu opened #677 "/Users/vsts/agent/2.155.1/scripts/android-postprocess.sh: line 36: pushd: /Users/vsts/agent/2.155.1/work/1/s/devapp/build/outputs/apk/..: No such file or directory"
The correct path should be
`/Users/vsts/agent/2.155.1/work/1/s/devapp/build/outputs/apk/debug `or `/Users/vsts/agent/2.155.1/work/1/s/devapp/build/outputs/apk/release`

`/Users/vsts/agent/2.155.1/scripts/android-postprocess.sh: line 36: pushd: /Users/vsts/agent/2.155.1/work/1/s/devapp/build/outputs/apk/..: No such file or directory`

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-08-20 05:03] nilofer commented on #677
Hi @kikijhu, for specific issues with your build please contact App Center support.

[2019-08-20 05:03] #677 closed, assigned to nobody

[2019-08-20 08:57] StAI commented on #667
We need to release one version for different countries and different environment.
When we use hockeapp we can release f.e. 191.38.0-rc.preprod_PR, 191.38.0-rc.preprod_NL, 191.38.0-rc.prod_PR, 191.38.0-rc.prod_NL and so on.
But appCenter for UWP always resolve version from AppxBundleManifest.xml and this version will be the same for all these packages.
As I know in IOS f.e. there is possibility to

[2019-08-20 17:53] sheodesayali commented on #496
Does the list of devices immediately be updated when there is a new OS version in android or iOS?
Does appcenter send out any notification indicating that a new version of OS is available to so testing can be done on it?

[2019-08-20 18:21] Oddj0b commented on #496
@sheodesayali we update it weekly at the moment. We've been trying to find a good channel for sending out information about new devices. I would like to hear your suggestion about what format it should have?

[2019-08-21 01:26] gmarbury commented on #463
Crashes.IsEnabledAsync() always returns false. Even after setting it to true

[2019-08-21 09:33] AnastasiaKubova commented on #463
Hi, @gmarbury ! Please make sure that you use `Crashes.IsEnabledAsync() ` after Crashes have been [started](https://docs.microsoft.com/en-us/appcenter/sdk/crashes/xamarin#check-if-app-center-crashes-is-enabled).

[2019-08-21 11:28] LanderVe opened #679 "Where to put the google-services.json file"
"4. Copy this file to your Android project app module."
This only applies to Android Native projects, not to Xamarin. Is this thread correct? https://stackoverflow.com/questions/33435552/where-can-i-add-google-services-json-in-xamarin-app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed528dcd-ecaf-697e-c64a-30651d26ff

[2019-08-21 11:43] LanderVe commented on #679
Ok, I hadn't read the rest of the article yet. Later on it is described properly.

[2019-08-21 13:53] TParizek opened #680 "Crash group reopened"
To my knowledge it's not currently possible to be notified about crash group being reopened. This is a shame. There are two situations when you want to be notified about an issue:
- When some issue appears for the first time
- When some issue appears after it was marked as resolved

Do you have any plans for adding this in the future?

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-08-21 20:35] MarkMichaelis opened #681 "Update the documentation to indicate that submodules are supported on AppCenter"
Update documentation to indicate that submodules on Azure DevOps are supported:

Should be

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7da27216-2ec0-ab4f-6235-cafde99f44d8
* Version Independent ID: 268f8ecb-5d39-2164-0120-43453bfb19ef
* Content: [Code Repository Troubleshooting - Visual Studio App Center](https://do

[2019-08-21 21:50] hamswan commented on #676
@anandwahed our team will take a look at this in the documentation. Thanks for reporting.

[2019-08-21 22:00] hamswan commented on #671
Thanks for pinpoint this out, we will take a look at the documentation.

[2019-08-22 07:29] AnastasiaKubova commented on #676
Hi, @anandwahed! Thank you for reporting! Could you please clarify what the version of RN do you use? We fixed it for versions lower 0.60 in the last release.

[2019-08-22 07:40] anandwahed commented on #676
Hi @AnastasiaKubova we are using the RN version `0.60.5`. The problem is that the Podspec files are present in the root directory of the node_modules. But the document is pointing to use the `ios` folder.

[2019-08-22 09:12] Aliaksandr2Kharytaniuk commented on #667
Hello @winnieli1208 ,

Could you please assist us with custom versions? At the moment it's blocks our migration to AppCenter and it's critical for our customer.

Thank you in advance!

[2019-08-22 11:34] annakocheshkova commented on #676
Why would you need to use this path in RN 0.60.5? It introduces autolinking so you don't need to manually specify this path. In fact, I think you'd better delete it from your podfile.

[2019-08-22 11:40] anandwahed commented on #676
We actually upgraded the codebase from `0.55.4` to the latest version. And since we had to make some changes manually by viewing the file changes we updated the Podfile. @annakocheshkova are you saying the below entries can be removed completely from the Podfile ?

[code]

[2019-08-22 11:41] annakocheshkova commented on #676
@anandwahed yes. RN 0.60 links plugins automatically after the plugin installation, it doesn't use those references to node_modules anymore. So you should remove those lines, remove the plugins, and add them again.

[2019-08-23 07:01] ilaiyarajak opened #683 "Warning message in Build scripts section doesn't convey the correct message"
What is there now:

Documentation link: https://docs.microsoft.com/en-us/appcenter/build/custom/scripts/

What is the confusion:
The working functionality is "Whenever there is new build script added or made changes to location of the file we have to click on Save or Save&Build button to save the branch configuration to apply the changes."
The warning message conveys that "Every time you MODIFY th

[2019-08-23 07:46] sventschui opened #684 "XCode did not export scheme despite "Shared" checkbox was ticked"
I'd suggest to extend the hint about checking VCS for the scheme file in the "No Xcode scheme is found" section with another hint that if the file is missing unchecking and checking the "Shared" checkbox again will make sure the scheme file will be written to the file system.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-08-23 11:36] veringm opened #685 "Samples for spedifying color, icon and sound in notification"
Hi, you write that icon, color and sound can be choosen when sending notification to Android. Would be very helpful with a sample notification_content containing these settings.

However, thank you for very a thorough documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed528dcd-ecaf-697e-c64a-30651d26ff3d
* V

[2019-08-23 12:43] ChrisMaddock opened #686 "Outdated test running guidance"
This page is outdated for the latest version of Xamarin.UITest, which I believe are now upgraded to NUnit 3. The `/include` and `/exclude` command line options were removed in NUnit Console v3, and replaced with `--where`. The exe name also changed, to nunit3-console.exe. :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-08-23 12:45] UnreachableCode opened #687 "Difference between iOS id and accessibility label?"
What is the ID from iOS which the AutomationID exposes? Is it an accessibility label? Or is that something else. Need more clarification.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43d92e81-8d62-5775-b110-882c6ad6aa9a
* Version Independent ID: 62d282ce-ab98-46d1-1b82-fd28260330d2
* Content: [Get started with UITest

[2019-08-23 13:05] davidbritch commented on #687
UIView.AccessibilityIdentifier.

[2019-08-23 13:05] #687 closed, assigned to davidbritch

[2019-08-23 14:21] Aliaksandr2Kharytaniuk commented on #667
@winnieli1208 , @botatoes , @blparr Just a kindly reminder. Do you have any updates?

[2019-08-23 15:55] winnie commented on #667
Hi there! Apologies for the delay. Currenlty App Center doesn't support setting the version for UWP app releases. We just take the version that we extract from the app package, which I believe is what HockeyApp does as well.

I added an item to our backlog but unfortunately I don't have an ETA. I'll post here when I have updates!

[2019-08-23 21:23] glennwester commented on #686
Thanks Chris! @Oddj0b FYI 👍

[2019-08-24 11:46] mzhukovs opened #688 "Xamarin.UITest ClearAppData2 Timeout Exception (OnePlus 7)"
I was able to run a test using InstalledApp option on my physical Android device, a OnePlus 7, for a full day before all of a sudden ClearAppData2 timeout issue - it appears this may also happen for Samsung Galaxy 8 phone - any ETA on fixing?

[2019-08-24 16:53] #666 closed, assigned to botatoes

[2019-08-25 06:40] mzhukovs commented on #688
Perhaps also noteworthy is if i change AppDataMode to DoNotClear, the exception then becomes:
System.Exception: 'Post to endpoint '/ping' failed after 100 retries. No http result received'

[2019-08-25 18:58] #680 closed, assigned to winnie, amchew

[2019-08-26 11:02] Aliaksandr2Kharytaniuk commented on #667
Hi @winnieli1208,

A lot of thanks for the response! We will look forward to any updates from you.

Thank you in advance!

[2019-08-26 18:03] mjfara commented on #57
Is there any way of knowing if the notification was already shown (app was in background), or if the notification was received while the app was in the foreground?

[2019-08-26 21:22] zippo227 commented on #681
What about private submodule repositories in GitHub?

[2019-08-26 23:08] amchew commented on #680
Hey @TParizek, thanks for letting us know about your feature request! We currently have no plans for these two functionalities, but that being said, continue to post here, and give us feedback, as we do re-prioritize our roadmap based on user's feedback.

[2019-08-27 15:26] Drumzey opened #690 "Cordova support"
Will this feature be available to Cordova based applications?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e63af91-500a-d696-bb0d-544b53b9d85f
* Version Independent ID: 1a47949b-033e-fa40-ba8b-0afb61e0c437
* Content: [Push to User - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/push/push-to-us

[2019-08-27 15:30] jwargo commented on #690
@Drumzey there's nothing specific to the target platform with this feature - we don't care whether it's a Cordova app or any other app. What matters is that we have an identity to send to. Use this: https://docs.microsoft.com/en-us/appcenter/sdk/other-apis/cordova#identify-users to set the identity for Cordova apps. I don't know what the plans are for our Auth Service and Cordova, I'll ask the PM.

[2019-08-28 05:46] Zikun-Huang opened #691 "There may be a typo in the first line under first section"
In below section, the first line, I guess the "install IDS" should be "install IDs" as that appears in below content.

Original Sentence:
##You did not retain a mapping of your User IDs to Install IDs##
If you did not keep a mapping between your user IDs and install IDS, you must follow some extra steps outlined below.

traced link:
https://docs.microsoft.com/en-us/appcenter/gdpr/diagnostics-delet

[2019-08-28 09:16] khanmubaris commented on #430
How do you access these environment variables in javascript?

[2019-08-28 11:41] stewa11 opened #692 "There is no 'Click on Stores under Distribution in the left menu.'"
Thank you for this tutorial.
I was making good headway linking up the service account.
Questions:
1) Where is the JSON service account private key saved to on my windows 10 file system?
2) there is no Distribution nor Stores in the left hand menu. 'Click on Stores under Distribution in the left menu.' Have these been moved or do I need to enable something to get them to show?

Thanks
Stewart

---

[2019-08-28 12:29] apple-ihack-geek opened #693 "Missing blue chat button"
"To get help on any issue you may experience, use the blue chat button at the bottom-right corner of every App Center portal page"
Yet on every app center page I can see, there is no blue chat button.  Why is this? I even tried turning off all my ad and content blockers but I still don't see any blue chat button.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-08-28 14:05] jstevenson72 opened #694 "Assemblies Not Strong Named"
Got excited after watching a YouTube video today.  Tried to put this into my application, but the Microsoft AppCenter assemblies are not strong named, so it cannot be used.

Could not load file or assembly 'Microsoft.AppCenter.Analytics, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required. (Exception from HRESULT: 0x80131044)

Ho

[2019-08-28 17:12] pmullins-ewn opened #695 "Can't find push configuration values in new Azure portal"
Hi there, I'm attempting to set up push notifications in my UWP app. Under boldfaced item #2 (https://docs.microsoft.com/en-us/appcenter/sdk/push/uwp#2-get-the-package-sid-and-application-secret-from-the-partner-center). I was able to access my application's package SID listed in sub-step 2. However, on sub-step 3, where we navigate to the Microsoft Application Registration portal, when I clicked

[2019-08-28 19:39] ot-dchristopher commented on #692
@stewa11 You have to click on Distribute in order to see Stores appear as a sub-option below it (along with Releases and Groups). Regarding where the JSON file got saved, it's wherever your browser prompted you to save it or defaulted to (Downloads?). This really all depends on your specific environment but every browser has a menu option to view all downloaded files. I hope this helps!

[2019-08-29 02:05] blparr commented on #693
Hello @apple-ihack-geek ! This could be due to an ad-blocker. Can you try disabling those?

Thanks!

[2019-08-29 05:09] savage7 commented on #595
@nrajpurkar Any news on this? We face the same issue.

[2019-08-29 12:14] apple-ihack-geek commented on #693
@blparr  That was my first thought as well, which is why as I indicated in my first message, I tried turning all of them off and refreshing the page.

[2019-08-29 15:23] ramaguduri opened #697 "UWP support for Javascript"
I have followed get started on UWP for JavaScript and tried to add Nuget package for appcenter, there was issue with installing dependency -

Severity	Code	Description Project	File	Line	Suppression State
Error	Could not install package 'Microsoft.NETCore.Jit 1.0.3'. You are trying to install this package into a project that targets 'UAP,Version=v10.0.17134', but the package does not contain any as

[2019-08-30 10:05] LanderVe opened #699 "nevermind"
The following questions should help you make an informed decision on which service works best for you.

&lt;&lt;no questions here&gt;&gt;

If you answer “Yes” to these questions, App Center is a good choice for you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 781c9b76-fa80-06f2-97c7-c1617c0aa98d
* Version Independen

[2019-08-30 10:06] Jamminroot commented on #676
We haven't heard from you for a while now. Closing the issue, but feel free to reopen in case the problem is not resolved.

[2019-08-30 10:06] #676 closed, assigned to hamswan

[2019-08-30 11:27] #699 closed, assigned to nobody

[2019-08-30 18:16] blparr commented on #693
Oh sorry I totally missed that part! Let me chat with the team and get back to you as soon as I have an update for you.

[2019-08-30 20:06] blparr commented on #693
Could you please confirm your OS version + Browser version?

Thank you!

[2019-08-30 20:07] apple-ihack-geek commented on #693
Mac os 10.13.6 Safari 11.1.2.  I forget but I may also have tried in chrome.

—Benjamin Kier

On Aug 30, 2019, at 4:06 PM, Blanca Delgado Parra <notifications@github.com<mailto:notifications@github.com>> wrote:

Could you please confirm your OS version + Browser version?

Thank you!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://eur01.

[2019-08-30 21:18] Bawar1997 opened #700 "Mr.Bawar"
hello there I have some issue I can't configure my android app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06813350-a37b-a4a2-fdbc-a59caefb9f32
* Version Independent ID: 29787958-5b4e-efc2-2af5-2af0ee53216e
* Content: [App Center Build - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/)
*

[2019-08-30 22:55] blparr commented on #693
Hello! Thanks for sending that over. It looks like we are unable to reproduce your issue. The team would like to ask you a few additional questions. Would you mind sending us an email at support@appcenter.ms with a link to this issue?

Thank you!

[2019-08-30 23:01] blparr commented on #693
I'll close this issue here, but feel free to re-open if you don't get this solved via the support email.

[2019-08-30 23:01] #693 closed, assigned to nobody

[2019-08-30 23:04] blparr commented on #700
Hello @Bawar1997 , do you mind reaching out via support (blue chat bubble in the App Center portal)?

Thank you!

[2019-08-30 23:04] #700 closed, assigned to nobody

[2019-08-30 23:04] #656 closed, assigned to guperrot, hamswan

[2019-09-01 18:12] mightypanda opened #701 "Is Unity Desktop (not UWP) now supported with the introduction of AppCenter for WPF ?"
I wonder if a Unity application built for Desktop native (x86 or x64) can be now supported after the preview of AppCenter for WPF.
If not, is it going to be supported?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0365781-58e5-a72a-9422-0ebd586877fe
* Version Independent ID: 5f7e41ef-448a-b27b-9041-bb38ff38a

[2019-09-03 12:40] jwargo commented on #695
@pmullins-ewn we updated the docs last week on this. The new portal uses different values, I was able to use the App ID rather than the SSID and it worked for me.

[2019-09-03 12:40] #695 closed, assigned to jwargo, hamswan

[2019-09-03 12:40] NejatMSultan opened #702 "App Center distribute dependancy is missing in the documentation for Android."
It is not showing what dependacy we should add to the build.gradle file to include the App Center distribute Sdk in "Getting started" section of the documentaion for android.
It is curretly as seen below.

[code]

[2019-09-03 14:54] nishaatr commented on #672
I have the same question and have asked AppCenter chat. Waiting for a response.
Looks like OAuth might work but setting up OAuth is involved so not pursuing this avenue at the moment.
Another option might be to use email notification from AppCenter into JIRA to create the issue and attachments.  Waiting on AppCenter support before we explore this option.

[2019-09-03 15:31] pmullins-ewn commented on #695
@jwargo What value were you using as the Security Key? That's the value I'm unable to access in the manner that the docs outline. I'm attempting to use the Client Secret value from the Azure portal, but I'm getting an error in App Center saying "Failed to apply settings: push configuration is invalid."

Additionally, how does the app registration on the Azure portal correspond to my local app? Ass

[2019-09-03 15:43] jwargo commented on #695
@pmullins-ewn Have you looked at the updated documentation? The SDK team just updated it last week with updated screen shots and more information.

When I tested this, I grabbed the Application ID (not the SSID) and the secret that was on the same page. I can't seem to find the details anymore as my app isn't showing up in the portal. I don't do any Windows development, so I was just poking around

[2019-09-03 16:57] pmullins-ewn commented on #695
@jwargo thanks for the direction. It looks like after doing a fresh refresh of the page I initially cited, I'm unfortunately still seeing documentation using the old platform for UWP apps. I've navigated to the docs via the question mark next to the profile link on App Center, and then tried navigating to `Push/App Configuration/UWP`, as well as `SDK/Push/UWP`, and I'm still seeing references to t

[2019-09-03 19:32] nilofer commented on #595
@savage7 no changes in this, this work has not been prioritized. I am going to close this out here in the Docs repo as this is meant for issues related to documentation. Feel free to create a feature request for this in our [main repo](https://github.com/microsoft/appcenter/issues).

[2019-09-03 19:32] #595 closed, assigned to botatoes, nilofer

[2019-09-04 04:55] 8secz-johndpope opened #703 "hockeyapp key feature missing - recruitment link"
I am piloting alpha build of app - I want to recruit users into new alpha / beta builds.
In hockeyapp this was simple to do - but it doesn't seem like this is possible with appcenter?

did I miss something?

[2019-09-04 14:01] RAM237 opened #704 "Uploading symbols?"
Isn't there a way to upload dSym any more like it was in HockeyApp?
`curl -F "ipa=@$IPA_NAME" -F "dsym=@$DSYM_NAME" &lt;...&gt;`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8ccb786-5f74-9c47-f6fa-a22720f823ad
* Version Independent ID: 3185af63-60df-aa2b-1d8c-b3db0ca3ad8c
* Content: [Upload a Build to Distribute via

[2019-09-04 21:00] 8secz-johndpope commented on #703
https://support.hockeyapp.net/kb/app-management-2/how-to-invite-beta-testers

[2019-09-05 02:00] inikityuk opened #705 "Xamarin.UITest 3.0.3 ClearAppData does not work on Samsung Galaxy Tab S2"
Addition to Xamarin.UI.Tests 3.0.3 release notes:
https://www.nuget.org/packages/Xamarin.UITest/
in "Known Limitations" section the same issue happens on "Samsung Galaxy A8"

it fails if "ConfigureApp.Android.ApkFile(androidPackagePath).StartApp(Xamarin.UITest.Configuration.AppDataMode.Clear);"  (or .Auto) is used to launch the tests.

Workaround is to use "ConfigureApp.Android.ApkFile(androidPack

[2019-09-05 07:36] andreabalducci opened #706 "Wrong method call"
[Enter feedback here]
On Android, paragraph 2.2
`Distribute.SetEnabledInDebbugableBuild(true); `
should be
`Distribute.SetEnabledForDebuggableBuild(true);`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83d269a0-0b09-c2f6-d37a-319831bcf782
* Version Independent ID: f2c17a3a-87bb-0c75-9efb-de6ffb6f7738
* Content: [App C

[2019-09-05 13:44] sgdesmet opened #707 "Data encryption on device"
Hello,

does App Center Data encrypt the locally stored documents (or are there plans to support this)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a0f404e-cea8-b8b3-917c-c6e69facfc11
* Version Independent ID: 8fab40e9-9152-e137-7de4-c78e6d80bde1
* Content: [Managing Data with the App Center Data Service - Visual S

[2019-09-05 18:13] blparr commented on #705
Thanks for reporting this - our colleague @Oddj0b will follow up with you soon. Thanks!

[2019-09-05 21:53] ringleader3 opened #708 "Error uploading UWP zip file"
When I try to upload a build i get this error:
https://www.dropbox.com/s/56ltovc2p0txscg/Screenshot%202019-09-05%2014.48.54.png?dl=0

previously on hockeyapp, i would 'create a version' and then upload a zip file for it, but in AppCenter, there is only an option to upload the zipfile, and then when the upload completes, I get the error in the screenshot.

[2019-09-06 06:51] mzhukovs commented on #688
@Oddj0b hey do you think you guys will be able to take a look at this one soon? Please let me know when you get a chance.

[2019-09-06 07:29] Oddj0b commented on #688
@mzhukovs sorry for the late response here, I've been out of office. Do you only see it on OnePlus 7?

Do you have links to test runs where it is happening or is it a local problem?

[2019-09-06 08:39] hasselmm opened #709 "How to upload MSI builds"
How to upload MSI builds? The docs mention that the build version have to be specified manually for MSI builds, but how to do so? When creating a new release via web interface the process aborts with "Version could not be created from build".

[2019-09-06 10:30] jorisw opened #710 "Three options of code signing look like steps"
Under `Setting up Code Signing`, the three options of code signing seem like sequential steps because of the 1, 2, 3 numbering.

Instead of numbering the three options of code signing, using 1, 2, 3, I would use A, B, C or Roman I, II, III.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb88b888-1e68-8a75-efa4-cef2c33d

[2019-09-07 04:19] JoshuaHintze commented on #388
@jwargo would love an update on Cordova build!

[2019-09-07 06:00] mzhukovs commented on #688
@Oddj0b local - i will have to try with my other devices since i only recently upgraded to latest version of Xamarin.UITest but i know previous versions it was not an issue

[2019-09-09 08:16] synalysis opened #712 "Duplicate interface definition for class 'MSAbstractLog'"
I integrated the frameworks in Objective-C and get error messages about duplicate MSAbstractLog, MSService, and MSServiceAbstract. They are present both in AppCenterCrashes.frameworks, AppCenterAnalytics.framework and/or AppCenter.framework.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2da79c5d-1cef-5ed1-9ea2-8fd7e89

[2019-09-09 11:03] jpc1963 commented on #693
I have this problem now. tested with chrome / firefox on my mac. and firefox on my pc.
A few days ago I had no problem with the chat.

[2019-09-09 13:11] steverhall opened #713 "Copying sample upload script has extra characters"
The sample shell script under "Uploading Tests to App Center" section has unnecessary '$' at the beginning of each line. Copy button should ignore or these should be removed from text. Same for script at "Build for Testing" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 486092bd-b86c-7796-c28f-39d5d25828d1
* V

[2019-09-09 13:16] steverhall opened #714 "Sample script not consistent with previous example"
The sample script in "Uploading Tests to App Center" is not consistent with the example immediately above with respect to 'xcrun' command, nor did it work for my code. The previous 'xcrun' command worked properly and the sample script should be updated for consistency and correctness.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-09-09 13:17] jwargo commented on #388
@GimpMaster I've not been able to get Build working for Cordova iOS.  I applied the same approach as I did with Android, but ran into some issues with build settings and wasn't able to actually get an executable out of the build process. Basically I'm not an experienced iOS developer, so I just couldn't get past the issues.

[2019-09-09 14:46] JoshuaHintze commented on #388
Hey John, Is there anything I can do to help? We have a team of pretty experienced Cordova IOS app developers.

I'm assuming this git-repo here:  https://github.com/microsoft/appcenter-sdk-cordova

Only does the 3 things it mentions: Analytics, Crashes, Push Notifications ?

[2019-09-09 16:53] jwargo commented on #388
@GimpMaster good question.  If you want to help me figure this out (Build for Cordova iOS), we can write a blog post about it. Here's my repo for Android, works great (as far as I can tell). Here's the one for iOS, I just don't know iOS build settings well enough to get very far with it.

Yes, that's the SDK and it only supports those features. Industry support for Cordova is waning (as much as it

[2019-09-09 21:38] blparr commented on #693
Hi @jpc1963 , thanks for reporting this. We are having a hard time reproducing this issue, if you could reach out to us via support@appcenter.ms we will to look into it further.

Thanks!

[2019-09-09 22:27] blparr commented on #708
Hi! We use this repo to report docs issues. For your issue, do you mind reaching out to us via support (blue chat button in the app center portal)?

Thanks!

[2019-09-09 22:27] #708 closed, assigned to nilofer

[2019-09-09 23:42] JoshuaHintze commented on #388
Hey John. I didn't see those links from you for your repos. Did they get stripped out from your post?

Would love to see the blog post about it.  Either way happy to help.

[2019-09-10 11:44] amrosama2020 commented on #462
[+]

[2019-09-10 12:42] jwargo commented on #388
@GimpMaster yeah, apparently they did. Weird. trying again: [Android Repo - Cordova-Build-Android](https://github.com/jwargo/Cordova-Build-Android), [iOS Repo - Cordova-Build-iOS](https://github.com/jwargo/Cordova-Build-iOS). If they get stripped out again, email me or look in my public repos, they're there.

[2019-09-10 20:15] dickwyn commented on #212
I got the gradle file to reference the keystore values referenced in the branch build configuration by commenting out the following line(s) in the `android/app/build.gradle` file

[code]

Got confused with the code sample in the docs that adds `releaseSigningConfig` to the `build.gradle` file.

Turns out if you upload the keystore and fill in the keystore credentials in the build configuration, th

[2019-09-11 16:05] lbrownell-gpsw opened #715 "What is "release_id"?"
It says it's a number, but what do we put there?  We use semver version number and integer build number, as well as a build type, to identify builds uniquely, but I don't know what to supply for release_id.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8ccb786-5f74-9c47-f6fa-a22720f823ad
* Version Independent ID: 318

[2019-09-11 16:08] lbrownell-gpsw opened #716 "Missing data on "release_uploads" curl example"
It is a post, and requires some data, but there is no data shown in the example call.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8ccb786-5f74-9c47-f6fa-a22720f823ad
* Version Independent ID: 3185af63-60df-aa2b-1d8c-b3db0ca3ad8c
* Content: [Upload a Build to Distribute via App Center - Visual Studio App Center](htt

[2019-09-11 17:35] lbrownell-gpsw opened #717 "Example for distribution to group uses deprecated data, has missing fields"
"destination_name" is being replaced with the "destinations" structure, to specify one or more destinations.

The "build" structure seems to be required. If so, please update the example here.  If it is optional, please update the the model info here: https://openapi.appcenter.ms/#/distribute/releases_update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-09-11 18:58] winnie commented on #462
Hey there - apologies for the delay. No updates on this yet. We have an item on our backlog to investigate this some more but unfortunately I don't have an ETA. I'll post here with updates.

Thanks!

[2019-09-11 20:57] BaileyMillerSSI commented on #658
@jwargo Sadly, I have become to busy to look into this so I would chalk it up to a configuration issue on my end and have to close this issue 🤷‍♂

[2019-09-11 20:57] #658 closed, assigned to jwargo

[2019-09-12 06:17] JanaAbhijit commented on #628
Do we have any updates on UWP Crashes for Xamarin.Forms for sideloaded apps ?  In the roadmaps " Support sideloaded UWP apps" shows as worked not started, Appriciate some updates on this.

[2019-09-12 08:05] amrosama2020 commented on #462
@winnieli1 Thanks a lot for the update.

[2019-09-12 11:00] tomjohnhall opened #718 "Safe to check App Secret into git?"
These docs don't explain the implications of exposing `appSecret` and /or ways of keeping it safe by importing into`AppCenter-Config.plist` and `appcenter-config.json` from env variables- is this possible?

[2019-09-12 13:57] angelru commented on #587
Hello, I am going to carry out a new development and I am thinking of using the entire AppCenter platform, the application will have a login with social networks, if I get the native login token like Facebook, I can authenticate more late with AppCenter Auth? in firebase this is allowed

Regards

[2019-09-12 14:28] ariya opened #719 "Confusing note on --save/--save-dev flag"
The note

causes some confusing because neither flag is mentioned anywhere as part of the installation step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ed0fde7-9e78-c318-9f8c-9d921ec7d7b3
* Version Independent ID: 946ead1c-4b65-8318-c77a-ef98873adac7
* Content: [Get Started with React Native - Visual Studio App Ce

[2019-09-12 14:52] dinobu commented on #628
This should not be closed, it is not resolved.  Any updates on this?  Thanks

[2019-09-12 17:24] RAM237 commented on #715
release_id is a unique sequential number of the app version given to you by AppCenter. That is, you very first upload will be release_id=1, the next is 2, and so on. It is provided on the previous step as you run those API calls :)

[2019-09-12 17:52] lbrownell-gpsw commented on #715
Thanks @RAM237

Hrm.  So the data I send to `release_uploads` -- the very first call in the steps -- needs me to specify the next `release_id`?  So, retain the previous and increment?

Here's what I was sending; 104 is the build number in our CI system:
[code]
Here's the result of that first call, `release_uploads`:
[code]
Is `app_version_id=17` the equivalent of `release_id`?  Consistency is the

[2019-09-12 19:47] amchew commented on #587
Hey @angelru, thanks a lot for reaching out! Currently you can’t do that but we are open to prioritize based on users’ needs. Would you mind sharing more about your use case on why you need that,, and what Identity management provider (I.e. Firebase, Auth0, custom) you’re using?

Thanks!

[2019-09-12 20:25] RAM237 commented on #715
Not really. I thought you mean release_id in the last step :) Sorry for misleading you!
The very first call goes just fine exactly as in the example - you can provide no body at all, only header and URL.

[2019-09-12 21:10] lbrownell-gpsw commented on #715
@RAM237 -- Thanks, I guess, but that's also wrong.

First, [MS's interactive api documentation](https://openapi.appcenter.ms/#/distribute/releaseUploads_create) indicates the body *is* required.  And the page this issue is for provides a link to it just above the example, which seems sensible, since it would appear to be the definition of record, and you can actually execute a call there to see if

[2019-09-13 09:07] prmeno opened #720 "Users not able to get In-App updates from a Public distribution group"
The Public Distribution group that gets automatically created with the name "All users of &lt;app name&gt;" does not allow In-App updates to a user unless he's added as a tester in this Group.
A Public group should allow updates to any user who has the App

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a807b36-339c-dd

[2019-09-13 09:44] marko88 commented on #609
I still have an issue with reporting JNI crashes and presenting them on AppCenter web side. I can see in log that dump file is proceed and sent successfully, but somehow they don't appear in appcenter, neither in unsymbolicated crashes part. Do you have any news on this, what you suggest since the reporting jni crashes is very important to me?

[2019-09-13 10:18] angelru commented on #587
@amchew  In the Firebase panel of authenticated users there is an option of how they have connected, username and password, social networks, among others...

With the Facebook SDK in xamarin, I logged in natively and received a token, then later with the firebase sdk in authentication, you can receive that token and log in without the need for a web view or external pages.

We must be able to gene

[2019-09-13 10:25] DeZmond77 opened #721 "m0m1"
#682
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0087c543-d8f4-5ea6-5ac6-8b30ec1b9e6c
* Version Independent ID: 92b8f8de-268b-a249-46e9-053edf2e97c0
* Content: [App Center Platform Services Matrix - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/general/platform-service-ma

[2019-09-16 14:41] RAM237 commented on #715
Well, I wouldn't say that this api documentation is _mine_ :)

I am just one of users who tried appcenter a few days back, because my company has to migrate into it from HockeyApp. I came here to check about my request, saw your question above mine and decided to share my experience with you, since anyways there's not much help from support team )))

I haven't met any major issues trying those API

[2019-09-16 21:16] blparr commented on #721
PR Merged. Thank you!

[2019-09-16 21:16] #721 closed, assigned to nobody

[2019-09-16 22:20] winnie commented on #609
Hey @marko88 do you mind starting a support thread via the blue chat bubble in App Center? This will put you in direct contact with our engineering and support team so they can take a closer look. Thanks!

[2019-09-17 10:41] velbur opened #723 "Upload symbols"
How to upload symbols using API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3219989-2e3e-06df-828f-61f0ee264131
* Version Independent ID: 15acc773-6d2e-79da-1abe-eaf3e23f5023
* Content: [Using the Diagnostics API - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/diagnostics/using-the-diagnosti

[2019-09-17 12:12] rogerhmar commented on #77
@jwargo Any progress on this?

[2019-09-17 12:26] jwargo commented on #77
@rogerhmar no, not that I'm aware of. I'll ask again.

[2019-09-17 13:34] velbur commented on #704
Found this
https://openapi.appcenter.ms/#/crash
and trying
POST /v0.1/apps/{owner_name}/{app_name}/symbol_uploads
and then with using response with symbol_upload_id
PATCH
/v0.1/apps/{owner_name}/{app_name}/symbol_uploads/{symbol_upload_id}
but symbols don't appear in Appcenter.
Any ideas?

[2019-09-17 21:41] cainejette opened #724 "Mention of Push in setting up app in App Center link is vague"
Step 1 under "Create your app in the App Center Portal to obtain the App Secret" says:

To learn how to get started with Push, read the appcenter.ms documentation, where appcenter.ms is a link. It just links to appcenter.ms. Can it be updated to point somewhere more specific?

Also, is this even the section it should be in? This section is talking about creating an app in App Center to get an app

[2019-09-18 10:13] RAM237 commented on #704
Same here.
And apps migrated from HockeyApp which had symbols uploaded - do not have them in AppCenter for some reason.

Hey, support, are you there?! The deadline for migration is getting closer and closer, but NONE of my requests received any feedback within 2 weeks now. How are you supposing we must migrate then? It would be fair to extend the deadline until the obvious bugs are fixed/missing f

[2019-09-18 12:38] velbur commented on #704
Found solution. If symbols size larger then 256mb, we can use command line uploading.
`appcenter crashes upload-symbols -s path/to/YourApplication.app.DSYM --app "AppCenterOrgId/AppCenterAppId" --token your-appcenter-token`
And if appcenter is not installed, install it first with: `npm i -g appcenter-cli`

But you if you need using API only, some additional information about API symbols here:
[htt

[2019-09-18 15:34] mist3rj opened #725 "How to push to Google Internal Track"
Hi, I want to push a release from Appcenter to the Google Internal Test Track. Appcenter supports the iOS equivalent (App Store Connected Users track).

How can I do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 868e3edf-f3af-950e-4f8a-ea30c392e883
* Version Independent ID: a725a1f2-fe7b-b7be-8e5e-6db22c2a756d
*

[2019-09-18 21:06] ygornascimento opened #726 "Client App on Android Devices"
Hello guys,

Nowadays exist an HockeyApp app at Google Play Store that serves as a client to manage the versions available to be downloaded. Will this same app work with AppCenter, or the HockeyApp app will die?

Thanks in advance.

[2019-09-18 21:59] ghost commented on #725
I would like to know if this is possible too.

[2019-09-19 18:32] botatoes commented on #720
Tracking this request through https://github.com/microsoft/appcenter/issues/182
we will ship this functionality this month.

[2019-09-19 18:32] #720 closed, assigned to botatoes

[2019-09-19 20:41] hkellaway opened #727 "React Native limitations say to use CodePush for distribution but CodePush site links back to AppCenter"
What is the recommended way to enact distribution for React Native apps using MS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55582d9f-9dae-4e97-99ff-edba1c0619d3
* Version Independent ID: dbb9424a-bbae-f444-6ced-a0c6e9e1ae77
* Content: [SDK Limitations & Known Issues - Visual Studio App Center](https://docs.microso

[2019-09-20 10:06] angelru commented on #587
Any progress with my query?

[2019-09-20 12:31] NunoBem opened #728 "[Auth] Azure AD B2C - Password reset"
We implemented B2C in a former project using MSAL sdk the sign up, sign in and password reset in "email accounts". For CI/CD, analytics and crashes we used AppCenter and liked the experience. So with the new Appcenter Auth we wanted to gather everything in our new project.

The **issue** for us is mainly, **unable to implement the password reset**.

We're unable to "call" the password reset policy

[2019-09-20 12:39] radolo1111 commented on #728
20.09.2019 2:31 PM "Nuno Bem" <notifications@github.com> napisał(a):

[2019-09-20 14:38] #728 closed, assigned to nobody

[2019-09-20 14:49] NunoBem commented on #728
Wrong repo for this issue. Opened one in AppCenter [https://github.com/microsoft/appcenter/issues/1060](https://github.com/microsoft/appcenter/issues/1060)

[2019-09-20 16:27] blparr commented on #724
Closing as this is an internal request.

[2019-09-20 16:27] #724 closed, assigned to jwargo, hamswan

[2019-09-20 20:31] jwargo commented on #77
@rogerhmar so I spoke with Engineering on this topic and got the answer. We don't publish the IP address list, mostly because there's no guarantee they'll stay the same. As we adjust our infrastructure, our resources could (and can) get new IP addresses.

[2019-09-20 20:58] lbrownell-gpsw commented on #715
@RAM237 My bad, I thought you *were* an MS guy!  Edited that post to not refer to it as "your" stuff.  Anyway, I did get it all working via the APIs, but I'll look at the CLI -- one line sounds mighty appealing.  Thanks for that!

[2019-09-23 01:45] winnie commented on #723
Hi @imjustabearrr - you can upload symbols via API by following the instructions here: https://docs.microsoft.com/en-us/appcenter/diagnostics/ios-symbolication#app-center-api

Let me know if that works for you!

[2019-09-23 08:36] DivoPL opened #729 "No documentation on how to accommodate Unit Tests for units that use AppCenter methods"
Let's assume I'd like to test below method:
[code]

Then my test would look like this:
[code]
MyMethod in the normal program flow would work just fine because AppCenter is initialized in the App.xaml.cs. This would not be a case when running test method from UnitTest project as AppCenter is not initialized anywhere. The test would fail with following exception:

How should I correctly write unit t

[2019-09-23 12:54] philhinco opened #730 "[Distribute for Android] What is a Release build? What is a debuggable build?"
In the [docs](https://docs.microsoft.com/en-us/appcenter/sdk/distribute/android#enable-in-app-updates-for-debug-builds) it is mentioned that Distribute only works for "Release" builds.

What, according to AppCenter, is the definition of a "Release" build? Is the definition somehow tied to what Gradle defines as a debuggable/non-debuggable build? If so, a clarifying comment in the docs would be gre

[2019-09-23 14:35] FlorisDevreese commented on #725
I would love to know that too

Also when I create a new track in Google Play Console (e.g. a second Alpha track), this new track doens't appear in the App Center

[2019-09-23 14:38] FlorisDevreese commented on #725
Found the issue:
Google play has no API available to access the internal/custom tracks. This is why the App Center doens't show them.

source: https://stackoverflow.com/a/55573415/3506115

[2019-09-23 15:30] gaecer opened #731 "iOS - Distribute to App Store"
At the moment I am able to distribute an app to App Store just if I drag the .ipa file manually. With the enterprise license I can setup the certificate (Development or Distribution) to auto build and distribute the builds after a push to the repo.
Is it possible to distribute in the same way the build to the App Store?
If on "build->branch->Sign builds" I put the **right** iTunes provisioning pro

[2019-09-23 16:18] amchew commented on #587
Thanks @angelru, we're getting a lot of feedback about the native sign-in page, and I'm looking into it. Would you have some time today or tomorrow for a quick chat? Email me at amchew [at] microsoft [dot] com if you are interested.

[2019-09-23 17:33] botatoes commented on #716
Thanks for pointing it out, we've merged changed.

[2019-09-23 17:33] #716 closed, assigned to botatoes

[2019-09-23 17:33] botatoes commented on #717
Thanks for pointing it out, we've merged changed.

[2019-09-23 17:33] #717 closed, assigned to botatoes

[2019-09-23 18:29] nikitag-ms commented on #718
We do not recommend storing the app secret in a way that would make it accessible publically. This would allow other apps to submit telemetry to the App Center pretending to be yours. There are other security considerations as well.

Consider using the same approach that you use to store other secrets (like connection strings etc.)

[2019-09-23 18:42] tomjohnhall commented on #718
I thought so, thanks for clarifying! I’d normally use an .env file but I’d guess this key couldn’t be imported in the js way as it’s needed as build stage? Currently just keeping it checked out of git (private repo, but just in case).

[2019-09-23 20:47] nikitag-ms commented on #718
I do not think it's needed at build stage. As in, of course, you need to call the `Start` method and provide a value to it at build time. But it doesn't have to be a hardcoded string. You can pull it from somewhere not available to the public.

[2019-09-24 00:24] ZeProgFactory opened #732 "Issues with Edge and Create Key (JSON)"
The step:

doesn't work on Edge 44.18362.329.0, nor on Internet Explorer. The generated file just vanishes. I had to use FireFox to be able to retrieve the JSON file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 868e3edf-f3af-950e-4f8a-ea30c392e883
* Version Independent ID: a725a1f2-fe7b-b7be-8e5e-6db22c2a756d
* Cont

[2019-09-24 11:07] kchaica opened #733 "Ignoring symbols for crashes through API returns an error"
Hi, I have a question about API and ignoring symbols for crashes.

I have BreakPad crashes and all necessary symbols except one that I don't have. For example Android WebView library "libwebviewchromium.so" which is ususally located in device system in some place.
I want to ignore BreakPad missing symbols of this library for unsymbolicated crashes.

openapi.appcenter.ms suggests to use
/v0.1/apps/

[2019-09-24 17:15] haidalinda commented on #727
It seems CodePush is available currently within App Center - so the issue was that the docs are confusing

[2019-09-24 17:15] #727 closed, assigned to elamalani

[2019-09-24 19:43] tdevere opened #734 "Greater Clarification Needed regarding access BLOB Analytic, Crash, Error data"
It might help to reference the fact that you don't pull Crash, Attachments, Stacks, and other data from the Azure Portal or App Center portal directly - instead, you must use the API layer - https://docs.microsoft.com/en-us/appcenter/gdpr/diagnostics-export#call-our-apis-for-specific-crasherror-information - And it would be helpful to remind DEVs that you can model the API request using https://op

[2019-09-24 21:22] tdevere commented on #734
OK. I did get crash, errors, and attachments to show up in blob storage. I was mistaken initially about using the API directly to pull down data.  Instead, I learned that crashes, attachments, and errors not automatically enabled in the export profile. I had to first configure the profile to export that data:

1. Browse to https://openapi.appcenter.ms/#/export/ExportConfigurations_Create
2. Click

[2019-09-25 10:18] angelru commented on #587
@amchew Done.

[2019-09-25 10:36] kchaica commented on #733
Next example.
I have a lot of missing symbols from our application running on Pixel 2 in one BreakPad crash. Libraries related to this symbols are located somewhere in the operation system and don't belong to our application. I don't have this missing symbols, but I still want symbolize the crash because I uploaded all symbols of our application to App Center. Symbolazation should be possible.

![

[2019-09-25 14:21] mlilback opened #738 "The macOS requirements are incorrect"
The macOS release notes say Xcode 10 is required, while this page says 8.2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ceb38f19-e7f0-8349-8731-e701745c644f
* Version Independent ID: d8928ac3-206c-e8f3-0124-364311e4e4d7
* Content: [App Center SDK Documentation - Visual Studio App Center](https://docs.microsoft.com/e

[2019-09-25 14:38] kchaica commented on #733
I found out. The reason is because openapi.appcenter.ms generates an incomplete request. It forgets to add -H "Content-Type: application / json".

Request must be
curl -X POST "https://api.appcenter.ms/v0.1/apps/k.chaica/MT4Android/symbols/ebcbd65f21f45536b4aff6e93eb1c0870/ignore" -H "accept: application/json" -H "X-API-Token: MY_SECRET_TOKEN" -H "Content-Type: application/json"

This API works. T

[2019-09-25 17:25] lbrownell-gpsw opened #739 "Distribution group managers?"
Coming from HockeyApp, all our distribution groups have been replicated...but we use the manager role to allow different people to add/remove members.  This has disappeared from distribution groups, but does exist in teams (in fact, teams seem to map more closely to HA's distribution group concept).

Is the idea that you should use teams instead of distribution groups, if you want fine-grained acc

[2019-09-26 06:22] li2 opened #740 "App center distribute task: no existing service connections of the appropriate type could be found"
Doc is out of date, the screenshot in doc has a `+` button to create a service connection,
![image](https://user-images.githubusercontent.com/6058601/65662963-eab5ef80-e078-11e9-8cc3-286233797314.png)

However, it doesn't have such `+` and always tells me `no existing service connections` when I tried to add App center distribute task to the pipeline:
![image](https://user-images.githubusercontent

[2019-09-26 12:36] jkotrlik opened #741 "Moving just app distribution, not CI/builds"
Hi, we're using HockeyApp just for distribution purposes - we build the apps elsewhere. For the distribution itself, we're using 2 of HockeyApp's endpoints, first one to create new version and second one to upload the build (.ipa or .apk). So now we wonder how much this will have to change. What we really liked is a possibility to select from multiple builds there, without the need to create new r

[2019-09-26 12:43] jkotrlik commented on #741
And just to clarify - I'm talking specifically about distribution to our test users and developers, no Store needed.

[2019-09-26 16:58] hamswan commented on #712
We are taking a look to this.

[2019-09-26 17:00] hamswan commented on #719
Thanks for reporting this, we will look into this.

[2019-09-26 17:03] hamswan commented on #706
We are looking at this.

[2019-09-26 17:05] hamswan commented on #702
Team is looking at this.

[2019-09-27 07:22] annakocheshkova commented on #706
@andreabalducci I don't see the typo you are referrring to, could you please elaborate?

[2019-09-27 07:23] radolo1111 commented on #706
27.09.2019 9:22 AM "Anna Kocheshkova" <notifications@github.com> napisał(a):

[2019-09-27 07:25] annakocheshkova commented on #702
@NejatMSultan the "Getting Started" page shows example of adding only default modules (which are Analytics and Crashes). For Distribute integration, you can refer to [this section](https://docs.microsoft.com/en-us/appcenter/sdk/distribute/android#1-add-the-app-center-distribute-module). Thank you!

[2019-09-27 07:25] #702 closed, assigned to hamswan

[2019-09-27 13:10] annakocheshkova commented on #712
Hi there @synalysis sorry for the delay! I can't see the errors you mentioned, could you please elaborate: what are you trying to do? Build, archive, run?
Please also share your environment details and project xcconfig would also be good to look at.

[2019-09-27 13:19] synalysis commented on #712
The problem occurs when I import headers from different frameworks like this:

#import <AppCenterCrashes/MSCrashes.h>
#import <AppCenterAnalytics/MSAnalytics.h>

The error is issued by the compiler.

Here you find more info about this issue: [https://github.com/microsoft/appcenter-sdk-apple/issues/1734](https://github.com/microsoft/appcenter-sdk-apple/issues/1734)

[2019-09-27 13:22] annakocheshkova commented on #712
Ok I see you my colleague already answered you there. Let's close this duplicate issue then, sorry for bothering!

[2019-09-27 13:22] #712 closed, assigned to hamswan

[2019-09-27 22:23] amchew commented on #587
Replied!

[2019-09-28 17:16] hkodungallur opened #743 "HockeyApp app sign-in"
1. I am looking at the transition now. But my old hockey app sign-in credentials are honored only on appcenter web, not when I try to sign in to the new App Center / HockeyApp mobile app (android).
2. Are the existing HockeyApp api tokens honored when uploading to app center via a build tool like jenkins?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-09-29 15:44] balaji830 opened #744 "Does this work on IOS Simulator?"
I created an example app with Xamarin Forms. AppCenter Auth works fine with Identity providers (Both MS and Google) I tested on Android. Android documentation was adequate to work with.
But on IOS Simulator, it always comes back with an exception "User sign-in failed. Internet Connection is down". Has anyone got this one to work on IOS? I am wondering if this documentation is adequate or am I miss

[2019-09-29 22:36] balaji830 commented on #744
AppCenter.Start("65d*****-******", typeof(Auth)) line of code raise an exception in IOS. Does work in Android. As per documentation, I have modified the info.plist and added the Entitlements.plist and still get the error "Failed to start Auth service: Custom URL Scheme for Auth not found". Is there something else in the documentation that is missing?

[2019-09-30 10:00] SmiffyKMc commented on #517
Still no method on the SDK to use SetUserId. If you try using it in the code, it does not exist. Using Xamarin.Android. How can I set this without the method?

[2019-09-30 10:01] SmiffyKMc commented on #517
Have you been able to resolve this?

[2019-09-30 10:04] SmiffyKMc commented on #517
An update to the API worked.

[2019-09-30 10:30] bo3po commented on #55
i also followed the onesignal extenstion for xamarin.ios and i was ready to deliver. only to find out that the build system does not support this. that is not good since i have spend a great deal of time impl this. i have voted for this feature to be made soon. i'll give the workaround a try or switch to another build system. this makes makes me sad to see that this is not supported. i love appcen

[2019-09-30 10:43] #733 closed, assigned to winnie

[2019-09-30 14:35] liszto commented on #704
I think it works in the same way than uploading an app.
When you use the "POST /v0.1/apps/{owner_name}/{app_name}/symbol_uploads"
It will respond with an ID & upload_url.
I think we must use the "upload_url" as we do for a release here :
![image](https://user-images.githubusercontent.com/408031/65888679-38479a80-e3a0-11e9-99ec-116a0b80231a.png)

I just have to figure out what is the file parameter

[2019-09-30 14:47] NunoPeixotoPrimavera commented on #694
Any response on this?

[2019-09-30 17:12] felipeptcho commented on #617
For me, it didn't work on Android emulator, but it worked on a real device.

[2019-09-30 17:13] felipeptcho commented on #617
Checking the logs, it seems the emulator was not able to make the request (domain not found).

[2019-09-30 17:44] bo3po commented on #55
Also need this ... and am still waiting for the Xamarin.IOS extension provisioning file support like @meliheran ... any workarounds that work ? I have tried the one mentioned here. But it did'nt work.

[2019-09-30 17:48] nilofer commented on #55
Hi @bo3po, we're working on support for Xamarin.iOS extensions in this month's [iteration plan](https://github.com/microsoft/appcenter/issues/970).

[2019-09-30 18:09] bo3po commented on #55
Hi @nrajpurkar - that is VERY good news. Very good indeed. Looking forward to try it out...

[2019-09-30 19:34] jwargo commented on #617
@felipeptcho if you're having problems getting this to work, please reach out to our dedicated support team. In the lower-right corner of any App Center page there's a blue chat button - that connects you to our support team.

[2019-09-30 19:34] #617 closed, assigned to elamalani

[2019-09-30 20:55] dhei commented on #719
Hi @ariya,

`--save` and `--save-dev` is no longer required for `npm install` in the current version of npm as npm saves the dependency automatically now. We will remove these flags from our doc.

[2019-09-30 21:31] amchew commented on #690
Hey @Drumzey, thanks for reaching out! Specifically for Auth, implementing Cordova is on our roadmap but there's no ETA for when that will be yet. For more details, here's the [platform matrix for the services we support](https://docs.microsoft.com/en-us/appcenter/general/platform-service-matrix).

[2019-09-30 22:38] owlstronaut commented on #706
Thank you for the report. We'll get this fixed shortly 😸

[2019-10-01 09:29] level54 commented on #694
Yeah, I also got all excited and although AppCentre for WinForms is in Preview, I decided to give it a go.

All I get is:
System.IO.FileLoadException: 'Could not load file or assembly 'Microsoft.AppCenter.Analytics, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required. (Exception from HRESULT: 0x80131044)'

So I guess I'll remove

[2019-10-01 10:13] 0530899594 opened #745 "لله ولي التوفيق"
مع خالص الشكر والتقدير

[2019-10-01 13:26] 8secz-johndpope commented on #703
any update? this is effecting launch plans.

[2019-10-01 13:28] benalexb opened #746 "Problem setting up branch build config via API"
Hi everyone,

I was hoping maybe you could point me in the right direction. I have been trying to set up build configs on feature branches for our mobile pipeline using AppCenter's API. Master and Release branches are fine because we set them manually, and retrieving build status is also very straight forward using the endpoints
* `https://api.appcenter.ms/v0.1/apps/{OWNER}/{APP}/branches/master/b

[2019-10-01 13:39] dipree commented on #703
@8secz-johndpope unfortunately, this is not going to be supported in App Center.

[2019-10-01 16:42] #671 closed, assigned to jwargo, hamswan

[2019-10-01 16:43] #690 closed, assigned to jwargo

[2019-10-01 18:27] ExtremeKaos commented on #694
Yeah, i have one app in wpf working with HockeyApp and try to move to AppCenter... no lucky yet..
45 days for HockeyApp supports ends...

[2019-10-01 21:25] L0G1C opened #747 "Powershell example needed. Specifically with environment variable reference."
Greetings,

I've been successfully able to setup a pre-build script using bash script for Android/iOS, but I'm now trying to create a powershell script for UWP platform and having issues getting the values of the App center environment variables I'm trying to get the value of the "pre-set" variable APPCENTER_SOURCE_DIRECTORY, as well as a custom environment variable I'm setting myself on the build

[2019-10-02 02:02] #674 closed, assigned to winnie

[2019-10-02 07:26] philhinco commented on #730
Any news on this?

[2019-10-02 11:46] EugeneKonneh opened #748 "Cannot automate Webview (Azure b2c Login Page)"
I am new to XamarinUITest.
We have decided to use XamarinUI Test to automate our new mobile application.
The application uses an Azure b2c webview login page.

I can use the app.Query to interact with the app prior to loading the login page.
However, once the login page is loaded, it points to a url (xxx.b2clogin.com)
sample code:
<div class="entry-item">

![xamarin Code](https://user-images.githu

[2019-10-02 18:53] L0G1C commented on #747
In case I'm able to get any eyes on this. I want to share that I've tried using a powershell parameter like this (Where I have created an environment variable called ENV on the App center build configuration):

`Param(
	[Parameter()]
	[string]
	$ENV = "DEV"
)`

As well as just referring to the variable directly by name like this:
`if (![string]::IsNullOrEmpty($ENV)) { Write-Host "You need define t

[2019-10-02 23:02] blparr commented on #745
Hello! Can you try translating that to English? Unfortunately, we only provide support in English. Thank you!

[2019-10-03 05:27] amchew commented on #744
Hey @balaji830, thanks for reaching out - we'll investigate and get back!

[2019-10-03 06:29] giem opened #749 "Events Metrics and the limit of 200 distinct events."
I found in the other ticket that it is possible to track more than 200 events, but have to set up export to App Insights (https://github.com/Microsoft/AppCenter-SDK-DotNet/issues/182#issuecomment-443919078).

It would be really useful if the documentation (https://docs.microsoft.com/en-us/appcenter/analytics/event-metrics) mentions this (if this is an official functionality), so people don't stop

[2019-10-03 10:00] balaji830 commented on #744
IOS settings documentation (Step 4, IOS Additional settings section) may be wrong (pertained to Xamarin Form). The documentation says to add msal{appsecret} to info.plist but that alone does not work. I got it working by adding msal{appsecret}://auth in info.plist. in addition to what is provided in documentation. I created multiple test projects and followed the steps. This addition that I have l

[2019-10-03 11:00] ghost opened #750 "Not working for XCUITest"
I tried using   `--test-parameter "test_env=USERNAME=clever_user@example.com"` to pass the env to the test. But it doesn't seem that the test can retrieve the env using `ProcessInfo.processInfo.environment`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01181288-ab5c-4fd5-1d76-3d5dbe61c486
* Version Independent ID: 2ae

[2019-10-03 12:26] noahsanook opened #751 "."

[2019-10-03 16:29] amchew commented on #744
Hey @balaji830, we'll get back on (2).
Thanks for letting us know! We'll update the documentation for the SDK. App Center Auth is not supported on UWP apps yet, but it is on our roadmap.

[2019-10-03 18:12] L0G1C commented on #747
Another slight update. I just realized $ENV is a special variable in powershell. But issue still exists as I'm unable to pull the value for  $APPCENTER_SOURCE_DIRECTORY

[2019-10-04 03:23] noahsanook commented on #751
non-issue, please remove - apologies

[2019-10-04 03:23] #751 closed, assigned to nobody

[2019-10-04 04:17] gtgray opened #752 "Blue chat button is useless"
Hi there!
Your blue chat button is useless.
I try to ask questions to solve my issue with app testing in chat, but getting no answer.
Thejaswini is always away. 2 days already (but there was told that 24h delay for answering).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45dd71a0-a249-a87b-e4eb-e4da0a20472f
* Version

[2019-10-04 07:09] blparr commented on #752
Hi @gtgray , sorry to hear - I think I found your conversation and reassigned to the right team. They should be in touch with you soon. If that's not the case, please ping us here. Closing this for now.

[2019-10-04 07:11] #752 closed, assigned to nobody

[2019-10-04 07:12] tobiasjunsten opened #753 "Wrong CocoaPods version."
The document states CocoaPods 1.7.5 but is 1.8.1 and that breaks my build :(. My build is a Flutter build. So pleas add support for flutter! :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 022126c7-2d61-9c53-6881-149310c137c0
* Version Independent ID: 4fe62fb4-6dd9-057e-8f57-fb4c6dcb71f8
* Content: [App Center Cloud

[2019-10-04 07:30] bo3po commented on #55
It's working now... GREAT 👍

[2019-10-04 12:05] winnicki commented on #145
+1 to @BicycleMark's comment about docs for most common usage. Luckily I found
[this post](https://tomsoderling.github.io/AppCenter-Automated-UI-tests-on-build/), but ya, the reason anyone is writing automated UI tests in production is to run them post-build to verify. It should be a documented.

[2019-10-04 18:00] dipree commented on #743
@hkodungallur please reach out to us via support (blue bubble).
1. The Android mobile app requires the same credentials as App Center web.
2. No, create new ones to use the App Center API

[2019-10-04 18:00] #743 closed, assigned to dipree

[2019-10-07 07:36] Oddj0b commented on #748
Hi @EugeneKonneh, have you tried using our page for [Working with Web Views](https://docs.microsoft.com/en-gb/appcenter/test-cloud/uitest/working-with-webviews)

[2019-10-07 08:16] Oddj0b commented on #732
Thank you for reporting the bug. However, this repository and its issues are for reporting issues with our documentation, and I think this is a bug with Google's pages or Internet Explorer.

Please feel free to re-open if you think this is a documentation issue.

[2019-10-07 08:16] #732 closed, assigned to Oddj0b

[2019-10-07 08:33] Oddj0b commented on #725
Thanks for reporting it. If you like support for the Test track give a :+1: here microsoft/appcenter/issues/125

[2019-10-07 08:39] ZeProgFactory commented on #732
It may by a bug with Google's pages or Edge, but the fact is that the "step by step" descritption isn't working for this reason. I belive that a notification would be a nice thing and prevent that people lost their time.

[2019-10-07 08:45] Oddj0b commented on #725
The text have been removed.

[2019-10-07 08:45] #725 closed, assigned to Oddj0b

[2019-10-07 08:52] EugeneKonneh commented on #748
Hi @Oddj0b
Thank you for your response.
Yes.
I have tried all the queries:
app.Query(c=>c.Class("WKWebView")) and
app.Query(c=>c.WebView())
and they both return a ".... gave 0 results."

[2019-10-07 08:54] EugeneKonneh commented on #748
A public version of the app can be accessed via this link [MyKeysPro](https://play.google.com/apps/testing/com.dormakaba.mykeyspro)

[2019-10-07 09:29] radolo1111 commented on #748
07.10.2019 9:36 AM "Villars Gimm" <notifications@github.com> napisał(a):

[2019-10-07 11:08] jmoody commented on #748
Please try using the XPATH or JavaScript APIs documented here:

https://docs.microsoft.com/en-gb/appcenter/test-cloud/uitest/working-with-webviews
https://github.com/calabash/calabash-ios/wiki/06-WebView-Support

[2019-10-07 15:14] EugeneKonneh commented on #748
Hi @jmoody
Thank you.
I have tried the recommended with no luck.
Both the XPath and the JavaScript rely on the system locating the WebView.
At the moment, I am not able to identify the Webview as a page, let alone interact with its elements.
Thanks

[2019-10-07 15:22] dweedul opened #755 "Crashes.TrackError documentation unclear about when it sends."
While implementing this in my WPF application, I found that it queues up the information from `Crashes.TrackError()` calls, and only sends them when a Crash notification is finally sent.  This was very confusing, and would benefit from one of the big callouts letting folks know that it won't send on handled errors until later.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-10-08 10:02] shalinasanga opened #756 "Start the App Center SDK, Xamarin.Forms"
There is no exact information about where to put new App Center code in.
it will be great help if you can clearly specify where to put "AppCenter.Start()" on all three types of projects specially Xamarin.Forms, since it has change a bit to App.Xaml.cs. Info can found in https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/xamarin#423-xamarinforms

---
#### Document Details

⚠ *Do not edi

[2019-10-08 10:19] stiansun commented on #462
Following! This feature would definately be at large help.

[2019-10-08 12:39] milanio opened #759 "Dealing with permissions dialogs?"
I eventually found it for Android at - https://forums.xamarin.com/discussion/62141/handling-permission-requests-in-marshmallow. But this seems like well-hidden secret - shouldn't it be directly somewhere here? There will be plenty of apps which needs to be granted permissions during test runtime...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-10-09 18:22] #718 closed, assigned to hamswan

[2019-10-09 19:22] SkyeHoefling commented on #462
This would be a huge benefit to us as well

[2019-10-10 02:39] 8secz-johndpope commented on #703
I would beseech you guys to reconsider this - it's a death nail for my use case.
I will be migrating to use google Firebase App Distribution in the mean time.
<img width="2048" alt="Screen Shot 2019-10-10 at 1 38 05 pm" src="https://user-images.githubusercontent.com/50567111/66534848-48f7cd80-eb63-11e9-8d21-a7eaaa8001e0.png">

a sample link for users to sign up
https://appdistribution.firebase.dev

[2019-10-10 09:37] andreibalmos opened #760 "Small mistake in testing steps"
Step 4 of "How do I test in-app updates?"
Create a new build of your app that includes App Center Distribute and contains the setup logic as described below.
Should be "above" instead of "below".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40294974-bc6b-45af-f1bd-3bd8187153ac
* Version Independent ID: 21420d35-1e72-

[2019-10-10 14:38] BenjErgizerBunny commented on #727
I also found the docs confusing and I'm trying to setup CodePush today.  @hkellaway, were you able to find out what the proper solution is?

[2019-10-10 17:54] haidalinda commented on #727
@BenjErgizerBunny the solution is to use CodePush via AppCenter - its already integrated into AppCenter. once you make an account, you'll see it among the services

just a confusing circular link

[2019-10-10 22:35] lbrownell-gpsw opened #761 "Owner Mapping"
For this:
"All Apps" flag is false && "All Distribution Groups" flag is false && "All Distribution Groups" flag is false == Member

Did you mean this?
"All Apps" flag is false && "Billing" flag is false && "All Distribution Groups" flag is false == Member

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13f26fc9-b652-dd7

[2019-10-11 07:36] dipree commented on #761
@lbrownell-gpsw good catch, fixing.

[2019-10-11 15:09] dipree commented on #703
@8secz-johndpope please use our repository for feature requests https://github.com/microsoft/appcenter/issues/1040

[2019-10-11 15:09] #703 closed, assigned to dipree

[2019-10-11 18:38] lamathe opened #762 "Uploaded OSX app symbols not showing up on AppCenter UI"
For our OSX app - [link](https://appcenter.ms/users/hockey-7v4f/apps/OSX-Prod) we have started to push symbols using the `appcenter-cli` tool. Here is the output of the command.

[code]

We get a 200 response code saying that the symbols are uploaded and a `symbol_upload_id` seems to be successfully created.

Upon login onto the AppCenter UI and navigating to the crashes by the particular version

[2019-10-13 03:15] sandorfr commented on #462
It's weird the official screenshots include the line numbers. So I guess it must boil down to uploading some files like pdb. It just lacks some guidance. Why did you close this @jwargo ?

[2019-10-13 19:00] daohung96 opened #763 "Bjkeo"

[2019-10-14 10:12] huNt-FMJ opened #764 "[iOS Distribute] The distribute delegate interface uses ! (force unwrap) operator in method selector"
Hi there,

when taking a look at the generated swift method selector, the parameter types are annotated using the force unwrap operator. This indicates that the Objective-C method selector and class are lacking the nullability annotation.

[code]

It would be great if the nullability specification could be done on the SDK side.

[2019-10-14 12:30] fphilipe commented on #739
Our customers that self manage their distribution groups just pointed out to us that they can no longer add people to their group.

We rely heavily on this feature and cannot manage testers for our customers as it simply doesn't scale.

Are there any plans to bring this in to App Center?

[2019-10-14 16:49] jwargo commented on #462
@sandorfr because @winnieli1 responded with a direct answer, I assumed that was enough. If you want it open, please do so.

[2019-10-14 18:17] balivo opened #765 ""Unauthorized" responses when make API Request"
Hi everyone,

My (own) admin panel has a push send functionality connected to AppCenter, I have 2 types of push, immediate and scheduled... In the immediate push, a message is sent at registration and everything works perfectly... Scheduled push, registers a message to be sent in the future through a Timer Trigger Function that every hour consults the pending messages and sends them according to t

[2019-10-14 19:52] #763 closed, assigned to nobody

[2019-10-15 12:34] Oddj0b commented on #688
@mzhukovs is this still an issue with the latest release of Xamarin.UITest?

[2019-10-15 13:01] Oddj0b commented on #714
@srhallx sorry for the slow response here, when I use the two commands it works for me. However, I build from a `.xcodeproj` and not a `.xcworkspace`. Which are you using?

[2019-10-15 13:51] steverhall commented on #714
I was using a .xcworkspace, that could be the issue.

[2019-10-15 15:34] jwargo commented on #765
@balivo have you discussed this issue with our support team? What did they tell you?  The token should work in both cases and I'm assuming you compared the requests to ensure they're both the same?  To connect with App Center support, use the blue chat button in the lower-right corner of any app center page; that connects you with our dedicated support team

[2019-10-15 15:57] mzhukovs commented on #688
hi @Oddj0b ,

unfortunately, with v3.0.4-dev2 the issue persists:

[2019-10-16 10:36] zanechua commented on #670
The relevant issue for this is https://github.com/microsoft/appcenter-sdk-react-native/issues/635

[2019-10-17 11:56] balivo commented on #765
Hi... I'm talking with support team and we investigating yet....

Tks!

[2019-10-17 12:38] Oddj0b commented on #748
@EugeneKonneh I think the best approach is to close the issue here and if you can contact our support team through https://appcenter.ms that would be best.

[2019-10-17 13:03] Oddj0b commented on #759
@milanio thank you for reporting it, I'll add it to the cheatsheet next week.

[2019-10-19 10:54] jbrodriguez opened #771 "New users / activations"
Is it possible to track new users of my app ?

It's an important metric to know how many new users the app is getting.

I can't see that info in the dashboard, nor I can seem to get notified about it via email.

Thanks in advance for any insights.

[2019-10-22 02:43] tigerlily777 opened #773 "Would be better if there is an example"
Hi, I feel it is a bit confusing to understand well the relationship between the owner/distribution groups/organisation/user. Even with some experience about HockeyApp, I still read a couple of times to understand the description of distributing groups on HockeyApp and AppCenter. It would be much better if there is an example. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-10-22 10:48] yoganandhini23 opened #774 "App Center Login issue "Update user profile failed, status code 500, status msg: Internal Server Error""
Hi ,
I am trying to Setup an Account in App center
Getting the following error , When I am Using my company Microsoft account : <redacted>

Another Issue is When I click on forget password , I am not getting reset link to my above ID.

**"Update user profile failed, status code 500, status msg: Internal Server Error"**
URL It take me to is :
https://appcenter.ms/sign-in?original_url=/invitations/o

[2019-10-22 14:25] jmoody commented on #748
@Oddj0b is correct.  I don't follow this repo.

There is a command in Xamarin.UITest called Tree or Dump?  That will show the entire view hierarchy.  That might help you.   Maybe the view is in another UIWindow?

[2019-10-23 09:50] armandzwan opened #775 "Unclear how to "Copy the upload_url""
At 3b of 'Uploading using the APIs', the instructions are : Copy the upload_url ...
But there is no example of how to do that in a script or something similar. Maybe it is out of the scope of this page, but a few examples (in Shell?) would be very helpful.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID:

[2019-10-23 11:16] hopewise commented on #453
@Eyesonly88 I could not find the file where you mentioned in my project.. is there something I have to do to generate the mapping file?

[2019-10-23 17:29] lbrownell-gpsw commented on #739
@fphilipe (et al), what we're looking at doing (yes, we haven't migrated hardly anything yet!) is making those who managed a group in HA be "users" of the app in question, and create the group they want for that app.  They can therefore manage the group.

What is unclear from the documentation (it might be there, but I haven't found it) is what level of app member you need to be to create/manage a

[2019-10-23 18:03] matthiaswenz commented on #453
@hopewise do you know whether ProGuard is actually running in your build? By default, the ProGuard mappings are enabled only for release builds (look for the `minifyEnabled` setting ([Android developer link](https://developer.android.com/studio/build/shrink-code)) in your build.gradle.

[2019-10-24 00:37] iamgerardm opened #776 ".dSYM via AppCenter"
The help page specifies the above statement. However, upon viewing the diagnostics it still complains of having no file. How do you get the .dSYM when the build/distribution is handled entirely though the AppCenter?

[2019-10-24 07:48] EugeneKonneh commented on #748
Update.
I have realised that:
1. The Webview is located outside our app.
2. Xamarin.UITest/Calabash are unable to automate more than one app at a time
3. And it cannot be used to automate system apps such as the browser

Question:
Has anyone come across this? and how did they manage to resolve it?

Thanks for your feedback

[2019-10-24 17:43] matthiaswenz commented on #556
Following up on this - sorry for the delay. With the issue being closed it got lost.
@zanechua You are correct that the way we pass the signing credentials is through System properties (`-D` flags) and this is also how we should instruct people to use them.
Will fix this.

[2019-10-24 21:08] MrTarantula commented on #212
I know this is closed, but maybe somebody can provide some insight. I'm using option 2, but if I comment out signingConfig as above, gradle fails to build:

[code]

This happens locally as well as in App Center. So what should my signing configuration look like in order to have App Center sign it?

[2019-10-24 21:17] dickwyn commented on #212
@MrTarantula assuming that your build type in your App Center configuration is set to "release"

[code]

Also, you need to drop in your `.keystore` or `.jks` file into your config alongside your configuration.

<img width="595" alt="Screen Shot 2019-10-24 at 2 12 16 PM" src="https://user-images.githubusercontent.com/11251672/67526037-cb56b600-f668-11e9-91a5-05dc104a9083.png">

[2019-10-24 21:26] MrTarantula commented on #212
That's exactly how I have it configured currently. It fails every time. If I add back `signingConfig signingConfigs.debug` then it will complete, but will not install on a device.

[2019-10-24 21:31] dickwyn commented on #212
Did you set your build variant to `release`?

[2019-10-24 21:34] MrTarantula commented on #212
Yes. I should note that I am building with Flutter, using the post-clone script from [here](https://github.com/microsoft/appcenter/blob/master/sample-build-scripts/flutter/android-build/appcenter-post-clone.sh). The script also sets the release flag.

[2019-10-24 21:46] dickwyn commented on #212
I am not familiar with how app signing works on Flutter. My project is on React Native

[2019-10-24 21:50] MrTarantula commented on #212
It still builds and signs with standard Gradle, so it shouldn't be an issue.

[2019-10-24 21:52] dickwyn commented on #212
Were you able to generate an `.apk` or `.aab` with your gradle config?

[2019-10-24 21:54] MrTarantula commented on #212
On my local machine, with the same code, the same `android.keystore`, but with the release config explicitly set, yes, it builds and signs.

[2019-10-24 21:54] MrTarantula commented on #212
but if there is no signingConfig set it will fail.

[2019-10-24 22:05] dickwyn commented on #212
Yes for local, you need to have a signingConfig that specifies the keystore and its credentials but (based on my experience) by allowing App Center to sign the application, you don't need to have a signingConfig for `release`.

[2019-10-25 07:01] vforvasile commented on #212
If you check the box `My gradle settings are set to sign automatically` then you must specify in **signingConfigs** the keystore.

![image](https://user-images.githubusercontent.com/9382283/67550074-4e7e1780-f70e-11e9-8759-6a0b9a7ff9b9.png)

For instance:
[code]
And below in **buildTypes**:

[code]
_This approach will work if you have your keystores in `android/app` directory_
Hope this helps.

[2019-10-25 10:44] msifniotis-bbc opened #777 "Mention of Apple Admin account - can developer role be used?"
Hi team!

The Apple Store docs state
"An active Apple Developer Program account, or have your Apple ID added as an admin in your teams iTunes Connect account."

For Internal Testflight upload purposes, can you clarify whether an account with developer permission would be enough to do this?

Currently in our build system we use a developer role instead of admin and I am not sure why admin access wo

[2019-10-25 17:33] blparr commented on #771
This is not available at the moment. We encourage you to create a feature request in our App Center Github repo to see if it gets traction from other users.

https://github.com/microsoft/appcenter/issues

[2019-10-25 17:33] #771 closed, assigned to nobody

[2019-10-25 17:52] dipree commented on #773
@tigerlily777 what kind of example do you have in mind?

[2019-10-28 10:51] jmoody commented on #748
Calabash, and to some extent Xamarin.UITest, can probably automate this.

In Calabash, you would use the DeviceAgent APIs.

https://github.com/calabash/calabash-ios/blob/develop/calabash-cucumber/lib/calabash-cucumber/device_agent.rb

I don't think Xamarin.UITest has an API for interacting with DeviceAgent query routes.

You can explore using DeviceAgent with curl or Postman (or its like).  Run yo

[2019-10-28 13:03] laalto commented on #640
What if some testers want these notifications some don't?

At the moment sending all appcenter emails to junk since receiving a flood of uninteresting "new version available" emails and changing the notification setting on project level is a no-go.

[2019-10-28 23:23] jeffkelsey opened #779 "Hockey App Api Tokens"
I understand that the Upload API endpoint is still accessible, but what about the Hockey App API tokens required for making these POST requests? Are these API tokens still valid? Do we need to generate new tokens for App Center migration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c4f7c6b-8208-7e5e-4145-255f4c11d9

[2019-10-29 09:32] #713 closed, assigned to Oddj0b

[2019-10-29 09:58] nlsrchtr commented on #476
@justingden i would highly recommend to remove the screenshot, because you are exposing private data here...

[2019-10-29 12:36] artur-malendowicz-gain opened #781 "Xamarin.UITest support is a joke - don't know even where to write"
![image](https://user-images.githubusercontent.com/50327899/67767508-02560e80-fa51-11e9-8348-6c5de8c893ea.png)

So what is that? Where can I ask about help regarding that issues? There is no github for Xamarin.UITests and no help anywhere. Do you even support it officialy?

[2019-10-29 15:34] altimac opened #782 "Coming from HockeyApp and can't find my "App Secret""
"Make sure to replace {Your App Secret} text with the actual value for your application. The App Secret can be found on the Getting Started page or Settings page on the App Center portal."
Unfortunately the "Getting Started" page seems to display an example, not the actual App Secret. And the "Settings" page does not exist either. I'm just lost.

---
#### Document Details

⚠ *Do not edit this sect

[2019-10-29 15:37] altimac commented on #782
Getting Started provides some code. The App Secret seems to be a variable so the code shows the correct App Secret. How am I supposed to know that?
There is nowhere in my app page where I can see my App Secret. This should be visible in the Overview section.

[2019-10-29 15:57] justingden commented on #476
@nlsrchtr Great call, I have deleted it from the thread. Thank you.

[2019-10-29 21:37] W0GER opened #783 "In Default Payload - What variables from App Center can be used?"
We would like to pass along the version of the app to a specific field in Azure Dev Ops (eg Found in build field). However, to do so would require App Center to provide the version as a variable. I've looked and can't find any list of supported variables that can be used in the Default Payload section. Please provide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-10-29 23:08] ashishmundrajll opened #784 "To document limitations of AppCenter with Appium"
We started using Appium with AppCenter and hit following limitations due to which we stopped using AppCenter. It would have saved us some time if these limitations were documented somewhere. Posting what we found so that if you have some apps which has this, you can avoid using AppCenter.

1. If mobile App opens a WebView in browser, e.g. in our case we use ADB2C for Authentication which opens a B

[2019-10-30 01:30] lbrownell-gpsw opened #785 "Upload a build to App Center via API or CLI: Version and build number, and distribution groups"
The `release_uploads` API requires that you specify version and build number.  Which I did for an app upload.  But there are some problems with it:
* Build number and version are switched.  I had to enter 1.0.0.0 (the version number) for the build number and 155 (the build number) for the version number.  If I do it the other way, I'm told that the version number supplied (1.0.0.0) doesn't match t

[2019-10-30 08:43] dalemyers opened #786 "The difference between a viewer and a tester isn't clear"
It would be helpful to have more details about the differences between a team member that's a viewer and a tester.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c96ab2f-7fca-bbcd-e159-3501f3ce1a4c
* Version Independent ID: 48e57a3d-d5c6-d4b3-380c-289095d5e933
* Content: [Creating and managing teams - Visual Studio Ap

[2019-10-30 17:28] nchase opened #787 "Include $AGENT_JOBSTATUS in documentation"
Can you include `$AGENT_JOBSTATUS` in the documentation? It's in an example, but it isn't actually documented, so it's super easy to miss.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca50588e-c8ad-2b8e-683f-bc5fc612dfe4
* Version Independent ID: 5d9513bd-d179-eaeb-96aa-06bd5ba0224f
* Content: [Build Scripts - Visual

[2019-10-30 19:56] jamers99 opened #788 "Crash reports from Visual Studio"
In the docs it says it only supports crashes from "both beta apps and those submitted to the Windows Store".  What does a "beta" app mean?  A package pushed to App Center?  A package made for Sideloading?  Does it have to be associated with the store?

I'm trying to get a crash report on something I am reproducing locally, but our app is not yet in the store, nor associated with the Store.  What c

[2019-10-31 00:30] shipitfaster commented on #783
Agreed, the link provided in AppCenter goes to a generic page, not specific to work item payloads. Very confusing and not sure how to proceed as I need my bugs to go to a specific path or tagged specially.

[2019-10-31 03:12] manju656 commented on #775
Here is how i did it in my shell script:
API_1_RESPONSE=$(
curl -X POST "https://api.appcenter.ms/v0.1/apps/${OWNER_NAME}/${APP_NAME}/release_uploads" -H "accept:application/json" -H "X-API-Token: ${APPCENTER_API_TOKEN}" -H "Content-Type: application/json" -d "{ \"release_id\": ${RELEASE_ID}, \"build_version\": \"${BUILD_VERSION}\", \"build_number\": \"${BUILD_NUMBER}\"}")

upload_id=$(echo $API_1

[2019-10-31 07:12] brynjar opened #789 "API token associated with personal account or organization?"
Hello,
I have created appcenter api tokens here https://appcenter.ms/settings/apitokens and read the documentation here https://docs.microsoft.com/en-us/appcenter/api-docs/

It isn't clear to me if the tokens I have created are associated with my personal login account or the organization I work for?

If I were to leave the company I work for, and the admins disabled my account, 1. would the api t

[2019-10-31 09:41] dipree commented on #782
@altimac sorry for the struggle there. The app secret can be found in the app settings and then in the upper right corner there's a vertical three dots menu. Clicking that will reveal an entry to "Copy app secret".

I will assign this to my colleagues to ensure we're pointing that out in the documentation correctly.

[2019-10-31 09:47] dipree commented on #787
None of the available `$Agent_` variables is currently exposed in our documentation. I'm assigning it to my colleague to evaluate if we want to state this here.

[2019-10-31 09:54] altimac commented on #782
IMHO the App Secret should not be hidden like this. It's a very important information and should be accessible more easily. For example in the App settings > App details "box".
Just my 2cents. Thanks for the reply!

[2019-11-01 02:33] samuele-churchill commented on #672
Same question here

[2019-11-01 12:52] AutumnEvans418 opened #790 "Xamarin UI Tests Template"
I am not seeing the Xamarin UI Test template in visual studio 2019.  What is the correct way to create ui tests for xamarin forms in visual studio 2019?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43d92e81-8d62-5775-b110-882c6ad6aa9a
* Version Independent ID: 62d282ce-ab98-46d1-1b82-fd28260330d2
* Content: [Get star

[2019-11-01 13:15] ronaldokz33 opened #791 "Missing react-native using Expo"
Hi,

I'm began use react-native lately and I'm using Expo for develop.

My question is, how do I configure the android native part without eject my project?

I tried eject and configuring but I had more problems then I solved.

Thank you.

[2019-11-01 17:30] davidbritch commented on #790
Hi @chrisevans9629

It's available in VS2019 if you search on uitest in the mobile category:

![uitest](https://user-images.githubusercontent.com/8092460/68043461-405f6680-fccd-11e9-8683-c13ebc39ab39.PNG)

[2019-11-01 17:30] #790 closed, assigned to davidbritch

[2019-11-01 19:42] jvnike commented on #739
Hello. We have not looked at Teams yet, but here is how we are performing this in App Center:
1. User had Developer access to a HA, and created one or more Groups (which in HA are global by default).
2. We made sure the HA and Group are owned by our Organization, then move the app.
3. In AC, we set the user  in the Org level Collaborators group with the role of Collaborators. This means the user c

[2019-11-02 00:05] #609 closed, assigned to winnie, blparr

[2019-11-02 00:05] #613 closed, assigned to winnie, blparr

[2019-11-03 12:38] yorch opened #792 "Installation snippets for Kotlin"
Started developing Android with Kotlin, and would be helpful to have the installation example snippets (and possibly other snippets) in Kotlin along side Java.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa9700f5-b9e0-dfe1-ddbc-b5a3231dde11
* Version Independent ID: 11728c80-1474-c1dc-caf0-2c6b6c44bbb3
* Co

[2019-11-04 14:13] Oddj0b commented on #781
Hi @artur-malendowicz-gain,
This repo is for the documentation and we're looking for constructive criticism and pull requests with documentation improvements.

To get help with Xamarin.UITest I recommend asking the App Center support by clicking the blue chat icon in the lower right side of the portal.

[2019-11-04 14:13] #781 closed, assigned to Oddj0b

[2019-11-04 19:38] ataparia opened #793 "Xamarin Android build fails during signing phase"
Hello,
I have configured a Xamarin Android project to build using app center. I have also configured Xamarin.iOS and UWP projects which builds file but the xamarin android project fails with the following message:

Task         : Android Signing
Description  : Sign and align Android APK files
Version      : 1.122.0
Author       : Microsoft Corporation
Help         : [More Information](https://go.m

[2019-11-05 16:16] SOFSPEEL opened #794 "Feature Request - AppCenter Test should support Appium .net"
Currently AppCenter only supports Appium tests written in java. How about ones written in .NET

[2019-11-05 16:56] lordzsolt opened #795 "Creating team without being part of it"
Why does the person creating the team has to be part of the team? I want to set up various teams, such as Developers, QA, Design, PM, External Collaborators, etc. so I don't need to assign people to Apps one by one. But I cannot do it without being part of all those teams.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-11-05 18:12] blparr commented on #794
Hello, would you mind doing a feature request in the App Center Gitub repo? https://github.com/microsoft/appcenter

We like to keep this repo for feedback around the docs.

Thank you!

[2019-11-05 18:12] #794 closed, assigned to nobody

[2019-11-05 18:15] blparr commented on #791
Hello! Would you mind reaching out to us via in-portal support? We have a dedicated team ready to help you with your questions.

Thanks!

[2019-11-05 18:15] #791 closed, assigned to nobody

[2019-11-05 18:28] nilofer commented on #793
Hi @ataparia, can you please reach out to App Center support for this issue? We can dig into the error better there. Thanks!

[2019-11-05 18:29] #793 closed, assigned to nilofer

[2019-11-05 20:06] guperrot commented on #792
Hi, you can already switch documentation to Kotlin from any of our Android SDK pages:

<img width="873" alt="Screen Shot 2019-11-05 at 12 05 15 PM" src="https://user-images.githubusercontent.com/623672/68242001-93366800-ffc4-11e9-8b3f-7bf31f4525b2.png">

[2019-11-05 21:44] ataparia opened #796 "Xamarin Android build fails during signing phase"
Hello,
I have configured a Xamarin Android project to build using app center. I have also configured Xamarin.iOS and UWP projects which builds file but the xamarin android project fails with the following message:

Task : Android Signing
Description : Sign and align Android APK files
Version : 1.122.0
Author : Microsoft Corporation
Help : More Information
[command]/usr/bin/jarsigner -keystore /Use

[2019-11-06 10:06] chrismcx opened #797 "Question about part 3.b"
Hi,
I've a question regarding section 3.b
Currently with HockeyApp, i'm uploading current IPA using curl -H "X-Hockeyapp-token:xxx" -F "status=2" -F "ipa=@myfile.ipa" https://rink.hockeyapp.net/api/2/apps/${appId}/app_versions/upload

Should i use a https://api.appcenter.ms/v0.1/apps/ uri ? You've wrote rink.hockeyapp.net in your section.

Thanks.

---
#### Document Details

⚠ *Do not edit this se

[2019-11-06 10:45] adamKasapakis commented on #789
+1

[2019-11-06 11:13] iridiculous opened #798 "Add complete documentation for platforms"
Theres documentation missing for the different platform options. It needs to be documented what the different types actually mean and on what features it has impact on. Unity app for example can mean lots of things, it could be UWP or standalone, could be built with IL2CPP or Mono; it could output a exe file or it could get postprocessed to an installer, appxbundle etc. So it would be good to docu

[2019-11-06 12:10] SWATTeamMember opened #799 "Guide for setting up Application Insights in custom export is inaccurate"
When creating the Application Insights it not possible to set Application Type to be App Center application type. After creation I cannot find anywhere to set Application Type

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba14a1fd-c1c2-f1a7-dd70-97c1200571f1
* Version Independent ID: f502c9bf-5593-1dd7-3551-6a7ca21f6f

[2019-11-06 19:04] MrTarantula commented on #212
This is what finally worked for me, from flutter/flutter#18232:

[code]

I still consider this a hack/workaround, but someone may want to put it in the docs.

[2019-11-06 19:49] ilyakaz opened #800 "Is this script for HockeyApp or App Center?"
appcenter-post-build.sh script uses this command: https://rink.hockeyapp.net/ for uploads. How is this going to work when you sunset HockeyApp?

Also, what should these values be set to for an app that was first created in App Center and did not exist in HockeyApp?

HOCKEYAPP_API_TOKEN=...
HOCKEYAPP_APP_ID=...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-11-07 11:53] tompi opened #801 "Xcode version / Xamarin SDK version"
I assume there are environment variables for these, but cant find any documentation? (I need to log these in out deployment systems, so we can recreate any production builds...)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca50588e-c8ad-2b8e-683f-bc5fc612dfe4
* Version Independent ID: 5d9513bd-d179-eaeb-96aa-06bd5ba0

[2019-11-08 07:44] koencoune opened #802 "When calling .StartApp on an android device the following error is shown Xamarin.UITest.Shared.Dependencies.AndroidSdkFinder.GetTools ()"
When calling .StartApp on an android device the following error is shown Xamarin.UITest.Shared.Dependencies.AndroidSdkFinder.GetTools (). The simulator doesn't start when starting the testcode. When building the app the simulator does launch.

The following stack trace is shown when trying the launch the simulator :
  at Xamarin.UITest.Shared.Dependencies.AndroidSdkFinder.GetTools () [0x002ce] in

[2019-11-08 12:23] guidovezzoni commented on #779
Also is APP_ID the one coming from HockeyApp or it an AppCenter ID?
Is the host for this call going to be https://rink.hockeyapp.net or https://api.appcenter.ms ?

I tried with the old hockeyapp values of token, appid and host and I'm uploading only in hockeyapp.
I tried with the new version of these and I can't get it to work

[2019-11-08 12:29] guidovezzoni commented on #779
Just to clarify my message above I'm getting:

[code]

[2019-11-08 13:33] dipree commented on #779
Only the HockeyApp API token is valid. You keep the API call as it was in HockeyApp, not changing the app id or the url to call.

We'll clarify that in the docs.

[2019-11-08 13:58] anton-matsyshyn commented on #499
Hi
I'm trying to delete all notification config in appcenter, but i get 403 Frorbiden
What I do wrong?
(I got 202, when I using POST push/notification with same token; I have full acces)
https://ibb.co/Dt0DfqF

[2019-11-08 14:00] jwargo commented on #499
@MatsyshynAnton The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional infor

[2019-11-08 14:49] guidovezzoni commented on #779
Thanks for the fast answer!
I currently use a curl command to upload my apk and if after the migration I use the same script I had for HockeyApp, it will re-create my HockeyApp app rather than uploading it in AppCenter.
Is there anything that I need to change to upload directly to AppCenter?

[2019-11-08 15:06] hoaass opened #803 "When I click Add Device in step 2 in Safari nothing happens."
I am trying to get a profile installed for work for a beta test of our app, when I try to Click Add Device in Safari nothing happens, it doesn't prompt me or download anything. Is there a setting that needs to be enable to allow profiles to be downloaded through Safari?

[2019-11-08 15:13] #803 closed, assigned to nobody

[2019-11-08 15:52] 6Hat opened #804 "Why Explain Without Explaining?"
In section 2.3 You give very vague instructions on adding URL Types. If you are not going to fully explain it why bother writing the article? I have no idea what you are talking about!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83d269a0-0b09-c2f6-d37a-319831bcf782
* Version Independent ID: f2c17a3a-87bb-0c75-9efb-d

[2019-11-08 20:42] dill0wn opened #805 "Customize Distribution Group Invitation?"
Is it possible to customize the invitation message to distribution groups like it was in HockeyApp?

Related: Is is possible to omit the username from the main header message of the invitation email "$USER invited you to test $APP_NAME for Android on App Center" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a807b36

[2019-11-09 12:55] breyed commented on #462
Generally, responding with a direct answer isn't reason to close an issue. The issue has to have reached a state of resolution, e.g. fixed, not applicable, etc. Since this issue is on the docs specifically, it represents the lack of documentation regarding enabling line numbers. The docs should probably be updated to mention the that the stack traces don't support showing line numbers, since that'

[2019-11-09 12:59] breyed opened #806 "Define oversized crash report attachment error"
[Add attachments to a crash report](https://docs.microsoft.com/en-us/appcenter/sdk/crashes/xamarin#add-attachments-to-a-crash-report) has this note about attachments:

What happens if the error occurs? Will it crash the app at startup as App Center is attempting to send the crash report? (That would be very bad.) Should the application code attempt to handle this error and how? Does `GetErrorAttac

[2019-11-09 13:08] breyed commented on #806
The documentation around the whole feature is sloppy. For example, the code for [AttachmentsWithCrashes](https://github.com/microsoft/appcenter-sdk-dotnet/blob/master/SDK/AppCenterCrashes/Microsoft.AppCenter.Crashes.iOS/Crashes.cs) checks whether `GetErrorAttachments` returns null. Yet the IntelliSense for `GetErrorAttachments` just has this for the return value:

If null is allowed, the docs shou

[2019-11-10 11:06] vinjegaard opened #807 "How to check push permission (React Native)"
It took me some time to understand that `const pushEnabled = await Push.isEnabled();` only checks if App Center Push is enabled or not and *not* if the user has allowed push notifications for the app or not. Is it possible to check if the user has allowed push for the app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-11-11 01:03] GlennWilson opened #808 "Typo"
First sentence begins:
Gestures are an import part

Should  be:
Gestures are an important part

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b88cf949-ef79-6542-8204-72e509973313
* Version Independent ID: 4f8f0de3-7b90-3fee-d803-0b181a0ff728
* Content: [Working with gestures - Visual Studio App Center](https://docs.mic

[2019-11-11 01:13] GlennWilson commented on #688
@mzhukovs @Oddj0b
I wonder if this is the issue:
"Also, running locally, if you are connecting to an already installed app you may need to specify a keystore so that the test server can be signed with the one that matches that APK."
https://docs.microsoft.com/en-us/appcenter/test-cloud/uitest/working-with-android-signing

[2019-11-11 07:57] tutkuayavefe opened #809 "Which version of appium is working with appcenter ?"
I am using appium for test automation. And I want to use appcenter. As I read document of Microsoft which is "https://docs.microsoft.com/en-us/appcenter/test-cloud/preparing-for-upload/appium" , one of the item is **"Support for Appium version 1.11.0 only. This appium version requires the appium java client to be at least 6.0.0"** . Is it up-to-date information? Because now, I am using XCode versi

[2019-11-11 13:18] RAM237 commented on #704
@imjustabearrr , thanks for the note! **appcenter-cli** solution seems to be working fine for me.

[2019-11-11 13:18] #704 closed, assigned to winnie

[2019-11-11 13:47] davidpetric opened #810 "Support for xUnit running unit tests in post build?"
Hello,

Does App Center support running unit tests with xUnit in post build scripts?

Thanks

[2019-11-11 22:55] evgeniyd opened #811 "Cannot change the owner of a distribution group on Hockey App"
Our Hockey App account has a Distribution Group (DG) that's owned by a member of an organization and added to an app owned by the organization. According to [this App Center Incompatibilities article](https://docs.microsoft.com/en-us/appcenter/transition/moving/incompatibilities#distribution-groups) this DG cannot be migrated unless the outlined migration steps are performed.
The owner of the DG t

[2019-11-12 13:13] artur-malendowicz-gain commented on #781
@Oddj0b great, then we can say that Xamarin.UITest framework has no support at all, because everything I ask at the "blue chat icon" they say they will "investigate" and then ask me for retrying x, y, z while I inform them that nothing is working and nobody can make it work.

[2019-11-12 17:31] cocowalla opened #812 "Explain how to access environment variables"
The docs state that an environment variable `RUNNING_IN_APP_CENTER` is set to `1` by default, and is accessible in the app.

However, if I use `System.Environment.GetEnvironmentVariable("RUNNING_IN_APP_CENTER")`, it never has a value.

If `System.Environment.GetEnvironmentVariable` cannot be used to obtain environment variables in the app at runtime, the docs should explain how, for both Android a

[2019-11-13 02:03] ChuckWalters opened #813 "Unity WebGL"
Is there a solution for Unity WebGL builds?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0365781-58e5-a72a-9422-0ebd586877fe
* Version Independent ID: 5f7e41ef-448a-b27b-9041-bb38ff38ae16
* Content: [Get Started with Unity - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/uni

[2019-11-13 09:57] IvanAllue opened #814 "The application is not updated"
Good, first of all I feel my grammatical mistakes, this is done with google translator.

I am developing an application in react native, first of all I am trying to make in-app updates on android. I have followed the steps on the following page: https://docs.microsoft.com/en-us/appcenter/sdk/distribute/android

However, when I start the application I get a message that In-app updates disabled and

[2019-11-13 10:05] IvanAllue commented on #814
I really didn't know where to put the code so I put it in both files

My onCreate in MainAplication:

[code]
My onCreate in MainActivity

[code]

[2019-11-13 13:18] Oddj0b commented on #781
I'm sorry that our supporters haven't been able to help out with your issue. The reason our support is asking for your help and will need to investigate is that Xamarin.UITest is highly customizable and not every case is the same.

[2019-11-13 13:24] IvanAllue commented on #814
Ok people I have solved the error, I am so used to programming in JavaScript that I saw so normal the {} in appsecret that at no time it crossed my mind to erase them until I said:
- If I'm in Java, what the hell do I do by putting this

[2019-11-13 13:24] #814 closed, assigned to nobody

[2019-11-13 16:45] brynjar commented on #789
anyone?

[2019-11-13 21:07] lbrownell-gpsw commented on #785
UPDATE: It appears that the requirement that the version number parameter be an integer has been removed, and there is no restriction either on build number.  This allows the user (me) to pass the values into their correct fields, in the case of an upload type that App Center can't otherwise determine the version/build number.  This is excellent!

However, the swagger page still shows the body as

[2019-11-13 21:33] jcummings2 commented on #19
See also microsoft/appcenter#102 and microsoft/appcenter#453

[2019-11-13 22:40] 509dave16 commented on #809
@tutkuayavefe I am also curious as the article for appium usage  was from 02/12/2019, which was 8 months ago. Have there been any updates to the supported version of appium for AppCenter Test Cloud?
+1

[2019-11-14 04:33] akaila opened #815 "Instructions are incomplete and console push message delivery is broken!"
We need to fix few things in order for push to work here:

1. Fix react-native link step and mention that step here. This does all the necessary linking of native iOS and Android modules so the end developers can start importing and using JS/TS classes.

2. For manual integration (if above step is not done or enabled) it is necessary to modify Application class as follows:

[code]

and

[code]

Ot

[2019-11-14 12:48] pjgrandinetti opened #816 "objective C code examples for starting the SDK"
There doesn't appear to be objective C code examples for starting the SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdaabafa-4dc0-7db9-cf7a-fafa24667c62
* Version Independent ID: b033ae6a-2ff6-59f6-7e0f-2d05f4a0ae34
* Content: [Get Started with macOS - Visual Studio App Center](https://docs.microsoft.com/en-us/ap

[2019-11-14 13:13] pjgrandinetti opened #817 "Integration by copying the binaries code sign error"
I followed the Integration by copying the binaries instructions, but get the errors below when building the app.   Any suggestions?

code object is not signed at all
In subcomponent: AppCenterCrashes.framework
Command CodeSign failed with a nonzero exit code

Previously, I was using the hockeyappSDK without issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-11-14 13:53] pjgrandinetti commented on #817
Was able to eliminate many of these errors by adding other Apple frameworks to the project, but I'm still left with following errors I cannot resolve...

Undefined symbol: std::__1::__vector_base_common<true>::__throw_length_error() const
Undefined symbol: std::__1::__basic_string_common<true>::__throw_length_error() const
Undefined symbol: std::logic_error::logic_error(char const*)
Undefined symb

[2019-11-14 16:59] grndvl1 commented on #779
SO basically we do not need to do anything with our CircleCI scripts?  THey all point to hockeyapp so it should work with tokens, groups...all those IDS will remain the same?

[2019-11-14 17:19] grndvl1 opened #818 "Error Uploading with Hockeyapp/Appcenter"
Did not change a thing in my script understanding that it would not be an issue pointing to Hockeyapp.  Well it is.  gettint this error

`{"errors":{"tags":["Tags are not supported in App Center, use distribution groups instead by specifying their names in the 'teams' parameter"]}}`

Our CircleCI script uses tags to set the QA group and group ID
I know in the curl command we add this to it

`

[2019-11-14 19:26] pjgrandinetti commented on #817
found the issue.   Unlike hockeyappSDK, I had to remove the AppCenter frameworks from the Copy File Build Phase.

[2019-11-14 19:26] pjgrandinetti commented on #817
found the issue.   Unlike hockeyappSDK, I had to remove the AppCenter frameworks from the Copy File Build Phase.

[2019-11-14 19:26] #817 closed, assigned to nobody

[2019-11-15 12:52] #792 closed, assigned to guperrot

[2019-11-15 19:16] pwillies opened #819 "using statements"
using statements require additional statement:
`using Microsoft.AppCenter.Crashes`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06ece9ab-9965-2ddf-34b6-44f0f61fe599
* Version Independent ID: 16261b98-a85e-060f-ccf4-3a24f5f14c4c
* Content: [Get Started with UWP - Visual Studio App Center](https://docs.microsoft.com/en

[2019-11-15 19:54] AhmadKelany opened #820 "How about VB winForms or WPF app?"
There is no program.vb in visual basic app.. what should I do?

[2019-11-17 03:38] AhmadKelany opened #821 "WinForms .Net Framework VB.Net Issue"
Hello,
I added the Appcenter.Start(..) method to the application_startup event of the ApplicationEvents module,
and I got the  "App Center SDK configured successfully" confirmation in the console, but still no data is shown an analytics nor logs nor anything, the device is online..

What am I doing wrong? How can I get the data to show?

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-11-17 09:42] maysusan opened #822 "try"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa9700f5-b9e0-dfe1-ddbc-b5a3231dde11
* Version Independent ID: 11728c80-1474-c1dc-caf0-2c6b6c44bbb3
* Content: [Get Started with Android - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/android)
* Content Sour

[2019-11-17 11:03] vkuttyp commented on #438
You have to install the following nuget package:
Xamarin.GooglePlayservices.Basement

[2019-11-18 14:13] julien-conan opened #823 "Github Android sample app url leads to a 404"
"2. Access the sample app's GitHub repository."

Url update proposition : https://github.com/microsoft/appcenter-sampleapp-android

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd0fc568-48f7-a1a0-f0a8-fb72d931d071
* Version Independent ID: bf93c8d7-7344-cc55-35b1-7b8ab740328a
* Content: [Getting Started - Visual Studi

[2019-11-18 14:19] hanshamm opened #824 "Why do I need to manually upload provisioning profiles with a connected store / apple developer account?"
Manual upload of Provisioning Profiles should not be necessary.

I can already use resign and automatic manage my devices in other locations. Why do I have to upload manually provisioning profiles. I would assume that the system should be able to get all profiles from apple portal. Certificates makes sense, but profiles is a thing you want to automate. Through XCode you can download all necessary

[2019-11-19 06:42] nilofer commented on #824
Hi @hanshamm, issues and comments on our docs are for specific clarifications on things in the docs. Today, we don't connect directly to your Apple Developer Account for building in App Center. That connection is only used in resigning your app when it is distributed. To create a feature request for this, please open an issue in our [main repo](https://github.com/microsoft/appcenter/issues).

[2019-11-19 06:42] #824 closed, assigned to nobody

[2019-11-19 18:30] jhornick-ms opened #825 "Table of Contents order is off"
The "Introduction" page ends with a sentence saying the reader should first read the Core Concepts page, before getting started.  But the ToC lists the Getting Started page before the Core Concepts page.  We should swap the order of those two pages in the ToC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b34a665-39c

[2019-11-19 19:29] keithburgoyne opened #826 "Objective C examples"
Hi there,

Seems the example code in this documentation is largely in Swift, though there are scattered bits of Objective-C throughout. Would you be able to flesh out your Objective-C example code? It would be incredibly useful.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0df91a5b-58a1-d91a-0aac-8866357f8bd

[2019-11-20 14:08] dmcgill50 opened #827 "Broken Install"
Davids-MacBook-Air:~ dave$ npm install -g appcenter-cli
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@szmarczak%2fhttp-timer - User not found
npm ERR! 404
npm ERR! 404  '@szmarczak/http-timer@^1.1.2' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)
npm ERR! 404 It was specified as a dependency of 'got'
npm ER

[2019-11-20 14:59] AntonPetrov83 opened #828 "Apple account must have App Manager permissions to successfully publish builds"
Please see this issue of the fastlane: https://github.com/fastlane/fastlane/issues/14372
App Manager permissions are required to make this API call: https://developer.apple.com/documentation/appstoreconnectapi/modify_a_beta_app_review_detail
otherwise build publishing will fail.

Please mention this detail in the doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-11-20 15:29] brynjar commented on #789
Bueller.....

[2019-11-20 17:16] srinivas3120 opened #829 "Unclear message for a 401 response"
``POST https://api.appcenter.ms/v0.1/apps/srinivas3120/GitUserListMVVM/release_uploads``
``{
    "message": "9f51a3c4-d5ef-4258-a5ef-1bc475018289",
    "statusCode": 401,
    "code": "Unauthorized"
}``

It would be better to add a doc on how to read the message or a more meaningful message.

[2019-11-20 21:18] glennwester commented on #825
Thanks for making us aware! @Oddj0b for triage.

[2019-11-21 09:48] wickedw opened #830 "https://docs.microsoft.com/en-us/appcenter/sdk/push/xamarin-ios"
Minor, but should -

this.myOwnNotificationDelegate = YourOwnUNUserNotificationCenterDelegate();

be -

this.myOwnNotificationDelegate = new YourOwnUNUserNotificationCenterDelegate();

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6415607-5d22-0249-2537-1d7887b46f16
* Version Independent ID: 32fafbc0-515e-043f-3481-6f

[2019-11-21 10:14] ranjan-2209 opened #831 "No page for WPF/WinForms"
No page for WPF/WinForms

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f2add0f-2806-8bfa-92d5-cc3fdd1e1055
* Version Independent ID: c572b535-a780-fba3-0845-f5127d98d7d6
* Content: [UWP SDK Troubleshooting - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/troubleshooting/uwp)
* Content Source

[2019-11-21 16:04] zank-stlab opened #832 "Appcenter test 30 days free trial"
Not sure if it's the right place but I didn't find the documentation very clear on that point:

If I start 30 days free trial for testing apps after the 30 days it'll automatically take money from the cart?
Or it ll ask if I want to keep use the service and pay for it?

In case it take money automatically where can I disable it?

Thanks

[2019-11-21 21:44] jkl334 opened #833 "Version Name"
For this particular part of the page:
[code]

What does a higher value of a versionName mean. Since a versionName in android can be any string, I'm wondering how app center determines one version name is a higher value than another. Thanks in advance for the help!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40294974

[2019-11-22 11:48] bakerm00 opened #834 "minimum IAM role needed to select a subscription in App Centre org"
what is the minimum IAM Role needed to view and select a subscription for billing against an app in app centre?
this should be outlined here as shops will have a governance element to consider for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1143ee54-3dad-1bbb-1b43-30dd4d6c3e6d
* Version Independent ID: c27a4b6

[2019-11-22 20:37] TranstecJasonD commented on #755
I just started using this today, but it's working fine for me in WinForms. When I use TrackError for a handled exception, the report is sent right after I restart the app.

[2019-11-23 10:42] viktorszekeress opened #835 "Attachments not available for handled errors"
Documentation claims: "You can also optionally add one binary and one text attachment to a handled error report. Pass the attachments as an array of ErrorAttachmentLog objects as shown in the example below."
But there is no Crashes.TrackError(exception, attachments: attachments) overload for UWP, only Crashes.TrackError(exception, properties).

---
#### Document Details

⚠ *Do not edit this sectio

[2019-11-23 13:34] OskarGroth opened #836 "Improve instructions"
You may want to emphasize that Sparkle updates will not work at all until you toggle "App can be downloaded by anyone with link access" for the distribution group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3f4fcf0-5843-cad5-d783-9ae9de3a1f09
* Version Independent ID: 5b59ad53-7bce-ead0-a8cb-f1413ce5714d
* Content

[2019-11-23 17:05] vkuttyp opened #837 "Reserved push notification custom data "badge" and "sound" not honored in Production"
I have successfully configured AppCenter push notification for my iOS app and it's working fine with sandbox.
Today uploaded the app to Appstore and opted for production on App center. Push notification is working fine. However, the custom data for badge and sound are not honored in the production version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-11-24 16:14] BillJKlees commented on #734
I think it might be useful to get even more clarification.

[ "crashes","errors", "attachments" ] works, but i'm also seeing a folder called "Unhandled". Which entity type controls this folder? I'm getting all the information i need from the meta data, attachments, and crashes. I don't need this "unhandled" folder and I don't know how to turn just that folder off. It's also taking up a larger amou

[2019-11-25 11:23] ranjan-2209 opened #839 "WPF section missing?"
`This section and following sub sections apply only to WinForms. You can skip this section if you are integrating the SDK on WPF.` is written on the page.

Where does the WPF section start?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eae5644-1b90-680a-25aa-9ebc77b3ce58
* Version Independent ID: 05a373b3-f6eb-e92e-7

[2019-11-25 15:49] Oddj0b commented on #714
A PR have been merged to fix this issue.

https://github.com/MicrosoftDocs/appcenter-docs-pr/pull/1597

[2019-11-25 15:49] #714 closed, assigned to Oddj0b

[2019-11-25 17:01] chao-master opened #840 "No blue chat button, No Contact us in question mark menu"
Title is self explanatory,
I have also checked with my ad blocked disabled and the blue chat bubble doesn't appear
The "question mark" menu contains: System Status, Docs & APIs, Roadmap, Top feature requests, Submit feature request

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45dd71a0-a249-a87b-e4eb-e4da0a20472f
* Ve

[2019-11-25 17:20] rfinizio commented on #694
the problem still exists, no signed distribution it is possible

[2019-11-25 20:54] dpaulino opened #841 "Is there a UWP sdk?"
Is there a UWP sdk for AppCenter Data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a0f404e-cea8-b8b3-917c-c6e69facfc11
* Version Independent ID: 8fab40e9-9152-e137-7de4-c78e6d80bde1
* Content: [Managing Data with the App Center Data Service - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/data

[2019-11-25 21:06] timeyoutakeit commented on #840
Hi @chao-master, it looks like there was a similar issue reported earlier on the [product support page](https://github.com/microsoft/appcenter/issues/1416). Can you try again and see if the issue has been resolved for you?

[2019-11-25 21:21] timeyoutakeit commented on #827
Hi, this repo is only for issues with the documentation, rather than issues with the product. If you're experiencing issues with the product, please contact the [in-product support](https://intercom.help/appcenter/en/articles/1698824-getting-help-with-app-center) .

[2019-11-25 21:21] #827 closed, assigned to nobody

[2019-11-25 21:50] #822 closed, assigned to nobody

[2019-11-25 22:57] #808 closed, assigned to timeyoutakeit

[2019-11-25 22:57] #819 closed, assigned to nobody

[2019-11-25 22:57] #825 closed, assigned to Oddj0b

[2019-11-25 23:41] dpaulino commented on #841
Nevermind, I'm not going to use this appcenter feature anymore due to low Windows support.

[2019-11-25 23:41] #841 closed, assigned to nobody

[2019-11-26 00:33] chao-master commented on #840
I will have to check at work tomorrow
But even if the solution listed there still stands the second part of the issue

Still applies

[2019-11-26 08:59] anne-k commented on #692
@stewa11 Did you navigate to your app's page? That's where the 'Distribute' menu option is. It doesn't explicitly say in the tutorial but the link to Google Play needs to be set up for each app individually in App Center.

<img width="255" alt="Screenshot 2019-11-26 at 09 54 08" src="https://user-images.githubusercontent.com/27358441/69614234-1468a400-1033-11ea-87d1-aae728f0d9c5.png">

[2019-11-26 10:01] mpashnyov opened #842 "Incorrect commnets in MSCrashesDelegate.h"
Hello, seems you have copy-paste mistype in comments of `@protocol MSCrashesDelegate <NSObject>`

[code]

[2019-11-26 16:55] dalemyers commented on #786
Ok, so it seems that "tester" was just a holdover from Hockey. Either way, a better table for the different permissions would be helpful (similar to what the roles for org collaborators has).

[2019-11-27 12:16] Phenek commented on #332
Hey guys,

@gunapandianraj  Do you have a workaround?

@dhei Is this feature is really in the roadmap?

We need this for our users could fast reply.

[2019-11-27 12:41] tomhaycockwest commented on #785
Would you mind providing an example of how you have passed in the release_id, build_number and build version. I can see that the release_id needs to be an integer. The build_number and build_version need to be strings. The command below succeeds but all of the parameters are ignored and therefore not reflected in app center.

RESULT=$(curl -s -X POST -H "Content-Type: application/json" -H "Accept:

[2019-11-27 17:22] JoeAlamo opened #843 "How do Apple ID and certificates work in relation to organizations?"
Context: We have an organization in App Center, with all our apps belonging to the organization.

How can I add my Apple Id and certificate at an organization level so I am able to use them across our apps? or is that workflow not currently supported?

If it's not supported, what would be the alternative workflow?

Many thanks,

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-11-27 17:24] externalshawnhong opened #844 "Enable caching of dependencies"
I'm running a React Native iOS build. Our build times are taking much longer than we anticipated (&gt;30 minutes). The majority of the build time is taken up by the fresh installation of our pods and npm modules. When will caching be enabled as a feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bc0d05a-138a-1b7

[2019-11-27 19:05] jwargo commented on #332
@Phenek As @dhei said, we want to fix this, but we have other work we're focused on right now. Your best option right now is to build a local notification using the custom data from the notification.

[2019-11-27 21:43] GrillAndChill commented on #844
@ranterle @DennisPan

@patniko

[2019-11-29 01:34] ben-zhang-at-salesforce opened #845 "Question: AppCenter.start(..) needs be called from all entry activities?"
Hi There:
     As you know android app has a main entry activity which is usually the home activity user see after clicking app icon.  AppCenter.start() will definitely be called on the activity onCreate method.
    Beside home activity, app usually has some secondary entry activities(like deeplink activity - clicking a web link and app goes to a specific secondary activity) .  I believe AppCenter

[2019-11-29 13:20] stewa11 commented on #692
Hi anne-k , ot-dchristopher ,

huge thanks for helping me.

Can you please confirm the URLs?
Is this navigation correct?
Google Play Console (**example** https://play.google.com/apps/publish/?account=XXXXXXXXXXXXXXXX#AppListPlace)
Click on App, Release Management, then what (please)?

I am happy too demonstrate/learn if you are available for 5 mins on a remote session.

thanks
Stew

[2019-11-29 19:34] ot-dchristopher commented on #692
The URL you mentioned is in the Google App Store. The one I was referring to is in App Center (https://appcenter.ms). Load your app in App Center, then follow the instructions in the earlier posts.

[2019-11-30 09:59] jon-peel opened #846 "Not publishing when selecting self contained"
I did "Install-Package SQLitePCLRaw.lib.e_sqlite3.v110_xp -Version 1.1.14" as suggested in https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/wpf-winforms#feedback
but it still does not let me publish as self-contained from VS.

2019/11/30 11:54:46
System.AggregateException: One or more errors occurred. ---> System.Exception: Publishing failed.
   --- End of inner exception stack trace

[2019-11-30 16:03] inPhilly commented on #374
@thsbrown or @suzukieng did you find the answer to this? App Center Help Center is closed until Monday and I have a critical update that I need to post immediately.

[2019-12-01 05:03] thsbrown commented on #374
@inPhilly it is possible to resign the app via app center. When a new iOS user signs up app center should add their device id and resign the app with them included. You can also do this manually from the dashboard

[2019-12-02 12:09] nithinyell opened #847 "App crash"
App is crashing if i add.
[code]

[2019-12-02 12:15] nithinyell opened #848 "Android App Crash"
App is getting crash, if I add
[code]

[2019-12-02 12:19] #847 closed, assigned to nobody

[2019-12-03 13:00] Adama-Doh opened #850 "Integrating AppCenter SDK in VB winForms."
Hi,
I have been trying to integrate AppCenter sdk into my project(Vb winForms).

I've installed the AppCenter packages in my project but, I haven't been able to continue with the integration because I couldn't locate program.vb (the docs used program.cs instead). The official documentation page also doesn't show how to add the sdk in vb winForm.

**Tried adding the AppCenter(..) method to Applicat

[2019-12-03 17:54] zayass commented on #672
Same issue

[2019-12-04 00:58] dennispan commented on #844
@externalshawnhong The feature request is tracked here: https://github.com/microsoft/appcenter/issues/473 . Unfortunately no update to share at the moment.

I assume you are using the free plan? If you change to paid plan, each build extends timeout to 60 minutes.

[2019-12-04 01:13] kingeaglewang opened #851 "No internet access analytics event does not save"
I just read the document as followed.

When there is no network connectivity, the SDK saves up to 10MB of logs in the local storage. Once the storage is full, the SDK will start discarding old logs to make room for the new logs. Once the device gets internet access back, the SDK will send logs in the batch of 50 or after every 3 seconds.

I do the experiment, I turn off the Internet, and run my ap

[2019-12-04 07:03] jmoody commented on #750
You are correct, this is not working in XCUITest.  We have updated the docs to reflect this.

We are tracking this feature internally.

[2019-12-04 07:06] jmoody commented on #812
We have updated the docs and have a few more clarifications in progress.

In particular, we describe which frameworks support setting application environment variables and which support setting test environment variables.

We also show that on Android, you must use `InstrumentationRegistry.getArguments()` to access `RUNNING_IN_APP_CENTER` because Android does not support environment variables.

[2019-12-04 07:07] #812 closed, assigned to nobody

[2019-12-04 15:05] fritzfr opened #852 "Misleading Parts in "Delay push notification permission dialog""
In this section (https://docs.microsoft.com/en-us/appcenter/sdk/push/react-native-ios#delay-push-notification-permission-dialog), the following part is misleading:

This suggests that there is something you need to do to get approval, and **then** call `Push.setEnabled(true)`. However, it is this very call (`Push.setEnabled(true).`) which opens the Dialogbox and asks for this very approval.

So th

[2019-12-04 22:33] GrillAndChill commented on #844
@DennisPan it's not best to wait 60min to build and then repeat the entire process a couple of times if something breaks..

Do App Center team have this feature on their roadmap? Do you know when will it be added? This will block us from using the App Center.

[2019-12-05 06:29] dennispan commented on #844
@GrillAndChill I understand. This isn't currently on our immediate roadmap.

[2019-12-05 12:54] yazoonic opened #853 "iOS documentation - Swift"
why iOS documentation only using object -c ... Please update the documentation with swift.

[2019-12-05 18:14] ajrobertsonio opened #854 "Photos out of date for developer.apple.com"
The screens shots of developer.apple.com are no out of date. Apple has updated the user interface of its Developer Portal since the creation of these screenshots.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b5aee85-ff56-92ea-bcc1-bcb75766d0ec
* Version Independent ID: 6ff20886-6471-3dcf-1434-a9fbee5c729f
* Content:

[2019-12-06 10:55] stoneman commented on #750
Closing as the docs are now accurate. They will be updated again once the capabilities have been added to XCUITests running in App Center.

[2019-12-06 10:55] #750 closed, assigned to Oddj0b

[2019-12-06 13:54] Oddj0b commented on #692
Hi @stewa11, I have PR open to change Distribution to Distribute instead.

[2019-12-06 14:18] Oddj0b commented on #843
Hi @JoeAlamo, I have a PR open to add the following paragraph. In other words, we don't support adding Apple IDs to organization because it is a personal identity.
[code]

[2019-12-06 14:49] ArgusMagnus opened #855 "Receive notification data in background"
The documentation explicitly states, that the PushNotificationReceived event is fired only by clicking the notification when the app is in the background. Is there a way to receive the notification data in the app, even if the user does not click on the notification?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65373

[2019-12-06 15:06] Oddj0b commented on #777
As a developer role, you're not able to create apps or submit new versions that are required for an app store release. I'll also create a PR for the documentation.

[2019-12-07 03:01] askpatrickw opened #856 "How to use RN Screens?"
This example works well if you want to use a redirect to the web for authentication and then back to the app. And that may be the norm if using B2C with a 3rd party authentication service (Google, Facebook, etc..). But this example does not show how to properly implement an ADB2C authentication scheme with the SignIn\SignUp\Profile\PasswordReset\ETC. screens implemented in ReactNative for apps whi

[2019-12-09 05:41] anywherepilot commented on #606
Is this an issue with the documentation? If it is an issue with App Center itself, consider filing it in the main repository: https://github.com/microsoft/appcenter/issues

[2019-12-09 05:49] anywherepilot commented on #640
This should be a feature request in the main App Center repository instead. Please have a look whether this one covers your needs, then upvote it: https://github.com/microsoft/appcenter/issues/1118

If not, please create a new feature request there and we will prioritize it against the other requests.

[2019-12-09 06:10] anywherepilot commented on #652
The app ID is indeed used by the SDK. It is also used by one App Center API endpoint. However, you're right in that we're trying to not bother users of App Center with this ID.

You can get your app ID from the Overview page, through the API or the CLI, or by checking the `commonContext.appStore.app.id` value in the developer console of a browser after browsing to your app.

[2019-12-09 06:10] #652 closed, assigned to elamalani

[2019-12-09 06:19] anywherepilot commented on #660
I hope the answer above helped you set up the web hook. I'll close this issue now. Feel free to reopen if you can't get it to work.

[2019-12-09 06:19] #660 closed, assigned to amchew

[2019-12-09 06:49] anywherepilot commented on #667
Hi @Aliaksandr2Kharytaniuk. We recently did a change to App Center so now all Windows applications, including UWP, respect the version number which you provide. Please verify whether this is still an issue for you.

When you upload a UWP app as a .zip or .msi file, you can specify one number. This number becomes the build number in App Center, and what used to be called the `bundle_version` in Hoc

[2019-12-09 07:02] pqtuan86 commented on #797
Once you've done with step 3.a, get the upload_url from the response of this step, and use it for 3.b
You don't need to care about whether it is hockey or appcenter url, just use it within 24h. FYI, it's still hockeyapp url.

[2019-12-09 07:11] cvo-4tell opened #857 "Upload iOS Symbolication from App Center build"
Is it possible to upload iOS Symbolication from App Center build? It means that we don't need to download & upload the iOS Symbolication.

[2019-12-09 07:12] anywherepilot commented on #672
Jira removed the support for this feature. There is a link to the deprecation documentation from Jira in the App Center documentation. If you believe that user/password login still works for the server version of Jira, please open a feature request for supporting this version of Jira in the main App Center repository and up-vote it: https://github.com/microsoft/appcenter/issues/

Feature requests

[2019-12-09 07:23] anywherepilot commented on #679
The prerequisite is only to download the file, and store it *somewhere*. The reason the sentence isn't a bit more clear is that this is an inlined version of the documentation for getting started with Android native projects. Since the details about what to do with the file are below, as you already discovered, I will close this issue now.

[2019-12-09 07:27] #679 closed, assigned to nobody

[2019-12-09 08:06] msifniotis-bbc commented on #777
@Oddj0b Does the above mean that were we to give access with developer role instead we could restrict to Testflight upload? (And then decide if we wanted the elevated features of new version creation etc, we would give administrator access..)

[2019-12-09 09:02] anywherepilot commented on #694
@NunoPeixotoPrimavera @level54 @ExtremeKaos @rfinizio please upvote the feature request here so we can prioritize it against other requests: microsoft/appcenter#1321

I understand this is an important issue to all of you. Since it is not a documentation issue, I will close this now so the future discussion can all be in one place. Feel free to reopen if you believe there should be a documentation

[2019-12-09 09:02] #694 closed, assigned to winnie

[2019-12-09 09:26] #692 closed, assigned to Oddj0b, dimazaid

[2019-12-09 12:26] AnastasiaKubova commented on #639
Hi, @archerfob ! Thank you for getting in touch! Could you please share the verbose [logs](https://docs.microsoft.com/en-us/appcenter/sdk/other-apis/unity#adjust-the-log-level)?

[2019-12-09 13:01] #843 closed, assigned to Oddj0b

[2019-12-10 04:49] #706 closed, assigned to hamswan

[2019-12-10 04:52] anywherepilot commented on #709
Hi @hasselmm! There was a bug in App Center where for certain Windows platforms the version number for .msi files was ignored. We fixed it last month. You should now be able to upload .msi files and the version number you provide will be respected for all Windows apps regardless of platform. Uploading via the API also works again. I will close this issue now.

[2019-12-10 04:52] #709 closed, assigned to nilofer

[2019-12-10 06:15] anywherepilot commented on #710
Thanks for the idea and the upvote. I have a PR out to change it to A B C and made some other changes which should make the documentation clearer.

[2019-12-10 07:54] anywherepilot commented on #715
Hi @lbrownell-gpsw. I am sorry we took so long to respond. I believe you may be talking about the `release_id` parameter of the first call, the POST to `/apps/{owner_name}/{app_name}/release_uploads`. Is that correct? If that is so, please just ignore that parameter. You do not need to specify it. It is only used if you want to edit an existing release by uploading a different file to it. I have u

[2019-12-10 08:13] #719 closed, assigned to hamswan

[2019-12-10 08:17] #723 closed, assigned to winnie

[2019-12-10 08:19] anywherepilot commented on #726
Hi @ygornascimento. The app already worked with App Center, we just had not renamed it yet! It has been rebranded now: https://play.google.com/store/apps/details?id=com.microsoft.hockeyapp.testerapp&hl=en

I believe this answers your question. Feel free to reopen if not.

[2019-12-10 08:19] #726 closed, assigned to dipree

[2019-12-10 08:21] anywherepilot commented on #745
Translation implies that the user is happy with our product. Thank you for using App Center!

[2019-12-10 08:21] #745 closed, assigned to nobody

[2019-12-10 13:10] Oddj0b commented on #777
@msifniotis-bbc I believe that should be possible.

[2019-12-10 13:26] yazoonic opened #858 "Swift example"
can you add Swift examples here for create, read, replace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5daee3ed-f796-73bd-af36-6deb5e33db9d
* Version Independent ID: 91af479e-8b3e-2395-c3f6-0bb0c108b61e
* Content: [Configuring App Center Data for iOS - Visual Studio App Center](https://docs.microsoft.com/en-us/appce

[2019-12-10 13:44] StAI commented on #667
Hi @jerietve. Is this already released?
I have try to create new release with custom version with no success:
![image](https://user-images.githubusercontent.com/2962278/70534513-4b2ed600-1b6c-11ea-9a27-4a15cf0922a5.png)

[2019-12-10 14:42] bakerm00 commented on #834
so will this get any traction?

[2019-12-10 15:05] olivereisenhut opened #859 "No mention about SFSafariViewController or ASWebAuthenticationSession"
On the whole document there is no mention of SFSafariViewController and
ASWebAuthenticationSession. I got no idea if those two classes are actually supported or not to query HTML content. Would be fantastic to have a feedback that those two classes are not supported or a link to the corresponding docs to get things clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-12-10 15:06] kuyu007 opened #860 "tes"
tes

---
#### Detail Dokumen

⚠ *Jangan edit bagian ini. Diperlukan untuk masalah penautan docs.microsoft.com ➟ GitHub.*

* ID: 06813350-a37b-a4a2-fdbc-a59caefb9f32
* Version Independent ID: 29787958-5b4e-efc2-2af5-2af0ee53216e
* Content: [App Center Build - Visual Studio App Center](https://docs.microsoft.com/id-id/appcenter/build/)
* Content Source: [docs/build/index.md](https://github.com/Micro

[2019-12-10 15:35] jkl334 commented on #833
bump

[2019-12-10 16:33] bakerm00 opened #861 "what if you have multiple organisations going to one Azure AD?"
what if you have multiple organisations going to one Azure AD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da9d9d48-17c2-f7a3-b4a9-55e6a37017eb
* Version Independent ID: eeaedcce-7367-619e-6c73-2814b727d83d
* Content: [Connecting App Center Organizations to Azure Active Directory - Visual Studio App Center](https://

[2019-12-10 17:07] bakerm00 opened #862 "what is the minimal permissions the Azure AD enterprise app is assigned?"
what is the minimal permissions the Azure AD enterprise app is assigned?
currently i have defined an iDP but the "app centre" app has no permissions assigned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da9d9d48-17c2-f7a3-b4a9-55e6a37017eb
* Version Independent ID: eeaedcce-7367-619e-6c73-2814b727d83d
* Content: [Co

[2019-12-10 20:44] winnie commented on #667
Hi @StAI - yes we added support for setting the build number for UWP .zip and .msi packages. If you are uploading a zip with an .appx file inside, we will attempt to extract the version number which is why you're seeing the error message. We have plans to improve this experience in the future but no ETA yet.

We'll keep post here with updates. Thanks!

[2019-12-10 22:03] MrTarantula commented on #212
And for flavors:

[code]

[2019-12-10 22:12] #777 closed, assigned to Oddj0b, anywherepilot

[2019-12-11 04:42] anywherepilot commented on #860
Hi @kuyu007. Did you have a question or comment?

[2019-12-11 08:57] #662 closed, assigned to Zakeelm

[2019-12-12 03:58] amlwin opened #863 "Is there anyway to get my keystore file that i upload for signing process?"
I just lost my keystore in my local machine. Fortunately,  I added once my keystore file to appcenter form release process. I still visible that keystore in the dashboard (show in screen shot).  Is there any chance to get my keystore?
![Screen Shot 2019-12-12 at 10 05 20](https://user-images.githubusercontent.com/9652656/70681500-f903c700-1cc9-11ea-8cae-da34da163efa.png)

---
#### Document Details

[2019-12-12 05:36] anywherepilot commented on #863
Hi @amlwin. There is no built-in functionality to download back your key store. Please open a support ticket using the button in the lower-right corner of the screen (when no wizard is open). We will see what we can do for you!

There should be no need to get your key store back, because you can just create a new one and sign your app with a new key. Just discuss what with the support team though,

[2019-12-12 05:37] #710 closed, assigned to nilofer

[2019-12-12 06:08] anywherepilot commented on #731
Hi @gaecer. You mention an enterprise license. Are you trying to use an enterprise provisioning profile?

I assume you had a look at the [documentation for iOS code signing](https://docs.microsoft.com/en-us/appcenter/build/ios/code-signing)?

App Center does support directly releasing to the App Store whenever you push code to a branch. Enable **Distribute builds** in the build configuration of yo

[2019-12-12 06:31] anywherepilot commented on #738
Thank you for notifying us! An update is on the way.

[2019-12-12 07:21] anywherepilot commented on #739
Let me summarize my understanding of the permissions system and then get back to your question.

**Overview**
Organizations have People, Teams and Distribution Groups. The People have roles "Admin", "Collaborator" or "Member". These are roles within the Organization and determine the actions the People can take regarding the adding and changing of People, Apps, etc. in the Organization.

The Teams

[2019-12-12 07:22] anywherepilot commented on #739
Since this is quite old, @-ing everyone who had questions... See above @lbrownell-gpsw @fphilipe

[2019-12-12 08:01] MatkovIvan commented on #823
It looks like app-secret value is incorrect, please follow our [Getting Started](https://docs.microsoft.com/en-us/appcenter/quickstarts/android/getting-started#replace-the-app-secret) doc

[2019-12-12 08:27] #823 closed, assigned to nobody

[2019-12-12 08:59] anywherepilot commented on #740
Hi @li2. Thank you for noticing the documentation needs an update. This is because you are using the new YAML pipeline editor, while the screenshots are for the classic editor. You can still use the classic editor for new pipelines when you create them, but of course the new editor is the way forward. I will update the documentation with screenshots of the new editor. The way you found for achievi

[2019-12-12 16:14] karltaylor commented on #787
@derpixeldan Any update on including `$AGENT_JOBSTATUS` in the docs?

I've just seen it and would like to use it to run a post-build script _only_ if the build succeeds

[2019-12-12 16:58] #863 closed, assigned to nobody

[2019-12-12 17:01] nilofer commented on #863
Hey @amlwin, this looks similar to this [issue](https://github.com/microsoft/appcenter/issues/703) in our official non-docs repo. We don't support this today as @jerietve mentioned as signing credentials are securely stored and not made available to you once they've been provided to App Center.

[2019-12-12 19:14] fphilipe commented on #739
The point is that this person managing the distribution group is external. A Manager role  is at the organization level.

We have many customers, for each customer we have a distribution group. We build a white-label app and have a version of the app for each customer (iOS and Android). This distribution group has access to the customer's iOS and Android app.

We cannot add an employee of our cust

[2019-12-13 02:11] anywherepilot commented on #739
Hi @fphilipe. I understand what you want to do now. That is not possible in App Center at the moment. The functionality is on the road map for the first half of 2020. I can't find a public version of that at the moment, but will link it below if I get it.

Even though it is already on the planning, you may add some priority to it by upvoting an issue for it in the main repository. Please have a lo

[2019-12-13 02:42] reganlawton commented on #856
This is so my thinking this has been a totally pain to add to a React Native project as the scope of the docs is so limited with Appcenter Auth

[2019-12-13 03:49] mauriciopf commented on #53
Hi, I need help! I’m building an app in react native, and I added a appcenter-pre-build.sh next to the package.json and the project setting in app center says Build scripts as none. Why is this if I already have the bash file in my repo???

[2019-12-13 04:02] mauriciopf opened #864 "Cannot see build script for react native"
Hi I’m adding my prebuild script next to my package json and the web client says: build scripts none. Why my prebuild bash script is not showing?

[2019-12-13 04:41] anywherepilot commented on #715
The documentation update will be live soon. I believe this addresses all questions, similar to the above comments. If not, feel free to reopen.

[2019-12-13 04:41] #715 closed, assigned to botatoes

[2019-12-13 06:27] fphilipe commented on #739
Works for me! I've upvoted microsoft/appcenter#1437. Thanks ✋

[2019-12-13 08:37] AnastasiaKubova commented on #639
@archerfob we haven’t heard from you in a while so I’m closing this issue.
Feel free to reopen this issue if it isn’t resolved or you have additional questions.

[2019-12-13 08:37] #639 closed, assigned to botatoes

[2019-12-13 08:38] #739 closed, assigned to botatoes

[2019-12-13 09:38] agnieszkabugla commented on #815
I have exactly the same problem. I can send push notifications from Firebase Cloud Messaging console, but not from AppCenter. Have you managed to fix the problem?

[2019-12-13 13:16] jwargo commented on #53
@mauriciopf if you need help, please contact our dedicated support team - just click the blue chat button in the lower-right corner of any App Center portal page to connect directly with the team.

[2019-12-13 16:31] akaila commented on #815
I decided not to use push notifications in the end. So not an issue now.

[2019-12-16 02:10] #738 closed, assigned to nobody

[2019-12-16 03:32] anywherepilot commented on #860
Closing this, looks like a mistake. Please reopen if you do have a question.

[2019-12-16 03:32] #860 closed, assigned to nobody

[2019-12-16 21:08] CottleCP opened #865 "plurality typo"
Secrets are store in a secure vault, to protect the confidentiality of your credentials.
should be
Secrets are stored in a secure vault, to protect the confidentiality of your credentials.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2de79b71-e877-4882-9b78-bb4084afeed7
* Version Independent ID: 0991f861-34cc-2b8d-f1

[2019-12-18 05:03] vineetchoudhary commented on #858
Hi @yazoonic , It's already there.
<img width="1106" alt="Screenshot 2019-12-18 at 10 31 13 AM" src="https://user-images.githubusercontent.com/8479436/71057164-c6524680-2181-11ea-83b9-6f4a0a7d864a.png">

[2019-12-18 07:17] olmisa commented on #730
Hi @philhinco . Debug build means that the `android:debuggable` flag is set to `true` (which is usually automatically set by gradle predefined debug build variants). Otherwise, this is a release build.

[2019-12-18 09:55] jaguarg opened #866 "Cordova iOS push not working"
Hi,

I have followed the steps in the documentation and I can't get notifications to work.
I can't find any error in my application log.

Below you can find  an extract of what I can see in my application logs re: push . Also I have attached a screenshot of the appcenter push console when trying to send a push message.

`2019-12-18 10:35:32.863771+0100 MyAppName[1129:353692] [AppCenter] DEBUG: -[M

[2019-12-18 11:50] mtannerfors opened #867 "Xcode 11.x"
As of xcode 11 you should use the Apple Development Certificate, NOT the iOS App development certificate. You will receive build error [No signing certificate "iOS Development" found]. Make sure you set the xcode version to 11.x+ in the build settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c01f1809-2316-7d47-1

[2019-12-18 16:58] qhartman opened #868 "How far through the Apple process is automated here?"
What portion of the manual process does this integration cover? It seems like it would cover through the upload of the package, similar to what the Application Loader utility would do. Then we would need to do final submission, and then release to the store through Apple. Is that correct, or does it go further? The term "Published" is a little ambiguous here.

---
#### Document Details

⚠ *Do not

[2019-12-18 17:10] carolelucas opened #869 "Analytics : Event name property seems do not accept slash characters"
Hello,
General event name : 18/12/2019 => OK
Detailled event name : api/route/someroute => **KO**
Detailled event property : 18/12/2019 : api/route/someroute => OK
The event appears correctly in the log flow but is not show in the event report.

[2019-12-19 03:19] AbhiSNSoft opened #870 "Abort build after Pre-build"
How to abort build using pre-build scripts?

[2019-12-19 04:05] juliomotol opened #871 "Removed lines still generates in debug build even if they are no longer present in the Properties/AndroidManifest.xml"
I followed the Step 2 and verified that they are no longer present in the Properties/AndroidManifest.xml file but they still keeps on generating in side the obj/Debug/90/android/manifest/AndroidManfest.xml.

My Properties/AndroidManifest.xml:

    <?xml version="1.0" encoding="utf-8"?>
        <manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="5" android:vers

[2019-12-19 06:48] juliomotol commented on #871
I was only missing some dependencies. Xamarin.Firebase.Analytics

[2019-12-19 06:48] #871 closed, assigned to nobody

[2019-12-19 20:13] Grohden opened #872 "Using node version option seems to not have any effect"
https://intercom.help/appcenter/en/articles/1592748-react-native-builds-fail-with-the-engine-node-is-incompatible-with-this-module-expected-version-x-x-x-error-found-incompatible-module

A post clone script actually fixes this problem, so why have a option that doesn't work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I