[2018-08-20 13:25] ac2112 opened #250 "Broken link"
From the Build -&gt; VSTS -&gt; No project, you're presented with "No repositories found.  The project doesn't have any repository you can access to. Please see our FAQ if the item you are looking for is missing."  The FAQ link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fcc87ca-795c-5629-1476-f1d4ad1132f

[2018-08-20 13:32] jwargo commented on #249
@VTariko The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2018-08-20 13:32] #249 closed, assigned to nobody

[2018-08-20 14:11] jwargo commented on #250
@ac2112 I can't find the broken link, what is the source page?  You commented on the not found page, so I can't see where you found this.

[2018-08-20 14:21] gaknoll commented on #238
@brunck We are in the process of updating this to include UWP instructions. Thank you for pinging us about this!

[2018-08-20 14:21] #238 closed, assigned to gaknoll

[2018-08-20 14:22] ac2112 commented on #250
Via Appcenter.ms/users/xxxxx/apps/xxxxx/build/connect/vsts

In the “select repository” for your project, you get the message “No repositories found”.  The link is under “....our FAQ...”

[cid:image003.png@01D4386F.B5CEEEF0]

________________________________
From: John M. Wargo <notifications@github.com>
Sent: Monday, August 20, 2018 10:11:59 AM
To: MicrosoftDocs/appcenter-docs
Cc: ac2112; Mention

[2018-08-20 14:24] jwargo commented on #250
@ac2112 Aaah, thanks. I couldn't tell that you were coming in from App Center. Thanks.

[2018-08-20 15:22] jwargo commented on #241
Just go to the [Diagnostics page](https://docs.microsoft.com/en-us/appcenter/diagnostics/).  I'm working on fixing the links.

[2018-08-20 15:34] jwargo commented on #241
Fixed

[2018-08-20 15:34] #241 closed, assigned to nobody

[2018-08-20 15:35] jwargo commented on #250
Can you try it now? I pointed that link to the Diagnostics page.

[2018-08-20 16:11] ac2112 commented on #250
The link works but it’s not to the right page.  The page it use to reference was telling you how to integrate with VSTS.

________________________________
From: John M. Wargo <notifications@github.com>
Sent: Monday, August 20, 2018 11:35:38 AM
To: MicrosoftDocs/appcenter-docs
Cc: ac2112; Mention
Subject: Re: [MicrosoftDocs/appcenter-docs] Broken link (#250)

Can you try it now? I pointed that link

[2018-08-20 18:00] jwargo commented on #250
Engineering will update the UI and point the link to the right part of the troubleshooting docs. Right now that's all I can do.

[2018-08-20 18:00] #250 closed, assigned to nobody

[2018-08-21 20:01] flashimxd opened #251 "Function name to be invoked in build.gradle"
[Enter feedback here]
§Hi Guys,
I spended some time trying to set up the appcenter push configuration for android, and I figured out that if you are using graddle > 3, the name of the function that you should include as requisite in buildScript changed to maven:

before: google();
after:
maven {
            url 'https://maven.google.com/'
            name 'Google'
        }

I Think could be a goo

[2018-08-21 20:02] jwargo commented on #251
@flashimxd thanks, I'll have the team take a look.

[2018-08-21 21:16] dhei commented on #251
Hello @flashimxd, I am from the App Center SDK team. I can't reproduce your issue in my TestApp (see https://github.com/Microsoft/AppCenter-SDK-React-Native/blob/develop/TestApp/android/build.gradle#L3-L29). It works fine without specifying maven url. What is the `com.android.tools.build:gradle` version in your android/build.gradle? Can you provide repro steps?

[2018-08-22 01:01] Steven-Mark-Ford commented on #211
Not a big issue but you could mention somewhere that "Crashes.SetEnabledAsync" should not be called before "AppCenter.Start". But yeah, I suppose this could just clutter the docs. I'm happy if you want to close this.

[2018-08-22 01:10] Steven-Mark-Ford commented on #248
The actual api returns a nullable guid (see screenshot). My question is why? In what circumstances can this return null?

![image](https://user-images.githubusercontent.com/1920816/44437094-cc6efc00-a5fb-11e8-995f-e8eda36f184c.png)

[2018-08-22 10:21] flashimxd commented on #251
Hi @dhei, actually I reported something wrong to you guys the google()  function is a shortcut to marven() (they point to the same repository), the unique diference is that google() can just be used in Gradle 4.x+, Android Studio 3.x+ and Gradle plugin for Android 3.x+..

Reference: https://stackoverflow.com/questions/46467561/difference-between-google-and-maven-url-https-maven-google-com

Thank y

[2018-08-22 16:15] #211 closed, assigned to elamalani, blparr

[2018-08-22 16:25] iamclement commented on #248
@Steven-Mark-Ford What platform are you using? It looks like Xamarin.

[2018-08-22 17:16] iamclement commented on #248
On Xamarin iOS it can't be null but on Xamarin Android it is null if called before the start method of the SDK simply because Android needs the Application context provided at the start of the SDK to access the shared preferences where the installId is saved.

[2018-08-22 17:16] #248 closed, assigned to elamalani

[2018-08-22 23:53] Steven-Mark-Ford commented on #248
Would be nice to have this somewhere in the doc as a note

[2018-08-23 12:15] jwargo commented on #248
@Steven-Mark-Ford don't forget, the docs are open source, so feel free to fork them, make a change, and submit a PR.

In the mean time, I'll ask the team to update the docs with that information.

[2018-08-24 01:11] Steven-Mark-Ford commented on #248
@jwargo I'm happy to take this one if you like? i.e. via a PR.

[2018-08-24 11:48] jwargo commented on #248
@Steven-Mark-Ford got for it, I'd love that!

[2018-08-27 23:16] dhei commented on #251
Thanks @flashimxd, we will update the docs shortly.

[2018-08-28 02:44] HoneyBrook2121 opened #252 "Getting started"
Confused at times but I am making good strides in developing an app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06ece9ab-9965-2ddf-34b6-44f0f61fe599
* Version Independent ID: 16261b98-a85e-060f-ccf4-3a24f5f14c4c
* Content: [Get Started with UWP - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/

[2018-08-28 09:53] flashimxd commented on #251
Hei @dhei , I appreciate!
Thank you!

[2018-08-28 13:34] #251 closed, assigned to elamalani

[2018-08-28 13:37] jwargo commented on #252
@HoneyBrook2121 that's great to hear. Just so you know, support for App Center is just a click away. To access our dedicated support team, click the blue Chat button in the lower-left corner of most App Center pages, then ask your question. You'll here back from our support team within a day or so.

[2018-08-28 13:37] #252 closed, assigned to nobody

[2018-08-29 01:16] 0matko0 opened #253 "APP"
APP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fb42032-a67b-b601-7ef0-bdf1c8838f73
* Version Independent ID: 4d052b88-6fe1-358e-47a7-4d2687f02c10
* Content: [App Center Push for Universal Windows Platform - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/push/uwp#enable-or-disable-app-cent

[2018-08-31 12:07] firewicca opened #254 "Development Visual"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06813350-a37b-a4a2-fdbc-a59caefb9f32
* Version Independent ID: 29787958-5b4e-efc2-2af5-2af0ee53216e
* Content: [App Center Build - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/)
* Content Source: [docs/build/index.md](htt

[2018-08-31 12:09] firewicca commented on #254
There are many different ways to style code with GitHub's markdown. If you have inline code blocks, wrap them in backticks: `var example = true`.  If you've got a longer block of code, you can indent with four spaces:

    if (isAwesome){
      return true
    }

GitHub also supports something called code fencing, which allows for multiple lines without indentation:

[code]

And if you'd like to u

[2018-08-31 12:10] firewicca commented on #254
There are many different ways to style code with GitHub's markdown. If you have inline code blocks, wrap them in backticks: `var example = true`.  If you've got a longer block of code, you can indent with four spaces:

    if (isAwesome){
      return true
    }

GitHub also supports something called code fencing, which allows for multiple lines without indentation:

[code]

And if you'd like to u

[2018-08-31 12:37] jwargo commented on #254
@firewicca yes, we know this and use that approach all throughout the docs. Is there a reason you're bringing this up?

[2018-08-31 12:37] #254 closed

[2018-08-31 12:52] firewicca commented on #254
No don’t think about that! It’s only me being tired and careless on Friday afternoon (my timezon)

Best Regards!

// Ambjörn 🍀🎩⚖️

On Fri, Aug 31, 2018 at 14:37, John M. Wargo <notifications@github.com> wrote:

[2018-08-31 15:51] brianhager opened #255 "IOS void type"
It appears that an IOS method can have a void return type and does not necessarily have to return NSString:

        [Export("InitializeUITestData:")]
        public void InitializeUITestData(NSString value)
        {
            new UITestData().SeedTestData();
        }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-08-31 16:30] jwargo commented on #255
@brianhager thanks, I'll have the PM look at this.

[2018-08-31 16:41] guillermodoghel commented on #235
Same issue..

[2018-08-31 16:46] jwargo commented on #235
@guillermodoghel we've updated the docs with a [workaround](https://docs.microsoft.com/en-us/appcenter/distribution/stores/apple#two-factor-authentication-workaround) while we work to implement a more permanent solution.

[2018-09-01 19:19] Abmins opened #256 "Mins"
Base

[2018-09-02 17:08] dannybarrientos opened #257 "Appium Driver"
Do not close to using a driver, remember that the automation in mobile phones grow constantly, are open to changes
http://appium.io/docs/en/about-appium/intro/
look at the different framework git

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed7c0d11-e60a-f088-e983-7465aca41515
* Version Independent ID: b2c6a308-1fcb-

[2018-09-02 17:15] dannybarrientos commented on #257
do not close when using only the appcenter drive, they are being very excluded, remember that your infrastructure is adapted to the world, not the world to you.

[2018-09-03 14:23] eoinmcc opened #258 "Undocumented Rate Limit"
While testing some export functionality, I ran into a rate limit/quota issue.

Could you let us know what the rate limits on the GDPR Push export endpoint are?

[2018-09-04 04:16] eoinmcc commented on #258
Going to anecdotally answer my own question here and suggest that its

15/day (rolling)

[2018-09-04 13:06] jwargo commented on #256
@Abmins do you have a question or suggestion about the docs?

[2018-09-04 13:06] #256 closed, assigned to nobody

[2018-09-04 13:15] jwargo commented on #257
@dannybarrientos are you asking a question about the docs or making a suggestion to change the docs? It's not clear from the information you provided.

[2018-09-04 13:15] #257 closed, assigned to glennwester

[2018-09-04 13:27] krystofbe commented on #156
hi @johnliedtke! Did you find a solution? I'm facing the same problem

[2018-09-04 13:28] jwargo commented on #156
@krystofbe just use the support feature in App Center, click the blue chat button in the lower-right corner of every page and our dedicated support team will help you.

[2018-09-04 13:38] jwargo commented on #258
@eoinmcc sorry for the delay, we were out yesterday for the US Labor Day holiday. I'll have the PM respond (and update the docs).

[2018-09-04 13:45] dannybarrientos commented on #257
I asking a question about the docs abaout AppiumDriver?.👍

[2018-09-04 13:49] jwargo commented on #257
OK, but what's the question? I'm not seeing it.

[2018-09-04 14:14] blparr commented on #257
Hola @dannybarrientos ! Cómo podemos ayudarle? Nos puede aclarar su pregunta sobre AppiumDriver?

Muchas gracias y que tenga un buen día!

[2018-09-04 15:43] dannybarrientos commented on #257
La pregunta es, que cuando estoy trabajando en AppCenter me exigen que modifique mis drivers a lo que ustedes tienen EnhancedAndroidDriver o EnhancedIOSDriver y no con AndroidDriver,
La idea es estar abierto.
La ideología de AppCenter es prestar el servicio en la nube para ejecutar pruebas, si un usuario viene con un framework de Automatizacion diferentes a los mencionados en la lista, deberían te

[2018-09-04 17:48] syntax-e commented on #111
Reading the docs I was under the (optimistic) impression that "Processing crashes in JavaScript" happened on the same run as the crash, giving me the opportunity to serialize up the app's redux state tree as a crash report attachment. While it's still possible to send local state up as part of the crash report on the subsequent run, the implementation is going to be a bit tougher than I had origin

[2018-09-04 18:19] blparr commented on #257
Déjeme asegurar que entendí su pregunta. Le gustaría utilizar sus propio test framework y traerlo a App Center?

[2018-09-04 19:20] iageoghe commented on #258
@eoinmcc you mention the push export endpoint. Can you tell me specifically what push [methods](https://openapi.appcenter.ms/#/push) you are calling? Or are you calling a GDPR [endpoint](https://openapi.appcenter.ms/#/gdpr)?

@dimazaid do you know of any rate limits on calls to the push API?

Thanks, Ian

[2018-09-05 11:21] eoinmcc commented on #258
No worries on the delay, and apologies for not being more specific.

Issue I had was with - https://openapi.appcenter.ms/#/push/Push_ExportDevices

While testing I appear to have hit some limit that expired after about 24 hours.

[2018-09-05 16:50] duydevelopers opened #259 "duyduongdevelopment"
![win_20180827_23_05_37_pro](https://user-images.githubusercontent.com/43001467/45108287-65f2ed80-b166-11e8-80e8-9ecab8bed5d5.jpg)
###

[2018-09-05 18:41] jwargo commented on #259
@duydevelopers do you have a question or comment about the App Center docs?

[2018-09-05 18:41] #259 closed, assigned to nobody

[2018-09-05 20:01] elamalani commented on #111
@davidpricedev @geocachingsyntaxerror Thanks for your feedback, we will update the SDK doc in a few days.

[2018-09-05 22:43] dimazaid commented on #258
Hi! Using the tracking ID, are you able to see the status of your request? Can you clarify what you mean with limit here? Do you mean the number of calls to your API?

[2018-09-06 15:09] #111 closed, assigned to elamalani, blparr

[2018-09-06 18:06] guperrot commented on #111
@davidpricedev @geocachingsyntaxerror the docs have been updated. If you have other feedbacks, please don't hesitate to create new issues.

[2018-09-06 20:36] jimbobbennett opened #260 "ENABLE_TEST_CLOUD is not defined anywhere"
The docs refer to the ENABLE_TEST_CLOUD compiler flag, saying that newer versions of VS define this for you - but they don't. Tested with VS2017 15.8 and VS for Mac 7.7, this compiler flag is not set in the blank forms app templates either directly, or intrinsically at compile time.

Can this be changed to be DEBUG, of else can the templates be fixed up.

---
#### Document details

⚠ *Do not edit

[2018-09-06 20:41] jwargo commented on #260
@jimbobbennett I'll ask the PM to take a look and respond.

Don't forget, App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/getting-started/wel

[2018-09-10 20:32] thomhubers commented on #235
@jwargo That's a dead link (I can't open it at least), do you have a workaround to open and read your workaround?

[2018-09-10 20:48] jwargo commented on #235
@thomhubers sorry about that, that's not the right link. It's in the docs, nothing special. You can access it [here](https://docs.microsoft.com/en-us/appcenter/distribution/stores/apple#two-factor-authentication-workaround). and I fixed the earlier reference.

[2018-09-11 08:59] thomhubers commented on #235
Thanks for the updated link. There's a big if in that workaround. When is the permanent solution expected?

[2018-09-11 14:47] jwargo commented on #235
@thomhubers yep, we know it. We're working on a solution, it's on the [Roadmap](https://docs.microsoft.com/en-us/appcenter/general/roadmap), so that means we're working on it now.  No ETA, but we're working on it (sorry).

[2018-09-13 00:54] glennwester commented on #255
@brianhager Thanks for reporting! We'll update.

[2018-09-13 04:51] DeekshithShetty opened #261 "Electron app build"
Is there any plan to support builds for electron apps in the future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0087c543-d8f4-5ea6-5ac6-8b30ec1b9e6c
* Version Independent ID: 92b8f8de-268b-a249-46e9-053edf2e97c0
* Content: [App Center Platform Services Matrix - Visual Studio App Center](https://docs.microsoft.com/e

[2018-09-14 11:03] thiago-rcarvalho commented on #235
Would be nice a fix for this asap. We don't have any accounts eligible for the workaround :(

[2018-09-14 12:33] jwargo commented on #235
@stealthcold yes, absolutely. We understand and we're working on a solution.

[2018-09-14 13:55] jimbobbennett opened #262 "It seems Xamarin UWP is not supported but the docs are not clear"
According to the Appcenter team, UWP apps built with Xamarin.Forms are not supported.

The docs don't make this clear as a UWP Xamarin Forms app is still a UWP app (as opposed to Android vs Xamarin Android).

Can this be made clearer as I'm already speaking to one customer who is confused by this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-09-14 14:13] jwargo commented on #262
@jimbobbennett OK, I'll have the PM take a look. Don't forget, this is open source, so if you want to propose a change, simply submit a PR. Since you work for Microsoft, you can even do it in our private repo.

[2018-09-15 04:53] socialnoopasen opened #263 "AppCenter.start(getApplication(), "{Your App Secret}", Analytics.class, Crashes.class);"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa9700f5-b9e0-dfe1-ddbc-b5a3231dde11
* Version Independent ID: 11728c80-1474-c1dc-caf0-2c6b6c44bbb3
* Content: [Get Started with Android - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/android)
* Content Sour

[2018-09-16 17:29] loufranco opened #264 "carthage docs?"
I can't figure out how to get appcenter to automatically detect that I use Carthage.  I tried

1. Just committing Cartfile and Cartfile.resolved
2. Also committing Carthage/Checkouts
3. Using Cartfile and Cartfile.resolved and a appcenter-post-clone.sh that did a carthage bootstrap, like:

[code]

There is no evidence in the log that that script was run (but it does show up in the branch's setting

[2018-09-17 01:33] glennwester commented on #260
@jimbobbennett Thanks for reporting! We'll get this fix to the template in for a future version of Visual Studio.

[2018-09-17 01:33] #260 closed, assigned to glennwester

[2018-09-17 12:33] jwargo commented on #263
@socialnoopasen did you have a question about the docs?

The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated suppor

[2018-09-17 12:33] #263 closed

[2018-09-17 12:37] jwargo commented on #264
@loufranco The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informatio

[2018-09-17 12:37] #264 closed, assigned to nilofer

[2018-09-17 13:10] loufranco commented on #264
Please write docs about how to get carthage working and how to troubleshoot it if it isn't.  I mentioned what I did, because none of that worked (and it's the normal way to do carthage). I did also initiate a support ticket, thanks.

[2018-09-17 16:11] gtbuchanan commented on #233
That's the _workaround_? Are you joking?

App-specific passwords don't seem to work either for whatever reason.

Glad I'm just getting around to looking at VSAC. Doesn't seem to be a viable option at the moment.

[2018-09-17 16:17] jwargo commented on #233
@gtbuchanan No, we're not - that's the current work-around.  Unfortunately, when Apple changes their requirements or systems, it takes us some time to adjust. We're working on a solution, please be patient.

[2018-09-17 16:41] gtbuchanan commented on #233
I understand. My astonishment is based on the fact that Apple had 2FA and app-specific passwords long before they made it required (circa 2015). Just seems like this could have been avoided or made more clear up front. Nonetheless, I'm glad it's being looked at.

[2018-09-18 14:03] liltimtim commented on #200
I know this is closed however I found a solution (lead here from the Microsoft Documentation site).  This is also a VERY popular Google search result topic so I figured I might offer some sort of solution.

I hope this can help you @jwargo

### Inside my PushNotificationPrimingViewController.swift

[code]

### Inside my AppDelegate.swift file

[code]

[2018-09-18 18:33] dhei commented on #200
Hi @alexcurylo @liltimtim,
It is possible to delay push notification permission on iOS using App Center.
Please see our documentation at https://docs.microsoft.com/en-us/appcenter/push/faq. Basically you can do this by delaying the AppCenter.Start(typeof(Push)) method call until you want the permission pop-up to show up.

[2018-09-18 18:43] liltimtim commented on #200
@dhei although that link is useful, I don't believe that this documentation reference should be just in the FAQs.  When setting up push notifications, it would probably be in the interest of everyone if this was readily apparent instead of a developer having to dig through things.  I never reached that FAQ by googling for similar answers, however I did arrive at this Github issue.

However, I acco

[2018-09-18 18:48] dhei commented on #200
@liltimtim Really appreciate the feedback, I agree it doesn't make sense to be in the FAQ section. We will make move it to the setup documentation and improve our docs.

[2018-09-18 20:01] ghost opened #266 "How to remove bug tracker?"
I had connected my organization's VSTS account just to toy with the feature a little bit. After some deliberation, it wound up not being a feature we wanted to use at this time. How do I remove it?

[2018-09-18 20:03] jwargo commented on #266
The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the

[2018-09-18 20:03] #266 closed, assigned to amchew

[2018-09-18 20:10] nilofer commented on #261
@DeekshithShetty Support for building electron apps is not on our [public roadmap](https://docs.microsoft.com/en-us/appcenter/general/roadmap) at the moment. We appreciate the feature request!

[2018-09-18 20:10] #261 closed, assigned to nilofer

[2018-09-18 23:36] alexcurylo commented on #200
@dhei Yes, the documentation to `start` appears to imply that's the only place you can start services. A reference to delaying service starts to later would definitely reduce confusion!

[2018-09-19 12:12] ghost commented on #266
jwargo,

This was a suggested change as a matter of fact. My wording definitely leans towards a help request and I apologize for that. Having how to remove it in the docs would be very useful. :) Information is provided for how to add it, but now how to remove it.

[2018-09-19 12:26] jwargo commented on #266
@DougMurphyABA Thanks for the clarification, I'll have the PM take a look at making a doc update.

[2018-09-19 12:27] jwargo commented on #266
@amchew Can you please take a look?

[2018-09-19 18:07] helgeu commented on #235
What would happen if appcenter could use an generated app password? Or is this a problem on the Apple side when authenticating again? This is possible in other apps so why not appcenter?

[2018-09-19 18:08] jwargo commented on #235
@helgeu Can you provide a little more detail? I'm not sure what you're asking/suggesting.

[2018-09-19 18:11] helgeu commented on #235
It was more like a question "is this possible to use"? https://support.apple.com/en-us/HT204397

If I try to generate such a password and then use this when trying to connect from appcenter, it just says "oops wrong password" or something.

[2018-09-20 07:14] daniel-varela opened #268 "Android Test Orchestrator"
It would be nice to add a note about the configuration for Android Test Orchestrator Tests

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28fe6afc-06ad-8465-f29a-04b2a118a378
* Version Independent ID: 73b3398b-23b8-230d-d296-8900e053096a
* Content: [Preparing Espresso Tests for Upload - Visual Studio App Center](https:

[2018-09-20 12:36] DalSoft opened #269 "Do you support xUnit for Xamarin.UITest?"
This is currently a blocker for us.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e1f8239-19fa-9c4b-52f5-b9c19cafbb4a
* Version Independent ID: 1980a317-8a4a-10b3-eedd-32af9d36cfbe
* Content: [Supported Test Frameworks - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/test-cloud/supported-framewo

[2018-09-20 12:45] jwargo commented on #268
@daniel-varela I will pass the feedback on to the PM team.

[2018-09-20 12:48] jwargo commented on #269
@DalSoft I'll pass the feedback on to the PM team.

[2018-09-20 13:34] Oddj0b commented on #235
@helgeu Great question thanks for reaching out and providing context. We do **not** have support for the app-specific password right now.

The solution we are working on for the Apple App Store will require both the 6-digit code and an app-specific password. We are aware that it isn't optimal, but because we both need to login into the App Store connect website and use application loader, both are

[2018-09-20 15:45] amchew commented on #266
@DougMurphyABA Hi, thanks for reaching out! To disconnect the bug tracker from your app, please see step 6 in the [documentation](https://docs.microsoft.com/en-us/appcenter/dashboard/bugtracker/).

I think what you may be asking is how to completely remove the bug tracker from your account, yes? :)

If so, currently, we don't have the functionality for users to manually remove their connected bug

[2018-09-20 15:58] ghost commented on #266
@amchew Thank you for your response! I was looking to completely remove it for now, so I will get help using the intercom button.

[2018-09-20 16:08] amchew commented on #266
Cool :)
In the Intercom conversation, you can copy and paste the link to this issue, and mention in the chat to channel this conversation to Amanda Chew (that's me), and I'll follow up there.

[2018-09-20 20:16] helgeu commented on #235
@Oddj0b I do really not care if the solution is "hard to use" or have many steps and several logins. The only concern is that there exists a solution and I can use it. Apple was not really interested in "resetting" my id back to not using two factor, so the only hope is that this gets "some solution". Thx and keep up the good spirit and work ;-)

[2018-09-21 02:06] edrickleong opened #270 "Unclear how to setup a Xamarin UITest project"
It's unclear which NUnit packages and runners are required to run the Xamarin UITest locally

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a0474be-6e14-b8e6-b6cf-934a04f0e509
* Version Independent ID: 4a79fc1d-8dca-1c17-718f-c30fda180f05
* Content: [Xamarin.UITest - Visual Studio App Center](https://docs.microsoft.co

[2018-09-21 13:04] jwargo commented on #270
@edrickleong are you asking for help or proposing a doc change?

[2018-09-21 16:43] edrickleong commented on #270
@jwargo I'm looking for help, I have had trouble setting up the UI Test to run locally, thanks in advance.

[2018-09-21 16:59] jwargo commented on #270
@edrickleong App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/getting-started/welcome-to-app-center-support).

[2018-09-21 16:59] #270 closed, assigned to nobody

[2018-09-22 01:20] timg-mlbam commented on #120
Any chance support for GitHub enterprise is on the roadmap? Our org would love to use it but can't today because of this.

[2018-09-24 08:36] rsuk opened #271 "Create and update api detail"
I had a stab at creating a new export configuration for Application Insights using the api, but didn't get very far as the example json blob is for blob storage. I think the docs need updating (either in this Topic, or in the https://openapi.appcenter.ms docs). Can you confirm what the json blob would look like for an Application Insights export? I'm guessing something like:

[code]

.. but don't

[2018-09-24 08:47] wilsonShakya4577 opened #272 "Not able to get crash logs on app center"
Hi, I am using Xamarin IOS as platform, I have been trying to get crash logs but nothing working for me.
I am able to see data on analyst window, error in error section but not exception. Please help
{
"device" : {
"appVersion" : "2.3.0.15",
"appBuild" : "2.3.0.15",
"osName" : "iOS",
"timeZoneOffset" : 330,
"wrapperSdkVersion" : "1.9.0",
"osVersion" : "11.4.1",
"wrapperRuntimeVersion" : "11.2.0",

[2018-09-24 11:45] jwargo commented on #271
@rsuk I'll have the PM take a look at doing a doc update. In the meantime, the comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and ou

[2018-09-24 13:56] markwilcox commented on #53
Please update this to say "Every time you modify your build scripts save the branch configuration to apply the changes!".

I just wasted a couple of hours on this, modifying a pre-build script where it was running, but never running the new versions (in the same location) I pushed to the repository. It'd be better to paste the script in the build config if it's not going to automatically update fr

[2018-09-25 12:33] bmvalente opened #273 "Unclear expanations for first time users"
. In the "Prerequisites", how do we install/configure Maven and Maven Surefire ? How should the .pow file look like
. What is the Project structure that it should have ? Where to I place the test classes ?

I think that a zip file with a sample Project would go a long way to solve these questions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-09-25 14:25] nilofer commented on #120
Hi @timg-mlbam, App Center still does not currently support GitHub Enterprise and it is not on our public short-term roadmap.

[2018-09-25 17:45] jwargo commented on #273
@bmvalente thanks for the feedback, I'll ask the PM team to take a look.

[2018-09-25 18:47] TradeArcher2020 opened #274 "GitHub Enterprise Support?"
Can App Center and GitHub Enterprise work together?  If so, how?  If now, can we expect that support sometime in the near future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8de5a7b9-2742-0ea0-3170-d6fb5da0d2de
* Version Independent ID: f24ff5eb-4fb5-7a96-ff76-6c96386c9498
* Content: [Connecting Repositories Using t

[2018-09-25 19:10] Aalmaho opened #275 "Please suport"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa9700f5-b9e0-dfe1-ddbc-b5a3231dde11
* Version Independent ID: 11728c80-1474-c1dc-caf0-2c6b6c44bbb3
* Content: [Get Started with Android - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/android#4-start-the-sdk

[2018-09-25 19:47] nilofer commented on #274
Hi @chrisaswain, App Center does not currently support GitHub Enterprise and it is not on our public short-term roadmap.

[2018-09-25 19:47] #274 closed, assigned to nilofer

[2018-09-26 03:07] pilcherd opened #276 "Notificaitons spelling wrong ;)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bad7023-e00b-b6af-b71f-1823e7829dec
* Version Independent ID: 77a10f16-f669-3934-08b3-ceefa52b2059
* Content: [App Center Build Frequently Asked Questions - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/troubleshooting/#a

[2018-09-26 08:58] steverob commented on #55
@AndrewHenderson Do I need to upload a provisioning profile with name same as that of the extension or can I just copy the main provisioning profile into the directory you've specified?

[2018-09-26 11:25] daniel-varela commented on #268
Thank you @jwargo

[2018-09-26 12:10] jwargo commented on #275
@Aalmaho do you have a question about the docs?

[2018-09-26 12:10] #275 closed, assigned to nobody

[2018-09-26 12:24] jwargo commented on #276
@pilcherd yep, you're right. Fixed it. Thanks.

[2018-09-26 12:24] #276 closed, assigned to nobody

[2018-09-26 17:27] AndrewHenderson commented on #55
@steverob I gave up and switched to [Bitrise](https://bitrise.io). I like it much better. Plus, it's works with React Native and a share extension. You can upload as many provisioning profiles as you need. They have a boilerplate config that takes care of just about everything, shy of the share extension part–that you have to manually upload the provisioning profile for.

[2018-09-27 16:42] nilofer commented on #55
Hi @steverob @AndrewHenderson, we are currently working on iOS Extension support as seen on our [roadmap](https://docs.microsoft.com/en-us/appcenter/general/roadmap). You'll be able to upload your provisioning profiles for each extension and sign your full app.

[2018-09-28 06:31] Wenfengcheng opened #279 "Can I disable Push services?"
I want to disable push notification when user log out, I try to set *Push.SetEnabledAsync(false);*, but nothing worked, I can also receive notification on Device.

Does AppCenter contains method such as *AppCenter.End(services);* can disable service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a483e190-f75f-a52c-247

[2018-09-28 18:12] keithics opened #280 "react-native appcenter-push"
lacking appcenter-push..
it should add
npm install appcenter-push --save
react-native link appcenter-push

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ed0fde7-9e78-c318-9f8c-9d921ec7d7b3
* Version Independent ID: 946ead1c-4b65-8318-c77a-ef98873adac7
* Content: [Get Started with React Native - Visual Studio App Cente

[2018-09-28 19:37] orischwartz commented on #264
I also struggled to get a relatively simple Carthage app working with AppCenter. The [docs](https://docs.microsoft.com/en-us/appcenter/build/custom/scripts/#pre-build) and [release notes](https://docs.microsoft.com/en-us/appcenter/general/changelog#july-2017) make references to built-in Carthage support but it's not implemented--you have to make use of the custom scripts feature.

Here's what work

[2018-09-28 20:03] loufranco commented on #264
@orischwartz I finally was able to get this to work automatically by just deleting my build configuration and re-making it.  I did not have Carthage when I first made the config -- it appears that it can't detect it being added later.

But re-making it worked.

[2018-09-28 23:03] balivo opened #281 "NuGet for AppCenter API"
There's no NuGet package for AppCenter API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b113ae49-c84f-05c6-e4fd-e414e5c64304
* Version Independent ID: a04ff30c-e14b-9b76-6dd3-223e05d3a8cb
* Content: [App Center API Documentation - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/api-docs/index)
*

[2018-09-30 21:23] bunthonn opened #282 "sdk"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40294974-bc6b-45af-f1bd-3bd8187153ac
* Version Independent ID: 21420d35-1e72-a8b8-d587-40b2913120ba
* Content: [App Center Distribute for Android - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/distribute/android)
* Content

[2018-10-01 02:06] zuhair-naqvi commented on #280
+1

[2018-10-01 02:59] sulaemansantoso-IT opened #283 "Can I get the firebase Token ?"
i wish to to get the firebase token to store on my database so that i can send notification only to selected devices.. how can i do that with app center push notification ?

[2018-10-01 07:33] thchia commented on #233
Does this mean that I can establish the connection to App Store connect with an Apple ID that is *not* enrolled in any kind of Developer Account?

[2018-10-01 13:56] jwargo commented on #279
@Wenfengcheng The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informa

[2018-10-01 13:56] #279 closed, assigned to nobody

[2018-10-01 15:07] jwargo commented on #280
@keithics thanks, I'll have the PM take a look.

[2018-10-01 15:07] #280 closed, assigned to elamalani

[2018-10-01 15:13] jwargo commented on #281
@balivo No, why would there be? It's a REST API.
There are, I believe, NuGet packages for the App Center SDK.

[2018-10-01 15:13] #281 closed, assigned to amchew

[2018-10-01 15:21] jwargo commented on #282
@bunthonn The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information

[2018-10-01 15:21] #282 closed, assigned to nobody

[2018-10-01 15:22] jwargo commented on #283
@sulaemansantoso-IT The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional i

[2018-10-01 15:22] #283 closed, assigned to nobody

[2018-10-01 15:23] jwargo commented on #233
@thchia No, that's not what it's saying.

[2018-10-01 16:32] balivo commented on #281
@jwargo the NuGet packages allready have is for "client" (receives push, send info for Analytics, take care about Distribution, etc)... AppCenter don't have a NuGet for "server-side" operations (like, send push notifications, etc)... Ok, we have a REST API, but don't have a NuGet for easy setup (plug and play) with it... I thinking about create this package for "server side" AppCenter operations..

[2018-10-01 17:19] jwargo commented on #272
@wilsonShakya4577 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional inf

[2018-10-01 17:19] #272 closed, assigned to nobody

[2018-10-01 17:19] jwargo commented on #272
@wilsonShakya4577 I'm sorry it took so long to respond to you, I didn't see this request come in, I normally respond in a day.

[2018-10-01 17:23] jwargo commented on #258
@eoinmcc there's been no response in the last 26 days, so I'm going to close this. Please contact our support team for help. Feel free to reopen this if you have a doc update to suggest.

[2018-10-01 17:23] #258 closed, assigned to dimazaid, iageoghe

[2018-10-01 17:31] #271 closed, assigned to blparr

[2018-10-01 18:12] douglasknudsen opened #286 "Need mention of Bitbucket Server"
We are users of private cloud hosted Bitbucket Server, I do not see this mentioned here as possible source control connectors.

[2018-10-01 18:19] jwargo commented on #286
@douglasknudsen checking to make sure, but as I understand it, we only support public providers today.

[2018-10-01 18:29] jwargo commented on #286
@douglasknudsen confirmed: we do not support any private cloud or on-premises version control systems at this time.

[2018-10-01 18:29] #286 closed, assigned to nobody

[2018-10-01 18:31] douglasknudsen commented on #286
@jwargo ah, ok.  thanks for the lightening fast response!

[2018-10-02 02:16] sulaemansantoso-IT commented on #283
ok i'm sorry

thank you very much

On Mon, Oct 1, 2018 at 10:22 PM John M. Wargo <notifications@github.com>
wrote:

[2018-10-02 22:02] NCleverly opened #287 "Push.PushNotificationReceived example should be expanded"
I want to request that  the code snippet be given also show the notification in the example. Right now if you implement the code snippet you can no longer have the notification show. I contacted App center support and even they do not know how to show it in xamarin forms.

for example i have the following in my code:
[code]
It should be possible to at the end if no item match to just show the Noti

[2018-10-03 07:56] gabors commented on #233
I'm shocked that Microsoft can say that AppCenter supports Apple AppStore or TestFlight integrations. You guys should be ashamed.

[2018-10-03 11:08] jwargo commented on #287
@NCleverly Thanks for the suggestion, I'll have the PM take a look.

[2018-10-03 12:54] jwargo commented on #233
@gabors The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs. We understand that its inconvenient when issues like this arise, but all we can do is react to the changes Apple made to their systems.

We'll fix this as quickly as we can.  In the mean time, please be constructive with your feedback.

[2018-10-03 17:04] achocron commented on #287
Have you taken a look at the [demo application ](https://github.com/Microsoft/AppCenter-SDK-DotNet/blob/238ab98e68112b0fcd98d15413714ae45ea84e34/Apps/Contoso.Forms.Demo/Contoso.Forms.Demo/App.xaml.cs#L69) in the SDK repo? I believe it does what you are looking for.

[2018-10-03 17:20] NCleverly commented on #287
Sadly that example displays a device alert not a platform Push Notification. The issue I have is that the notification will no longer show on the devices notifications. There was a  Xamarin.Android Issue that fixed this that shows an android only way to show the notification after the interception. I am suggesting for Xamarin.Forms we should have example that shows you how to do the same thing.

R

[2018-10-03 20:41] glennwester commented on #273
@bmvalente thanks for writing in! So we can make the appropriate changes to our docs, I'd like to clarify your questions. You don't need to have Surefire added to the package, it's what we use to run your tests on our execution hosts. The modifications to your pom.xml should be as follows: https://github.com/MicrosoftDocs/appcenter-docs/blob/live/docs/test-cloud/preparing-for-upload/appium.md#1a-c

[2018-10-03 20:41] #273 closed, assigned to glennwester

[2018-10-03 20:53] glennwester commented on #268
@daniel-varela Thanks for writing in! I'm the PM for App Center Test. Support for Android Test Orchestrator is something that we hope to add soon, it's on our roadmap. I will provide an update as it becomes available.

[2018-10-03 20:53] #268 closed, assigned to glennwester

[2018-10-03 20:56] glennwester commented on #269
Hi @DalSoft, apologies for we currently only support NUnit 2. I've made note of your feature request and will provide an update if it becomes available.

[2018-10-03 20:56] #269 closed, assigned to glennwester

[2018-10-04 13:12] DalSoft commented on #269
For others looking for xUnit support we are using https://experitest.com/ It's based on Appium but importantly for us allows us to run our xUnit tests on Cloud Devices. Works very well so far with our Xamarin app.

[2018-10-04 18:57] jwargo commented on #233
@gabors @thchia @gtbuchanan @kirk-marple @Eric-Dunaway @BorlandFA @raju-eitr Support for Two Factor Authentication (2FA) available now - [read the documentation](https://docs.microsoft.com/en-us/appcenter/distribution/stores/apple#adding-two-factor-authentication). Use the support chat button in the lower-right corner of any App Center page if you have any issues.

[2018-10-04 19:10] gabors commented on #233
Nice work. Will try it out.

[2018-10-05 14:07] elamalani commented on #262
@jimbobbennett Thanks for sharing the feedback. In this document page, we only list platforms supported by App Center. Anything missing is not included in the list by default.

I will close the issue for now, and update the page again if I hear a lot of people asking for it.

[2018-10-05 14:07] #262 closed, assigned to elamalani

[2018-10-05 16:55] achocron commented on #287
Thanks for the feedback. In the meantime, if you need some guidance for showing it in a Xamarin project in the iOS application, I recommend checking out this issue: https://github.com/Microsoft/AppCenter-SDK-DotNet/issues/757

[2018-10-05 17:05] NCleverly commented on #287
Why was this closed as the other issue referenced does not in fact my address the question? Rather it simply shows how to handle a third party conflict. My issue is that when the Push.PushNotificationReceived has a delegate added you can no longer show the notification without platform specific code.

[2018-10-05 18:40] kburgoyne opened #289 "UWP Internet (Client) Permission Required"
This page (and the AppCenter Overview page) should indicate the UWP app needs "Internet (Client)" permission. This was probably overlooked because I believe a new UWP app defaults to have that permission. However my app doesn't need it, so I had disabled it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f2add0f-2806-

[2018-10-05 21:57] JenniferPerezBedoya opened #290 "Gradle sample project"
Hi, I have a gradle project, when I run mvn -DskipTests -P prepare-for-upload package only /test-classes and pom are generated. I had to create dependency-jars and put it on target/upload/ because it wasn't generated automatically. When I run the tests on appcenter I get an error: No project dependencies found in POM. Unable to generate server-POM but I don't know what to do. Have you a sample gen

[2018-10-06 00:00] kburgoyne opened #291 ".NET Standard 2.0 Library Builds"
Should document: .NET Standard 2.0 library projects need to have Build &gt; Advanced &gt; "Debugging information" changed from the default of "Portable" to "Full".  Discovered when building .NET Standard 2.0 libraries in combination with a UWP app. With "Portable", AppCenter build "mspdbcmf.exe" will exit with code 1106 from fatal error CMF1106 "input PDB file is not generated by /DEBUG:fastlinkW"

[2018-10-06 00:06] kburgoyne opened #292 "C# Build "Language version: Latest Minor Version" not Honored (at least for UWP builds)"
Should Document: Setting the C# Build Language Version to "Latest Minor Version" does not appear to be honored by AppCenter builds. I was receiving complaints about "default literal" not be valid for C#7.0, specify C#7.1, when my setting was "Latest Minor Version" (which works fine on VS).  I explicitly set all configurations for all platforms to C#7.3 and AppCenter builds stop complaining.

---
#

[2018-10-06 16:08] sysahmed opened #293 "Barcode Reader"
Barcode

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d72f6fe-74d6-696e-e709-5f6d577c0a58
* Version Independent ID: b3d0ea8b-5a1f-bf71-7dc2-9685cf23c00b
* Content: [Get Started with Xamarin - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/xamarin)
* Content Source: [docs/sdk/

[2018-10-07 07:39] Girish2015 opened #294 "Wrong info to find deployment key in android setup."
In the Android setup part, the command to get deployment keys is given as "code-push deployment list &lt;ownerName&gt;/&lt;appName&gt;". I suppose this is the old cli which is no longer needed to be used with appcenter.
The command should be updated as "appcenter codepush deployment list".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-10-08 14:17] jwargo commented on #290
@JenniferPerezBedoya I apologize for the late reply to this,  you caught me right at the weekend break. The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-ri

[2018-10-08 14:17] #290 closed, assigned to nobody

[2018-10-08 14:22] jwargo commented on #291
@kburgoyne I'll have the SDK team and take a look.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/getting-started/welcome-to-app-center-sup

[2018-10-08 14:22] jwargo commented on #292
@kburgoyne I'll have the SDK team take a look.

[2018-10-08 14:30] jwargo commented on #293
@sysahmed I can't tell from your comment what you're looking for.  Can you please clarify?

The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner o

[2018-10-08 14:30] #293 closed, assigned to nobody

[2018-10-08 14:31] jwargo commented on #294
@Girish2015 thanks, I'll have the team take a look.

[2018-10-08 17:15] elamalani commented on #292
@jwargo It is related to App Center Build.

[2018-10-08 17:16] elamalani commented on #291
@jwargo This is Build related as well.

[2018-10-08 17:21] elamalani commented on #287
@NCleverly We don't plan to add an API to show native notification toasts in the foreground of the application. Once we support it, we will update our documentation on the usage. Thanks!

[2018-10-08 17:35] NCleverly commented on #287
@elamalani To reiterate i want to show a PUSH Notification. Exactly the same notification that would have been displayed had i not added the above code. My issue is that you have not shown how to do this.

[2018-10-08 17:41] achocron commented on #287
Ah, are you trying to show a notification in the background? Or foreground? By default, notifications don't show up in the foreground either way. And adding a handler shouldn't interfere with the toast showing up in the background. Which scenario are you asking about? Sorry for the confusion.

[2018-10-08 17:45] NCleverly commented on #287
Okay, so first i am not trying to show a toast like this
[Toast](http://www.mkyong.com/wp-content/uploads/2012/03/android-Toast-example.png)
i want to show a push notification like this:
[Twillio example](https://s3.amazonaws.com/com.twilio.prod.twilio-docs/images/t_3uIdWRwKl2jWx2HWpR25RUdhElEBaTolo0n9bi_oQJ5Y.width-808.png)

and i can assure you that added the delegate does hide that notification

[2018-10-08 18:05] JenniferPerezBedoya commented on #290
Thank you, that's cool.

[2018-10-08 19:31] iamclement commented on #289
That's right thanks for reporting it. I'll make the change.

[2018-10-09 15:09] jwargo commented on #291
@elamalani you're right, sorry.

[2018-10-10 04:55] Eyesonly88 opened #296 "App Center variables examples"
In the App Center Variables section, the variable name and a brief description is provided. However, it is sometimes unclear what the expected values of those variables are. It would be great if another column is added that has an example value of each variable.

For example, what is the value of `APPCENTER_REACTNATIVE_PACKAGE `? is that whatever is inside `package.json` ? or is it the project bui

[2018-10-10 13:33] juliohenderson opened #299 "Using API Rest for automations"
How to enable codepush through API?
I am analyzing the swagger page but have not yet found any way from api to this action

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: b113ae49-c84f-05c6-e4fd-e414e5c64304
* Version Independent ID: a04ff30c-e14b-9b76-6dd3-223e05d3a8cb
* Content: [App Center API Documenta

[2018-10-10 15:04] jwargo commented on #296
@Eyesonly88 that's a good suggestion, I'll have the PM take a look.

[2018-10-10 15:30] jwargo commented on #299
@juliohenderson The CodePush REST API is documented on our [Swagger Page](https://openapi.appcenter.ms/#/codepush). What are you trying to do with the API?

As I understand it, the publishing process requires the App Center CLI, there isn't a REST API for that part of it as it relies upon stuff happing on the developer's PC to publish an update. I've asked the product's PM to take a look, he can p

[2018-10-10 15:58] jeremycbutler opened #300 "Breaking Changes: Update Carthage to Version 0.31.1"
Xcode 10 introduced an issue when using Carthage bootstrap that would produce a `Could not find any available simulators for iOS` during builds on the Cloud Build Machines. The issue was introduced as Apple changed the way they are [listing available devices](https://github.com/Carthage/Carthage/issues/2602) that Carthage was not handling.

Carthage released an update last night to fix this issue

[2018-10-10 16:12] jwargo commented on #300
@jeremycbutler The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional inform

[2018-10-10 16:12] #300 closed, assigned to nilofer

[2018-10-10 17:17] ghost commented on #287
Thanks NCleverly for your messages, I agree with you and I'm waiting for the same answer.
Thanks

[2018-10-10 17:45] juliohenderson commented on #299
I'm working on a whitelabel system and I'm automating our publishing, so I'm creating an app directly from the api and in the back comes the app_secret and I'm saving it in our DB but I also need to have the deployment key to save in the bank and later able to automate our build. What is missing? I already have the deployment key return with /v0.1/apps/{owner_name}/{app_name}/deployments but I hav

[2018-10-10 20:28] jwargo commented on #299
@juliohenderson The best way to get help is not by asking here. App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/getting-started/welcome-to-ap

[2018-10-10 20:28] #299 closed, assigned to Zakeelm

[2018-10-10 21:56] Zakeelm commented on #294
Going to go ahead and close this, have submitted a PR to fix this. Should be live soon. Thanks for pointing this out!

[2018-10-10 21:56] #294 closed, assigned to Zakeelm

[2018-10-10 23:34] iamclement commented on #287
Hi there,
The code snippet only shows how to handle the notification in foreground. From there people can do whatever they want, some want in-app banner, some want system alert others just want to play a sound...
@NCleverly  and @JulienDollon to answer the question in order to display a system alert in foreground you just need to call the completion handler from the `WillPresentNotification` callb

[2018-10-10 23:36] iamclement commented on #289
This is now added to the UWP getting started.

[2018-10-10 23:36] #289 closed, assigned to elamalani

[2018-10-11 14:49] jwargo commented on #287
@elamalani @clpolet should we update the docs with this?

[2018-10-11 18:59] iamclement commented on #287
I like to have a generic code snippet but I can add a link to the UNNotificationPresentationOptions doc saying it can do toast, sound...

[2018-10-11 19:51] jwargo commented on #287
@clpolet close issue?

[2018-10-11 19:52] NCleverly commented on #287
I did not see how this answers my question. You keep discussing other delegates but not how to show the push notification received.  If you would like to close i would request that you reread the issue is not being able show a push notification after evaluating whether a custom data value match a value. Is the delegate Push.PushNotificationReceived not supposed to be used like this?

[2018-10-11 19:58] jwargo commented on #287
@NCleverly the answer was given:  in order to display a system alert in foreground you just need to call the completion handler from the WillPresentNotification callback with the UNNotificationPresentationOptions.Alert enum value.

Does that not address your question?  If not, please clarify.

[2018-10-11 20:00] NCleverly commented on #287
Please see my above edit. I am made the issue clearer.

[2018-10-11 20:44] iamclement commented on #287
OK I understand the whole thing now. You want to display that system toast depending on the custom data in the push payload. ~~I don't think you can achieve that using the App Center push callback directly.~~ First approach: But it's doable within the `WillPresentNotification`. The [UNNotification.Request](https://developer.xamarin.com/api/property/UserNotifications.UNNotification.Request/) should

[2018-10-12 05:17] nilofer commented on #296
Thanks for the suggestion @Eyesonly88! We'll take a look at that table and see how we can provide some more clear examples. For your RN question, if you have both an iOS app and Android app configured from the same repo to be built when you push a new commit, both projects will get built.

[2018-10-12 05:17] #296 closed, assigned to nilofer

[2018-10-12 17:25] iamclement commented on #287
It's actually possible to use the AC Push callback for this but not sure if it's quicker to implement. Second approach: Within the AC Push callback you'll basically have to rebuild the notification as a local system alert and post it. Creating and posting the local system alert is explained [in this documentation](https://docs.microsoft.com/en-us/xamarin/ios/platform/user-notifications/deprecated/

[2018-10-12 17:31] NCleverly commented on #287
The continuing failure here is that I do not want a TOAST. I need it to act like I never touched the flow.  If the custom data point is not present or value is not what I expect the notification systems need to behave exactly as it would before. Any display as a Toast is therefore not acceptable as a solution. Please view the images to compare toasts vs push notification. The notification has to s

[2018-10-12 21:01] iamclement commented on #287
Sorry I meant system alert not toast, the second solution would still display a system alert not an in-app alert or toast as you say. But if you really don't want to break the flow of the notification than the first approach is the right one.

[2018-10-13 15:10] alexandrius opened #305 "Using App Center build service but dSYM and map files aren't uploaded automatically."
Hi, I'm using AppCenter build service with ReactNative app but crashes tab still requires me to upload mapping files. Any help is highly appreciated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a12c34d-324f-63d9-6e74-2794d468c51d
* Version Independent ID: 7320e6d7-a421-2cad-f620-b76d799495f1
* Content: [Symbolicatio

[2018-10-13 15:12] alexandrius opened #306 "How to differentiate currently building platform?"
How do I differentiate which platform is currently built? Project is written in React Native and is on the same repo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca50588e-c8ad-2b8e-683f-bc5fc612dfe4
* Version Independent ID: 5d9513bd-d179-eaeb-96aa-06bd5ba0224f
* Content: [Build Scripts - Visual Studio App Center](ht

[2018-10-14 16:36] mrtnkrstn opened #307 "Build Script File Names"
Hi

I need to be able to specify the name of the build script because I am building differently-branded apps from the same source code, and need to specify the brand-specific info in different build scripts. How can I accomplish this?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca50588e-c8ad-2b8e-683f-bc5fc6

[2018-10-14 17:23] mrtnkrstn commented on #307
Have posted in Product Support

[2018-10-14 17:23] #307 closed, assigned to nobody

[2018-10-15 01:18] Eyesonly88 commented on #296
Hi @nrajpurkar ok thanks. Regarding the RN question, yes they both get built but when having a post-build script, we need to know programatically which build is being built.

For example, if we are doing a `CodePush` post-build, then we need to know which version (iOS or Android) to do the CodePush deploy for.

[2018-10-15 13:59] jwargo commented on #305
@alexandrius The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informat

[2018-10-15 13:59] #305 closed, assigned to nobody

[2018-10-15 13:59] jwargo commented on #306
@alexandrius The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informat

[2018-10-15 13:59] #306 closed, assigned to nobody

[2018-10-15 17:55] nilofer commented on #292
Hi @kburgoyne, this seems like something our support can help investigate rather than a docs issue. App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. Feel free to open up a conversation with support from our portal regarding this. For a

[2018-10-15 17:55] #292 closed, assigned to nilofer

[2018-10-15 18:27] nilofer commented on #291
Hi @kburgoyne, this is a known [issue](https://developercommunity.visualstudio.com/content/problem/307296/error-msb6006-mspdbcmfexe-exited-with-code-1106.html) that was fixed in VS 15.9 Preview 3. The hosted agents don't currently have the preview versions on them.

[2018-10-15 18:27] #291 closed, assigned to nilofer

[2018-10-15 18:52] kburgoyne commented on #291
Right-o. Thanks.

[2018-10-16 12:39] shnaz opened #308 "Send directed push notification based on custom properties"
Hey
I was looking at the Push notification and was wondering if it is possible to send notifications to a set of devices based on custom properties?
F.x I want to notify all devices with following custom property:
email: bob@email.com
Documentation states that it is possible to create Audiences based on properties and notify thereby audiences, but I am not interested in creating and saving it as a

[2018-10-16 14:40] masimplo opened #309 "Error when submitting though interface"
Submitting the app to *iTunes Connect users* through the App Center interface, exactly as described here, I get an error:

[code]
Submitting the exact same IPA through Application Loader works fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edcd9010-7381-ef0a-85ee-3289b742c8de
* Version Independent ID: 63c5a53d-e2

[2018-10-16 15:45] jwargo commented on #308
@shnaz I'm not sure whether you can do this, I'll ask the PM to respond.

The easiest way to get help is to use our dedicated support team. App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Cente

[2018-10-16 15:46] jwargo commented on #309
@masimplo The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information

[2018-10-16 15:46] #309 closed, assigned to nobody

[2018-10-16 20:15] RonMcgonagall opened #310 "Build Failed because of Workspace"
Hello !

I am trying to build my iOS app and the workspace specify in the build command is not correct :
[command]/usr/bin/xcodebuild -sdk iphoneos -workspace /Users/vsts/agent/2.140.2/work/1/s/ACPT.xcodeproj/project.xcworkspace ...

causing the
##[error]Error: /usr/bin/xcodebuild failed with return code: 65

/project.xcworkspace should not be listed there. If I build locally or on Aure Dev Ops an

[2018-10-16 21:03] jwargo commented on #310
@RonMcgonagall  The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional infor

[2018-10-16 21:03] #310 closed, assigned to nobody

[2018-10-17 08:21] shnaz commented on #308
Sending notification based on properties(without having to save it as audience) can be useful in many ways.
It is often useful to send one-time notifications based on certain criterias.
For example: Sending a one-time notification to devices in Denmark(Country=DK) who has the AppVersion=1.1 and DeviceModel=SM-G950F.

Is this something Visual App Center Notifications has on the roadmap?

[2018-10-17 11:02] aman-sood opened #313 "[Swift - iOS] How can I add some big files which are not on GitHub ?"
I have some third party SDK framework which is around 900 Mb in size and only needed for app. build, versioning is not required as we don't maintain it.

Also Github has a limitation for 100 Mb so even if we want we can't use Github.

I am looking out for dev center integration with my Github repository for my project. Please help

[2018-10-17 12:57] jwargo commented on #313
@aman-sood The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informatio

[2018-10-17 12:57] #313 closed, assigned to nobody

[2018-10-17 13:00] jwargo commented on #308
@shnaz as I mentioned, you should ask your product questions through support. Login to App Center and use the blue chat button on the lower-right corner of every page. You can also access support through the link I provided in my previous response.

[2018-10-17 13:25] shnaz commented on #308
Support says it cannot be done, hence my question: "Is this something Visual App Center Notifications has on the roadmap?"

@jwargo @dimazaid

Thanks in advance

[2018-10-17 14:10] oferRounds opened #316 "How to send a push to a group of user_id(s) from our backend?"
It’s not clear to me:
1. What user_data does our backend need to store in order to send push to a group of users?
2. Can it work with our internal user_ids?
3. If so, when is the connection between the device push token and our external user_id is made?
4. Where is this connection stored – in App Center or in our backend?
Etc.

Can you explain a bit about the flow in general?

---
#### Document De

[2018-10-18 03:41] dimazaid commented on #308
Hello @shnaz !
This is something on our roadmap but no timeline at the moment. I'll find your ticket on Intercom and continue the discussion there.

[2018-10-18 03:49] dimazaid commented on #316
Hi @oferRounds, can you please send these questions on our Support? I'll be able to answer them better. When you go to the App Center portal, click on the blue bubble on the bottom right corner of the screen.

To briefly answer your questions:
The best way would be to create a mapping table in your backend, that maps the user_ids to Installation IDs. At the time of Push you will retrieve the insta

[2018-10-18 03:49] #316 closed, assigned to dimazaid

[2018-10-18 07:09] oferRounds commented on #316
Thanks, will do!

[2018-10-18 16:09] nathanielcook opened #317 "Annotations on errors"
With these changes, can annotations now be added to errors?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf5b27c9-d8b4-38a4-8302-09a5c670278d
* Version Independent ID: a412a737-f270-e0fb-cdd9-abdcb98f74df
* Content: [Updates on App Center Diagnostics are coming soon - Visual Studio App Center](https://docs.microsoft.

[2018-10-18 16:25] jwargo commented on #317
I'm not sure. Have you asked support? That's the best way to get help. Click the blue chat icon in the lower-left corner of any App Center page.

[2018-10-18 16:27] blparr commented on #317
@nathanielcook That is correct. Annotations will now be available for both errors and crashes.

[2018-10-18 16:27] #317 closed, assigned to blparr

[2018-10-18 18:41] firewicca opened #318 "Thx"
THz thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba5bae42-8218-6f63-b28f-b6e6642f3ea2
* Version Independent ID: 1082232d-7609-692b-5d76-903a1134bf97
* Content: [Getting Started with App Center Test - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/test-cloud/getting-started)
* Content Sour

[2018-10-18 20:02] jwargo commented on #318
@firewicca Did you have a question? The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond.

[2018-10-18 20:02] #318 closed

[2018-10-18 20:59] kszicsillag opened #319 "OS vs Platform"
In section "Create your App" there is a step "Select the appropriate OS and platform depending on your project as described above". However, on the "Add new app" page of App Center there is no option for Unity. The Prerequisites section does not help either as it lists platforms, but on the App Center page these options are more related (but not fully equivalent though) to the OS radio button grou

[2018-10-19 11:57] jwargo commented on #319
@kszicsillag the PM for this product is out today, but I'll see if I can get you an answer ASAP. In the mean time, don't forget about our dedicated product support team. App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional i

[2018-10-19 12:12] jwargo commented on #319
@kszicsillag I think the Unity UI is behind a feature flag, please reach out to support and ask them, they should be able to turn it on for you.

[2018-10-19 12:12] #319 closed, assigned to nobody

[2018-10-19 13:03] jwargo commented on #287
@NCleverly are you making progress on this? Did @clpolet's information help you accomplish what you need to accomplish?

[2018-10-19 14:39] balivo commented on #281
My AppCenter client NuGet implementation: https://github.com/balivo/appcenter-openapi-sdk

[2018-10-19 14:40] NCleverly commented on #287
I am still working on how to call the android Notfication.Builder and The iOS Code. and will be opening a suggestion with the app center SDK team allow for creating these in the forms shared code instead of having to wire up platform specific code.

[2018-10-19 19:20] kszicsillag commented on #319
Now I see the Unity option in the platform list, thanks!

[2018-10-19 21:30] ehuna opened #321 "Suggestion: IApp.Invoke for Xamarin Forms"
Could you please add a 'Backdoor' for Xamarin Forms?

I can use the IApp.Invoke on iOS and Android - and then call some code on my Core/PCL/NetStandard library - but it would more elegant if I could just have an IApp.Invoke that works directly on Xamarin Forms, e.g. maybe directly on the code-behind of a XAML page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-10-22 11:45] juepiezhongren opened #323 "it is unable to debug test with xamarin.UITest via android device"
vs 15.8.6
xamarin.UITest 2.2.6.1904-dev

when i debug the test, it was unable to enter the break point, and just with the output of
"The thread 0x3f84 has exited with code 0 (0x0).
The program '[17356] testhost.x86.exe' has exited with code 0 (0x0)."

[2018-10-22 13:27] jwargo commented on #321
I'm not sure exactly what you're asking for, but I'll pass this on to the PM.

[2018-10-22 13:45] jwargo commented on #323
@juepiezhongren The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional infor

[2018-10-22 13:45] #323 closed, assigned to nobody

[2018-10-22 23:15] craigktreasure opened #324 "Unity is not listed under the SDK -> Getting Started node"
The Unity docs are difficult to find unless you access them from a search engine. People might get the idea that Unity is not supported.
![image](https://user-images.githubusercontent.com/6309423/47324765-010c2d80-d616-11e8-9883-b24e8ac48e00.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0365781-58e5-a72a-9422-0e

[2018-10-22 23:25] elamalani commented on #324
@craigktreasure We are officially going to enable Unity support in a few days. Once we enable the platform support, we will also light up the docs to get started with Unity SDK.

I'll share more information with you on the email thread. :)

[2018-10-23 06:38] neerajkumar-lad opened #325 "Stalled error displaying continually when I run iOS app using appium on appcenter"
## Description
I am trying to run iOS automation on appcenter using the following command

command:
appcenter test run appium --app "username/appname" --devices f5c68fb6 --app-path "/Path/XXXX.ipa"  --test-series "applaunchtest" --locale "en_US" --build-dir /path/target/upload

When I run above command I could see that in the app-center test created and does all pre-requested like validating.. upl

[2018-10-23 13:21] #324 closed, assigned to nobody

[2018-10-23 13:22] jwargo commented on #325
@neerajkumar-lad The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional info

[2018-10-23 13:22] #325 closed, assigned to nobody

[2018-10-23 16:21] glennwester commented on #321
Hi @ehuna, thanks for writing in. This is a feature request to have invoke work across Xamarin Forms shared code, this is something we can look into!

[2018-10-23 16:21] #321 closed, assigned to glennwester

[2018-10-24 00:43] juepiezhongren opened #326 "where can i submit issue about xamarin.UITest???"
said above

[2018-10-24 01:12] juepiezhongren opened #327 "we need docs about how to debug test against java-apk via real device."
said above

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a0474be-6e14-b8e6-b6cf-934a04f0e509
* Version Independent ID: 4a79fc1d-8dca-1c17-718f-c30fda180f05
* Content: [Xamarin.UITest - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/test-cloud/uitest/#feedback)
* Content Source: [docs/test-cloud/

[2018-10-24 05:52] juepiezhongren commented on #323
once i can not use xamarin.Uitest locally, how can i move into cloud?????

[2018-10-24 09:41] nick-gudumac commented on #55
thank you for this! Any ETA on this feature? It's currently blocking the adoption of this tool for our company. Would love to see this added in App center.

[2018-10-24 10:13] vforvasile commented on #212
@ranterle thank you for explaining!
One question though: if I set the keystore inside AppCenter, which parts of the build.gradle config should I remove in order for the signing release to be set only once?

[2018-10-24 13:33] jwargo commented on #326
@juepiezhongren The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional infor

[2018-10-24 13:33] #326 closed, assigned to nobody

[2018-10-24 13:36] jwargo commented on #327
@juepiezhongren I'll pass the feedback on to the product's PM.

[2018-10-24 13:36] #327 closed, assigned to glennwester

[2018-10-24 13:38] jwargo commented on #323
@juepiezhongren as I said, use product support.

[2018-10-24 16:28] matthiaswenz commented on #212
@vforvasile do you see any errors with your current configuration? Can you help me better understand what part about it you only want to be set once?

[2018-10-24 23:35] derekr opened #328 "Missing information for installing a build for iOS and other platforms"
Would be helpful to include info for installing on other platforms. Right now I'm experiencing an issue where I've registered a device, but when I navigate to an app I know I have access to I get an error about not having access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3659cbf-c706-9af5-b3ed-9e0cdb5f2819
* Vers

[2018-10-25 13:42] jwargo commented on #328
@derekr thanks for the suggestion, I'll pass it on to the PM. Are you getting the help you need from our support team?

[2018-10-25 14:27] derekr commented on #328
I didn't contact support, but if I refresh the page that says I don't have access it loads the install screen.

[2018-10-25 14:29] jwargo commented on #328
@derekr interesting. Well, don't forget it's there when you need it. Just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/getting-started/welcome-to-app-center-support).

[2018-10-25 15:12] gaknoll commented on #328
Thanks for the feedback @derekr! We are currently redoing all of the docs for Distribution that includes a more complete section for installing builds as a tester. We'll be going live in the upcoming weeks.

[2018-10-25 15:12] #328 closed, assigned to gaknoll

[2018-10-26 08:30] ryanlpoconnell commented on #270
This was not a useful end to a post for anyone.  A doc change would be more useful!

[2018-10-26 13:11] jwargo commented on #270
@ryanlpoconnell he said he was looking for help, so that's why I redirected to support. What usually happens is that the support team identifies the issue and helps the customer solve it, then either proposes or makes a doc change to reflect the fix. If you have a change to suggest, I'm happy to make it, or the docs are open source, so feel free to make a PR.

[2018-10-26 13:17] jwargo commented on #287
@NCleverly OK, I'm going to close this issue, feel free to reopen if you need, but going through support is the best approach.

[2018-10-26 13:17] #287 closed, assigned to elamalani

[2018-10-26 16:44] ryanlpoconnell commented on #270
@jwargo apologies for the outburst. You are of course correct in your order support redirect.  It's very frustrating to find the very question you have left unanswered.  I will follow this up with a suggested documentation update, but please do not consider it to be directed specifically at yourself.

[2018-10-26 16:46] jwargo commented on #270
@ryanlpoconnell no worries, I didn't see it as being directed toward me. Actually, the Test team's processing a doc update right now, so I imagine it will be published soon.
UPDATE: Expect the doc update to be completed Monday. Sorry for the delay.

[2018-10-26 16:55] ryanlpoconnell commented on #270
For those who might read this issue hoping for _an answer_ (albeit perhaps answering a slightly different question).

I found missing information being that the NUnit 2 Test Adapter must be installed in Visual Studio via Tools>Extensions and Updates>Online: search "NUnit 2 Test Adapter".

I credit this blog: https://www.jimbobbennett.io/ui-testing-your-xamarin-apps/

FYI: until I installed it via

[2018-10-29 07:13] PaliwalSparsh opened #330 "removeListener is performed automatically."
https://github.com/Microsoft/AppCenter-SDK-React-Native/blob/8efd255623163c9e73b95c3eeee3e6593cc9398e/appcenter-crashes/Crashes.js#L80

Maybe you should make it clear that there is no need to removeListener as you have done that yourself while calling setListener. I was worried if there could be problem calling setListener mulitple times. And thanks for everything the documentation is awesome and

[2018-10-29 13:08] jwargo commented on #330
@PaliwalSparsh thanks for the feedback, I'll pass it on.

[2018-10-30 11:08] gunapandianraj opened #332 "iOS push notification - Appcenter "category" keyword ignored"
Unable to send iOS reserved key value pair { "Category" : "value" }  to show custom actions for push notification's. for now category key value pair is ignored while converting to platform specific payload.

In documentation only following reserved keys are provided :
- badge
- sound
- content-available
- mutable-content

i would like to know is this a limitation in Appcenter push or is there any

[2018-10-30 13:29] jwargo commented on #330
@PaliwalSparsh we made an update to the docs this morning. Closing this issue.

[2018-10-30 13:29] #330 closed, assigned to elamalani

[2018-10-30 15:36] danielmhanover opened #333 "Cancel build from script"
Is there a way to cancel or change a build, or just the build's distribution, after checking a condition in a post-clone or pre-build script?

[2018-10-30 15:53] jwargo commented on #333
@danielmhanover The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional infor

[2018-10-30 15:53] #333 closed, assigned to nobody

[2018-10-30 17:30] dhei commented on #332
Hi @gunapandianraj,

Thanks for getting in touch.

When you send a push notification with custom data `{ "Category" : "value" }`, if you've implemented `- (void)push:(MSPush *)push didReceivePushNotification:(MSPushNotification *)pushNotification` delegate to intercept the notification, you should see your custom data in `pushNotification.customData`. I verified just now `{ "Category" : "value" }`

[2018-10-31 03:03] gunapandianraj commented on #332
well the thing is it should not come under custom data. Its a iOS Reserved Keyword (like
 eg .Badge,Sound .. etc) to show custom buttons in push notification.

if its coming under custom data the system will not intercept and it will not show our registered custom actions.

Looks like its a limitation in appcenter for now. Thanks for the response.

Refer this apple doc for category keyword:

https

[2018-10-31 10:29] gunapandianraj commented on #332
The payload conversion am talking about is if you send this below json in appcenter [swagger](https://openapi.appcenter.ms/#/push) API for push
[code]
i will get the converted payload in device like below.

[code]

above you can see the **category** key pair is not coming.

I need payload like below for custom actions to work in iOS.

[code]

[2018-10-31 14:23] jayad-aadrit commented on #120
Is gitlab supported?

[2018-10-31 14:40] jwargo commented on #120
@jayad-aadrit No, as of [this document](https://docs.microsoft.com/en-us/appcenter/build/connect)

[2018-10-31 14:44] jayad-aadrit commented on #120
@jwargo Thanks! for the quick response. I've tried it with github public repo, wanted to know whether it works with private github repo as well?

[2018-10-31 14:48] nilofer commented on #120
@jayad-aadrit Private GitHub repos are supported. However, GitHub Enterprise repos are not.

[2018-10-31 18:20] sstadelman commented on #300
@jwargo Hey John!

[2018-10-31 18:38] jwargo commented on #300
@sstadelman hey!  Wassup?

[2018-10-31 20:41] dhei commented on #332
@gunapandianraj,

Thanks for the clarification.
What you asked for is definitely on our roadmap. We don't have an ETA for this, but we will provide an update if as soon as it becomes available.

[2018-10-31 20:41] #332 closed, assigned to elamalani, dimazaid

[2018-11-04 11:29] arifzaman2 opened #337 "Is there any support for Cucumber framework?"
Greetings,

I just wanted to know whether App Center supports Cucumber framework. I wanted to add some test cases in my automation code using Cucumber. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed7c0d11-e60a-f088-e983-7465aca41515
* Version Independent ID: b2c6a308-1fcb-a385-239d-862b2c14114c
* Content:

[2018-11-05 17:00] jwargo commented on #337
@arifzaman2 not that I know of, but I'll ask the PM to weigh in here. Also, remember that App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/get

[2018-11-06 02:32] putuyoga commented on #147
There is no way to integrate existing app to github pull request? :(

[2018-11-06 03:34] putuyoga commented on #223
connecting existing apps?

[2018-11-06 16:08] jwargo commented on #147
@putuyoga could you please clarify what you're asking?

[2018-11-07 00:31] nilofer commented on #147
@putuyoga At this time, you need to create a new App Center app from the GitHub app to enable GitHub PR Checks. You cannot add this to existing App Center apps.

[2018-11-07 00:32] nilofer commented on #223
@putuyoga please see the [reply](https://github.com/MicrosoftDocs/appcenter-docs/issues/147#issuecomment-436459952) on the other issue you commented on.

[2018-11-07 20:26] glennwester commented on #337
@arifzaman2 Hello! Our cucumber support is limited to Calabash, which has been deprecated. Which testing framework are you using to drive synthetic gestures?

[2018-11-07 21:03] VanHoutte opened #340 "Status code 500 when trying to login with my apple developer account"
Hi

I'm trying to link my apple developer account but I get the following error on the network request to the server:
Status code 500: {"error":{"code":"internal_server_error","message":"Internal Server Error (Support ID: 883a0e6c-fe49-421a-9251-d65ff44b0f6d)"}}

Kind regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-11-07 22:05] jwargo commented on #340
@VanHoutte1337 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional inform

[2018-11-07 22:05] #340 closed, assigned to nobody

[2018-11-08 14:01] biapar opened #341 "Javascript/Nativescript Support?"
Is't possibile to use App Center with other JS framework like Angular o VUEJS or Nativescript?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a9c2bfe-e6be-bce0-7d66-8af878cecffa
* Version Independent ID: 00ed44c9-1037-03b1-be92-0d2869cc4b23
* Content: [App Center Push - Visual Studio App Center](https://docs.microsoft

[2018-11-08 20:42] jwargo commented on #341
@biapar Visual Studio App Center is a service for native applications; web applications are not supported at this time, nor is NativeScript.

[2018-11-08 20:42] #341 closed, assigned to nobody

[2018-11-08 20:42] NigamRout opened #342 "API Access from script (Java, Python, etc)"
How can w upload the .apk files to Google Play store using script (any program)
Step 1: Create a Google Play connection in App Center
Step 2: Publish your APK to the Google Play Store

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 868e3edf-f3af-950e-4f8a-ea30c392e883
* Version Independent ID: a725a1f2-fe7b-b7be-8e5e-6d

[2018-11-08 20:49] jwargo commented on #342
@NigamRout Are you asking a question or suggesting a documentation update? The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and ou

[2018-11-08 20:49] #342 closed, assigned to nobody

[2018-11-09 13:52] #337 closed, assigned to glennwester

[2018-11-13 13:52] thisisthekap opened #347 "Please delete this issue"
Please delete this issue. Duplicate of https://github.com/MicrosoftDocs/appcenter-docs/issues/348

[2018-11-13 13:54] thisisthekap opened #348 "No HEAD for /v0.1/apps/{owner_name}/{app_name}/push/devices/{install_id}"
As a developer I want to check if devices are registered using a HEAD request to `/v0.1/apps/{owner_name}/{app_name}/push/devices/{install_id}`.

`/v0.1/apps/{owner_name}/{app_name}/push/devices/{install_id}` supports DELETE only. This implies that a device has to be deleted to check if it actually is registered to receive push notifications.

---
#### Document Details

⚠ *Do not edit this section

[2018-11-13 16:58] jwargo commented on #347
@thisisthekap just close it - you created it, so you can close it.

[2018-11-13 16:58] #347 closed, assigned to nobody

[2018-11-13 16:59] Rfxiao opened #349 "Where is build.gradle File located?"

[2018-11-13 17:04] jwargo commented on #349
@Rfxiao Android projects have several, and the Android project structure changes from time to time.  Just look in the Android documentation or in your project folder.

The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any tim

[2018-11-13 17:04] #349 closed, assigned to nobody

[2018-11-13 17:05] jwargo commented on #348
@thisisthekap I've passed your feedback on to the PM team.

Remember, the comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our ded

[2018-11-13 17:15] thisisthekap commented on #348
@jwargo Thanks for your effort. Should we follow up using this GitHub issue, or the App Center Help.

[2018-11-13 18:07] jwargo commented on #348
@thisisthekap I left this issue open, so the PM team should respond to you here.

[2018-11-15 00:49] SogoGolf opened #353 "Publishing to Testflight not working"
https://docs.microsoft.com/en-us/appcenter/distribution/stores/apple#publish-an-ios-package-to-testflight-internal-testers

does not work.

error message in app centre is:
Oh no! Build 10 failed to distribute. Error: Release notes string or mandatory update boolean were successfully updated, but failed to distribute to some or all of the destinations.

---
#### Document Details

⚠ *Do not edit thi

[2018-11-15 08:52] godbrother opened #355 "App Registration"
Associated Windows Store app not listing registration portal(https://apps.dev.microsoft.com/#/appList).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fb42032-a67b-b601-7ef0-bdf1c8838f73
* Version Independent ID: 4d052b88-6fe1-358e-47a7-4d2687f02c10
* Content: [App Center Push for Universal Windows Platform - Visual S

[2018-11-15 11:03] SogoGolf commented on #353
I worked out what was causing the issue – the safari browser cache. I went to Settings -> Safari -> Clear History and Website Data.

[2018-11-15 11:04] #353 closed, assigned to nobody

[2018-11-15 16:39] jwargo commented on #355
@godbrother Do you have a question or comment about the docs? The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated s

[2018-11-15 16:39] #355 closed, assigned to nobody

[2018-11-16 01:07] rafsanulhasan opened #356 "Xamarin.Forms MAC support"
Currently there is no support for Xamarin.Mac projects in App center. Is there any plan to include Xamarin.Forms apps for MACOS in the Mobile center? If yes, how long it would take to include this feature into App center?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c51c4f2-ae33-9065-c235-76501ca3d406
* Version Inde

[2018-11-16 01:11] rafsanulhasan opened #357 "Android TV support"
I found that Android watch projects are supported in App center. Android TV projects using Xamarin.Forms project is not supported yet. Is there any plan to support it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b6246f8-55fc-c271-b83d-d1564c013fc8
* Version Independent ID: 48b809d8-ea94-af5f-e5be-9519403aa95f
* Con

[2018-11-16 01:13] rafsanulhasan opened #358 "tvOS Support"
Currently tvOS projects are not supported in App Center? Is there any plan to include it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc01291c-f6a0-4610-a27d-60718852390d
* Version Independent ID: 2b51b117-6b8c-f4d9-a2b2-43c891d20171
* Content: [Configure a Objective-C or Swift iOS build - Visual Studio App Center](

[2018-11-16 12:43] apple-ihack-geek opened #360 "How do I upload builds like I do in hockey app today?"
How do I upload builds like I do in hockey app today? Today we have our own build machines, we build our builds, and upload them to hockey app, and then our testers download the builds from hockey app.  We have no interest in paying for cloud based building machines.  But where is there documentation on uploading builds we build on our own  build machine?

---
#### Document Details

⚠ *Do not edit

[2018-11-16 13:40] frmz opened #361 "Provide a way for an open APK distribution as in Hockey App"
I am an Hockey App user dealing with the November 2019 deadline, currently i use Hockey to allow my users to manually download the app, this is done for beta testing but also to allow them to roll back their releases if they want to or install the app where no store is available. Hockey allows me to do this easily and distribute the APK in a PUBLIC page without any restriction. Here in app center

[2018-11-16 19:31] gittessie-qrypt commented on #238
it's also missing the MacOS instructions

[2018-11-18 21:06] ollyfg opened #362 "Sending rich notifications (Expandable, Buttons, etc.)"
Platform: React Native for Android.

I have got my app all set up and receiving push notifications, however I would like to be able to customise our notifications with buttons (https://developer.android.com/training/notify-user/build-notification), and to make them expandable if we are sending more than 1 line of text (https://developer.android.com/training/notify-user/expanded).

Is this possible

[2018-11-19 07:32] jomnius commented on #274
Is it on non-public short-term roadmap, if you can comment on such (after 2 months wait)? Is it on any long-term roadmap?

[2018-11-19 08:03] softlion commented on #53
Please put this in a yellow bloc on this page !!!

[2018-11-19 08:05] softlion commented on #53
Ok it is on a purple note .... not enough visible. Or plz change the behavior to use it automatically asap.

[2018-11-19 08:57] dipree commented on #53
We know that the behaviour is not ideal, however, it's documented. If you've any suggestions how to make it more clear in the documentation, please let us know.

[2018-11-19 11:40] jalpesh opened #363 "Unable to add jira tracking"
Getting the below error

Add bug tracker
Error during processing Jira request

Not getting any information on how to solve it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99771c68-5f45-887a-e926-9ea772021f99
* Version Independent ID: 865109fc-64b8-ba77-2e10-8002886c46c7
* Content: [App Center bug tracker documentati

[2018-11-19 13:12] jwargo commented on #360
@apple-ihack-geek all of the documentation for App Center's distribution capabilities are in the Distribution section of the App Center docs. To upload your build, just use the instructions in the [Release a Build](https://docs.microsoft.com/en-us/appcenter/distribution/uploading#uploading-the-package) doc.

[2018-11-19 13:12] #360 closed, assigned to nobody

[2018-11-19 14:35] jwargo commented on #356
@rafsanulhasan I'm not sure where this is on our roadmap, so I'll ask the PM to comment.

Note: The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corn

[2018-11-19 14:36] jwargo commented on #357
@rafsanulhasan I'll ask the PM to comment.

[2018-11-19 14:37] jwargo commented on #357
@rafsanulhasan I'm not sure where this is on our roadmap, so I'll ask the PM to comment.

Note: The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corn

[2018-11-19 14:38] jwargo commented on #358
@rafsanulhasan I'm not sure where this is on our roadmap, so I'll ask the PM to comment.

Note: The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corn

[2018-11-19 15:06] gaknoll commented on #361
Hi @frmz - App Center does work a little differently when it comes to distribution groups. A solution for your scenario in App Center would be to create a distribution group - and either during creation or in the distribution groups settings menu - toggle on "Allow Public Access". This will generate a public URL that will allow any tester with the link to download the latest release (as seen in at

[2018-11-19 16:15] jwargo commented on #362
@ollyfg I'll have the team take a look at this one. We recently updated the docs to highlight more notification options, but perhaps we need to add more.

[2018-11-19 16:25] jwargo commented on #363
@jalpesh The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2018-11-19 16:25] #363 closed, assigned to nobody

[2018-11-19 17:02] jalpesh commented on #363
Sorry about that. Will do

On Mon, Nov 19, 2018, 21:55 John M. Wargo <notifications@github.com wrote:

[2018-11-19 20:09] achocron commented on #362
@ollyfg As of today, the App Center SDK does not have any APIs that enable rich notifications.

That being said, there is a possible workaround that you could use, but it's a bit complex and I haven't tested it. Basically, you will want to disable the Firebase messaging service and use a custom broadcast listener. This will prevent Firebase and App Center from  intercepting the notification. Then,

[2018-11-19 20:36] nilofer commented on #356
Hi @rafsanulhasan, App Center does not currently support Xamarin.Mac and macOS support is in preview. It is not on our public short-term roadmap.

[2018-11-19 20:36] #356 closed, assigned to nilofer

[2018-11-19 20:37] nilofer commented on #357
Hi @rafsanulhasan, App Center does not currently support Android TV projects and it is not on our public short-term roadmap.

[2018-11-19 20:37] #357 closed, assigned to nobody

[2018-11-19 21:08] frmz commented on #361
Thanks @gaknoll for the reply, yeah so, a public URL with the ability to download previous releases would have the same functionality as Hockey App public download page has now and allow me to switch over. Will test it ASAP, hope the "release history" feature will not take long.

[2018-11-19 21:09] #361 closed, assigned to gaknoll

[2018-11-19 21:11] nilofer commented on #358
Hi @rafsanulhasan, we do not have tvOS support on our public short-term roadmap.

[2018-11-19 21:11] #358 closed, assigned to nobody

[2018-11-19 21:24] frmz opened #364 "Release a Gradle plugin to upload builds"
Hockey had a very nice plugin to upload builds automatically (https://github.com/x2on/gradle-hockeyapp-plugin), it would be great to have the same capability here. I know community might develop something and i know we can get it working using the API and a custom Gradle task but a plugin would make a lot of sense along with the other Gradle components already provided.

---
#### Document Details

[2018-11-19 21:26] jwargo commented on #364
@frmz that's a great suggestion. Can I get you to post suggestions through our support team rather than the docs? The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs. There's no facility here to capture feature suggestions.

App Center support is provided directly from within the App Center portal. Any

[2018-11-19 21:26] #364 closed, assigned to nobody

[2018-11-20 09:04] frmz commented on #364
Off course, thanks!

[2018-11-20 14:12] #362 closed, assigned to elamalani, botatoes

[2018-11-20 18:27] ollyfg commented on #362
Thanks for the links, I'll have a look!

[2018-11-22 09:45] Imroath opened #365 "Describe how to Version Releases via App Center Distribute task"
When releasing via AppCenter Release can have a number and timestamp format like 1.0(150912873).
When releasing via App Center Distribute task there is no documentation on how to specify the timestamp and all releases have a number 1.0(1). Please elaborate in the documentation on how the versioning should be done when using App Center Distribute task.

[2018-11-23 14:30] plsgard commented on #55
It has been added to the [AppCenter changelog](https://docs.microsoft.com/en-us/appcenter/general/changelog) the november 19th but I can't find any way to add multiple provisioning files in Build configuration :

Is there anybody who has succeeded to upload multiple provisioning files ? @nrajpurkar, any help ?

I specify that i'm using Xamarin iOS. Is it only available for iOS, not Xamarin ?

[2018-11-23 17:59] MisterJimson opened #366 "How to remove Apple Developer integration?"
This content needs to describe how to remove the Apple Developer integration (remove the certificate and username/password) from App Center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d13e061-cb49-5ee6-dfbd-249e8e2f11d5
* Version Independent ID: 88cb3aa2-3938-76b4-8297-dcc6380292d5
* Content: [Device registration

[2018-11-25 18:57] karmadotcom opened #367 "Need FB pages code for my page & community so I can implement ad's"
Im new at all this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06813350-a37b-a4a2-fdbc-a59caefb9f32
* Version Independent ID: 29787958-5b4e-efc2-2af5-2af0ee53216e
* Content: [App Center Build - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/)
* Content Source: [docs/build/index.md](https:

[2018-11-26 13:27] jwargo commented on #365
@Imroath I've asked the PM team to take a look at your question and respond. In the mean time the comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner

[2018-11-26 13:55] jwargo commented on #367
@karmadotcom The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

I'm not sure I understand how this question applies to App Center. If you have a question about App Center, App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat butto

[2018-11-26 13:55] #367 closed, assigned to nobody

[2018-11-26 15:24] dimazaid commented on #348
Hello,

This is not supported today, but we added it to our backlog of API updates.

Thanks!
Dimah

[2018-11-26 15:24] #348 closed, assigned to botatoes, dimazaid

[2018-11-26 16:03] nilofer commented on #55
@plsgard Hi there, we do not have support for Xamarin iOS app extensions at this time. Support on November 19th was released for Swift/Obj-C and React Native apps.

[2018-11-26 16:09] plsgard commented on #55
Thanks for your answer. Do you work on it ? Is there any ETA ?

[2018-11-26 17:15] prakashvadrevu opened #368 "How to download the proguard mappings.txt file?"
I am currently trying out the `Build` feature to build my Android app.

`ProGuard` is enabled in my Release build. After the app gets built, I am able to download the APK but not the `mappings.txt` file (the proguard mapping file). Where can I get that from? Can you please document it?

[2018-11-26 17:22] prakashvadrevu opened #369 "How to replace `google-services.json` file in the project root before build?"
I am currently trying out the `Build` feature to build my Android app.

I have to replace `google-services.json` file in the project root folder before the build starts. How do I do that? I tried the following steps:

- Added my `google-services.json` file contents in an Environment Variable in the Build configuration
- Wrote an `appcenter-pre-build.sh` script to read this environment variable's c

[2018-11-26 20:03] jwargo commented on #55
@plsgard I updated the docs (changelog and roadmap) to indicate it's just Swift, Objective-C and React Native. There is no ETA at this time for Xamarin support.

[2018-11-26 20:07] jwargo commented on #366
@MisterJimson I'll ask the PM team to take a look. In the mean time, App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/getting-started/welcome-

[2018-11-26 20:19] jwargo commented on #368
@prakashvadrevu I'll have the PM team take a look at a doc update. In the mean time, App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/getting-

[2018-11-26 20:20] jwargo commented on #369
@prakashvadrevu The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional infor

[2018-11-26 20:20] #369 closed, assigned to nobody

[2018-11-27 16:03] prakashvadrevu commented on #368
Thank you @jwargo! I will ask the support team.

[2018-11-27 16:03] prakashvadrevu commented on #369
Thank you @jwargo! I will ask the support team.

[2018-11-27 16:12] #368 closed, assigned to nilofer

[2018-11-27 17:10] Oddj0b commented on #366
hi @MisterJimson that is a reasonable request and I will update it tomorrow.

[2018-11-28 15:56] gunt0001 commented on #268
~~@daniel-varela~~ @glennwester We are in the process to scale up our Android testing on the App Center device farm with Espresso tests. We have seen on various occasions that test runs can completely crash midway through the run due to a problem on a particular device. When this happens we don't get access to the test results that had already completed, nor does the run continue on devices that s

[2018-11-28 16:02] #366 closed, assigned to Oddj0b

[2018-11-29 19:27] Norfeldt opened #370 "Pay-as-you-go"
Seems a bit confusing with the pricing. Would be nice if you could turn a knob when you need turbo and superpowers.

Does 1x build pipeline (free tier) mean that I have to choose between iOS and Android?

I'm doing react native so would like do both..

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.microsoft.com ➟ GitHub-problemlinkning.*

* ID: bdc863b

[2018-11-29 20:28] maestersid commented on #370
Hi @Norfeldt

We opted for sliders instead of knobs with pricing, though I like the idea of being able to take it to 11 ;).

More seriously, concurrency is applied to all apps within a given org or account, regardless of platform. So with your scenario, if you configure build for both your android and iOS apps and commit an update to both, it will build one then the other.

[2018-11-29 20:28] #370 closed, assigned to nobody

[2018-11-30 15:29] sidyakinian opened #371 "Pricing Question"
A little confused by the pricing. I'm looking to implement analytics into my macOS app with basic features like events. Does the free tier allow an unlimited number of users?

[2018-11-30 15:41] jwargo commented on #371
The Visual Studio App Center Analytics service is free. Look [here](https://visualstudio.microsoft.com/app-center/pricing/) for details.

[2018-11-30 15:41] #371 closed, assigned to nobody

[2018-12-01 15:31] plsgard commented on #55
Thanks @jwargo.

I chatted with a support guy (Manigandan) on AppCenter chat in order to get more informations. He told that the Xamarin Support is in your backlog - sounds good - but, as you said, there is no ETA.
However he provided me an interesting workaround.

So for those who want to build and deploy Xamarin iOS extension, you can use [Azure Pipelines](https://azure.microsoft.com/en-in/servi

[2018-12-02 07:45] studuffy opened #372 "errors api issues"
Hi, I noticed a couple of issues in the errors api:

- the ../errors/errorCountsPerDay request (not for a specific errorGroup) is only ever returning zeros at the moment, even with a valid version provided. works fine for a specific errorGroup though.
 - it looks like there's an issue with the firstOccurrence value on the errorGroups calls. it seems to always be "0001-01-01T00:00:00Z"

---
#### Do

[2018-12-02 14:18] jwargo commented on #55
@plsgard thanks, I'll see if I can get that worked into the docs. @nrajpurkar

[2018-12-02 14:24] jwargo commented on #372
@studuffy I'll have the PM take a look.

[2018-12-02 20:08] stesvis opened #373 "Push notification title and message NULL"
I implemented this code and it works great while the app is running and open.
[code]
The problem is when the app in in the background, or when it's closed.
In those two cases, I get the notification, but after I click on it, the title and message are NULL, while the custom data is correctly set.

Why is that? How to get title and message in those cases?

[2018-12-03 16:24] jwargo commented on #373
@stesvis The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2018-12-03 16:24] #373 closed, assigned to nobody

[2018-12-03 18:53] bryancross commented on #274
@nrajpurkar I'm obviously just speculating on the feasibility here, but it seems like enabling connectivity to GitHub Enterprise would be a fairly simple addition.  And it would open up App Center for use by a _lot_ of Enterprise developers who would very much like to be using it.

[2018-12-03 19:14] jwargo commented on #274
@bryancross actually it isn't. Most customers have GitHub enterprise hidden behind a firewall, so we can't poke into it to check for updates. Some organizations are OK with opening firewall ports for this, others, not so much. So, to create a solution that works for all use cases, would require building a piece of on-premises software that a customer installs internally and works for all possible

[2018-12-03 19:16] bryancross commented on #274
@jwargo Not being able to check for updates is not necessarily a bad thing.  Using Webhooks and an event driven model is much easier to support and much easier on the GitHub Enterprise infrastructure than polling.  In either case, customers would have to configure their networks to support access, but this is something they do for 100s of other CI tools already.

[2018-12-03 19:41] jwargo commented on #274
@bryancross agreed, but apparently we're hearing from customers that many IT organizations don't allow external access. Is this not true? do most GHE customers expose firewall ports to let cloud services in?

[2018-12-03 19:44] bryancross commented on #274
@jwargo Plenty of anecdotal evidence both ways, frankly.  Anything I can do from a GitHub perspective to provide more actionable info?

[2018-12-03 19:47] jwargo commented on #274
@bryancross Thanks. Apparently we've had discussions with the GitHub team about this very subject, the PM's closely connected with them. Because of the complexity of this, based on our current understandings, support for GitHub Enterprise is not currently on our roadmap.

[2018-12-03 20:22] bryancross commented on #274
Ah, well, that's a bummer :(

[2018-12-04 00:31] blparr commented on #372
Hello,
Thanks for reaching out.

Can you please reach out to us via Support (blue button in the bottom right portal)? It'll be easier for us to investigate the issue.

Thanks!

[2018-12-04 09:22] suzukieng opened #374 "Does code signing require building the app in App Center?"
I'm planning to migrate an app from HockeyApp to VS App Center. Previously we built the app on our own infrastructure and uploaded the IPA and symbols to HockeyApp via the REST API. This required us to rebuild/redeploy to HockeyApp every time the provisioning profile changes. VS App Center claims to be able to this automatically, but it's unclear to me if this is tied to building the app on VS App

[2018-12-04 15:45] jwargo commented on #374
@suzukieng The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informatio

[2018-12-04 15:45] #374 closed, assigned to nobody

[2018-12-04 23:29] ksmahesh commented on #268
@glennwester
Thank you for your reply. Great to know that its on your roadmap.
This is blocking our team from leveraging appcenter for testing purposes.
It is highly desirable to be able to run these tests on real devices, instead of just emulators.
Looking forward to test orchestrator being enabled.

[2018-12-05 09:55] manb-msft commented on #55
@jwargo I'm wondering if this is better posted as a Guest article in the Azure DevOps Blog https://blogs.msdn.microsoft.com/devops/?tag=CI,CD,Release%20Management

@chrisrpatterson I can get this created like a Tutorial to add under Azure DevOps blog, thoughts?

[2018-12-05 22:14] tirodkar opened #375 "EarlGrey 2.0 is now open sourced."
Hey folks, quick documentation update - EarlGrey 2.0 is now open-sourced.

https://github.com/google/EarlGrey/tree/earlgrey2

It combines XCUITest with EarlGrey and therefore allows proper out-of-process end to end testing with XCUITest along with EarlGrey's robust synchronization and white-box testing support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-12-06 16:45] jwargo commented on #375
@tirodkar thanks, I'll have the PM look at making a docs update.

[2018-12-07 07:15] samsudeenks opened #376 ""In your app, select Settings, Services, and click the edit button." Not working"
"In your app, select Settings, Services, and click the edit button." Not working in App Center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99771c68-5f45-887a-e926-9ea772021f99
* Version Independent ID: 865109fc-64b8-ba77-2e10-8002886c46c7
* Content: [App Center bug tracker documentation - Visual Studio App Center](

[2018-12-07 20:53] glennwester commented on #375
@tirodkar thanks! I have a PR open with these changes.

[2018-12-07 20:53] #375 closed, assigned to glennwester

[2018-12-07 21:53] tirodkar commented on #375
Awesome! Thanks @glennwester & @jwargo

[2018-12-08 14:41] stevehurcombe opened #377 "Publishing APK to Google Play doesn't list current builds, only option is upload APK."
I have connected to the Google Play store but there doesn't seem to be a way to publish an APK from a build completed in appcenter. It is implying that I have to download the APK and the uploaded it back to be able to push it into the app store. What would be the benefit compared to downloading an uploading to Play?

Cheers
Steve

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-12-08 15:23] stevehurcombe commented on #377
I've found the problem. Distribute->Stores->Alpha>Publish to store only allows upload APK.

Whereas Build->[Build]->Distribute->Store works as expected.

[2018-12-10 14:41] jwargo commented on #376
@samsudeenks The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informat

[2018-12-10 14:41] #376 closed, assigned to nobody

[2018-12-10 15:12] corteggo opened #378 "Native app"
Where is Visual Studio AppCenter's native app located at? Is it available in AppStore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 811f9eee-5b17-06e1-c108-dbef47984425
* Version Independent ID: 8fe50e13-c934-6a43-bf7d-1f33946da9d3
* Content: [Testing iOS Apps - Visual Studio App Center](https://docs.microsoft.com/en

[2018-12-10 15:27] jwargo commented on #378
@corteggo No, there is not currently a version of the App Center app available for the iOS platform.

Any time you need help with App Center, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/getting-started/welcome-to-app-center-support).

[2018-12-10 15:27] #378 closed, assigned to nobody

[2018-12-10 15:34] jwargo commented on #377
@stevehurcombe I'm glad you found your solution. I sent a link to the PM to see if a doc update is warranted.

In the meantime, App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Cente

[2018-12-10 15:34] #377 closed, assigned to nobody

[2018-12-10 15:35] jwargo commented on #372
@studuffy Did you contact support? Is this still an issue for you?  I'm going to close this, please let me know if we need to do a doc update here.

[2018-12-10 15:35] #372 closed, assigned to blparr, amchew

[2018-12-11 09:39] manb-msft opened #379 "Azure DevOps task screenshot to be updated."
It's no longer "Distribution Group ID", it's been updated to "Destination ID" in the Task..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28aa9747-f64a-d886-487d-8ebb97d717b8
* Version Independent ID: 0c7edbb7-4bf7-f66c-c8a7-275308365f27
* Content: [Deploy Azure DevOps Builds with App Center - Visual Studio App Center

[2018-12-11 21:39] GlenUnderwood opened #381 "c++/cx Support"
Will there ever be app center support for apps built with c++/cx?

[2018-12-11 21:40] jwargo commented on #381
@GlenUnderwood The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional inform

[2018-12-11 21:40] #381 closed, assigned to nobody

[2018-12-11 21:41] jwargo commented on #381
@GlenUnderwood like give me an example? We support a lot of platforms - not specific languages, but multiple target platforms. What are you looking for us to support? Anytime you have feedback, just click the blue button in the bottom-right corner of any App Center page and provide your feedback. It's all tracked and makes it back to the PM.

[2018-12-11 21:46] GlenUnderwood commented on #381
Sorry, didn't mean to post on the wrong board. Followed this link from an MS page that was discussing analytics with App Center.   C++/CX is a microsoft extension to the C++ language for use on Windows' UWP platform. C# has support in App Center, but not c++/cx. It's an alternative .NET that we are required to use due to the vast amount of cross-platform code we use which us plain C++.

[2018-12-11 23:49] Blackbaud-ChristiSchneider opened #382 "Appium version listed wrong"
Maybe I'm confused but I think the docs are wrong where they say "Support for Appium version 1.7.1 only". Appium 1.7.1 is not an available version (https://mvnrepository.com/artifact/io.appium/java-client) and your sample project is using Appium 5.0.4 (https://github.com/King-of-Spades/AppCenter-Test-Samples/blob/master/Appium/Android/Maven/pom.xml).

---
#### Document Details

⚠ *Do not edit this

[2018-12-11 23:54] glennwester commented on #382
Hi @Blackbaud-ChristiSchneider, Appium 1.7.1 is referring to the [Appium release](https://github.com/appium/appium/releases). We will soon upgrade this support to Appium 1.10.0. [java-client](https://github.com/appium/java-client/releases) has separate versioning.

[2018-12-11 23:54] #382 closed, assigned to nobody

[2018-12-12 19:21] ariya opened #383 "Explicit steps to the Xcode scheme management"
Instead of just:

I suggest the complete detaile steps:

This will save a hassle for those not completely familiar with Xcode scheme handling.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b3efbfa-b70b-9039-4b49-6ba4ce6c36af
* Version Independent ID: 73e079aa-bbc3-2a06-a5d1-c4827bd5e3dc
* Content: [App Center Build F

[2018-12-12 19:28] jwargo commented on #383
@ariya that's a great suggestion, I'll have the PM take a look at the doc change.

[2018-12-12 22:31] stevehurcombe commented on #233
This isn't working for me. I have to reconnect the account every day by entering the two factor code.

The build fails with this error (wasting my free build minutes in the process!).

##[error]{"release_notes":"Layouts tweaks","destinations":[{"id":"00000000-0000-0000-0000-000000000000","name":"iTunes Connect users","message":"Failed to publish to store. Error: Service Connection is not valid. Pl

[2018-12-12 22:52] jwargo commented on #233
@stevehurcombe The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional inform

[2018-12-13 08:25] leffsu opened #384 "Real devices?"
No mentioning of the list of the real devices. Users are forced to sign up and try to look them up by themselves. I understand that you want people to check your service out but I'm not willing to use the service which neglects it.

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: bdc863

[2018-12-13 12:57] mattslight opened #385 "REQ: option for `appcenter release-react` to exclude bundling assets (only js)"
Hi I know that it is possible to bundle without assets using the vanilla command. But as per the docs the preferred method to deploy for react-native is through react-release (and I fully agree).

Can we have an option please to only bundle JS and exclude assets, this is helpful for making smaller deployment packages when you know the assets have not changed.

Thanks,
Matthew

[2018-12-13 12:58] mattslight commented on #385
Source - https://docs.microsoft.com/en-us/appcenter/distribution/codepush/cli#releasing-updates-general

[2018-12-13 13:01] mattslight opened #386 "REQ: option for `appcenter release-react` to exclude bundling assets (only js)"
Hi I know that it is possible to bundle without assets using the vanilla command. But as per the docs the preferred method to deploy for react-native is through react-release (and I fully agree).

Can we have an option please to only bundle JS and exclude assets, this is helpful for making smaller deployment packages when you know the assets have not changed.

Thanks,
Matthew

---
#### Document De

[2018-12-13 13:01] mattslight commented on #385
closed - duplicate #386

[2018-12-13 13:01] #385 closed, assigned to nobody

[2018-12-13 13:30] jwargo commented on #384
@leffsu our device catalog changes on a regular basis (when new devices are added, and older ones removed). This information is not listed on the pricing page, but you can find it [elsewhere in the documentation](https://docs.microsoft.com/en-us/appcenter/test-cloud/devices).

[2018-12-13 13:30] #384 closed, assigned to nobody

[2018-12-14 15:00] jzeferino opened #387 "App center export documentation"
I Was reading thought the docs on how to export analytics.

[In this topic](https://github.com/MicrosoftDocs/appcenter-docs/blob/live/docs/analytics/export.md#export-crashes-attachments-and-errors) is mentioned the `blob_path_format_kind` but I can't find it documented in the [App Center API](https://openapi.appcenter.ms/#/export/ExportConfigurations_Create).

Need some clarification on this.

[2018-12-14 15:18] jwargo commented on #387
@jzeferino I'll have the team take a look at making a docs update for this, thanks for bringing it to our attention. In the mean time, App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Hel

[2018-12-14 15:49] shnaz commented on #308
Basically what I am referring to is the OneSignal's way of sending notification based on custom properties(filters): [Create notification based on filters/tags](https://documentation.onesignal.com/reference#section-send-based-on-filters-tags-create-notification)

Can you give an ETA for this kind of functionality so our team can know what to expect in the near future?

We are very excited about Ap

[2018-12-14 15:53] jwargo commented on #308
@shnaz I just took over responsibility for the Push service (and Azure Notification Hubs as well), let me chat with @dimazaid first and I'll get back to you.

[2018-12-14 15:55] jwargo commented on #386
@mattslight I'm not sure if that's possible. Let me have the PM take a look and respond.

[2018-12-14 16:00] shnaz commented on #308
Thanks @dimazaid.

Currently we have implemented a solution using OneSignal purely because of that feature. We use it to send notifications to specific users.

[2018-12-14 17:18] mattslight commented on #386
Thank you - really appreciate it. And please keep up the good work.

[2018-12-14 18:50] Zakeelm commented on #386
Hey there @mattslight

I'm not sure I quite understand the scenario you're trying to account for, can you clarify?
From my understanding, the CodePush server performs file-based diffing, which ultimately means only updated and new files are sent to client device.

[2018-12-14 19:00] mattslight commented on #386
Well the react-release command seems to bundle JS and assets in my case. The payload is about 4300Kb.

The payload size is fairly constant +/- 50kb and never seems to matter whether I do small or bigger changes (only ever to JS files).

The command I use is this: `appcenter codepush release-react -a ACCOUNT/PROJECT -d Staging --output-dir ./build`

[2018-12-14 19:06] mattslight commented on #386
Checking the build/codepush folder confirms the following:-

[code]

[2018-12-17 15:43] thiago-rcarvalho commented on #308
We need this feature too 😕
We are currently evaluating other services as App Center does not offer this.

[2018-12-17 15:49] smilingerdk commented on #308
This would be very useful for me too!

[2018-12-17 15:54] jwargo commented on #308
All - thanks for the feedback. As @dimazaid said, it's on our roadmap, but I can't provide an ETA at this time. Right now you can do this through custom properties and audiences, but I understand the need for a more ad-hoc way to do this.

[2018-12-17 15:54] #308 closed, assigned to dimazaid

[2018-12-17 18:40] nikitag-ms commented on #387
@jzeferino, thank you for pointing this out. We will fix the documentation, but I wanted to give you an update before it happens so that you have an idea what the property is about.

`blob_path_format_kind` can have two values: `WithAppId` and `WithoutAppId`. These allow you to configure the naming convention of blobs that App Center exports to your storage account.

- When `blob_path_format_kind

[2018-12-17 20:43] #387 closed, assigned to blparr

[2018-12-17 22:59] phil-lgr opened #388 "Cordova?"
Any ETA for Cordova builds?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06813350-a37b-a4a2-fdbc-a59caefb9f32
* Version Independent ID: 29787958-5b4e-efc2-2af5-2af0ee53216e
* Content: [App Center Build - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/)
* Content Source: [docs/build/index.m

[2018-12-18 05:23] mattslight commented on #386
Hi @Zakeelm - thanks for your help on this.

Is it clear what I am trying to achieve? Do you have any thoughts on whether my request is possible? My bundle size is rapidly increasing now over 5000Kb for every code push. I am concerned about the performance hit to my customers.

Thank you.

[2018-12-18 14:26] jwargo commented on #388
@phil-lgr We have no current plans to support Apache Cordova apps in the Build service; I'm sorry. That being said, I've been working on documenting this. I've gotten build working for Android projects and I'm this close to figuring it out for iOS applications. My plan was to write up some docs and a blog post by the end of the year (first draft was due last Friday) but I've not gotten it all work

[2018-12-18 14:26] #388 closed, assigned to nobody

[2018-12-18 14:34] jwargo commented on #386
@mattslight but we should be doing a delta comparison and only sending the changed assets. have you confirmed that all that data is being sent to the device?

[2018-12-18 18:31] Zakeelm commented on #386
I do understand and +1 on what @jwargo said. The diff should account for this and only send the changed assets. I do have a follow up question, are each of your CodePush releases proceeded by a binary release?

[2018-12-18 19:30] mattslight commented on #386
I subscribed to CodePush progress updates as per:

[code]

And then in render

[code]

That's how I came to know the size and I can 'watch' it downloading 5000Kb approx. I haven't used any network monitoring tools to actually confirm it, but I assume the CodePush progress methods are accurate.

[2018-12-18 19:39] mattslight commented on #386
From what I can tell there is no 'delta' comparison. CodePush deployment payload is as per the tree I sent above. As you can see it is sending assets as part of the payload.

The `appcenter codepush release-react` is actually using the following command to generate the payload bundle:

` bundle --assets-dest build/CodePush --bundle-output build/CodePush/main.jsbundle --dev false --entry-file index

[2018-12-18 19:42] jwargo commented on #386
@mattslight but to @Zakeelm's question, did you deploy a new binary before this?

[2018-12-18 19:43] mattslight commented on #386
@jwargo Deployed new binary means Xcode build and appstore publish?

[2018-12-18 19:52] jwargo commented on #386
yep, or deploy via USB to a local device.

[2018-12-18 19:56] mattslight commented on #386
I don't always deploy a new binary (but isn't that the point of CodePush?). What's your line of thinking?

[2018-12-18 19:58] jwargo commented on #386
@mattslight If you deploy a new binary with an older set of assets, then CodePush is going to deploy its whole bundle on sync.

[2018-12-18 20:01] mattslight commented on #386
@jwargo Sorry, I don't follow can you elaborate please.

Am I to understand from what you are saying that I should deploy a new binary to reduce the CodePush payload or that I shouldn't deploy a new binary?

[2018-12-18 20:41] jwargo commented on #386
@mattslight shouldn't.

[2018-12-18 20:44] mattslight commented on #386
Right - gotcha. So I generally only release a new binary if I link a new native library. If it's just JS updates then I codepush. The assets generally never change (app only has a few fonts, svgs and pngs).

[2018-12-18 20:46] mattslight commented on #386
@jwargo Does 5000 kb for incremental CodePush releases sound a lot to you? What payload sizes should I be expecting if a handful of lines of JS change from push to push?

[2018-12-18 20:54] jwargo commented on #386
@mattslight sorry, not an expert - I just own the docs. I do know that CodePush shouldn't be sending the whole package every time, should only be sending the changed assets. so, if you're getting everything, then we need to figure out why (whether it's your fault or ours :-)). At this point, the docs isn't the right place to be having this conversation. Can you please open App Center and click the

[2018-12-18 20:54] #386 closed, assigned to botatoes, Zakeelm

[2018-12-18 20:58] mattslight commented on #386
Sure no problem, I appreciate your help. Btw this really wasn't the conversation I wanted to have lol.

I came here because it says in the docs if I have a request for a feature I should raise it here. I was asking for a feature for `appcenter release-react` to have an option to exclude automatically adding the assets to the CodePush update.

Thanks for your time.

[2018-12-18 21:29] jwargo commented on #386
@mattslight yeah, unfortunately, I think you found a bug. :-)

[2018-12-19 09:32] Thomas0c opened #389 "AppCenter Distribution Groups automatic distribution behavior"
Hi there. I'm a migrating HockeyApp user and there is a feature which I'm missing. For Distribution Groups in AppCenter it seems that only `Collaborators` get pushed a new release automatically whereas for other distribution groups associated with the same app you have to manually release a new build using the UI.

In HockeyApp apps would automatically distribute to to users and distribution group

[2018-12-19 13:56] jwargo commented on #389
@Thomas0c thanks for reaching out. The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, or have a question about a hockeyApp feature, just click the blue chat button in the lower-right corner of any page

[2018-12-19 13:56] #389 closed, assigned to nobody

[2018-12-19 20:16] amoljain opened #390 "Android build generated by App center gives an error: "Unable to load script from assets 'index.android.bundle'.""
I created a build but it insta-crashes on device with an error: "Unable to load script from assets 'index.android.bundle'."

When I look at build logs, it looks like an 'index.android.bundle' was indeed generated but for some reason the app cant seem to find it.

I had to locally create a bundle by running: `react-native bundle --platform android --dev false --entry-file index.js   --bundle-output

[2018-12-19 20:43] jwargo commented on #390
@amoljain I'm not sure. The best option for you is to ask our support team. App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/getting-started/w

[2018-12-19 20:43] #390 closed, assigned to nobody

[2018-12-20 01:32] Damoness opened #391 "The Tip is good"
The Tip is good

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ea66d2d-1bcb-1fa1-a646-015d83c4407b
* Version Independent ID: aa263630-ae56-59f9-fe7d-a5b92d448bc7
* Content: [Distributing a build to the store - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/build-to-store#feedback)
* Content

[2018-12-20 01:32] #391 closed, assigned to nobody

[2018-12-20 07:19] Saransh-Sharma commented on #268
No Android Test Orchestrator support is a deal breaker for me. When is this support expected?

[2018-12-20 11:22] byrnedo commented on #212
@vforvasile Did you get an answer to this? I'm having the same trouble, I just have an 'if env is set' section in my signing config (as they describe in the react native docs) but it's failing on appcenter

[2018-12-20 16:32] glennwester commented on #268
Thank you for this feedback @Saransh-Sharma! I don’t have a timeline for this support yet, I’ll update here when I can share this.

[2018-12-20 20:12] pjkarels opened #392 "App bundle support"
Are there any plans to utilize the open sourced 'bundletool' that Google has provided to support building App Bundles?

[2018-12-20 20:16] jwargo commented on #392
@pjkarels The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, or have a roadmap question, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond

[2018-12-20 20:16] #392 closed, assigned to nobody

[2018-12-20 20:38] mowen0303 opened #393 "Push Notification not working on production App but working on developing model App"
When I use `react-native run-android` on my device , the push notification is working, the device can receive pushed message.

But,

When I use `./gradlew installRelease` to install a release app, can't receive push notification. (The push notification status on app center is success)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-12-20 20:39] jwargo commented on #393
@mowen0303 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informatio

[2018-12-20 20:39] #393 closed, assigned to nobody

[2018-12-21 14:42] technololy opened #394 "the best"
deeply simple.............you guys save the world

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b113ae49-c84f-05c6-e4fd-e414e5c64304
* Version Independent ID: a04ff30c-e14b-9b76-6dd3-223e05d3a8cb
* Content: [App Center API Documentation - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/api-docs/)

[2018-12-21 14:43] jwargo commented on #394
@technololy Thanks!

[2018-12-21 14:43] #394 closed, assigned to nobody

[2018-12-23 06:30] shahthepro opened #395 "Build scripts not detected"
I added a post-clone [build script to my repository](https://github.com/shahthepro/binault/commit/68b1b8572dc85cf465c66dcc6ae1fcc84076b3a8).

However, app center cannot detect the build script. It shows "None".

![screenshot_2018-12-23 build configuration binault app center](https://user-images.githubusercontent.com/10547529/50381328-44ccf300-06aa-11e9-8217-d029c04df8b4.png)

I have tried deleting

[2018-12-23 14:25] Damoness opened #396 "How to use Api 'getTransmissionTarget ' ?"
I can't find any information .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52a7f669-58a0-6700-13c5-e8f9c647943c
* Version Independent ID: eec16d36-776d-3438-ed39-ad8e98ff2c08
* Content: [App Center Analytics for React Native - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/analytics/react-n

[2018-12-24 03:56] truongkhanhduy95 opened #397 "Page not found when navigate from Microsoft blogs"
URL: https://blogs.msdn.microsoft.com/vsappcenter/mobile_cicd_101/
When clicked on the link: docs.microsoft.com/en-us/appcenter/build/custom/variables, the extra dot make it 404

![capture](https://user-images.githubusercontent.com/17457150/50390510-7907e880-076a-11e9-83ff-d4cb10e29660.PNG)

[2018-12-24 13:47] jwargo commented on #397
@truongkhanhduy95 Thanks. I'll have someone take a look.

[2018-12-24 13:51] jwargo commented on #396
@Damoness OK, i'll have the PM take a look at a potential doc update. In the mean time App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/gettin

[2018-12-24 13:54] jwargo commented on #395
@shahthepro The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informati

[2018-12-24 13:54] #395 closed, assigned to nobody

[2018-12-24 17:32] dhei commented on #396
Hi @Damoness, App Center RN SDK actually provides a set of private APIs for Microsoft internal users only. `getTransmissionTarget` is one of such APIs only for internal users, that's why it's not documented publicly. Sorry for the confusion.

[2018-12-26 13:29] 477447 opened #398 "-xxx"
jekyll

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31f23aa5-409f-7f45-8f4a-b6ea3f580419
* Version Independent ID: 4f34bc23-2820-3f28-272f-7a0554906b31
* Content: [App Center Build for iOS - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/ios/)
* Content Source: [docs

[2018-12-26 13:58] #397 closed, assigned to nobody

[2018-12-26 13:58] #398 closed

[2018-12-26 13:59] #396 closed, assigned to elamalani, blparr

[2018-12-26 20:23] nol13 commented on #179
still dont see it on firefox with everything disabled, is on chrome and safari, though the link don't work in any

[2018-12-27 21:04] jwargo commented on #179
@nol13 it feels like your message was incomplete, were you asking a question?

[2018-12-27 21:54] nol13 commented on #179
no, just fyi that it doesn't work

[2018-12-27 23:14] wizzard0 opened #399 "please add a note about ApplicationAttribute Debuggable"
on Android, SDK detects debug/release by reading android:debuggable from app manifest;
and this is set to TRUE by default even in release appcenter builds

Please add a note that one needs to include `[assembly: Application(Debuggable=false)]`, it would've saved us a couple of days debugging if it was documented.

Thanks in advance!

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-12-27 23:16] wizzard0 commented on #399
(debuggable:false is required for in-app updates to work)

[2018-12-28 09:00] thisisthekap opened #400 "Are the changes made in 1.11 reflected in the docs?"
Are the changes of 1.11 reflected in the docs? Especially this one:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6415607-5d22-0249-2537-1d7887b46f16
* Version Independent ID: 32fafbc0-515e-043f-3481-6f7c3fe2cc91
* Content: [App Center Push for Xamarin.iOS Apps - Visual Studio App Center](https://docs.microsoft.com/e

[2018-12-28 18:23] jwargo commented on #399
@wizzard0 I'll have the PM take a look.

[2018-12-28 18:26] jwargo commented on #400
@thisisthekap I'll have the PM take a look.

[2018-12-28 18:42] jaeklim commented on #399
@wizzard0 Thanks for the info and apologize for any inconvenience. I filed a bug for this one, we will review the step that you mentioned is required or investigate if it is caused by something else.

[2018-12-28 19:10] jaeklim commented on #400
@thisisthekap We've updated the doc based on what we've changed [here](https://github.com/MicrosoftDocs/appcenter-docs/commit/bf5bb8941d0c601a0d22e322b4cee7bb11cbcae3#diff-f2140d6a18cf520c5199b6107d87bef7).
The instruction that was mentioned in the CHANGELOG is still required for users who have `UNUserNotificationCenterDelegate` in apps and call `Push.DidReceiveRemoteNotification` from there. The

[2018-12-29 18:34] bnhassin opened #402 "End point builder"
App Center Document Read Contributing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06813350-a37b-a4a2-fdbc-a59caefb9f32
* Version Independent ID: 29787958-5b4e-efc2-2af5-2af0ee53216e
* Content: [App Center Build - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/)
* Content Source: [docs/bui

[2018-12-30 15:24] IgorGanapolsky opened #403 "assembleDebugAndroidTest"
I get an error:
&gt; Task 'assembleDebugAndroidTest' not found in root project

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28fe6afc-06ad-8465-f29a-04b2a118a378
* Version Independent ID: 73b3398b-23b8-230d-d296-8900e053096a
* Content: [Preparing Espresso Tests for Upload - Visual Studio App Center](https://docs.micro

[2018-12-31 14:12] jwargo commented on #179
@nol13 I see that now, checking into this. thanks for letting us know.

[2018-12-31 15:19] jwargo commented on #402
@bnhassin I don't understand the issue you're raising. Can you please clarify?

[2018-12-31 15:19] jwargo commented on #403
@IgorGanapolsky The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional infor

[2018-12-31 15:19] #403 closed, assigned to nobody

[2018-12-31 15:23] IgorGanapolsky commented on #403
My comment was about the incorrect command in the doc!  Makes sense???

On Mon, Dec 31, 2018, 10:19 AM John M. Wargo <notifications@github.com
wrote:

[2018-12-31 15:25] jwargo commented on #403
@IgorGanapolsky no, not really, sorry. All you did was report that you're getting an error, which is why I suggested you contact support. Can you please provide some additional information?

[2018-12-31 15:28] IgorGanapolsky commented on #403
Dude, read the linked doc above:

Now, the command in that doc is causing the error on my end.

[2018-12-31 16:28] nol13 commented on #179
Right, I guess I should use full sentences. Specifically, the links to the help topics after typing in a search were not working. Button wasn't showing in Firefox on mac. Thanks!

[2018-12-31 17:24] jwargo commented on #179
@nol13 OK, links from search are working for me, it's just the chat button that's missing (in three browsers). I have someone taking a look.

[2019-01-01 17:27] bnhassin commented on #402
Hi @jwargo Read document to understanding set up configurations git repo app centre for Android

[2019-01-02 15:05] jwargo commented on #402
OK, but you submitted an issue - do you have a question or comment about the docs? what's the purpose for the issue you submitted?

[2019-01-02 19:33] guperrot commented on #399
In Xamarin builds it's false in debug and true in release, including in App Center builds. It does require more investigation why this specific application does not behave the standard way.

[2019-01-03 20:34] bnhassin commented on #402
Finding Project Android don't Released in App Center User Build

[2019-01-03 20:48] jwargo commented on #402
@bnhassin I'm sorry, but I'm still not understanding the purpose of this issue. The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

If you need help - App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right c

[2019-01-03 20:48] #402 closed, assigned to nobody

[2019-01-03 22:13] tomisaacson opened #404 "Support for Bitbucket Server"
I got to this page from https://appcenter.ms/users/tom-isaacson-bkm5/apps/Link-iOS/build/connect/bitbucket where it said "We’re working on adding support for other code hosts." but there doesn't seem to be anything on the roadmap. When might you add support for Bitbucket Server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-01-03 22:50] guperrot commented on #399
Hi @wizzard0, normally if you build in release mode (including in AppCenter build), the application does not end up having debuggable=true by default. The default is false for release builds and we have tested with apps of our own.

Do you have any kind of customization in your app that would have switched this flag incorrectly to true? Like in the xml manifest or another file.

[2019-01-04 09:19] mikekpl opened #405 "AppCenter Post Test / Distribute Script"
This is more of a feature request than an issue. It will be more beneficial if we could have post-test script / post-distribute script much like of post-build scripts.

[2019-01-04 09:34] kuyazee opened #406 "Build scripts in Android not being detected"
According to the [documentation](https://docs.microsoft.com/en-us/appcenter/build/custom/scripts/), I should add the build script in the project level file.

As you can see on the image below there are two build.gradle's.

<img width="200" alt="screen shot 2019-01-04 at 5 29 27 pm" src="https://user-images.githubusercontent.com/17846698/50681460-882e4680-1046-11e9-9a05-ccdba94a0b97.png">

Since th

[2019-01-04 10:05] jjindrich opened #407 "Windows Store support is missing"
Hi, please could you add comments about Windows Store (public) ? When it will be supported ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee37f80-6f73-b27c-de32-bee9f66e1484
* Version Independent ID: 20201175-3afa-dd1f-bd9e-59f84b5ba8ca
* Content: [Publish to consumer and enterprise stores - Visual Studio App Center

[2019-01-04 13:09] jwargo commented on #404
@tomisaacson I've asked the PM to respond.

[2019-01-04 13:24] jwargo commented on #405
@mike14u OK, thanks. I'll pass this on to the PM team. Just so you know, a more direct way to provide product/roadmap feedback is through the blue chat button in the lower-right corner of any App Center page. That connects you directly to our dedicated support team and our PMs, so they're happy to take any feedback there.

[2019-01-04 13:24] #405 closed, assigned to nobody

[2019-01-04 13:26] jwargo commented on #406
@kuyazee thanks, I'll have the PM take a look at doing an update to the docs.

[2019-01-04 13:27] jwargo commented on #407
@jjindrich I've asked the PM to respond.

[2019-01-04 13:54] Oddj0b commented on #407
Short answer, not any time soon as we are focusing our effort into creating a compelling solution for HockeyApp customers.

I have noted it as a feature request.

[2019-01-04 13:54] #407 closed, assigned to botatoes

[2019-01-05 17:05] sseyod opened #408 "App Center - add to C++ app built as a Windows Application Packaging Project?"
[Enter feedback here]

How do I add support for App Center diagnostics / crash reporting to C++ apps for the Windows Store?

The style of C++ app in question, are Windows apps using "Windows Application Packaging Projects" to deliver them through the Windows Store. See https://docs.microsoft.com/en-us/windows/uwp/porting/desktop-to-uwp-packaging-dot-net for info on this, if that helps explain thin

[2019-01-07 16:49] jwargo commented on #408
@sseyod App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Center](https://intercom.help/appcenter/getting-started/welcome-to-app-center-support).

[2019-01-07 16:49] #408 closed, assigned to nobody

[2019-01-08 18:15] StefanKoell opened #409 "WinForms and WPF Support"
WinForms github issue has been closed.
WPF github issue is open but no confirmation yet.

We desperately need support for WinForms and WPF apps - at least for the analytics part. How hard can this be. The WinForms code base I got from MS was a private build and nobody cared to publish the source (Open Source?!). Now the code seems to be lost (according to MS). Really?! You can support macOS but no

[2019-01-08 18:27] jwargo commented on #409
@StefanKoell thanks for the feedback. The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, or when you have feedback on the roadmap, just click the blue chat button in the lower-right corner of any page a

[2019-01-08 18:27] #409 closed, assigned to nobody

[2019-01-09 16:46] jwargo commented on #399
@wizzard0 it feels like you've bumped into something more than a simple doc update, Do you have a response to the question from @guperrot?  Perhaps we should move this to the support queue - please log into App Center and click the blue chat button and start a discussion there.

[2019-01-09 17:32] nilofer commented on #404
Hi @tomisaacson, support for on-premise Bitbucket Server is not on our public short-term roadmap, and we don't have an ETA to share at the current time.

[2019-01-09 17:32] #404 closed, assigned to nilofer

[2019-01-09 17:37] elamalani commented on #400
@thisisthekap Closing this issue as the docs are updated with more information.

[2019-01-09 17:37] #400 closed, assigned to elamalani

[2019-01-10 14:25] dylanshine opened #410 "Screen Presentation Automatically?"
Does App Center track view controller presentation automatically?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea43ae40-337d-83b4-8129-85ff1a8c6ede
* Version Independent ID: d37ccc38-a4bc-5368-9b58-8720995f8bc2
* Content: [App Center Analytics for iOS - Visual Studio App Center](https://docs.microsoft.com/en-us/appce

[2019-01-10 15:02] hlynnerup opened #411 "Is Xcode project needed?"
Thank you for the description, even though I haven't had success yet sending push notifications to IOS devices…
I have a couple of questions to the above and Xamarin.IOS develoment in Visual Studio (Windows), that I hope you can help me with!
1. Do I have to create a project/app on the Mac - I would like to use the Mac as "slave" computer - ssh connected.

2. Creating an Xamarin.IOS app from scrat

[2019-01-10 16:27] jwargo commented on #410
@dylanshine The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informati

[2019-01-10 16:27] #410 closed, assigned to nobody

[2019-01-10 16:28] jwargo commented on #411
@hlynnerup The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informatio

[2019-01-10 16:28] #411 closed, assigned to nobody

[2019-01-11 14:22] wizzard0 commented on #399
Hmm, interesting. It certainly stays debuggable=true in release.

Currently we don't have time to try and minimize the reproduction steps, but I've noted this isn't an intended behavior in our bug tracking system, and if it will resurface with a smaller project then I'll post the details here.

Thanks for the updates!

[2019-01-11 16:49] vikram-v opened #412 "Offline Sync support"
Does this SDK supports offline sync for sending Custom events ? Say we want to capture some custom events when there is no network and send to Appcenter when the mobile app connects back to internet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae82f3e9-78b4-e743-1d4a-58dee115de10
* Version Independent ID: 50a18a62-5

[2019-01-11 17:00] TheWildUnicorn opened #413 "App Center is misspelled."
In the "Testing iOS Apps" section, under the "Installing an app" heading, App Center is misspelled. The sentence reads, "When you click on an app, Ap Center displays additional information about the app." It should read, "When you click on an app, App Center displays additional information about the app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-01-11 18:35] WarSunsOfPeace opened #414 "Carthage Binary Rate Limit"
I currently use the aws sdk in an ios app, this library is added through Carthage.  When Carthage is run it skips the binary because of an API rate limit.  When i run this locally it has no problems downloading the file.   The problem is building the aws-sdk from source takes too long and times out the build.  Is there a way to use our git hub credentials in the carthage dependency downloads?

***

[2019-01-11 19:30] guperrot commented on #399
If you really have debuggable=true for release builds, you would not be able to submit the application to Play Store, it would be a serious bug in the Xamarin build system, for now I still think this specific project has something odd that make it switch to true somehow. Will wait for your answer if you find anything.

[2019-01-12 17:19] #399 closed, assigned to elamalani

[2019-01-12 17:24] jwargo commented on #412
@vikram-v I'm assuming it caches data and uploads when it can, but I'm not certain. I'll ask the PM to respond. Don't forget that App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, see the [App Center Help Cen

[2019-01-12 17:26] jwargo commented on #413
@TheWildUnicorn thanks, I fixed it.

[2019-01-12 17:26] #413 closed, assigned to nobody

[2019-01-12 17:27] jwargo commented on #414
@w0mba7 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2019-01-12 17:27] #414 closed, assigned to nobody

[2019-01-12 17:33] blparr commented on #412
Hello! Yes, if the app is offline, the SDK will store up to 300 logs in storage. Once the network connectivity is restored, the SDK will send these logs to the App Center backend.
You can find this info in the Analytics FAQ as well: https://docs.microsoft.com/en-us/appcenter/analytics/faq

[2019-01-12 17:37] #412 closed, assigned to elamalani, blparr

[2019-01-14 22:05] jdnichollsc opened #415 "Missing Info for iOS (React Native)"
Hi guys, I can't see the JS code required to implement "Common tasks for push notifications". What're the callbacks to use from the react native part?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb94e7c4-0cce-e560-e548-5e0a930a4f75
* Version Independent ID: 5cc41638-30ea-62d5-de78-cb7a69c3aec2
* Content: [App Center

[2019-01-15 13:50] jwargo commented on #415
@jdnichollsc I'll have the team respond.

[2019-01-15 18:41] iamclement commented on #415
Hi @jdnichollsc, these callbacks are not accessible from JS directly you need to touch your native iOS apps to get to them. They are used for scenarios like _a notification is received in foreground_ or _a notification is tapped by the user_. The App Center JS callback `onPushNotificationReceived` cannot be used to detect those scenarios reliably. `onPushNotificationReceived` is still called but i

[2019-01-15 19:40] jdnichollsc commented on #415
@clpolet thanks for your response, but can you add any example to notify these scenarios to the JS code of the app? On the other hand, I don't know what happen in our app but the `onPushNotificationReceived` is not executed from iOS, only works for Android :/

[2019-01-15 20:59] nilofer commented on #406
Thanks for noticing this @kuyazee. We're fixing this in the docs.

[2019-01-15 20:59] #406 closed, assigned to nilofer

[2019-01-15 21:22] nilofer commented on #383
Thanks for the suggestion @ariya. We're updating this in the docs.

[2019-01-15 21:22] #383 closed, assigned to nilofer

[2019-01-15 23:32] iamclement commented on #415
So there is no JS code for the scenario we are talking about. I also responded to [this other GH issue](https://github.com/Microsoft/AppCenter-SDK-React-Native/issues/505) on the SDK repo :). Let's focus on the SDK issue first there might be some learning there.

[2019-01-16 00:36] thedevdavid opened #416 "iOS Device Debug"
The code should be

[code]

Because localhost is not working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39490e39-be97-2bba-5afc-6bc8bed39690
* Version Independent ID: 357a2070-e41c-b346-e18b-606eec7255c2
* Content: [Using the React Native SDK with CodePush - Visual Studio App Center](https://docs.microsoft.com/en-u

[2019-01-16 00:37] thedevdavid opened #417 "Codepush iOS Debug Device"
On real device the localhost isn't working. The code needs to be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39490e39-be97-2bba-5afc-6bc8bed39690
* Version Independent ID: 357a2070-e41c-b346-e18b-606eec7255c2
* Content: [Using the React Native SDK with CodePush - Visual Studio App Center](https://docs.micro

[2019-01-16 13:40] jwargo commented on #417
@DLevai94 thanks, we'll take a look.

[2019-01-16 13:41] jwargo commented on #416
@DLevai94 thanks, we'll take a look.

[2019-01-17 01:36] TheWildUnicorn opened #418 "Reference to iOS App"
Hi there,

In the "Installing an app" section of this document, in the first paragraph, there is a reference to a native mobile app. After contacting your team, I was told that there currently is no app for iOS that allows a developer to distribute a build to a tester via App Center. Can the documentation here be clarified? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-01-17 17:42] jwargo commented on #418
@TheWildUnicorn you're right - Android only. I'll make the change.

[2019-01-17 17:42] #418 closed, assigned to nobody

[2019-01-17 19:32] jdnichollsc commented on #415
I shared our example from the AC portal, you can use that to improve the documentation about the JS side 👍

[2019-01-18 01:07] cristianomarquesadmo1 opened #419 "The CALEBE TRUE"
Versio 1.1.2 of CALEBE TRUE
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64bf6eee-8421-34eb-a50e-78132fa8d45f
* Version Independent ID: 99cb3da9-7d74-8648-a438-de3849bd6a2c
* Content: [Unity SDK Troubleshooting - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/troublesho

[2019-01-18 02:46] brodymerritt opened #420 "3.7 NuGet Restore broken link"
The link for environment variables in this section redirects to Build Scripts instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf851143-9dbb-f208-f804-659694927d5b
* Version Independent ID: 8483c311-3184-2271-f6bb-d6bcfd682050
* Content: [Building Xamarin apps for Android - Visual Studio App Center](https://docs

[2019-01-18 08:48] michael-hawker commented on #54
@dparvin can we get that code added to the docs? I had found some other code elsewhere that was incorrect for some scenarios.

Ah, right, I was reading somewhere that CurrentRegion may always return US? https://stackoverflow.com/questions/44312188/how-to-get-users-region-on-windows-10-uwp

[2019-01-18 09:09] michael-hawker commented on #54
Tested on my VM, CurrentRegion returns US still when I change the Country/region in Settings.  `new Windows.Globalization.GeographicRegion().CodeTwoLetter` returns the proper result that I set in Region Settings.

[2019-01-18 13:24] jwargo commented on #419
@cristianomarquesadmo1 i don't understand what you're asking for or suggesting here. Can you please explain?

The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lo

[2019-01-18 13:29] jwargo commented on #420
@broderickmerritt thanks. Fixed.

[2019-01-18 13:29] #420 closed, assigned to nobody

[2019-01-18 13:39] jwargo commented on #54
@michael-hawker I'll ask the team to take a look - Don't forget, it's a public repo, we're happy to take pull requests. :-)

[2019-01-18 16:57] michael-hawker commented on #54
@jwargo good point, will do :) Buddy of mine pointed me to this commit in your samples which uses what I suggested as well:
https://github.com/Microsoft/AppCenter-SDK-DotNet/commit/46efe1f6a0832e7722a9273d43160c1cc6aa9825

[2019-01-18 19:11] AutumnEvans418 opened #422 "Get all registered devices and their custom properties"
I want to be able to get all registered devices and their custom properties.  This way I can send notifications to particular devices based on their custom property.  An audience will not work because it depends on the data in the notification.  Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beb96601-

[2019-01-18 19:50] jwargo commented on #422
@chrisevans9629 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional infor

[2019-01-18 19:50] #422 closed, assigned to jwargo

[2019-01-18 21:55] iamclement commented on #54
Hi there, the concern is legit but same comment then in the PR.
`Windows.Globalization.GeographicRegion().CodeTwoLetter` doesn't exactly fit the SDK use case. The SDK reports this country code as carrier country code which means it's not supposed to be provided by the user. There was a discussion around this in the App Center DotNet GH repository. We would need a sample using the location service

[2019-01-19 08:07] VahidShir opened #423 "How to send a silent push notification?"
How can we send **_silent_** push notifications in Android? By "silent" I mean a notification that doesn't show up in notification bar, so that user doesn't notice it.

I saw this [StackOverFlow ](https://stackoverflow.com/questions/49155493/how-can-i-send-a-silent-notifications-using-app-center-push-service)link but it seems it's not yet supported. So I wanna know if it's so, when the silent push

[2019-01-19 14:54] jwargo commented on #423
@VahidShir The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informatio

[2019-01-19 14:54] #423 closed, assigned to nobody

[2019-01-20 18:46] mikeroneer opened #424 "System.getenv() instead of System.getProperty()"
The code example does not work that way. As far as I know, `System.getProperty()` gets a Java property. Since we wanna get an environment variable there, `System.getenv()` should be used.

[2019-01-21 10:49] randallhelms opened #425 "Session and Device Information incomplete"
The Session and Device Information section is frustratingly incomplete:

'Once you add App Center Analytics to your app and start the SDK, it will automatically track sessions and device properties like OS Version, model, etc. without writing any additional code.'

Why wouldn't you provide a list of exactly which properties are automatically captured, or at least a link to such a list? This is a b

[2019-01-21 13:35] jwargo commented on #424
@mikeroneer Can you please provide me with some more detail? Which code example? I don't know which document you are referring to.

[2019-01-21 13:46] jwargo commented on #425
@randallhelms I'll pass the feedback on to the PM. I imagine what happened is we just assumed you'd follow the steps and add Analytics to an app. Once you do that, you'll see everything we capture in the dashboard. Is having the list of metrics going to change your interest in using the service? We capture the core stuff you'd want to be able to categorize devices running your application.

[2019-01-21 14:06] mikeroneer commented on #424
@jwargo The one in point 3 "Storing Signing Details in the Repository with Environment Variables" (https://docs.microsoft.com/en-us/appcenter/build/android/code-signing)

[2019-01-22 11:05] BuatApkOlshop opened #426 "BuatApkOlshop"
https://docs.microsoft.com/en-us/appcenter/build/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06813350-a37b-a4a2-fdbc-a59caefb9f32
* Version Independent ID: 29787958-5b4e-efc2-2af5-2af0ee53216e
* Content: [App Center Build - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/)
* Content Sourc

[2019-01-22 13:03] n1ru4l opened #427 "different node versions"
how can I specify whether I want to use node8 or node6?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 022126c7-2d61-9c53-6881-149310c137c0
* Version Independent ID: 4fe62fb4-6dd9-057e-8f57-fb4c6dcb71f8
* Content: [App Center Cloud Build Machines - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/bu

[2019-01-22 13:53] jwargo commented on #426
Do you have a question or comment on the documentation? I can't tell from your issue content what you're looking for.

The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button

[2019-01-22 13:53] #426 closed, assigned to nobody

[2019-01-22 13:56] jwargo commented on #427
@n1ru4l The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2019-01-22 13:56] #427 closed, assigned to nobody

[2019-01-22 14:40] n1ru4l commented on #427
@jwallra please add documentation on how to use preinstalled node8 instead of node6 and vice versa

[2019-01-22 15:02] Adegreenfinch commented on #337
How can a script written with appium and cucumber be adapted to work in app center?

[2019-01-22 15:05] jwargo commented on #337
@Adegreenfinch The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional inform

[2019-01-22 19:17] pahnev commented on #145
I agree. What is the build-dir supposed to be? I seriously can’t figure it out? And why is the iOS doc about this so much simpler and straightforward?

Aand why there is no integration with the Build? Why do we need to mess with these scripts? I’m sure I’m not the only one who would want to use AppCenter for the complete ci loop — from code push, to tests and to deployment.

[2019-01-22 19:28] matthiaswenz commented on #424
That is correct, thanks for bringing this up!

[2019-01-22 19:30] maestersid commented on #419
Not sure what the feedback actually is. Please re-open to clarify if needed.

[2019-01-22 19:30] #419 closed, assigned to maestersid

[2019-01-22 19:30] jwargo commented on #365
@botatoes ????

[2019-01-22 20:34] #424 closed, assigned to nilofer

[2019-01-22 21:00] iamclement commented on #415
@jdnichollsc thanks for your input we'll take it from here.

[2019-01-22 21:15] #415 closed, assigned to elamalani

[2019-01-22 23:21] sanjaypojo opened #430 "What about React Native? Are these env variables available in Javascript too?"
Can we access these env variables in javascript? Is it available at bundle creation? For example, if we set a variable called STAGE as 'development' in the AppCenter, is that equivalent to `STAGE=development react-native start`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97f3af3f-ef07-8896-4b3c-05cef163b51a
* Versi

[2019-01-23 02:53] nilofer commented on #427
@n1ru4l thanks for this suggestion. We'll take a look at this.

[2019-01-23 09:49] corteggo commented on #378
Next time, please update documentation early as you stated in https://github.com/MicrosoftDocs/appcenter-docs/issues/418. Thank you.

[2019-01-23 10:02] pahnev opened #431 "Improvements to the example"
I had to find this blog post https://blogs.msdn.microsoft.com/vsappcenter/visual-ui-testing-for-android-apps-with-espresso-and-studio-app-center/, to finally figure out what I should put for the `build-dir` parameter. I think you should improve the explanation of those parameters here in the docs.

I also think a lot of people would like to know how to integrate the build step with a test. Now the

[2019-01-23 13:01] jwargo commented on #378
@corteggo I'm sorry, I don't understand the point of your statement. If you have constructive criticism for the docs, please share it. I apologize if this omission caused you an issue - when the doc was created, we had an iOS version of the app available. Unfortunately, Apple did not allow us to publish the app to the App Store. Apparently we forgot to pull that reference after we failed to get th

[2019-01-23 13:25] jwargo commented on #430
@sanjaypojo they're build system environment variables, environment variables on the computer system executing your build. I'm not an expert, but as I understand it, if you're running a node script, then those environment variables are available to it (because they're environment variables and node offers a method to read them from the system running the node script). I don't think you can execute

[2019-01-23 13:32] jwargo commented on #431
@pahnev thanks, I'll have the PM take a look at making an update.

[2019-01-23 18:03] botatoes commented on #365
Hi, we are following the version and release semantics of Google and Apple. I will update the documentation to make it more clear.

[2019-01-23 18:03] #365 closed, assigned to botatoes

[2019-01-24 12:56] johnwargo opened #432 "Missing Authorization example"
The document doesn't show how to authenticate with the service outside of using the Swagger functionality.  I have an API token, how do I use it with REST requests from my app or from a testing tool like [Postman](https://www.getpostman.com/) or [ARC](https://install.advancedrestclient.com)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-01-24 19:52] justintoth opened #434 "Setting properties on unhandled exceptions"
This documentation shows how to set custom properties on handled exceptions in Xamarin (via Crashes.TrackError), however it doesn't show how to set custom properties on unhandled exceptions. This means that if an exception is caught then it will contain the extra properties (e.g. user and device data), however if the exception wasn't thrown in a try/catch then it won't have any of those exxtra pro

[2019-01-24 20:44] jwargo commented on #425
@randallhelms I spoke with the PM and she said she's going to do an update. I'm going to close this issue. Please reopen if you want to add anything to it

[2019-01-24 20:44] #425 closed, assigned to blparr

[2019-01-24 20:52] jwargo commented on #434
@justintoth I'll have the team look into making an update.

[2019-01-24 22:15] thyeggman commented on #434
Hi @justintoth - we don't support setting properties for crashes right now.  You can do something similar by adding a [crash attachment](https://docs.microsoft.com/en-us/appcenter/sdk/crashes/xamarin#add-attachments-to-a-crash-report).  If this is a feature you'd like, you can create an issue on our [.NET repo](https://github.com/Microsoft/AppCenter-SDK-DotNet/issues/new).

[2019-01-24 22:15] #434 closed, assigned to elamalani

[2019-01-24 22:49] justintoth commented on #434
This is a show stopper for us, as AppCenter is supposed to support everything that HockeyApp does and more. The Xamarin SDK for AppCenter seems very limited, as if it's in an Alpha stage, definitely not a product meant to replace HockeyApp by end of year. You can add a crash attachment to an exception that wasn't handled on app restart (via Crashes.GetErrorAttachments) but you can't add properties

[2019-01-25 14:22] glennwester commented on #145
Hi @BicycleMark, thanks for writing in and making us aware of this! We have a PR in the works and the doc will be updated soon.

[2019-01-25 14:30] glennwester commented on #431
Hi @pahnev, thanks for making us aware of this! We've updated and the PR should be merged shortly.

[2019-01-25 14:30] #431 closed, assigned to glennwester

[2019-01-25 16:10] lassana commented on #48
Hi @siminapasat is there any update on this?

[2019-01-25 17:14] nilofer commented on #48
Hi @lassana, we released support for iOS extensions recently! You can read more about it in our blog post: https://blogs.msdn.microsoft.com/vsappcenter/announcing-ios-app-extension-and-watchos-support-in-visual-studio-app-center/

[2019-01-25 17:16] lassana commented on #48
Cool! Thank you for rapid response!

[2019-01-25 18:32] angelru commented on #57
@BradVause Can it receive notification when app is closed?

[2019-01-25 20:17] ksmahesh commented on #268
hey @glennwester is android test orchestrator not in your roadmap anymore? I was given a response of "This feature is not in our [roadmap](https://docs.microsoft.com/en-us/appcenter/general/roadmap)." by one of the appcenter support folks. Can you please clarify? We do not want to wait for a feature that might never arrive. Thank you.

[2019-01-25 22:21] botatoes commented on #416
@DLevai94 We're having our codepush team doing a verification and will add it to the docs. Thanks! :)

[2019-01-25 22:26] botatoes commented on #417
Closing this as this is a duplicate.

[2019-01-25 22:26] #417 closed, assigned to botatoes

[2019-01-26 15:18] jefffhaynes opened #435 "OutputPath example appears to be incorrect"
In the "OutputPath" error resolution, the example path given is "YourProjectDir/bin/$(Configuration)".  However, this is not the typical output path, which would be "/bin/$(Configuration)".  This is either an issue in the documentation or the tooling.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52a5fe44-6d64-dc1d-9b

[2019-01-26 18:42] serkon opened #436 "Xcode gives Module 'AppCenter' not found error while Archive"
I generated Ionic 3 and 4 app. I have implemented the instruction as you described to my project. Then ran `ionic cordova build ios` for generate ios plaform. Opened it using Xcode for distrubition, then when i press 'Product/Archive' i am getting Module 'AppCenter' not found error.

There are also a lof of bug while installing you described above. Please check again is really working

---
#### Do

[2019-01-26 19:46] johnwargo commented on #436
@serkon The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2019-01-26 19:47] jwargo commented on #436
@serkon The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information,

[2019-01-26 19:47] #436 closed, assigned to nobody

[2019-01-27 06:52] ghost opened #437 ".NET Server Sample"
Please add a sample with a Web Api Controller . Is a wrapper SDK for the REST API planned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beb96601-f906-374d-b0d8-537e5f80de3e
* Version Independent ID: b66d21ae-1205-3d76-f577-d58891382c08
* Content: [App Center Push API - Visual Studio App Center](https://docs.microsoft

[2019-01-27 13:35] ghost opened #438 "Build Action GoogleServicesJson is missing"
I tried several times the procedure of adding the google-services.json to the Droid root folder as desccribed above including save, close and reopen but the Build Action *GoogleServicesJson* doesn't show up.
Any idea?

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von Problemen docs.microsoft.com ➟ GitHub erforderlich.*

* ID: edb6a101-b62b-95c8-32e

[2019-01-28 06:06] BradVause commented on #57
@angelru no I have not go that to work yet - not sure how to.

[2019-01-28 07:53] angelru commented on #57
@BradVause With Firebase Push Notification it's possible, me it works.

https://github.com/CrossGeeks/FirebasePushNotificationPlugin

[2019-01-28 08:19] glennwester commented on #268
Hi @ksmahesh, this is on our radar however I don't yet have a timeline to share. @Oddj0b will be able to speak more to this.

[2019-01-28 13:21] ghost opened #439 "Xamarin.Forms Android Launch Mode MainLauncher = true"
When the MainLauncher = true then you also have to add the OnNewIntent code mentioned in the documentation. I verified it! Without that code the AppCenter Push message notification doesn't show up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65373652-7eda-af01-0f72-d01fcce4c131
* Version Independent ID: f85b66b3-ca3

[2019-01-28 15:55] jwargo commented on #435
@jefffhaynes thanks for pointing this out, we'll take a look at an update.

[2019-01-28 16:03] jwargo commented on #437
@ericbrunner No plans for a wrapper SDK for the REST API that I'm aware of today, but we're planning on some updates to the API and the API docs over the next few months.

[2019-01-28 16:03] #437 closed, assigned to nobody

[2019-01-28 16:04] jwargo commented on #438
@ericbrunner The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional informat

[2019-01-28 16:04] #438 closed, assigned to nobody

[2019-01-28 16:11] jwargo commented on #57
@BradVause @angelru  The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional

[2019-01-28 16:37] ghost commented on #438
@jwargo Thanks for getting back and your clarification. My intend was to report some difficulties and provide enhancement in the documention.
If interested you can take a look here for further details:

https://developercommunity.visualstudio.com/content/problem/437373/build-action-googleservicesjson-missing.html

It took me 2 days in getting to a working PUSH enabled App with AppCenter.

[2019-01-28 18:27] octopotato commented on #435
Hi @jefffhaynes I just took a look at this and created a sample project. As you can see from the screenshot, following the instructions of the documentation (ourXamarin.Android > Project Options > Build > Output) does in fact display the output path as `YourProjectDir/bin/$(Configuration)`.

If you're referring to the `csproj`, then yes the typical output path is `bin/$(configuration)` which is re

[2019-01-28 18:51] jwargo commented on #438
@ericbrunner I'm so sorry to hear that - it's supposed to be a quick setup.   Please just use that chat button in App Center - it will get you help pretty quickly.

I'll ask the team to look at trying to make this easier

[2019-01-28 18:53] jwargo commented on #439
@ericbrunner best to ask support on this one, I can't help.

[2019-01-28 21:00] mussa-ibragimov opened #440 "Cloning builds for different branches"
Is there a proper(easy, fast and working) way of coping a build config and using it for another branch?

Right now I have an android application(java) configured build for my dev branch, but I want to build different branches so that my team can test the work before merging it to dev branch. Configuring builds is tedious and practically cannot be done for every branch.

Thank you.

[2019-01-28 22:52] guperrot commented on #439
Hi, I just tested in one of our application with MainLauncher = true and it does not require this call.
If you need it in your application, its because of another options on your activity, can you share the full attributes of that activity?

[2019-01-29 01:06] jwargo commented on #440
@mussa-ibragimov The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional info

[2019-01-29 01:06] #440 closed, assigned to nobody

[2019-01-29 02:32] ghost commented on #439
@guperrot Here my Code. I will verify it again today.
Test scenario:
1. App launched and in background (home button  pressed in phone)
2. Send Notification from AppCenter
Expected: Droid Notification in Notification Area

2nd Test will be the same WITHOUT the OnNewIntent override from the docs.
![screenshot_20190129-033035](https://user-images.githubusercontent.com/6480047/51880151-76ef0600-2376-1

[2019-01-29 16:08] ghost commented on #439
@guperrot You are right. That OnNewIntent code is in my case not required.

[2019-01-29 16:08] #439 closed, assigned to nobody

[2019-01-29 17:44] jlewicki-nevo commented on #223
I see this issue is closed, but I wanted to add to the feedback that not being able to add github PR checks to an existing app is truly lousy.  It's a shame since lots of the rest of the product is so good!

Hopefully this will be addressed at some point.

[2019-01-29 17:50] jwargo commented on #223
@jlewicki-nevo The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, especially if you have product feedback, just click the blue chat button in the lower-right corner of any page and our dedicated support

[2019-01-29 18:16] #435 closed, assigned to nilofer

[2019-01-30 16:04] K232 opened #441 "[AppCenterPush] Sound file 'default' not found; falling back to default."
In https://docs.microsoft.com/en-us/appcenter/sdk/push/xamarin-forms#android it says I could supply "default" for sound on Android, but if I do so I see the following messagein Application Output window:

 `[AppCenterPush] Sound file 'default' not found; falling back to default.`

Nevertheless it works fine, default sound is played as expected. Just wanted to let you know.

---
#### Document Detai

[2019-01-30 16:09] K232 opened #442 "How to specify icon for Android Push?"
On some androids, everything works fine: Push is received and correct icon is displayed. But on some Androids, only a blank box is shown :-(
I've tried supplying the default icon as shown in https://docs.microsoft.com/en-us/appcenter/sdk/push/xamarin-forms#configure-notifications-default-values
[code]
I've added "icon.png" in my drawable folder, as "AndroidResource" of course. Nevertheless it stil

[2019-01-30 16:20] jwargo commented on #441
@K232 thanks; I'll have the team take a look.

[2019-01-30 16:21] jwargo commented on #442
@K232 The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information, se

[2019-01-30 16:21] #442 closed, assigned to nobody

[2019-01-31 07:01] K232 commented on #442
Sorry @jwargo , I posted it here because I thought that the documentation might be updated. Currently there is no information about the requirements for the icon, and I guess there are at least recommendations regarding type (png jpg gif etc.) or width / height etc. so updating the documentation would also help other people using this feature.
Typically I'll just contact support if I'm sure I foll

[2019-01-31 08:26] hussam996 opened #443 "have an issue"
In my app if I have fresh or new install every thing work fine ..but when I update older version the Crash Happen at  " MSAppCenter.start   " in app delegate this is the crash error

[__NSArrayM objectAtIndexedSubscript:]: index 0 beyond bounds for empty array'

for more info :

est3lamat`+[MSDeviceTracker sharedInstance]:
    0x100afbb00 &lt;+0&gt;:  adrp   x8, 329
    0x100afbb04 &lt;+4&gt;:  ld