[2019-12-20 10:54] MatkovIvan commented on #853
Hi @yazoonic,

At the top of the page there is a drop-down list for choosing a language.

See https://github.com/MicrosoftDocs/appcenter-docs/issues/858#issuecomment-566868792

[2019-12-20 10:54] #853 closed, assigned to nobody

[2019-12-20 10:54] #858 closed, assigned to nobody

[2019-12-20 18:46] ahanag22 commented on #832
No, it won't take money automatically from the cart.

After the 30-day free trial the device test runs feature is disabled and you aren't automatically billed. The only way to reactivate the Test runs again is to start a subscription of our Test service.

Let me know if you have any additional questions.

[2019-12-20 19:41] ahanag22 commented on #809
Appium 1.11 is the highest supported version of Appium we have on the servers currently. There is a feature request on github that can be tracked from here: https://github.com/microsoft/appcenter/issues/1203.

Our product team is already aware about this issue and they moved Appium up in the list of priorities during the last bug triage meeting considering the importance of this feature. However,

[2019-12-20 19:58] ahanag22 commented on #802
Have you tried updating to the latest version of uitest https://www.nuget.org/packages/Xamarin.UITest/3.0.5?

Give us a status update if you still see the issue after updating.

[2019-12-21 16:26] akm0012 opened #873 "How to add files as environmental variable"
How can I add an environmental variable that is a file?

I am working on an Android app and I want to be able to completely control the build process and not have App Center do it automatically. But in order to do that I need my keystore file to be able to live as an environmental variable.

[2019-12-22 20:11] theill commented on #294
This documentation still references "code-push" CLI command instead of "appcenter". Did the PR not get merged?

[2019-12-23 08:30] gremito opened #874 "Appium Python"
I'm already using Appium and have Python test code.
Can Python (Appium) be used with Test Cloud?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed7c0d11-e60a-f088-e983-7465aca41515
* Version Independent ID: b2c6a308-1fcb-a385-239d-862b2c14114c
* Content: [Preparing Appium Tests for Upload - Visual Studio App Center](ht

[2019-12-23 10:18] cvo-4tell opened #875 "appcenter login return error"
appcenter login --token $APPCENTER_ACCESS_TOKEN

Error: can't login when token is set in environment variable APPCENTER_ACCESS_TOKEN
Error: Could not find a logged in profile, please note that this command is not compatible with the '--token' parameter or the token environment variable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-12-23 12:58] yazoonic commented on #858
Thank you.. is there any complete example for swift data. I am newbie to swift and I have this error
Argument type 'User' does not conform to expected type 'MSSerializableDocument'
Azure.ios provided complete docs on how to configure the class

[2019-12-23 15:54] jwargo commented on #294
@Zakeelm can you please take a look?

[2019-12-23 21:53] glennwester commented on #874
Hi @gremito, @Oddj0b would be happy to help with the above.

[2019-12-24 11:07] #832 closed, assigned to nobody

[2019-12-25 04:31] ronaldris21 commented on #373
I-m getting the same issue, what can I do?

[2019-12-26 03:14] caisd1998 commented on #565
@zigfreid5, I don't think customer will get universal binary if I don't enable bitcode, I checked the app size shown on TestFlight, it's close to my phone type's Install Size, neither Universal type's Download Size nor Install Size.

[2019-12-26 15:53] denisxaritonov opened #876 "release upload via CURL API does not work"
CURL:

curl -X POST \
    --header 'Content-Type: application/json' \
    --header 'Accept: application/json'\
    --header 'X-API-Token: &lt;my token&gt;'\
    -d "{\"release_id\": 8275,\
         \"build_version\": \"6.5.6\",\
         \"build_number\": \"8275\"\
        }"\
    'https://api.appcenter.ms/v0.1/apps/MyOrganization/MyAppName/release_uploads'

Response:
{"code":"bad_request","messag

[2019-12-26 17:30] jwargo commented on #373
@ronaldris21 ask our support team, the docs is not the place to get help with your code.

[2019-12-30 11:25] devStarscream commented on #587
Do you have any updates on this topic, please?

[2019-12-30 16:26] thomasgalliker commented on #281
@jwargo haha, seriously? If something is a REST API it means that there is no need to have an easy-to-use .NET API? This kind of thinking leads to cases where we end up with dozens of different nugets, all with more or less issues, different feature sets, different quality... Of course its not your task to implement it but Microsoft could at least host the official repository for such a project. A

[2019-12-31 10:09] PawelRutkowskiVIMN opened #877 "How to distribute apps to Android TV using AppCenter"
Hi
We are using AppCenter to distribute our apps for Mobile (Android/iOS) and we would like also to use it for Android TV.
How to do it?
Where to get AppCenter app for Android TV?

BR
Paweł Rutkowski

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40294974-bc6b-45af-f1bd-3bd8187153ac
* Version Independent ID: 21420d35-1

[2019-12-31 17:50] skynetrmz opened #878 "skynet"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba5bae42-8218-6f63-b28f-b6e6642f3ea2
* Version Independent ID: 1082232d-7609-692b-5d76-903a1134bf97
* Content: [Getting Started with App Center Test - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/test-cloud/getting-started)
* C

[2020-01-02 22:41] King-of-Spades commented on #878
There's no description of the feedback, was this submitted by accident? Please feel free to reopen with more details if you have some feedback for the doc.

[2020-01-02 22:41] #878 closed, assigned to nobody

[2020-01-06 01:43] thekeviv commented on #587
Hi,
We are building a Xamarin forms app and want to use App Center. We had the same issue that we want to use the native UI on mobile and I went through this thread to look for a solution. Your solution mainly seems to use ROPC. After doing some research on that, ROPC seems to have many limitations and its own page recommendations not to use it as it is relatively insecure and also limited due to

[2020-01-06 10:57] VickyAbishek opened #879 "Cordova Build"
Is the cordova build included in the current roadmap? When it will be available / Is it feasible?

[2020-01-08 02:32] yuenwinyun opened #880 "How can I upload our provision and cert files via open api and what about secure problems?"
Hi, according to API docs(/v0.1/apps/{owner_name}/{app_name}/branches/{branch}/config). We can upload our encoded provision and encoded cert file via API, but which format should I encode with? I also noticed that there are words like "secure file storage", how can I work with it? Will helpful if you can answer my questions.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-01-08 02:38] yuenwinyun commented on #880
https://openapi.appcenter.ms/#/build/branchConfigurations_create

[2020-01-08 16:50] SebastienMelki commented on #424
Just wanted to point out that this was closed a year ago yet the docs are still wrong on https://docs.microsoft.com/en-us/appcenter/build/android/code-signing  .. had to find this issue to fix my issue :(

[2020-01-08 16:54] jwargo commented on #424
@SebastienMelki we made a doc update based on the feedback, what's still wrong with the docs?

@ranterle and @nrajpurkar can one of you please take a look at this?

[2020-01-08 17:12] SebastienMelki commented on #424
Hey thanks for replying. Well I was getting nowhere with System.getProperty in section C of https://docs.microsoft.com/en-us/appcenter/build/android/code-signing and then I saw this issue to use environment variables instead (System.getenv) and it worked like a charm. But the docs still show System.getProperty, I might be missing something else?
<img width="958" alt="Screen Shot 2020-01-08 at 7 03

[2020-01-09 19:29] nilofer commented on #879
@VickyAbishek Build support for Cordova is not currently available. Please refer to our [non-docs repo](https://github.com/microsoft/appcenter/issues) for feature requests. The Cordova Build Support request can be found [here](https://github.com/microsoft/appcenter/issues/890).

[2020-01-09 19:29] #879 closed, assigned to nobody

[2020-01-09 19:30] nilofer commented on #873
@akm0012 check out our doc on how to use [environment variables ](https://docs.microsoft.com/en-us/appcenter/build/custom/variables/)in your build.

[2020-01-09 19:30] #873 closed, assigned to nobody

[2020-01-09 20:01] PRMerger6 commented on #756
GitHub user hamswan has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-01-10 05:07] botatoes commented on #877
Hi Pawel, we're current doing work to support tvOS. After we are done with that, we will look into Android TV as a platform.

[2020-01-10 14:26] olmisa commented on #730
Hi  @philhinco,  this information was added to the documentation. This issue will be closed since there is no answer for a long time. You could reopen this issue if it would be necessary. Thanks.

[2020-01-10 14:26] #730 closed, assigned to botatoes

[2020-01-12 03:12] #880 closed, assigned to amchew

[2020-01-12 19:03] Tiberriver256 opened #882 "Can't get App Center to see my tenant"
It just says, "No tenants found". I've created a free subscription, associated that subscription with the app in app center, created the Azure AD B2C tenant and associated it with the subscription and App Center still can't find it.

Is there a timing thing to this? Like do I need to wait a couple of hours after creating a B2C tenant and associating it to the subscription before App Center picks u

[2020-01-13 01:13] thekeviv commented on #882
I have been facing this issue from a week now and have had many conversations with support and they redirected me to the identity team to solve this but haven'r really gotten a solution for this. Even the data part doesn't work for me and it keeps logging me out, I am just getting so annoyed of app center that I am just going to use the azure sdk's until this product gets better, please fix this..

[2020-01-13 10:15] markusfassbender opened #883 "Signing unclear"
I don't understand how signing is handled in the mentioned scenarios. Can there be issues, for example ad-hoc vs. app-store?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edcd9010-7381-ef0a-85ee-3289b742c8de
* Version Independent ID: 63c5a53d-e211-a17e-e0c0-27638748da7d
* Content: [Publish to App Store Connect - Visua

[2020-01-13 12:22] tamil12345t commented on #496
does the list of IOS devices available for actual testing?i tried to create a new device set which will have only IOS devices,but when i search for iphone device to add ,i can't able to find any iphone devices?

[2020-01-13 12:50] tamil12345t opened #884 "IOS devices availability"
does the list of IOS devices available for actual testing?i tried to create a new device set which will have only IOS devices,but when i search for iphone device to add ,i can't able to find any iphone devices?

[2020-01-13 14:20] #884 closed, assigned to nobody

[2020-01-14 07:47] rajnikantpatel23 opened #885 "Offline feature working in 'Aeroplane Mode' only"
**Additional context**
The app is written using Xamarin Forms.
I am using App Center Auth+Data services in my Xamarin Forms Application. I have followed all the steps mentioned in the document.
https://docs.microsoft.com/en-us/appcenter/sdk/auth/xamarin
https://docs.microsoft.com/en-us/appcenter/sdk/data/xamarin

**Describe the solution you'd like**
App is working fine in **online** mode. But for

[2020-01-14 15:05] seb-giroux commented on #839
The "Getting Started" WPF page tells us to initialize AppCenter with AppCenter.Crashes, and here the page talks about WPF as well. Now where is the section that tells us how it works?

[2020-01-14 21:41] NCleverly commented on #882
I have had the same issue since the 6th and asked for updates twice no answer still.

[2020-01-14 23:34] Tiberriver256 commented on #882
Just discovered that "auth" + Azure AD is still a feature in the backlog:
https://github.com/microsoft/appcenter/issues/994

I would REALLY recommend hiding it in the App Center and your docs until it's finished. Although you do have it tagged as "preview" it still should be in some kind of working order before you display it to users. On top of that ghosting people with no response or apologies f

[2020-01-15 03:35] radderz opened #886 "build script for iOS/Android using powershell"
Do the iOS and Android build hosts have powershell installed? We currenltly use an Azure DevOps pipeline rather than a app center pipeline, if we could do powershell we could move over to these tools.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca50588e-c8ad-2b8e-683f-bc5fc612dfe4
* Version Independent ID: 5d9513bd-

[2020-01-15 12:12] abdallaemadeldin commented on #415
@jwargo @clpolet @clive107 @elamalani
how to pass the a flag when notification clicked to js?

[2020-01-15 17:43] King-of-Spades commented on #886
It looks like it does, according to this doc: https://docs.microsoft.com/en-us/appcenter/build/software#language-and-runtime

Though I haven't personally tested it.

[2020-01-15 17:43] #886 closed, assigned to King-of-Spades

[2020-01-16 02:25] yuenwinyun opened #887 "About alerting webhook API"
Could /v0.1/apps/{owner_name}/{app_name}/webhooks support POST method? I'm writing scripts to interact with appcenter, and slack webhook can't be added by openapi, and this would be dirty if I create a lot of app and I should manually add webhooks to every single app.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: b113ae49-c84f-05c6-e4fd-e414e5c64304
* Version Indep

[2020-01-16 09:32] ilyashumihin commented on #415
Hi, @abdallaemadeldin!
Thanks for getting in touch.

As stated in [this section](https://docs.microsoft.com/en-us/appcenter/sdk/push/react-native-ios#intercept-push-notifications) you can set up a listener to be notified whenever a push notification is received has been tapped by the user. Also you can set up [custom data](https://docs.microsoft.com/en-us/appcenter/sdk/push/react-native-ios#custom

[2020-01-16 13:37] luciodondaGLBNT opened #888 "Can't See stack trace after uploading symbols with CLI for android"
I'm using this command:
`appcenter crashes upload-symbols -a Company_Name/APP-GO-1 --breakpad Tnt-Android-2249-symbols-PS.zip --debug`
Altough im receiveing a correct response:
[code]
I'm still unable to see the correct stack trace on appCenter.

I didn't had any problem by doing this for the iOS version of the same app and uploading symbols by hand also works.

- Is there something we're doing wr

[2020-01-16 17:30] BillyBunn opened #889 "Crash data and statistics via API"
My team relies the metrics in our App Center dashboard, but we'd like to automate collecting this data with App Center's API. Specifically, there's no way to query the API for the crash data we need: "% of affected users" or "total crashes" (which appear as a graph in the dashboard).

How can we query for this data? Is there some simple math we need to do with the available routes or is there a si

[2020-01-16 20:00] cihan-m opened #890 "Need more information in purple sections"
Specifically this phrase: "will not delete existing data associated with the app". How do we delete existing data associated with the app then? Thanks!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67fac13b-a00b-2ac8-682c-66ea2b5841b9
* Version Independent ID: e11445ce-4afa-a87b-102b-97df2b868bc7
* Content: [How to st

[2020-01-16 20:03] cihan-m commented on #890
I kept reading, and in the Analytics section, I found a way to delete the user data, but it doesn't mention how to do a bulk delete for an entire app. How do we do that?

[2020-01-16 22:00] kashem11 opened #891 "Roadrunner 2"

[2020-01-17 16:59] timeyoutakeit commented on #891
Closing this as there are no details. If you find issues with the docs, please feel free to open another issue.

[2020-01-17 16:59] #891 closed, assigned to nobody

[2020-01-20 08:59] dipree commented on #890
Thanks for your feedback. The section speaks about how to "stop collecting data", the sentence in the purple section is correct and sufficient for the purpose of this page.

The deletion of install id's is addressed in separate sections for each service, e.g. https://docs.microsoft.com/en-us/appcenter/gdpr/analytics-forget-me for analytics. There's currently no way to bulk delete all data with an

[2020-01-20 08:59] #890 closed, assigned to ScottArbeit

[2020-01-20 09:03] dipree commented on #889
@BillyBunn the docs feedback is only for improvements in the documentation itself. Please open a support ticket so we can look into your scenario and answer your question accordingly. If you think that outcome affects the documentation somehow, we can still improve it.

[2020-01-20 09:03] #889 closed, assigned to amchew

[2020-01-21 10:33] sreejithvijayan opened #893 "Appcenter SDK unknowns"
There are still some unknowns in this SDK like the working of SDK methods like SetUserId, like how it behaves when multiple user ids are set from same device whether it will override? Also if same userid is being set from multiple devices, will the notification go to all devices?. Feels a need that these are common scenarios for any enterprise level implementation and needs to be documented here.

[2020-01-21 15:50] akm0012 commented on #873
@nilofer  That tells me how to use environment variables when they are Strings, Ints, Bools, etc. But is there not a way to store a file as an environment variable? I have a keystore file that I don't want to store in my repository.

[2020-01-22 08:39] Cload opened #894 "'AndroidAppConfigurator' does not contain a definition for 'AppBundle' and no accessible extension method 'AppBundle' accepting a first argument of type 'AndroidAppConfigurator' could be found"
In one of the examples there is the following line:
app = ConfigureApp.Android.AppBundle("/path/to/application.apk").StartApp();
Should it be  app = ConfigureApp.Android.ApkFile("/path/to/application.apk").StartApp(); ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a0474be-6e14-b8e6-b6cf-934a04f0e509
* Version Indepe

[2020-01-22 15:20] glennwester commented on #894
@Oddj0b for triage.

[2020-01-22 15:47] truefedex opened #895 "Can not figure how to add zip to minidump crashreport by rest api."
Please, show example of how to add attachments to minidump crashreport (so it will have two attachments as result - minidump and zip for example). I trying to make this in two separate calls and api responds "status":"Success"? and http 200 code for both, but in appcenter web UI I see only minidump.

---
#### Відомості про документ

⚠ *Не змінюйте цей розділ. Він необхідний для зв’язування питань

[2020-01-22 15:50] dipree commented on #895
@truefedex please reach out via support (blue button in the bottom right corner of App Center) so we can better investigate your issue. The purpose of the comment system in the documentation is only for improvement suggestions.

[2020-01-22 15:50] #895 closed, assigned to nobody

[2020-01-22 15:55] truefedex commented on #895
@derpixeldan this is my improvement suggestion: improve docs and add example of one important operation - adding logs to an existing error report in separate api call. Docs are currently missing this but there stated that it is possible:
https://docs.microsoft.com/uk-ua/appcenter/diagnostics/upload-crashes#upload-an-attachment

[2020-01-24 19:42] raubrey2014 opened #896 "Change "--symbols" option to "--symbol" in documentation"
In the `ios-symbolication`documentation found [here](https://docs.microsoft.com/en-us/appcenter/diagnostics/ios-symbolication#app-center-cli), the command to upload symbols via the appcenter cli reads:

[code]

That produces an error:
[code]

The command succeeds however for option `--symbol` as illuminated by this error message when --app is specified with no further options:
[code]

Appcenter cl

[2020-01-27 21:21] pfedotovsky opened #897 "Export archive data"
The page says "App Center continuously exports Analytics data to Application Insights from the moment you configure export along with 2 days of backfilled data."

Is it correct that it's not possible to export archive data (e.g. from 30 days ago)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba14a1fd-c1c2-f1a7-dd70-9

[2020-01-27 21:28] pfedotovsky opened #898 "Exporting raw data"
The page says I can export raw data in settings. But according to the
https://docs.microsoft.com/en-us/appcenter/analytics/export#feedback, I can export only 2 days to Application Insights. How can I export data from 30 days ago?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59d0fe9f-178c-2b98-f02d-ae2f0918abbe
* Vers

[2020-01-28 02:37] andrewlayman opened #899 "Typo"
Select the Build icon on the left side of the screen, it's a triangle arrow/playbutton.

should be

Select the Build icon on the left side of the screen.  It's a triangle arrow/playbutton.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c90c615b-f4be-f496-63fb-498d315fd59e
* Version Independent ID: 0088372d-5849-e037-00

[2020-01-28 03:09] andrewlayman opened #900 "Typo"
In this, "All React Native apps created on App Center are CodePush enabled by default, to start using CodePush you simply need to follow the following steps." the comma should be a semi-colon.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 609b687a-a22b-47e0-b20f-767a56109c47
* Version Independent ID: f6e679d5-638b-c15

[2020-01-28 17:08] marusack opened #903 "org.apache.maven.surefire.booter.SurefireBooterForkException: There was an error in the forked process"
Trying to develop a simple framework based in java+selenium+junit4.12+appium+app center
 im having problems running the suite in app center, all configured as the documentation shows, this error is happening only on appcenter log.
 the successful run in my local given bu mvn verify is:
mvn verify
[INFO] Scanning for projects...
[INFO]
[INFO] ---------------< pe.com.xxxxx.negocio:xxxxx-negocio-app

[2020-01-28 19:29] IronwoodSolutions opened #904 "Push Center Status"
As of January 2020,  Push Center is still in Preview state and per feedback from Microsoft it shouldn't be used in production environments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a9c2bfe-e6be-bce0-7d66-8af878cecffa
* Version Independent ID: 00ed44c9-1037-03b1-be92-0d2869cc4b23
* Content: [App Center Push - Vis

[2020-01-28 20:09] #904 closed, assigned to jwargo

[2020-01-29 06:45] lostmsu opened #905 "This page should mention, that feedback functionality from HockeyApp is no longer available"
And link to possible solutions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c28f5aa-d967-3bf1-9c96-c254a8c988ed
* Version Independent ID: 16c32455-d651-2eeb-8773-bbbd82b01536
* Content: [Incompatibilities when moving apps - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/transition/moving/incom

[2020-01-29 07:05] lostmsu opened #906 "Please clarify, if this functionality is supported for desktop apps"
Please, add the note, that this functionality is not available for desktop apps and/or UWP applications.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edc4748f-3820-3b4d-b6d5-f0566063ce30
* Version Independent ID: 103d8b55-8719-dcaa-0670-d22e46e328cb
* Content: [Enable In-app Updates - Visual Studio App Center](https:

[2020-01-29 08:35] AhmedAdelAlDesouqy commented on #462
Any update about this issue?
I'm using App Center with Xamarin.Android and there are still no line numbers in the crash reports :(

[2020-01-29 11:49] kinkard opened #907 "Custom crash upload with minidump fails if `wrapperSdkName` set"
Hi there!

I try to migrate from HockeyApp to the AppCenter and faced the following issue:
when I try to send my minidump as described in https://docs.microsoft.com/en-us/appcenter/diagnostics/upload-crashes#upload-a-breakpad-crash-log-and-minidump nothing happens (no report in AppCenter)
but if I remove `"wrapperSdkName": "custom.ndk"` from JSON report successfully appeared in AppCenter but witho

[2020-01-29 11:55] kinkard opened #908 "Support chat not work"
Blue bubble chat in AppCenter not work:
![image](https://user-images.githubusercontent.com/10885920/73354686-5b7b4b80-42a7-11ea-9e27-3e51e0c7e8d0.png)

--
OS: Windows 10 Enterprise, version 1903, build 18362.592
Browser: Google Chrome Version 79.0.3945.130 (Official Build) (64-bit)

[2020-01-30 16:37] ElYusubov commented on #856
Do we have any timeline when we could expect requested feature/documentation?

[2020-01-30 18:14] joaocc opened #909 "Is Unity.UWP for Hololens supported?"
From the tables it is not clear if Unity UWP for Hololens are supported or not.
Thanks

[2020-01-30 18:19] timeyoutakeit commented on #909
Thanks for filing an issue @joaocc. For clarity, could you share the page you are referring to here?

[2020-01-30 19:13] joaocc commented on #909
Sorry for not having done that in the first place.
https://docs.microsoft.com/en-us/appcenter/general/platform-service-matrix
Thx

[2020-02-01 00:44] #900 closed, assigned to iageoghe

[2020-02-01 10:24] thomasgalliker commented on #281
I use this nuget to send push notifications from my aspnet core backend to users: https://www.nuget.org/packages/AppCenter.Push.Server

All services are abstracted with interfaces for easy IoC’ing and testability.

Any feedback is welcome 👍

[2020-02-03 23:56] lbrownell-gpsw commented on #785
Very late reply @tomhaycockwest -- note that my response prior to yours indicates that it was working then, for me. Version and build are indeed strings (thus, no restrictions), and the release ID is the App Center ID. You needn't pass them if the app type is one that App Center can dig into the bundle and determine what they are (e.g., iOS, Android).  Others, not so much (especially "Custom", whi

[2020-02-04 15:53] jwargo commented on #765
@balivo I'm assuming you have this issue addressed. In case you missed it: We announced yesterday in a [blog post]( https://devblogs.microsoft.com/appcenter/app-center-mbaas-retirement/) that we’re retiring the Push service later this year and recommending customers transition to Azure Notification Hubs instead. The good news is that the same team operates both App Center Push and Azure Notificati

[2020-02-04 15:53] #765 closed, assigned to jwargo

[2020-02-04 16:57] balivo commented on #765
Yes @jwargo, and I moving to new services... Tks!

[2020-02-04 19:38] fredrikhaglund commented on #804
The reason for step 2.3 is partly explained further down in section "How do in-app updates work?".

Might be good to explain that iOS requires that you registers a unique schema/protocol to enable information to be transferred from a browser to a specific app via navigation to an url?

[2020-02-04 22:10] ataparia opened #913 "Xamarin android constantly fails with error - jarsigner failed with return code: 1"
Hello All,
I have setup Xamarin Android app to be build on the app center but it constantly fails with the following message:
--------------------------------------------------------------------------------------------------------------
jarsigner: unable to sign jar: java.util.zip.ZipException: invalid entry compressed size (expected 35616 but got 36379 bytes)
##[error]Error: /usr/bin/jarsigner fa

[2020-02-05 08:07] WolfyUK commented on #882
App Center Auth _could_ be configured for one of our apps towards the end of last year. Trying to configure this again in a new app against a different Azure subscription/tenant now fails with the error described above. The best we have got from the support team is:

When it was working, one of the 'features' of the Auth configuration was having to wait ~60 minutes after making a change for it to

[2020-02-05 16:23] timeyoutakeit commented on #913
Hello, this forum is only used for issues with the documentation. For product support, please use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 16:23] #913 closed, assigned to nobody

[2020-02-05 16:24] lbrownell-gpsw opened #914 "Custom OS upload file types"
The page in question, in the section about **Custom Operating Systems**, says:

This is true for a Windows .exe we have (these are Adobe plugins, not actual apps, but they have installers), but it's not the case for a Mac .pkg file -- no need to zip it.

There may be other formats that are directly supported as well.  Please revise this one-line section with this information.  Also, would be good

[2020-02-05 16:25] timeyoutakeit commented on #908
Hello, this forum is only used for issues with the documentation. For product support, please use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 16:25] #908 closed, assigned to nobody

[2020-02-05 16:30] timeyoutakeit commented on #907
Hey @winnie could you take a look at this issue? We might need some additional clarity in the docs.

[2020-02-05 16:35] maestersid commented on #909
@joaocc What support are you looking for specifically, I would love to learn more? I have had a few conversations with Hololens customers but we have not tested our SDK's with Hololens to date.

If anything, analytics & diagnostics SDK's could work, but again we have not tested them. My understanding of the distribution process for getting apps to devices that distribution so that likely is not su

[2020-02-05 16:35] timeyoutakeit commented on #905
Hey @dipree, is this something you can help address? Thanks!

[2020-02-05 16:36] timeyoutakeit commented on #903
Hello, this forum is only used for issues with the documentation. For product support, please use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 16:36] #903 closed, assigned to nobody

[2020-02-05 16:44] #899 closed, assigned to King-of-Spades

[2020-02-05 16:46] timeyoutakeit commented on #898
Hey @bailey, would you be able to assist with this? Thanks!

[2020-02-05 17:00] timeyoutakeit commented on #896
Thanks for filing this @raubrey2014. I've sent the fix to the author and the doc should be updated soon.

[2020-02-05 17:02] timeyoutakeit commented on #894
@Oddj0b Could you please take a look at this and make the change, if necessary?

[2020-02-05 17:04] timeyoutakeit commented on #888
Hello, this forum is only used for issues with the documentation. For product support, please use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 17:04] #888 closed, assigned to nobody

[2020-02-05 17:11] timeyoutakeit commented on #887
Hello, this forum is only used for issues with the documentation. For feature request, see the [App Center public repo](https://github.com/Microsoft/appcenter/issues/new/choose).

[2020-02-05 17:11] #887 closed, assigned to nobody

[2020-02-05 17:12] timeyoutakeit commented on #885
Hello, this forum is only used for issues with the documentation. For product support, please use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 17:12] #885 closed, assigned to nobody

[2020-02-05 17:13] timeyoutakeit commented on #883
@Oddj0b Is this something that you can add some clarity too? Thanks!

[2020-02-05 17:29] timeyoutakeit commented on #914
Hey @ahdbilal, could you please address this docs issue? Thanks.

[2020-02-05 17:30] timeyoutakeit commented on #906
Hey @ahdbilal, could you add a note on this to the doc? Thanks.

[2020-02-05 17:33] timeyoutakeit commented on #756
Hey @ahdbilal, would you be able to add some clarification to this document? Thanks.

[2020-02-05 17:41] #760 closed, assigned to nobody

[2020-02-05 17:42] timeyoutakeit commented on #764
Hello, this forum is only used for issues with the documentation. For feature request, see the [App Center public repo](https://github.com/Microsoft/appcenter/issues/new/choose).

[2020-02-05 17:42] #764 closed, assigned to nobody

[2020-02-05 17:42] timeyoutakeit commented on #796
Hello, this forum is only used for issues with the documentation. For product support, please use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 17:42] #796 closed, assigned to nobody

[2020-02-05 17:53] timeyoutakeit commented on #800
Hey @dipree, is this something you can address?

[2020-02-05 17:54] timeyoutakeit commented on #801
Hey @elamalani, do we have documentation to address this?

[2020-02-05 18:04] #840 closed, assigned to nobody

[2020-02-05 18:06] timeyoutakeit commented on #802
Hello, this forum is only used for issues with the documentation. For product support, please use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 18:08] timeyoutakeit commented on #804
Hey @ahdbilal could you add some clarity to the relevant section? Thanks.

[2020-02-05 18:12] timeyoutakeit commented on #806
Hey @winnie @ahdbilal, I'm not sure which of you this falls under, but it looks like some clarification is necessary here.

[2020-02-05 18:31] jwargo commented on #807
@vinjegaard I'm not aware of a way to do that via the SDK. That would be something you can do using the APIs provided by the device OS.

[2020-02-05 18:31] #809 closed, assigned to nobody

[2020-02-05 18:32] timeyoutakeit commented on #810
Hello, this forum is only used for issues with the documentation. For product support, please use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 18:32] #810 closed, assigned to nobody

[2020-02-05 18:33] timeyoutakeit commented on #811
Hello, this forum is only used for issues with the documentation. For product support, the quickest way to get help is to use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 18:33] #811 closed, assigned to nobody

[2020-02-05 18:36] maestersid commented on #813
Hi @ChuckWalters not at this time no, our Unity support is mainly around Android/iOS scenarios, as well as UWP for what it supports.

[2020-02-05 18:40] #813 closed, assigned to nobody

[2020-02-05 18:44] timeyoutakeit commented on #815
Hey @ahdbilal, could you fix these steps? Thanks.

[2020-02-05 18:47] #802 closed, assigned to nobody

[2020-02-05 18:49] timeyoutakeit commented on #818
Hello, this forum is only used for issues with the documentation. For product support, the quickest way to get help is to use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 18:49] #818 closed, assigned to nobody

[2020-02-05 18:49] timeyoutakeit commented on #820
Hello, this forum is only used for issues with the documentation. For feature requests, use the [App Center public repo](https://github.com/Microsoft/appcenter/issues/new/choose).

[2020-02-05 18:49] #820 closed, assigned to nobody

[2020-02-05 18:50] timeyoutakeit commented on #821
Hello, this forum is only used for issues with the documentation. For product support, the quickest way to get help is to use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 18:50] #821 closed, assigned to nobody

[2020-02-05 19:27] joaocc commented on #909
Sure. We are creating Hololens applications for manufacturing, that will then be distributed to devices in different organizations.
We are looking for platforms that can build these Unity/UWP/Hololens apps, and also manage the distribution in enterprise scenarios.
According to the services matrix, there is no support for Unity-* in "Build".
Also, Unity-UWP is listed in "Distribute", so we were won

[2020-02-05 19:31] maestersid commented on #909
Got it. Those are the two tricky areas. For Build, GitHub Actions would be a better avenue to look. We likely won't bring support into App Center. You an can see some of the efforts being done with Actions here: https://github.com/webbertakken/unity-actions
I suspect it may work for Hololens applications as well, though I have not tried it myself. Actions is still new.

For distribution we don't h

[2020-02-05 19:49] AhmadKelany commented on #820
Hello,
I am not requesting a new feature,

I am just requesting the documentation of the use cases in VB along with C#..

[2020-02-05 20:04] #830 closed, assigned to nobody

[2020-02-05 20:10] timeyoutakeit commented on #837
Hello, this forum is only used for issues with the documentation. For product support, the quickest way to get help is to use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 20:10] #837 closed, assigned to nobody

[2020-02-05 20:11] timeyoutakeit commented on #839
Hey @winnie, is this something you can address? Thanks!

[2020-02-05 20:18] timeyoutakeit commented on #842
I can't find this issue in our docs, so I'm closing it as I'm assuming it's fixed. If you can point me to the issue, I'll gladly fix it. Thanks!

[2020-02-05 20:18] #842 closed, assigned to nobody

[2020-02-05 20:18] #844 closed, assigned to nobody

[2020-02-05 20:20] timeyoutakeit commented on #845
Hey @ahdbilal can you confirm and update the docs if necessary? Thanks!

[2020-02-05 20:22] timeyoutakeit commented on #846
Hello, this forum is only used for issues with the documentation. For product support, the quickest way to get help is to use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 20:22] #846 closed, assigned to nobody

[2020-02-05 20:22] timeyoutakeit commented on #848
Hello, this forum is only used for issues with the documentation. For product support, the quickest way to get help is to use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 20:22] #848 closed, assigned to nobody

[2020-02-05 20:23] timeyoutakeit commented on #850
Hello, this forum is only used for issues with the documentation. For product support, the quickest way to get help is to use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 20:23] #850 closed, assigned to nobody

[2020-02-05 20:23] timeyoutakeit commented on #851
Hello, this forum is only used for issues with the documentation. For product support, the quickest way to get help is to use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 20:23] #851 closed, assigned to nobody

[2020-02-05 20:32] timeyoutakeit commented on #856
@ahdbilal @Zakeelm IS this something either of you have insight in to?

[2020-02-05 20:33] timeyoutakeit commented on #859
Hey @Oddj0b, would you be able to address this? Thanks.

[2020-02-05 20:35] timeyoutakeit commented on #864
Hello, this forum is only used for issues with the documentation. For product support, the quickest way to get help is to use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 20:35] #864 closed, assigned to nobody

[2020-02-05 20:42] #865 closed, assigned to nobody

[2020-02-05 20:42] timeyoutakeit commented on #866
Hello, this forum is only used for issues with the documentation. For product support, the quickest way to get help is to use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 20:42] #866 closed, assigned to nobody

[2020-02-05 20:43] timeyoutakeit commented on #867
Hey @elamalani, could you update this doc?

[2020-02-05 20:44] timeyoutakeit commented on #868
Hey @ahdbilal, do you know the answer to this? Thanks!

[2020-02-05 20:45] timeyoutakeit commented on #869
Hello, this forum is only used for issues with the documentation. For product support, the quickest way to get help is to use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 20:45] #869 closed, assigned to nobody

[2020-02-05 20:45] timeyoutakeit commented on #870
Hello, this forum is only used for issues with the documentation. For product support, the quickest way to get help is to use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-05 20:45] #870 closed, assigned to nobody

[2020-02-05 20:49] maestersid commented on #834
Hi @bakerm00 sorry for the delay in this response. You need to be a subscription owner to associate it with an App Center organization, as mentioned here in the doc: https://docs.microsoft.com/en-us/appcenter/general/azure-subscriptions#connecting-to-an-existing-azure-subscription

[2020-02-05 20:50] maestersid commented on #861
That is fine, you would just associate the same Azure subscription to each Organization. Should not be an issue.

[2020-02-05 20:51] maestersid commented on #862
Could you clarify what you mean by minimal permissions to the Azure AD Enterprise app?

[2020-02-05 22:27] dhei commented on #807
There is no way to do that via App Center SDK. You will need to use OS API from Android or iOS to check that.

[2020-02-05 22:31] askpatrickw commented on #856
App Center Auth is being deprecated for using Azure AD B2C directly, so this team is no longer the place to seek help.
https://devblogs.microsoft.com/appcenter/app-center-mbaas-retirement/

The right place to focus attention is on the Azure AD group.

[2020-02-05 22:31] #856 closed, assigned to Zakeelm, ahdbilal

[2020-02-05 22:59] dhei commented on #835
Hi @viktorszekeress,

 `Crashes.TrackError(exception, attachments: attachments)` API is available on UWP since SDK v2.6.1 (https://github.com/microsoft/appcenter-sdk-dotnet/releases/tag/2.6.1).

Please check whether you are using a version no later than 2.6.1 to be able to use that API.

[2020-02-05 22:59] #835 closed, assigned to ahdbilal

[2020-02-06 00:56] dhei commented on #855
The behavior is documented at https://docs.microsoft.com/en-us/appcenter/sdk/push/xamarin-forms#subscribe-to-the-push-event.

When the notification is received in the background, if the event is only fired when user clicks on it. If user never clicks on it, then the event is not triggered.

[2020-02-06 00:56] #855 closed, assigned to ahdbilal

[2020-02-06 01:35] dhei commented on #852
Hi @felix-voicehub,

Thanks for your feedback, that's a great point.

This sentence is unclear about what does "approval from the user" actually means. The intention is to let the application have some custom UI (not provided by App Center SDK) to ask the user to opt-in for Push notification, then call `Push.setEnabled(true)` to enable Push notification.

iOS Push notification only works on iOS ph

[2020-02-06 01:35] #852 closed, assigned to ahdbilal

[2020-02-06 02:39] ahdbilal commented on #815
closing this as this is no longer relevant

[2020-02-06 02:39] #815 closed, assigned to ahdbilal

[2020-02-06 03:10] winnie commented on #907
Hi @Kinkard - just to confirm are you uploading a Windows native crash?

[2020-02-06 06:01] kinkard commented on #907
Hi @winnie, yes, I uploading windows native crash and debug symbols to have the same functionality as with HockeyApp.
Fortunately, AppCenter is able to handle windows minidump files.

Anyway, documentation should cover that project type (WPF/UWP/...) should match to the sdkName value in json (appcenter.wpf/appcenter.uwp/...), otherwise crash reports may silently be ignored by AppCenter.

[2020-02-06 07:58] WolfyUK commented on #882
The answer may have just arrived: https://devblogs.microsoft.com/appcenter/app-center-mbaas-retirement/

[2020-02-06 08:34] dipree commented on #800
@ilyakaz it's an example that uploads to HockeyApp. For App Center this can be done setting up Distribute via the Build Configuration in the UI.

[2020-02-06 08:43] dipree commented on #905
@lostmsu thanks for the feedback. We're updating the documentation with regards to the HockeyApp transition as HockeyApp will be shut down on February 10th and this page won't be part of it any longer.

[2020-02-06 08:43] #905 closed, assigned to dipree

[2020-02-06 08:45] dipree commented on #805
@dill0wn no, it's not possible. Please open a feature request in our public [GitHub repository](https://github.com/microsoft/appcenter/) so we can better track your request.

[2020-02-06 08:45] #805 closed, assigned to dipree, ahdbilal

[2020-02-06 14:26] winnie commented on #806
@breyed thanks for the feedback! If your attachment size is above 7 MB, an error message will print out in the device logs and App Center will discard the attachement from being sent. However the crash will still be reported. Hope that clarifies things a bit! I will submit a PR to make the docs more clear.

[2020-02-06 15:34] Tiberriver256 commented on #882
Haha thanks for that @WolfyUK. I'll take that as an answer. Still feel kinda shafted that no MSFT person ever stooped to give an answer on this thread but A+ to Microsoft for putting this stuff on Github so the community can be awesome.

[2020-02-06 15:34] #882 closed, assigned to Zakeelm

[2020-02-06 17:13] Oddj0b commented on #894
You're correct @Cload, I just created a PR.

[2020-02-06 19:22] #894 closed, assigned to Oddj0b

[2020-02-06 19:23] #896 closed, assigned to nobody

[2020-02-06 21:54] rgbworld opened #916 "Incorrect usage of notifyWithUserConfirmation"
On macOS, UIAlertView does not exist (it is iOS only), so I am unable to implement 'alertView:clickedButtonAtIndex' as described.

Rather than using 'setUserConfirmationHandler', I've  implemented 'hasCrashedInLastSession' where - when true, I display an NSAlert to ask the user for confirmation to send the crash report. Depending on the button pressed, I still call MSCrashes.notify(with: .send) as

[2020-02-07 02:34] elamalani commented on #857
@cvo-4tell Where do you want to upload the iOS symbol files? This link might be helpful - https://docs.microsoft.com/en-us/appcenter/build/ios/first-build#43-the-symbols-file-dsym

[2020-02-07 18:13] #807 closed, assigned to nobody

[2020-02-08 01:16] andrewleader opened #917 "Partner Center doesn't have option to download symbols as described in this doc"
The Manage package -&gt; Show packages -&gt; Show details doesn't have any options to download the symbols. Maybe something changed in Partner Center and the doc is outdated? I can't find anywhere in Partner Center to download symbols though...

![image](https://user-images.githubusercontent.com/13246069/74076587-b14da300-49cd-11ea-8804-dde54dd7cdce.png)

---
#### Document Details

⚠ *Do not edit

[2020-02-08 04:05] Acker2015 opened #919 "Confirm whether the crash upload api of Hockeyapp would remain functional?"
For the old crash HockeyApp API endpoint: **https://rink.hockeyapp.net/api/2/apps/%s/crashes/upload**
I am not sure if this API has been used in Hockeyapp SDK. So I want to confirm whether this api endpoint would remain functional.

Thx.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7efdb99a-c6d6-82e3-0223-81d7a9b9c99

[2020-02-09 17:47] GaryMeyers1 opened #920 "Needs to be updated"
The Devices and Simulators screen is different in Xcode 11. The Simulators screen has a "Show as run destination" that I was looking for more information on but it's not addressed here because you're using the old screenshot. I have unselected the checkbox in Xcode for the simulators that I don't want to see.  However, after exiting Visual Studio for Mac and Xcode and coming back in, the unselecte

[2020-02-10 11:29] akm0012 opened #921 "Feature Request: Distribute Debug Android Builds"
I would like to request that Debug Builds be allowed to be Distributed. I think it's a completely valid use case to have only two build variants of an app, `Debug` and `Release`. `Debug` is used for all internal testing and development, while `Release` is used for what is going on the App Store.

In my situation, our QA Team would test the `Debug` build internally and it was distributed using Hock

[2020-02-11 11:54] jozefizso commented on #408
@jwargo your answer does not address OP issues at all.

When will C++ SDK exist for AppCenter?

[2020-02-11 13:57] jwargo commented on #408
@jozefizso as I tried to make clear, this is not the place to ask product or product support questions.  As I explained in my previous answer, we have a dedicated support team available through that blue chat button in the lower-right corner of every App Center portal page. If you have questions about the availability of a feature, ask there - not here in the docs. If you want to request a feature

[2020-02-11 18:58] MaxSteinMS opened #922 "Request to clarify missing required app fields when publishing to Intune"
Hi there!

We've had a report that when publishing an .ipa via App Center or in using the AppCenterDistribute task, the "Properties" field of the app would not display within the Intune console (preventing editing of user assignments, app description, info url, etc.). However, when uploading the .ipa file manually to Intune and access the "Properties" tab just fine.

The report mentioned that they

[2020-02-11 19:34] anchormansam opened #923 "DSYM file not symbolicating"
I cloned a project and have been trying to solve a missing symbols issue:

Build is being done through Xcode v11.3.1. Ive downloaded the DSYM from Xcode via the Archive.  I have tried to up load the file via CLI/Drag and Drop to upload the file. When I view the error report they are not symbolicating.

Any help?

OSX App

[2020-02-11 21:58] MSFT-Chris-Barrett commented on #607
Any update on this?  I can see the list of non-custom release types on the docs page linked in the original issue.  But I haven't found anything explaining what effect the different release types might have.  Does "just a tag" mean these are just for humans to look at and maybe use in custom scripts?  And that AppCenter itself has no behavioral differences based on the release type?

[2020-02-12 13:50] pablomaurer opened #924 "add troubleshooting about sandbox is not in sync with the Podfile.lock"
The sandbox is not in sync with the Podfile.lock. Run 'pod install' or update your CocoaPods installation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0624cb1d-70e5-dc2d-81e2-322c5cf30c24
* Version Independent ID: 0986d9e9-f5da-8a08-69a3-9013028481cd
* Content: [Cordova SDK Troubleshooting - Visual Studio App Center

[2020-02-12 15:53] #868 closed, assigned to Oddj0b, ahdbilal

[2020-02-12 15:57] timeyoutakeit commented on #921
Hello, this forum is only used for issues with the documentation. For feature requests, use the [App Center public repo](https://github.com/Microsoft/appcenter/issues/new/choose).

[2020-02-12 15:57] #921 closed, assigned to nobody

[2020-02-12 16:01] timeyoutakeit commented on #916
Hi @ahdbilal, would you be able to update the docs re. AlertView example?

[2020-02-12 16:02] timeyoutakeit commented on #917
Hey @winnie would you be able to update the doc if necessary? Thanks!

[2020-02-12 16:04] timeyoutakeit commented on #923
Hello, this forum is only used for issues with the documentation. For product support, the quickest way to get help is to use the [in-product support channel](https://intercom.help/appcenter/).

[2020-02-12 16:04] #923 closed, assigned to nobody

[2020-02-12 17:15] kericbowman opened #925 "How do you use the error feature"
It would be nice if the page explained how to use the features or at least linked to an explanation of how to use them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d3221f1-fd33-0f5b-5566-8af37bbe2244
* Version Independent ID: 6efcb61b-28bf-09bc-886d-c7a7188b91dc
* Content: [App Center Diagnostics - Visual Studio Ap

[2020-02-13 16:50] JohnLivermore opened #926 "Exporting to AI"
We have AppCenter analytics set up to export to Application Insights with an instrumentation key.  In AI we are seeing items created by Analytics.CreateEvent, but Crashes.TrackError does not export the exception to AI.  Is this expected behavior?  We were expecting both types to export.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-02-14 14:59] HenrikS123 opened #927 "Testflight"
I need access to Testflight on a Windows 10.
I was told "just get Itunes for windows" and run it from that.
I dont seem to be able to do that.
Do I need a IOS emulator ?
Do I need to install visual Studio too ?
I would appreciate any help
Thanks

[2020-02-14 16:42] RAM237 commented on #876
Hi, just passing by...
Faced this one myself last year, the reason is that your iOS app " Release Type" is set to Store (probably migrated from HockeyApp).
To be able to upload releases to it in AppCenter, you will have to change it to something else (e.g. Enterprise) in app settings.

[2020-02-17 00:30] EDMIStephen opened #928 "Instructions for Jira integration return error "internal error" no further information"
After following the instructions and using an API key for Jira integration the Authenticate with Jira window shows "internal error" there is no further information to help resolve the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99771c68-5f45-887a-e926-9ea772021f99
* Version Independent ID: 865109fc-64b8-ba77-

[2020-02-17 16:34] mohammedmsadiq opened #929 "pre-build not picked up on different branch (HELP)"
i have build setup on develop which works fine and the pre-build script is recognised but on my master branch the pre-build is not recognised  i dont know what else todo. as this location of the file is in the right place as its picked up by the develop branch but the code is same on the master branch but no recognised?

[2020-02-17 17:25] #929 closed, assigned to nobody

[2020-02-17 17:25] mohammedmsadiq commented on #929
issues resolved

[2020-02-17 22:10] spotlesscoder opened #930 "How is the app center api key being protected in compiled C# application"
The documentation page says: https://docs.microsoft.com/en-us/appcenter/dashboard/creating-and-managing-apps

[code]

How is the APIKey protected after I compiled the application? Wouldn't it be readable when someone else decompiles the binary?

[2020-02-18 06:38] Sam-Hepworth opened #931 "Local Storage - No Internet"
On this page it you write

"No internet access
When there is no network connectivity, the SDK saves up to 10MB of logs in the local storage. Once the storage is full, the SDK starts discarding old logs to make room for the new logs. Once network connectivity returns, the SDK sends logs in the batch of 50 or after every 3 seconds (by default)."

My question: If the local storage size is set to more

[2020-02-18 19:10] danielmeza commented on #462
Without line number this feature loose power and, this have reach a complete year and will be great if we get some update, like a link to point the discussion to the right point or to track the feature implementation.

[2020-02-18 19:35] alamathe1 commented on #816
@ahdbilal @timeyoutakeit Any ETA on this? Thanks.

[2020-02-19 03:50] ahdbilal commented on #816
@alamathe1 you can review the sample project on our repo. here is the link: https://github.com/microsoft/appcenter-sdk-apple/tree/develop/SasquatchMac

[2020-02-20 17:12] winnie commented on #917
Hey @andrewleader! I'm not aware of any UI changes but will check with the team. Was this working for you before? Can you confirm you included symbol files in your submission? Thanks!

[2020-02-20 17:36] felixpp opened #932 "VariableName usage"
I'd like to understand what should be the VariableName usage of the appcenter analytics events page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35f69ecd-7f5b-570c-4777-c68acdacaf70
* Version Independent ID: 2987abb6-1dad-c456-827a-600952e416ee
* Content: [Understanding App Center Events Metrics - Visual Studio App

[2020-02-20 17:39] felixpp commented on #932
Ah, sorry I just realized this VariableName thing is not related to appcenter, rather than the framework I use to log the event. This issue can be closed.

[2020-02-20 17:39] #932 closed, assigned to blparr

[2020-02-21 15:56] magantisurya opened #933 "Sample code for iOS , appium using java"
Could we get sample examples of both native and hybrid for iOS using Appium and Java.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed7c0d11-e60a-f088-e983-7465aca41515
* Version Independent ID: b2c6a308-1fcb-a385-239d-862b2c14114c
* Content: [Preparing Appium Tests for Upload - Visual Studio App Center](https://docs.

[2020-02-24 17:38] andrewleader commented on #917
Yeah I've downloaded symbols from Partner Center before (back when it was still called the Windows Developer Center). The option just simply doesn't seem to exist anymore!

[2020-02-24 17:48] winnie commented on #917
I see. I just messaged the Partner Center team. Will update here when I hear back. Thanks!

[2020-02-25 11:27] RHinderiks opened #935 "Cordova"
Is there a way for cordova apps to retrieve the install ID?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e72e2dd-365a-121b-2a0d-6d4e2f36ae3e
* Version Independent ID: ad0cfe49-17fa-77c7-149c-28d86ddf90eb
* Content: [Application Install ID - Visual Studio App Center](https://docs.microsoft.com/en-gb/appcenter/gdpr/in

[2020-02-25 18:47] timeyoutakeit commented on #933
@Oddj0b Do you know if any examples exist for this already?

[2020-02-25 18:51] timeyoutakeit commented on #931
@ahdbilal do you know the answer to this?

[2020-02-25 23:07] magantisurya commented on #933
I tried with appcenter and i got the output with multiple devices too. But its not good as we cant inspect elements and no video is recorded, we cant see even live mobile testing.

[2020-02-26 20:01] jeffkelsey commented on #775
Script causes errors, `upload_id=$(echo $API_1_RESPONSE | awk -F '"upload_id":"' '{print $2}' | sed "s/".*$//")` is not formatted correctly

[2020-02-27 02:13] joehanna opened #936 "AppCenter Post Clone script must be in root or with .sln file (doesn't work if in sub directory with .csproj)"
The documentation says: "Place the scripts with the format specified below next to the project-level (.xcodeproj, .csproj, .sln, or package.json) file"

However, if the .csproj is in a subdirectory below .sln, placing the Post Clone script in the subdirectory with the .csproj does not work (script is not recognised).

Moving it back up to the root folder (or with the .sln file) worked.

---
#### D

[2020-02-27 13:54] rockclane opened #937 "Can you provide the api source code on the git hub ,like how did you communicate with the Azure notification hub from app center portal , It would help any one from not an API background like me to understand and implement the same ,just to continue the process of Push uninterrupted , as i am using it now on production app."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 849cb3f8-82b9-0657-7b21-ab81214d8fbd
* Version Independent ID: 4a79c4db-6586-6770-c470-c8abfae29861
* Content: [Push Migration Guide - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/migration/push/#feedback)
* Content Source: [do

[2020-02-27 23:38] ajrodbf opened #938 "Can no longer upload with release notes"
On the `Distributing using the APIs` section, step 3.b, I used to be able to use `-F "notes=[release notes here]"` within the cURL command to upload a release with release notes. As of 2/18/2020, this field no longer works in populating the release notes. Unfortunately, there is no information in the Swagger UI for the API call within this step. How do I upload  a release with release notes using

[2020-02-28 06:25] hienhodeveloper opened #939 "Missing Distribution Group"
Hello. I have been invited to a team on AppCenter, but when I click on Distribution -> Group, I cannot see all the groups of project. I thought I must be invited into a group inside project too, but my leader said it needs not. Please help me!. Thanks

[2020-02-28 12:07] saritaNegi opened #940 "Issue in 4th point and release notes"
1.Not able to Distribute the uploaded release to  groups though we have given correct destination group Id and performed all 3 steps correctly (destination)
2. how to pass notes within the cURL command to upload a release with release notes(Release notes)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8ccb786-5f74-9c4

[2020-02-28 14:16] johnmackerras opened #941 "Push instructions appear to be out of date"
Twice in this document the line "In the project navigator that opens, select Push." appears, yet when I log onto AppCentre, there is no option for Push within either my Android or my iOS application. Nor does this document explain what you need to do or how to upload the Firebase Server Key

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-02-28 18:07] jwargo commented on #941
@johnmackerras that's because we announced that we're retiring the Push service as described here: https://devblogs.microsoft.com/appcenter/app-center-mbaas-retirement/. We disabled the Push UI for any apps that do not already have Push configured. As we're retiring the service, it seemed to make sense to only continue to show the Push UI for apps that are currently using the Push service. We don'

[2020-02-28 19:16] jwargo commented on #937
@rockclane You cannot communicate with ANH from the App Center Portal. They're completely different systems (although App Center uses ANH under the covers). You'll have to switch to using both the ANH SDK (to register devices) and the ANH backend REST APIs to send notifications.

[2020-02-28 19:16] #937 closed, assigned to jwargo

[2020-02-28 21:26] timeyoutakeit commented on #925
we've added some links to the examples on this page

[2020-02-28 21:26] #925 closed, assigned to winnie

[2020-02-28 21:27] timeyoutakeit commented on #831
We updated page title to reflect that this content is applicable to WPF and WinForms too

[2020-02-28 21:27] #831 closed, assigned to timeyoutakeit

[2020-02-29 07:06] ranjan-2209 opened #942 "Title of the page should change from "WindForms" to "WinForms""
Title of the page should change from "WindForms" to "WinForms"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f2add0f-2806-8bfa-92d5-cc3fdd1e1055
* Version Independent ID: c572b535-a780-fba3-0845-f5127d98d7d6
* Content: [UWP, WPF, and WindForms SDK Troubleshooting - Visual Studio App Center](https://docs.microsoft.com

[2020-02-29 07:06] ranjan-2209 opened #943 "Dropdown should include "WPF/WinForms" also"
Dropdown should include "WPF/WinForms" also

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f2add0f-2806-8bfa-92d5-cc3fdd1e1055
* Version Independent ID: c572b535-a780-fba3-0845-f5127d98d7d6
* Content: [UWP, WPF, and WindForms SDK Troubleshooting - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sd

[2020-02-29 17:01] timeyoutakeit commented on #942
Oops, great catch!

[2020-02-29 17:14] #942 closed, assigned to elamalani

[2020-02-29 17:14] #943 closed, assigned to elamalani

[2020-02-29 17:19] timeyoutakeit commented on #943
Dropdown has been changed to "Windows" for succinctness in this section.

[2020-02-29 18:20] ranjan-2209 opened #944 "Empty page"
Empty page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64bf6eee-8421-34eb-a50e-78132fa8d45f
* Version Independent ID: 99cb3da9-7d74-8648-a438-de3849bd6a2c
* Content: [Unity SDK Troubleshooting - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/troubleshooting/unity)
* Content Source: [docs/sd

[2020-02-29 18:21] ranjan-2209 opened #945 "`Unity` missing from dropdown"
`Unity` missing from dropdown

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f2add0f-2806-8bfa-92d5-cc3fdd1e1055
* Version Independent ID: c572b535-a780-fba3-0845-f5127d98d7d6
* Content: [UWP, WPF, and WinForms SDK Troubleshooting - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/troubleshooti

[2020-02-29 18:23] ranjan-2209 opened #946 "If we click on `tvOS` from dropdown, then the left hand pane gets collapsed."
If we click on `tvOS` from dropdown, then the left hand pane gets collapsed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f2add0f-2806-8bfa-92d5-cc3fdd1e1055
* Version Independent ID: c572b535-a780-fba3-0845-f5127d98d7d6
* Content: [UWP, WPF, and WinForms SDK Troubleshooting - Visual Studio App Center](https://docs.

[2020-02-29 18:24] ranjan-2209 opened #947 "The left hand pane and the dropdown orders are different"
The left hand pane and the dropdown orders are different

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f2add0f-2806-8bfa-92d5-cc3fdd1e1055
* Version Independent ID: c572b535-a780-fba3-0845-f5127d98d7d6
* Content: [UWP, WPF, and WinForms SDK Troubleshooting - Visual Studio App Center](https://docs.microsoft.com/en-us/

[2020-03-02 06:01] saritaNegi commented on #940
Any Update

[2020-03-02 07:29] ahdbilal commented on #940
@saritaNegi Have you recently started facing this issue? The best way to get support on this will be to open a support ticket directly from App Center. here is the link that explains how to do it: https://intercom.help/appcenter/en/articles/1698824-getting-help-with-app-center

[2020-03-03 01:51] SPConrad opened #949 "Need guidance on removing devices from Distribution Group"
I've been unable to find a way to remove associated devices through the AppCenter menus and also don't see any documentation about it. This is making it impossible to use the automatic management and/or the automatic provisioning.

I have n iPhones on the distribution group, but only n-5 remaining allocations for those types of devices.

I can't remove any devices.

If I try to use AppCenter's han

[2020-03-03 16:26] Oddj0b commented on #933
@magantisurya I would reach out to App Center support through the blue chat icon.

[2020-03-03 16:26] Oddj0b commented on #933
While I'm looking for samples.

[2020-03-03 23:25] araujoraphael commented on #783
Any luck guys?

[2020-03-04 06:09] magantisurya commented on #933
@Oddj0b I see a long delay in response from app-center, some times it takes two weeks also. But very few times they are very fast and respond back by next day.

[2020-03-04 07:35] saritaNegi commented on #940
1.Not able to Distribute the uploaded release to groups though we have given correct destination group Id and performed all 3 steps correctly (destination)

My Solution on this :
Before distributing releases to groups please add one more command :

curl -X PATCH "https://api.appcenter.ms/v0.1/apps/{owner_name}/{app_name}/releases/Release_Id" -H "accept: application/json" -H "Content-Type: applicat

[2020-03-04 07:38] saritaNegi commented on #938
solution : Use

curl -X PATCH "https://api.appcenter.ms/v0.1/apps/{owner_name}/{app_name}/releases/Release_Id" -H "accept: application/json" -H "Content-Type: application/json" -H "X-API-Token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" -d "{ "distribution_group_name": "provide group name", "distribution_group_id": "provide group id", "release_notes": "your notes", "mandatory_update": true }"

[2020-03-04 09:45] Oddj0b commented on #933
Is that on issues like this one or when contacting support through the blue chat icon?

[2020-03-06 05:46] heruoxin opened #950 "Anyway to update android ndk-bundle?"
The android ndk-bundle version of build machine is still 18.1.5063045. Is there any way to update it to newer version such as 21.0.6113669?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 022126c7-2d61-9c53-6881-149310c137c0
* Version Independent ID: 4fe62fb4-6dd9-057e-8f57-fb4c6dcb71f8
* Content: [App Center Cloud Buil

[2020-03-06 12:56] Oddj0b commented on #883
You'll have to sign your app with an App Store provisioning profile and a distribution certificate.

[2020-03-06 12:56] #883 closed, assigned to Oddj0b

[2020-03-06 17:11] kevbry opened #951 "InstallationId"
Is the installation id field being mapped across to application insights? I'm not setting a user id in the client-side SDK, but one is appearing in the mapped app insights data, which I assume is the installation ID. If it isn't being mapped, it would be extremely helpful if it was.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-03-06 17:39] magantisurya commented on #933
Yes Sir. Contacting through blue icon is giving me very much delayed in response. Sometimes it takes a week too. Moreover, Sauce labs and other vendors are providing video and we can see how the test case is running but not in appcenter. Other lacking facilities in appcenter are debugging in real devices  and it exists with every vendor except appcenter.

[2020-03-06 21:24] andrewlayman opened #952 "The documentation on Configurations is missing crucial information"
The documentation page on Branches and Configurations does not say what a configuration is or how to get one.

I went to this page because VS App Center is telling me that I need to have a configuration before I can build.  I want to find out what a configuration is or how to get one.  It tells me how to _clone_ a configuration (auuming I already have one) but not how to get one in the first place

[2020-03-07 11:23] gianlucapisati opened #953 "error in doc"
MSDistribute.updateTrack = MSUpdateTrackPrivate gives error, new sdk uses
MSDistribute.updateTrack = .private

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2564a62-1ac9-7f03-6474-0c74944319ed
* Version Independent ID: 816a828c-959f-c438-53bf-441db73aab6f
* Content: [App Center Distribute for iOS - Visual Studio App C

[2020-03-10 08:43] Gunner92 opened #954 "AppCenter Logs"
Hi I can see my crashes on Appcenter but stack trace is not C#.
How Can I see C# Stack Trace on Android and iOS

[2020-03-11 16:39] magantisurya commented on #933
Hey MicrosoftDocs/appcenter-docs,

I have posted few queries and i wont get reply back and by the time they
come back i really forget the issue as it takes 2 to 3 days , sometimes 15
days. Please help with live agents in chatting.

Thanks & Regards,

Surya Maganti.

On Wed, Mar 4, 2020 at 3:45 AM Villars Gimm <notifications@github.com>
wrote:

--
Thanks & Regards,

Maganti Surya
6462208546

[2020-03-11 16:41] magantisurya commented on #933
On clicking blue icon, they say that typically will get a reply in one day,
but sometimes after 2 or 3 days , even after 15 days and by that time i
will forget the exact issue. Not sure, what should i do?

On Wed, Mar 4, 2020 at 3:45 AM Villars Gimm <notifications@github.com>
wrote:

--
Thanks & Regards,

Maganti Surya
6462208546

[2020-03-12 13:48] JonnySKK opened #955 "When will we receive Push migration instructions?"

[2020-03-12 13:50] #955 closed, assigned to nobody

[2020-03-12 13:51] JonnySKK opened #956 "When will we receive the Push Migration guide?"
Is there a rough estimate as to when we will receive these instructions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 849cb3f8-82b9-0657-7b21-ab81214d8fbd
* Version Independent ID: 4a79c4db-6586-6770-c470-c8abfae29861
* Content: [Push Migration Guide - Visual Studio App Center](https://docs.microsoft.com/en-us/appcen

[2020-03-12 15:14] jwargo commented on #956
We're working on a plan to make migration easier and I expect to have more details in mid April.  I really apologize for the delay, we're just trying to figure out the best thing to do here for our customers.

[2020-03-12 15:15] #956 closed, assigned to jwargo

[2020-03-12 16:18] Mike-Beers commented on #956
So you don't expect to have more details until less than a month before the App Center push service is discontinued?

[2020-03-12 16:23] JonnySKK commented on #956
@Mike-Beers

I think it's just Auth and Data which are being retired in May, it sounds like Push will be available a while longer to allow people time to migrate to Azure Notification Hubs

[2020-03-12 16:33] Mike-Beers commented on #956
Thanks @JonnySKK

[2020-03-13 08:08] saritaNegi opened #957 "Download latest artifacts from app center using API"
How can we download latest artifacts from appcenter using API .
we are creating a pipeline where we can automatically download artifacts and do testing
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8ccb786-5f74-9c47-f6fa-a22720f823ad
* Version Independent ID: 3185af63-60df-aa2b-1d8c-b3db0ca3ad8c
* Content: [Distribute

[2020-03-13 11:09] Krumiasty opened #958 "Service Connection - Server URL"
Please add information that when creating service connection to App Center, the default Server URL needs to be:
https://api.appcenter.ms/v0.1 (at least for distribution to App Center step)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28aa9747-f64a-d886-487d-8ebb97d717b8
* Version Independent ID: 0c7edbb7-4bf7-f66c-c8

[2020-03-13 12:40] jwargo commented on #956
@Mike-Beers @JonnySKK is correct, we've not announced the retirement date for Push yet - that will come soon along with the migration guide.

[2020-03-13 14:54] ahdbilal commented on #957
I will revert you to this [document](https://openapi.appcenter.ms/#/) to help you with this task. You might want to specifically look into this API "/v0.1/sdk/apps/{app_secret}/releases/{release_hash}" (set release_hash = "latest'). We have couple of other APIs as well that can help in downloading the latest public or private releases.

[2020-03-13 14:54] #957 closed, assigned to ahdbilal

[2020-03-13 21:08] King-of-Spades commented on #936
@joehanna Thanks for the report! I'm trying to reproduce the issue you're describing with this sample: https://github.com/microsoft/appcenter-Xamarin.UITest-Demo/tree/master/

I am able to see the build scripts in the .csproj sub folders, however; it looks like they're only displayed if I'm targeting the .csproj file in the Build configuration. Building with the .sln as the target doesn't seem to

[2020-03-13 21:46] King-of-Spades commented on #801
I'm not aware of any environment variables for those.

Xcode version can be logged using this command:

Which shows the active version being used for building. The only way to check the Xamarin version I've found reliably is the Mono version:

@timeyoutakeit if you have any suggestions where it'd be good to place those, let me know. I did an experiment awhile back to try and find a way to report d

[2020-03-13 21:49] King-of-Spades commented on #800
Maybe it could be a little clearer in the doc that these are sample uses anyways; not required approaches. Most normal bash commands should work.

[2020-03-13 21:52] King-of-Spades commented on #787
@dipree Would those variables fit here instead? If so, I can help if you can give me a list + short description of what to add https://docs.microsoft.com/en-us/appcenter/build/custom/variables/#pre-defined-variables

[2020-03-13 21:53] King-of-Spades commented on #683
The warning currently reads:

That update was actually awhile back but it looks like this issue wasn't closed after the update.

[2020-03-13 21:53] #683 closed, assigned to nilofer

[2020-03-15 06:36] ahdbilal commented on #906
Desktop apps are not support. The doc has been updated to answer this question.

[2020-03-15 06:36] #906 closed, assigned to ahdbilal

[2020-03-16 02:23] richardszalay opened #959 "Clarification on `getPendingPackage` for uninstalled packages"
The docs state that:

I have a scenario where I'd like to call `checkForUpdate`, call `RemotePackage.download`, but choose to delay the call to `LocalPackage.install` until a specific part of my application's workflow.

Will `getPendingPackage` return a downloaded `LocalPackage` that has not had `install` called?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-03-17 19:02] kincade-dev opened #960 "newlines are replaced with spaces in environment variables"
The input for build environment variables is replacing all newline characters with spaces.

[code]
**becomes:**
[code]
How else are we supposed to inject secrets that are white-space sensitive?

[2020-03-17 19:05] timeyoutakeit commented on #960
@kincade-dev is this relating to a specific doc?

[2020-03-17 19:35] kincade-dev commented on #960
Oops- this may not fit here, but maybe the docs should reflect that the environment variable input fields do not honor character content.

[2020-03-18 22:13] SaiNiranjan opened #961 "Blue chat button visible on Mac but throws error message and disabled on Windows (Chrome browsers)"
I am using Mac Mini OS Catalina 10.15.3, Chrome Version 80.0.3987.149. When I sign into my microsoft account &gt; appcenter, I did find Blue chat button but every time I select it displays error "Something went wrong, we're unable to load the messenger, Try Again". I have been clicking on the button through out the day but same error. When I switch to Windows, open same version of Chrome &gt; log

[2020-03-20 23:28] brunobertechini commented on #607
+1

[2020-03-24 11:18] RiederAlex opened #962 "Missing information on how to structure the symbols.zip file"
The text below 'Create a symbols.zip file with the following structure:' is missing, it needs to be copied from this page: https://docs.microsoft.com/en-us/appcenter/diagnostics/android-ndk

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42fcdefa-2d30-084a-0631-a3f6b1eefa64
* Version Independent ID: 0a2aaddc-d442-1100-a

[2020-03-24 11:26] tompi commented on #801
Sure, I managed to script this myself, it just feels like a thing that OUGHT TO be available.

I mean, all the options selected in the build definition(like sdk, xcode version etc) should be available, not just a select few.

E.g. for xamarin android, you select the project you want to build, and this is exposed in the APPCENTER_XAMARIN_PROJECT environment variable.
In the same build definition, t

[2020-03-24 18:23] King-of-Spades commented on #801
@tompi

Actually it's been something I've been trying to figure out for a long time. And something about you mentioning it gave me an idea, I figured out the right person to talk to, and it turns out that this command will report all the tooling currently defined in the build image:

The output is essentially equivalent to the documentation here: https://docs.microsoft.com/en-us/appcenter/build/so

[2020-03-25 04:19] magantisurya commented on #933
Hey,

I just signed the petition "GREYSTAR : COVID-19 Economy Relief" and wanted
to see if you could help by adding your name.

Our goal is to reach 100 signatures and we need more support. You can read
more and sign the petition here:

http://chng.it/vgm6R6jVYk

Thanks!
SURYANARAYANA MURTHY

[2020-03-25 13:20] #958 closed, assigned to Oddj0b

[2020-03-25 13:21] Oddj0b commented on #958
Thank you for your comment, I've added a PR that will go live at the latest tomorrow.

[2020-03-26 07:17] shehrozeee commented on #462
Still looking for line number

[2020-03-26 18:50] genifycom opened #963 "There Was a Problem Parsing the Package"
If the package is for a later Android version than the device on which it is being installed, please provide an appropriate message.

I created a package for API Level 28 (Android Pie) in Xamarin.Android.

Attempting to load this on Android 8.1 (Oreo) should not give the message "There Was a Problem Parsing the Package"!

[2020-03-26 23:15] King-of-Spades commented on #867
I was able to confirm this based on how the profiles are referenced in Xcode 11 itself. Addressing this in a pending update that will be published soon.

[2020-03-26 23:15] #867 closed, assigned to elamalani

[2020-03-27 08:53] ergunkocak opened #964 "xcode 11.4"
When will the Xcode 11.4 (11E146) be available? Currently only beta can be selected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 022126c7-2d61-9c53-6881-149310c137c0
* Version Independent ID: 4fe62fb4-6dd9-057e-8f57-fb4c6dcb71f8
* Content: [App Center Cloud Build Machines - Visual Studio App Center](https://docs.mic

[2020-03-27 23:12] MrXemiu opened #965 "Has AppCenter SDK output changed?"
I'm having problems with App Center log output showing up in App Center, but I can see all the events, crashes, and handled exceptions I'm generating in my app output to the Debug Consoles as well as Android logCat.  I never see the message "App Center SDK configured successfully," but I do see "App Center initialized."

The log output also shows logs successfully sent to App Center, as indicated

[2020-03-29 20:56] Thejacques1 opened #966 "Finer granularity Analytics and Issues 'Time' filter"
The active users area in 'Analytics' is very useful. However, it's not very useful if you shipped several versions in a couple of days. Reason being the smallest period granularity is 7 days. It would be great to have 1 day and 1 hour as well.

Would be great if this applied to 'Issues' too.

Thanks

[2020-03-30 03:40] anywherepilot commented on #741
Hi @jkotrlik

In App Center you can easily use just Distribution, either through the portal or via the CLI or API.

If you build elsewhere (not using App Center), App Center will not perform any action when you open a PR and will not send any emails.

It is not possible to create multiple releases at once through the portal, but you can automate the creation of releases through the CLI or API. Whe

[2020-03-30 03:40] #741 closed, assigned to botatoes

[2020-03-30 03:44] anywherepilot commented on #744
Hi @balaji830. We retired App Center Auth from preview. Please have a look at the documentation to learn how to migrate: https://docs.microsoft.com/en-us/appcenter/migration/auth/

[2020-03-30 03:44] #744 closed, assigned to Zakeelm, amchew

[2020-03-30 03:56] anywherepilot commented on #747
Hi @L0G1C. In PowerShell you get variables from the environment using the `$env:<VARIABLE_NAME>` syntax. Have you tried that? It is documented briefly here: https://docs.microsoft.com/en-us/appcenter/build/custom/variables/#build-scripts

[2020-03-30 03:59] anywherepilot commented on #747
Feature Request label for UWP examples in https://github.com/Microsoft/appcenter/tree/master/sample-build-scripts

[2020-03-30 04:05] anywherepilot commented on #748
@EugeneKonneh I hope Joshua's comment above solved your issue. Since this ticket is quite old and I see a recommendation to open a support ticket instead since it is very specific, I'll close this issue now. Feel free to write below or reopen; please consider opening a support case through the App Center portal first.

[2020-03-30 04:05] #748 closed, assigned to Oddj0b

[2020-03-30 04:10] anywherepilot commented on #753
Thank you for reporting this. Keeping all the versions up to date sometimes fails. We do our best! We recently changed the format of this page, however it still has the same information. I see the CocoaPods version is now set to 1.9.1, so I will close this issue.

[2020-03-30 04:10] #753 closed, assigned to nilofer

[2020-03-30 04:26] #761 closed, assigned to dipree

[2020-03-30 04:26] anywherepilot commented on #761
I assume Daniel actually fixed it. The original page no longer exists.

[2020-03-30 04:36] anywherepilot commented on #762
@lamathe I'm sorry it took so long for us to respond. I am an engineer on the App Center CLI team. We normally track these issues through the CLI repository, not the documentation repository: https://github.com/microsoft/appcenter-cli/issues

Are you still experiencing this issue? Does it work when you go through the App Center portal instead? If so, please open an issue in the CLI repository. If

[2020-03-30 04:36] #762 closed, assigned to winnie

[2020-03-30 04:41] anywherepilot commented on #773
@tigerlily777 please check the comments in this issue which link to existing documentation describing all these features: https://github.com/MicrosoftDocs/appcenter-docs/issues/739#issuecomment-564883179

Since HockeyApp is no more, and we have docs describing how App Center works, I will close this issue now.

[2020-03-30 04:41] #773 closed, assigned to dipree

[2020-03-30 04:46] anywherepilot commented on #774
Hi @yoganandhini23,

This repository is for documentation issues. For issues like this, please contact App Center support, or Microsoft support in general since the sign-in flow is not owned by App Center. Normally you contact support through the website, but you cannot log in, so that won't work. If any of your colleagues already have an account, you could ask one of them to open a support case.

[2020-03-30 04:46] #774 closed, assigned to ScottArbeit

[2020-03-30 04:51] anywherepilot commented on #775
The current documentation is already quite thorough in the steps you need to take. I wrote it by manually executing all these steps in Postman. If you are writing a script to perform the actions, then you hopefully know how to extract properties from a response into a variable in the scripting language you are using.

[2020-03-30 04:53] anywherepilot commented on #775
Feature Request label for adding scripts on top of manual API steps. I doubt we will do this, since there are more important things to work on regarding API documentation. This is the only page I am aware of that really describes how to do anything with the API, while the API can be used to do almost everything.

[2020-03-30 06:20] Jesusrz001 commented on #787
@King-of-Spades Yes having them in pre defined variables would be great.

[2020-03-30 07:20] ergunkocak commented on #964
🎉

[2020-03-30 07:24] ergunkocak commented on #964
Actual link to supported software for the ones interested : https://docs.microsoft.com/en-us/appcenter/build/macos-10.15-software

[2020-03-30 08:09] #759 closed, assigned to Oddj0b

[2020-03-30 08:37] ajaykn commented on #776
Hi @iamgerardm,
As the documentation says, when build is configured to automatically distribute the build, then App Center also uploads the .dsym file to the Diagnostics section.
<img width="1500" alt="image" src="https://user-images.githubusercontent.com/40024974/77891889-4e6ede80-728f-11ea-8a35-7462c97e490e.png">

This works as expected and since you were mentioning that you are not able to see

[2020-03-31 01:44] tykcuB-fozzud-vozsi1 commented on #398
J

[2020-03-31 02:01] tykcuB-fozzud-vozsi1 opened #968 "readme-edits"

[2020-03-31 06:08] walteriousnut opened #969 "In 2020, limiting to 20 properties and 125 characters per property is pretty pathetic"
"Limits
The maximum number of distinct custom events that can be tracked daily is 200. This count resets at 12 AM UTC. However, there is no limit on the maximum number of events instances sent per device.
The maximum number of event properties per event is 20. When more than 20 properties are sent, the first 20 properties are processed, and the rest are automatically dropped.
The SDK truncates eve

[2020-03-31 06:15] King-of-Spades commented on #685
Thanks for the feedback. Since Push is being retired, I'm closing this issue.

Blog post announcement: https://devblogs.microsoft.com/appcenter/app-center-mbaas-retirement/

Push migration guide: https://docs.microsoft.com/en-us/appcenter/migration/push/

[2020-03-31 06:16] #685 closed, assigned to nobody

[2020-03-31 12:54] obrocki-fortem commented on #694
Any update on this one?

[2020-03-31 22:07] King-of-Spades commented on #964
Requests for adding features or updating tooling can be filed here: https://github.com/Microsoft/appcenter/issues

[2020-03-31 22:07] #964 closed, assigned to elamalani

[2020-03-31 22:08] King-of-Spades commented on #968
Hi, you don't seem to have described what edits you're requesting.

[2020-03-31 22:12] #941 closed, assigned to jwargo

[2020-03-31 22:27] King-of-Spades commented on #969
Thanks for the feedback! Feature requests can be filed and upvoted here: https://github.com/Microsoft/appcenter/issues

[2020-03-31 22:27] #969 closed, assigned to nobody

[2020-03-31 22:32] King-of-Spades commented on #874
Currently we only support Appium Java tests as noted in the doc.

You can file and vote on this or other feature requests here: https://github.com/Microsoft/appcenter/issues

[2020-03-31 22:32] #874 closed, assigned to Oddj0b

[2020-04-01 00:51] #776 closed, assigned to winnie

[2020-04-01 01:00] anywherepilot commented on #782
We updated all docs like this to clearly indicate where to get the app secret. Suggestions for improving App Center itself, like making the app secret more obvious to find, should go here: https://github.com/microsoft/appcenter/issues

[2020-04-01 01:00] #782 closed, assigned to ScottArbeit

[2020-04-01 02:30] anywherepilot commented on #694
@obrocki-fortem do you believe there is a problem with the documentation of a current feature? If the problem is a missing or broken feature, please use the main repository. My previous comment has a link to an issue there related to this one, where you can track and request updates regarding its process.

[2020-04-01 07:46] obrocki-fortem commented on #694
@anywherepilot thank you

[2020-04-01 11:28] russelarms commented on #755
Hi @dweedul, sorry for the delay, the issue has only appeared on our board this week.
I've tested Crashes.TrackError on our [WPF demo project](https://github.com/microsoft/appcenter-sdk-dotnet/blob/develop/Apps/Contoso.WPF.Puppet/MainWindow.xaml.cs#L268) and the SDK sends the logs to the backend on each TrackError call. Do you still experience this behavior with the latest (3.1.0) SDK version?

[2020-04-06 06:47] russelarms commented on #755
I'm closing this issue now, feel free to reopen it if it is still a problem.

[2020-04-06 06:47] #755 closed, assigned to winnie

[2020-04-06 06:52] russelarms commented on #756
The document was updated, so I'm closing the issue.

[2020-04-06 06:52] #756 closed, assigned to ahdbilal

[2020-04-07 18:06] miqmago opened #970 "Capacitor"
Are there any plans to support capacitor in any of appcenter functionalities?
At the end, capacitor is a native app with webview too, similar to cordova. Capacitor also offers cordova plugins compatibility.

[2020-04-07 20:55] bramborman opened #972 "Incorrect info about 'appLaunchTimestamp'"
The 'appLaunchTimestamp' value is marked as optional on this page but when I omit it in a request, I get a response code 400 Bad Request. Either the API is broken or this page has invalid info.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a69bd5cb-5747-8e88-ff48-c93e5d42ae51
* Version Independent ID: 014b77ea-32ca-ba

[2020-04-08 14:35] martin-richter-uk commented on #31
Do I still need to use manual sign for distribution?

[2020-04-09 13:15] lacostej opened #973 "Add link to AppCenter APK available from App Center itself to the testing android page"
As per microsoft/appcenter#1628, add the link to https://install.appcenter.ms/orgs/bitstadium/apps/app-center/distribution_groups/all-users-of-app-center to https://github.com/MicrosoftDocs/appcenter-docs/blob/ff10f3cfdf2176f6f1f3bc6e65f4684adf638a20/docs/distribution/testers/testing-android.md

[2020-04-09 18:14] dweedul commented on #755
I haven't checked since I opened the issue. I'll check later and reopen like you said.

Thanks!

[2020-04-11 22:26] amp64 opened #974 "Where is the actual API?"
None of these platform pages seem to link to the *actual API* docs. If TrackEvent is the only method, where are its overloads? Do we really need to use Intellisense and Reflector to figure this all out?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae82f3e9-78b4-e743-1d4a-58dee115de10
* Version Independent ID: 50a18a6

[2020-04-11 22:28] amp64 commented on #974
Wow there really is only one method. I miss HockeyApp all of a sudden. You can close this.

[2020-04-12 22:10] jimicze opened #975 "Calabash required"
If the ios app coded in xcode, doesnt have calabash, this solution dont work. Calabash part is depreciated, so I dont know hot to run xcode ios app in simulator and test it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 334914fb-9613-959d-c02a-a0fe90b8b8b3
* Version Independent ID: 96a4911a-3c11-66c3-2f9b-f52f4e07c874

[2020-04-12 22:18] jimicze opened #976 "Calabash required for AppBundle .app"
If the ios app coded in xcode, doesnt have calabash inside, the AppBundle doesnt work.

System.Exception : The app bundle in /Users/lasakondrej/Disk Google/MAC/Downloads/eRouska.app does not seem to be properly linked with Calabash. Please verify that it includes the Calabash component.

  at Xamarin.UITest.iOS.iOSAppLauncher.ValidBundleSupportsSim (Xamarin.UITest.XDB.Entities.IiOSAppBundle appBun

[2020-04-13 19:22] King-of-Spades commented on #691
Looks like this update was already addressed, but we forgot to close the issue. Closing now.

[2020-04-13 19:22] #691 closed, assigned to winnie

[2020-04-13 19:23] King-of-Spades commented on #734
@tdevere do you have enough data on this to recommend a Pull Request for the changes?

[2020-04-13 19:53] King-of-Spades commented on #968
Closing this due to lack of response.

[2020-04-13 19:53] #968 closed, assigned to nobody

[2020-04-13 20:03] King-of-Spades commented on #640
Closing this per @anywherepilot's comment and the age of this thread.

[2020-04-13 20:03] #640 closed, assigned to botatoes, amchew

[2020-04-13 21:23] King-of-Spades commented on #961
Hi, we've updated our support ticket system; you can now find in the **App Center Portal > ? (help menu) > Contact Support**.

[2020-04-13 21:23] #961 closed, assigned to nobody

[2020-04-13 21:45] King-of-Spades commented on #960
@kincade-dev reviewing this for docs improvements. Where are you defining the environment variables, in the Build configuration here? https://docs.microsoft.com/en-us/appcenter/build/custom/variables/#variables-declared-in-build-configuration

Or in a build script itself?

[2020-04-13 22:01] King-of-Spades commented on #681
The original purpose of this issue was addressed, though I'm not sure what the answer is for @zippo227's follow-up question.

[2020-04-13 22:03] King-of-Spades commented on #672
closing this in favor of https://github.com/microsoft/appcenter/issues/1789

[2020-04-13 22:03] #672 closed, assigned to nobody

[2020-04-13 22:59] King-of-Spades commented on #655
This was deleted in https://github.com/MicrosoftDocs/appcenter-docs-pr/pull/1821

[2020-04-13 22:59] #655 closed, assigned to Zakeelm

[2020-04-13 23:00] King-of-Spades commented on #707
This content was deleted per the discontinuation of Data here: https://devblogs.microsoft.com/appcenter/app-center-mbaas-retirement/

[2020-04-13 23:00] #707 closed, assigned to Zakeelm

[2020-04-13 23:01] King-of-Spades commented on #621
This content was deleted per the discontinuation of Data here: https://devblogs.microsoft.com/appcenter/app-center-mbaas-retirement/

[2020-04-13 23:01] #621 closed, assigned to Zakeelm

[2020-04-13 23:03] King-of-Spades commented on #587
This content was deleted per the discontinuation of Auth here: https://devblogs.microsoft.com/appcenter/app-center-mbaas-retirement/

[2020-04-13 23:03] #587 closed, assigned to amchew

[2020-04-13 23:20] King-of-Spades commented on #784
Thanks for the feedback! Those limitations are currently documented for preparing tests for upload here: https://docs.microsoft.com/en-us/appcenter/test-cloud/appium/preparing-for-upload

[2020-04-13 23:20] #784 closed, assigned to Oddj0b

[2020-04-14 05:25] kelsosharp opened #977 "Doesn't clearly define the use and purposes of an Organization."
This document should give a better description of an organization and its purpose, in all fairness, I do not see the point of an organization here in this context if it's not used to connect to other relevant organizations like the one in Azure DevOps, and it seems like its usefulness is very limited without that relationship.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-04-14 06:25] StingeyNinja commented on #938
Any chance of an example of how to upload release_notes in markdown format, when this endpoint requires JSON escaping?

[2020-04-14 12:11] annakocheshkova commented on #697
Hey @ramaguduri unfortunately we do not support it yet. I will mark it as feature request.

[2020-04-14 12:14] annakocheshkova commented on #788
Hi there @jamers99, crash reports should work locally. Just make sure you detach the debugger.
If something's not working, let us know.

[2020-04-14 12:15] jamers99 commented on #788
Yes, thank you. Full crash logs are now officially supported in UWP.

[2020-04-14 12:15] #788 closed, assigned to winnie

[2020-04-14 12:19] annakocheshkova commented on #965
Hey @MrXemiu! No, we haven't changed anything related to that. Please tell me when have you stopped seeing this message (with what SDK version)? Could you include the sample of such logs?

Thanks.

[2020-04-15 07:27] annakocheshkova commented on #816
@pjgrandinetti there's a switch at the top of the page.
![image](https://user-images.githubusercontent.com/34677812/79309896-b403d180-7f03-11ea-91cf-577ab9cd8636.png)
My apologies that it took so long to respond.

[2020-04-15 07:44] annakocheshkova commented on #826
Hi @keithburgoyne , there's a switch at the top of the page:
![image](https://user-images.githubusercontent.com/34677812/79311445-1a89ef00-7f06-11ea-8e72-3e14576a3a9a.png)
Apologies that it took so long to respond.

[2020-04-15 07:45] #816 closed, assigned to ahdbilal

[2020-04-15 07:46] #826 closed, assigned to nobody

[2020-04-15 08:38] PerDFSjov opened #979 "No possibility to add device"
There is no possibility to add a new device. The 'Add device' button is not visible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 811f9eee-5b17-06e1-c108-dbef47984425
* Version Independent ID: 8fe50e13-c934-6a43-bf7d-1f33946da9d3
* Content: [Testing iOS Apps - Visual Studio App Center](https://docs.microsoft.com/en-u

[2020-04-15 16:59] King-of-Spades commented on #731
closing due to age / no response from last comment.

[2020-04-15 16:59] #731 closed, assigned to botatoes

[2020-04-15 18:00] King-of-Spades commented on #857
Closing due to the answer @elamalani provided (pointing to the doc) and lack of follow up response.

[2020-04-15 18:00] #857 closed, assigned to elamalani

[2020-04-15 18:00] #834 closed, assigned to nobody

[2020-04-15 22:01] King-of-Spades commented on #927
This might be relevant: https://docs.microsoft.com/en-us/xamarin/ios/deploy-test/testflight?tabs=windows#upload-your-app

I'm not seeing any details specific to App Center that would be relevant here; for example, App Center builds for iOS are executed on mac machines not Windows.

It's not clear to me if what you're requesting is something we can address in documentation, or if you require techni

[2020-04-15 22:19] King-of-Spades commented on #862
closing due to more than a month of no response to @maestersid's question.

[2020-04-15 22:19] #862 closed, assigned to nobody

[2020-04-15 23:01] King-of-Spades commented on #606
Closing due to no response after @anywherepilot's notes.

[2020-04-15 23:01] #606 closed, assigned to botatoes

[2020-04-15 23:29] King-of-Spades commented on #688
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-04-15 23:30] King-of-Spades commented on #705
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-04-15 23:30] King-of-Spades commented on #746
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-04-15 23:31] King-of-Spades commented on #875
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-04-15 23:35] King-of-Spades commented on #928
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-04-15 23:35] King-of-Spades commented on #829
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-04-15 23:36] King-of-Spades commented on #979
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-04-15 23:36] King-of-Spades commented on #972
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-04-15 23:39] King-of-Spades commented on #940
Hi @saritaNegi, is your most recent comment a workaround for the issue, or a fix? If it's a workaround, it'd probably still be best to reach out to support so they can investigate and determine if the underlying cause was a bug.

We've also recently updated our support interface, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper ri

[2020-04-15 23:40] King-of-Spades commented on #926
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-04-15 23:40] King-of-Spades commented on #876
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-04-15 23:41] King-of-Spades commented on #963
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-04-15 23:44] King-of-Spades commented on #933
Some of my samples here might be appropriate for this: https://github.com/King-of-Spades/AppCenter-Samples

They're a bit outdated, I need to move them over here to integrate the samples directly:
https://github.com/Microsoft/appcenter

[2020-04-15 23:45] King-of-Spades commented on #949
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-04-15 23:54] King-of-Spades commented on #939
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-04-15 23:54] King-of-Spades commented on #919
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-04-15 23:55] King-of-Spades commented on #917
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-04-15 23:56] King-of-Spades commented on #799
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-04-15 23:57] King-of-Spades commented on #938
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-04-15 23:58] King-of-Spades commented on #965
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-04-15 23:59] King-of-Spades commented on #785
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-04-16 01:01] magantisurya commented on #933
I logged two defects with app center.  It's in beta version. My sincere
suggestion is not to use it. I found Saucelabs are doing great in logging
and debugging aspects. Moreover app center doesn't support hybrid
frameworks.

On Wed, Apr 15, 2020, 6:44 PM Kent Green <notifications@github.com> wrote:

[2020-04-16 03:45] MrXemiu commented on #965
I'll review logcat output tomorrow and verify whether I see "App Center SDK configured successfully," and let you guys know.

[2020-04-16 06:54] MatkovIvan commented on #701
Hi @mightypanda ,

It's not supported by App Center Unity SDK yet. We've marked this as feature request for now.

[2020-04-16 11:06] annakocheshkova commented on #947
Thanks. We will fix that.

[2020-04-16 11:06] #947 closed, assigned to elamalani

[2020-04-16 11:06] annakocheshkova commented on #946
Thanks, we will fix that.

[2020-04-16 11:06] #946 closed, assigned to elamalani

[2020-04-16 11:18] olmisa commented on #893
Hello @sreejithvijayan ,
as I see, the method 'SetUserId' should override the previous 'UserId' value.
If we have the same 'UserId' on several devices then notifications which were sent to this 'UserId' will be sent to all devices.
Thanks.

[2020-04-16 12:02] BogdanRad commented on #979
I have same problem..

[2020-04-16 12:34] sreejithvijayan commented on #893
That clarification helps!!! Can this be part of the documentation?

[2020-04-16 14:05] annakocheshkova commented on #916
Hi, the example we have in the docs is for `NSAlert` and it is correct. The words about `alertView:clickedButtonAtIndex` seem to be occasionally copied. I will update the docs.

[2020-04-16 14:19] annakocheshkova commented on #931
Yes @Sam-Hepworth, this is correct. `SetStorageSize` API is designed to increase this available storage size.

[2020-04-16 14:19] #931 closed, assigned to ahdbilal

[2020-04-16 14:33] annakocheshkova commented on #935
Hi. No, this API is not yet available. Please follow the [feature request](https://github.com/microsoft/appcenter-sdk-cordova/issues/84).

[2020-04-16 14:33] #935 closed, assigned to nobody

[2020-04-16 14:55] annakocheshkova commented on #924
Hey, this issue can appear due to different reasons and has many ways to be resolved. They are not related to the SDK.
If you have some troubleshooting steps _specific_ to our SDK, please share them.
If you have unknown issues configuring the SDK, please open a new issue in the cordova repository.

[2020-04-16 15:48] annakocheshkova commented on #845
Hi, thanks for the mention. Yes, you need to start App Center in each of them. To avoid duplicate `start` calls, check if App Center is enabled before that. I will update the docs. You can also incapsulate the code in some class that will be called from any place where the app can be started.

[2020-04-16 22:50] King-of-Spades commented on #979
@BogdanRad have you reached out to App Center Support? If not, I recommend doing that.

[2020-04-16 22:54] King-of-Spades commented on #933
@magantisurya Did you log those defects with the support team? Or in another location? I just want to double-check, to make sure the support team is aware of them.

"Doesn't support hybrid frameworks" App Center does support iOS apps using Xamarin, native Obj-C/Swift, and React Native; it also supports Appium Java. I'm not sure what setup you're referring to with 'hybrid' though, so maybe somethin

[2020-04-16 23:47] King-of-Spades commented on #667
@winnie is there a tracking item for the relevant feature on here? https://github.com/microsoft/appcenter/issues

[2020-04-16 23:50] King-of-Spades commented on #670
Hi, sorry for the long time not hearing from us. I'm currently reviewing and cleaning up old issues.

Can you give any context on what's 'different' that you observed?

[2020-04-16 23:58] King-of-Spades commented on #697
@ramaguduri I copied your request to the App Center repository for feature requests: https://github.com/microsoft/appcenter/issues/1809

Feel free to add any additional comments on there, and give the request a 👍to show your support. You can also file other feature requests or vote on them in that repository too.

[2020-04-16 23:58] #697 closed, assigned to winnie

[2020-04-17 09:27] annakocheshkova commented on #893
Sure, I will add a note to the docs. Thank you.

[2020-04-17 09:27] #893 closed, assigned to ahdbilal

[2020-04-17 09:35] snitkjaer opened #980 "appSecret best practice"
Is it a good idea to store the appSecret in code like in the example above?

https://github.com/codepath/android_guides/wiki/Storing-Secret-Keys-in-Android

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa9700f5-b9e0-dfe1-ddbc-b5a3231dde11
* Version Independent ID: 11728c80-1474-c1dc-caf0-2c6b6c44bbb3
* Content: [Get S

[2020-04-17 09:50] avakhrushev opened #981 "'Locale' field value format unclear | examples inconsistent"
The 'locale' field is described as required, but what is the correct 'language code' format? The examples show different versions with '-' or '_'. How is it used? Is it simply an arbitrary string?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a69bd5cb-5747-8e88-ff48-c93e5d42ae51
* Version Independent ID: 014b77ea-32ca

[2020-04-17 10:11] jinyang1994 commented on #670
Sorry, it ’s been a long time, I can’t remember the problem at that time

[2020-04-17 10:50] avakhrushev opened #982 "'Threads' property not described"
It is shown in the examples but never mentioned otherwise. Is it optional?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a69bd5cb-5747-8e88-ff48-c93e5d42ae51
* Version Independent ID: 014b77ea-32ca-ba1f-745b-33496d3f02d2
* Content: [Upload crashes via API - Visual Studio App Center](https://docs.microsoft.com/en-us/ap

[2020-04-17 12:26] jwargo commented on #893
@sreejithvijayan the answer to your one question is provided here: https://devblogs.microsoft.com/appcenter/visual-studio-app-center-user-identity-shared-devices/

[2020-04-17 13:37] avakhrushev opened #983 "What 'sdkVersion' should be set to when using HTTP API ?"
The 'sdkVersion' is listed as required "version of the SDK". Does it mean AppCenter SDK? What value it is to be set to when usign HTTP API and not an SDK?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a69bd5cb-5747-8e88-ff48-c93e5d42ae51
* Version Independent ID: 014b77ea-32ca-ba1f-745b-33496d3f02d2
* Content: [Upload

[2020-04-17 15:23] King-of-Spades commented on #670
That's alright, in the process of cleaning up these old issues I'm trying to get us to a point where we don't leave them aging too much.

- If you have future documentation requests, this is the best place (appcenter-docs)
- For feature requests, you can file those here: https://github.com/microsoft/appcenter/issues
- For technical support, you can contact support by:
   1. Going to https://appcen

[2020-04-17 15:23] #670 closed, assigned to ahdbilal

[2020-04-17 17:17] King-of-Spades commented on #701
@MatkovIvan @mightypanda I'm attempting to determine if we can get this issue transferred over to microsoft/appcenter which handles feature requests.

We can either copy-paste the request in a new feature, or we find a duplicate feature we can merge that and you can upvote it to give it greater visibility.

For example, this request looked a bit related:

https://github.com/microsoft/appcenter/iss

[2020-04-17 17:24] King-of-Spades commented on #667
I wasn't able to find a definite match for it in the feature request; if I still haven't found one or heard back by next week, I'll migrate this over to the appcenter repository and just leave a note that it might be a duplicate.

[2020-04-17 17:33] King-of-Spades commented on #747
I transferred this over to the App Center repository since that hosts code samples.

[2020-04-17 17:33] #747 closed, assigned to nilofer

[2020-04-17 17:40] King-of-Spades commented on #877
Duplicate of https://github.com/microsoft/appcenter/issues/471. I recommend upvoting that with a 👍if you haven't done so already.

[2020-04-17 17:40] #877 closed, assigned to botatoes

[2020-04-17 17:43] duncwa commented on #875
This is the same error that I get when attempting to run the appcenter command in a Jenkins fastlane lane on a virtual mac machine.  Runs fine a bare metal.  1st Command in lane:  sh(`npm install -g appcenter-cli`),  2nd Command in lane: sh(`appcenter test run xcuitest --app "NameOfOrganization/NameOfApp" --device "NameOfOrganization/DeviceTestSetName" --test-series  "NameOfTestSeries" --locale "e

[2020-04-17 17:59] King-of-Spades commented on #950
Closing as duplicate of this request: https://github.com/microsoft/appcenter/issues/1740

You can give that issue a 👍 to show your support.

[2020-04-17 17:59] #950 closed, assigned to nobody

[2020-04-17 18:03] King-of-Spades commented on #970
@miqmago I found a related feature request here:

https://github.com/microsoft/appcenter/issues/1245

Does that cover what you're looking for? If so, I recommend giving it a 👍, if not (and there aren't any other duplicates); then we should move this request over to that repository where it's more visible.

It'd be good if you can also outline what specific support you want added in the same way as

[2020-04-17 18:28] King-of-Spades commented on #795
I've moved your request to the microsoft/appcenter repository where feature requests are tracked: https://github.com/microsoft/appcenter/issues/1811

[2020-04-17 18:28] #795 closed, assigned to ScottArbeit

[2020-04-17 18:30] King-of-Spades commented on #775
@anywherepilot So is your recommendation for this to create a sample if possible/feasible?

[2020-04-17 18:43] King-of-Spades commented on #966
I'm migrating this to the App Center feature request repo along with a similar request: https://github.com/microsoft/appcenter/issues/795

[2020-04-17 18:43] #966 closed, assigned to nobody

[2020-04-17 18:56] King-of-Spades commented on #875
Hi @duncwa, can you reach out to support like I mentioned in my last comment so they can investigate?

[2020-04-18 09:28] #970 closed, assigned to nobody

[2020-04-18 17:53] fahrul66 opened #984 "Readme.mdb"
Fix me

[2020-04-19 15:25] APPWep4u commented on #398
Download App for Android with APPWep APP downloader. NoAds, Faster app downloads, and app file update speed. Best of all, it's free APPWep.com

[2020-04-19 20:06] askpatrickw opened #985 "There is no "Release management in the left-hand menu""
App Signing is now  top-level menu item.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 868e3edf-f3af-950e-4f8a-ea30c392e883
* Version Independent ID: a725a1f2-fe7b-b7be-8e5e-6db22c2a756d
* Content: [Publish to Google Play Store - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/distribution/stores/

[2020-04-19 20:08] askpatrickw opened #986 "There are now 4 App Signing key management options"
[code]

Is now incorrect.  There is now a 4th option "Let Google create and manage my app signing key (recommended)"

In this documentation it is unclear which is the correct option to choose or if all are acceptable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 868e3edf-f3af-950e-4f8a-ea30c392e883
* Version Independ

[2020-04-19 21:12] askpatrickw commented on #986
The screenshot is wrong too.

[2020-04-20 01:53] anywherepilot commented on #775
@King-of-Spades It's what would be needed to resolve this issue. It's not a recommendation per se. My recommendation is to have a different page somewhere which actually describes in detail, including scripts you can copy paste and build on top of, how to use our API.

This page just describes how to use the API (which calls to make) in this particular scenario. How you make those calls, either ma

[2020-04-20 07:32] annakocheshkova commented on #924
Hey, we haven't heard from you in a while - if you have any updates or new questions - please reopen the issue. Thanks!

[2020-04-20 07:32] #924 closed, assigned to elamalani

[2020-04-20 07:35] #916 closed, assigned to winnie, ahdbilal

[2020-04-20 07:36] annakocheshkova commented on #845
If you don't have any more questions, I'm closing this issue. Thanks.

[2020-04-20 07:36] #845 closed, assigned to ahdbilal

[2020-04-20 21:21] miqmago opened #989 "Parameter usage"
Please put the parameter usage on each section (i.e. on title section) so one can stop scrolling up and down...
Also an example of each command on every section would help

i.e:

Target binary version parameter [link](https://docs.microsoft.com/en-us/appcenter/distribution/codepush/cli#target-binary-version-parameter)

vs.

Target binary version parameter [-t|--target-binary-version <version>] [li

[2020-04-20 22:00] miqmago opened #990 "Add Deployment step missing in docs"
Novice question: Spend half an hour stuck with this error:

[code]
First intent was a confusion as I thought it had to do with app "Release Type" in appcenter settings (really confusing...)

At the end I discovered that I had to add the deployment manually:

[code]

Additionally, at this moment I still don't understand what is "Release Type". Found some documentation on docs but it only describes

[2020-04-21 10:03] kohpai opened #991 "A way to select the version?"
I still can't figure out how select the version of macOS in the build configuration. How can I do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 022126c7-2d61-9c53-6881-149310c137c0
* Version Independent ID: 4fe62fb4-6dd9-057e-8f57-fb4c6dcb71f8
* Content: [App Center Cloud Build Machines - Visual Studio App Cente

[2020-04-21 13:34] sators opened #992 "Add testing support for React Native test frameworks"
Detox would be a great add for React Native based projects - https://github.com/wix/Detox

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e1f8239-19fa-9c4b-52f5-b9c19cafbb4a
* Version Independent ID: 1980a317-8a4a-10b3-eedd-32af9d36cfbe
* Content: [Supported Test Frameworks - Visual Studio App Center](https://docs.micr

[2020-04-21 18:39] #984 closed, assigned to nobody

[2020-04-21 18:43] King-of-Spades commented on #992
Duplicate of https://github.com/microsoft/appcenter/issues/262. You can upvote that issue to show your support.

[2020-04-21 18:43] #992 closed, assigned to Oddj0b

[2020-04-21 18:53] King-of-Spades commented on #991
The macOS version used to be documented as inheriting based on the Xcode version used, rather than being manually configurable: https://github.com/MicrosoftDocs/appcenter-docs/commit/f5f23218913f135a9a34d0260152f86bb0378c41

I don't think this behavior changed, but I'm not sure why it was removed from our cloud build machines documentation.

[2020-04-21 18:59] King-of-Spades commented on #985
Looks like you're referring to this subsection? https://docs.microsoft.com/en-us/appcenter/distribution/stores/googleplay#set-up-app-signing-by-google

[2020-04-21 21:36] askpatrickw commented on #985
yep... that's the section.

[2020-04-21 21:37] askpatrickw commented on #986
After mucking about with this for two days. I think the "happy path" (i.e., default recommendation) should be to use Google's app signing and then you need to also generate your own keystore to do the code signing. Annoying thing about that is the Android Studio steps in the link no longer match the Android Studio UI...

You can generate your own keystore using the CLI though:

`keytool -genkey -v

[2020-04-22 00:42] King-of-Spades commented on #954
What are you using to write the apps? For example, if you're using Xamarin, stack traces are based on the native Android & iOS platforms, because even though your code is written in C# it's compiled to native.

Most likely, the log format is inherited based on the platform you're using and not something the App Center team has control over.

If you have any suggestions on how we could better docum

[2020-04-22 02:08] pranavi9 opened #993 "Unable to Distribute aab file"
Hi,
We updated our code to generate AAB file instead of APK file for Android builds. I am unable to distribute AAB builds to QA teams, could you please guide me how can we follow the steps to install build from AAB file?

[2020-04-22 03:33] winnie commented on #982
Hi @avakhrushev - 'Threads' are not a required property. This is an array of thread stack frames associated with the error. You can find a complete description or all our properties [here](https://in.appcenter.ms/preview/swagger.json).

All required properties are listed in the "Log properties" list in the doc. Hope this helps!

[2020-04-22 03:33] #982 closed, assigned to winnie

[2020-04-22 13:04] joemather commented on #956
@jwargo -  Are you still expecting to release the push migration plan this month?  Or will it slip to May?  Thanks.

[2020-04-22 14:09] jwargo commented on #956
@joemather last I heard it was pending. Should be April.

[2020-04-22 15:24] theothernt opened #994 "App Center SDK + required Windows 10 versions"
As the newer App Center SDK 3.x for UWP requires a more recent version of Windows 10 (1803 I think?), it might be worth adding which versions of Windows 10 are required for 3.x and maybe 2.x if it's still supported?

[2020-04-22 16:24] elamalani commented on #681
@zippo227 Private submodules hosted in GitHub are not supported in App Center.

[2020-04-22 16:24] #681 closed, assigned to elamalani, nilofer

[2020-04-22 16:32] fabiendem opened #995 "Clarify "Manage settings" in Organization roles"
In Organization roles at https://docs.microsoft.com/en-us/appcenter/dashboard/creating-and-managing-organizations#organization-roles
It's not clear what the access to "Manage settings" means. Is it for the whole organization? Per project?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b25db130-1d25-ae85-d893-d11c519f75

[2020-04-22 16:48] #933 closed, assigned to Oddj0b, King-of-Spades

[2020-04-22 16:49] #688 closed, assigned to King-of-Spades

[2020-04-22 16:49] #746 closed, assigned to King-of-Spades

[2020-04-22 16:49] #875 closed, assigned to King-of-Spades

[2020-04-22 16:50] #927 closed, assigned to King-of-Spades

[2020-04-22 16:50] #928 closed, assigned to King-of-Spades

[2020-04-22 16:50] #919 closed, assigned to King-of-Spades

[2020-04-22 16:50] #799 closed, assigned to King-of-Spades

[2020-04-22 16:50] #963 closed, assigned to King-of-Spades

[2020-04-22 16:51] #917 closed, assigned to King-of-Spades

[2020-04-22 16:51] #785 closed, assigned to King-of-Spades

[2020-04-22 16:51] #705 closed, assigned to King-of-Spades

[2020-04-22 16:51] #829 closed, assigned to King-of-Spades

[2020-04-22 16:51] #972 closed, assigned to King-of-Spades

[2020-04-22 16:52] #926 closed, assigned to King-of-Spades

[2020-04-22 16:52] #876 closed, assigned to King-of-Spades

[2020-04-22 16:52] #949 closed, assigned to King-of-Spades

[2020-04-22 16:52] #979 closed, assigned to King-of-Spades

[2020-04-22 16:52] #939 closed, assigned to King-of-Spades

[2020-04-22 17:03] #940 closed, assigned to King-of-Spades

[2020-04-22 17:03] #938 closed, assigned to King-of-Spades

[2020-04-22 17:03] #965 closed, assigned to King-of-Spades

[2020-04-22 17:06] King-of-Spades commented on #994
@theothernt I'm not quite clear on what you're requesting...are you asking if the App Center team can update support for those versions, or are you asking if we can document the current support?

[2020-04-22 20:24] theothernt commented on #994
Apologies for not being clear. I think documenting the currently supported versions in the docs would be a good idea (eg. 3.x requires Win10 1803 and above)

[2020-04-22 21:05] King-of-Spades commented on #994
Thanks for confirming that! I'll pass it to our PM team so they can evaluate it during our upcoming Doc-a-thon.

[2020-04-22 21:13] olmisa commented on #980
Hi @snitkjaer ,
As I understand, this is a normal situation to store 'app_secret' in a code. Looks like there is no way to be totally secure about 'app_secret' and it is just token.
For example, to be more secured, the 'app_secret' could be injected into code by a build system.
The way described here https://github.com/codepath/android_guides/wiki/Storing-Secret-Keys-in-Android also could be used.

[2020-04-23 06:15] MatkovIvan commented on #994
@theothernt SDK 3.x supports 16299 or above. This is already documented here - https://docs.microsoft.com/en-us/appcenter/sdk/#windows-uwp

[2020-04-23 09:18] avakhrushev commented on #607
+1
@blparr Were there really any changes made to the page? I can't seem to find any in the history, and the Release Type section is still confusing. I wonder if this Issue here was closed by mistake, before anything was actually done to fix it.

[2020-04-23 10:29] crystalneth opened #996 "Missing code-push-cli installation"
Should add:

npm install -g code-push-cli

code-push executable is not included in appcenter-cli

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 609b687a-a22b-47e0-b20f-767a56109c47
* Version Independent ID: f6e679d5-638b-c150-5fe9-11cbfe97c7ae
* Content: [Use CodePush to update your app live - Visual Studio App Center]

[2020-04-23 10:36] crystalneth opened #997 "Incorrect code-push command"
This references

code-push deployment list -a

however this does not have a -a parameter

Possibly you mean

appcenter codepush deployment list -a

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39490e39-be97-2bba-5afc-6bc8bed39690
* Version Independent ID: 357a2070-e41c-b346-e18b-606eec7255c2
* Content: [Using the Reac

[2020-04-23 10:55] crystalneth opened #998 "Missing instructions for incorrect path to plist and xcode file"
Codepush is for some reason inferring my plist file is located under ios/[lowercase-appname], when in fact my path is a little different. It does similarly for the name of the xcode project file.

I had to google around to find out that I need to use both of these parameters:

--plist-file [...] --target-binary-version [...]

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-04-23 11:38] crystalneth opened #999 "Missing instructions on adding code to React Native project"
In the react-native-code-push npm module, it details how to add code push to the app, however I did not see that mentioned here. This seems to be intended to be a complete how-to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39490e39-be97-2bba-5afc-6bc8bed39690
* Version Independent ID: 357a2070-e41c-b346-e18b-606eec

[2020-04-23 14:07] theothernt commented on #994
@MatkovIvan thanks for that. I was also thinking it would make a good addition to https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/uwp#1-prerequisites (maybe a link?) as that is the page linked within some of the App Center web site.

[2020-04-23 17:09] yassineKharraz opened #1000 "self hosted Bitbucket repository"
I've seen that Gitlab is supported for self-hosted instance , is self-hosted Bitbucket not supported ?

[2020-04-23 17:49] MatkovIvan commented on #994
@thambuzk yeah, I already did this a few hours ago, it should be published soon

[2020-04-23 17:50] #994 closed, assigned to King-of-Spades, ahdbilal

[2020-04-23 23:57] ahdbilal commented on #993
@pranavi9 We currently don't support distribution of .aab files to test users. However, this feature is under consideration by our team. You can follow this feature request on https://github.com/microsoft/appcenter/issues/955.

[2020-04-23 23:57] #993 closed, assigned to ahdbilal

[2020-04-24 00:07] ahdbilal commented on #985
@askpatrickw I still see the "Release Management" option in the menu. You need to create/select your app to see that.

<img width="1523" alt="Screen Shot 2020-04-23 at 5 03 31 PM" src="https://user-images.githubusercontent.com/55514721/80161226-8c0c1200-8584-11ea-8fdb-99dbdad064b3.png">

[2020-04-24 00:07] #985 closed, assigned to ahdbilal

[2020-04-24 00:07] #980 closed, assigned to elamalani, ahdbilal

[2020-04-24 00:08] #974 closed, assigned to elamalani, ahdbilal

[2020-04-24 00:11] ahdbilal commented on #953
@iamclement Can you confirm this? Thanks

[2020-04-24 00:21] ahdbilal commented on #945
Closing this issue as I do see Unity in the portal. Feel free to open the request if you still can't find the Unity Platform.

[2020-04-24 00:21] #945 closed, assigned to King-of-Spades, elamalani, ahdbilal

[2020-04-24 01:23] askpatrickw commented on #985
Hmmm. I must have had it scrolled off or something. Sorry.

[2020-04-24 03:27] #775 closed, assigned to ahdbilal

[2020-04-24 03:28] #779 closed, assigned to dipree, ahdbilal

[2020-04-24 03:30] ahdbilal commented on #797
Closing this as the doc has been updated to reflect the new url. Thanks

[2020-04-24 03:30] #797 closed, assigned to elamalani, botatoes, ahdbilal

[2020-04-24 03:31] #806 closed, assigned to winnie, ahdbilal

[2020-04-24 03:34] ahdbilal commented on #973
A PR has been sent with the requested update.

[2020-04-24 03:34] #973 closed, assigned to ahdbilal

[2020-04-24 04:16] ahdbilal commented on #775
Closing this issues. I agree with @anywherepilot recommendation. We should probably create another page that can share some scripts on how to use our APIs.

[2020-04-24 05:02] ranjan-2209 commented on #945
Its present now
![snapshot](https://user-images.githubusercontent.com/16834561/80176624-d6d66a00-8616-11ea-82bc-693de9af314f.png)

[2020-04-24 05:03] ranjan-2209 commented on #944
@ahdbilal This is closed without reason
I am not able to re-open it.

[2020-04-24 05:06] ahdbilal commented on #944
Opening it again. We currently have no troubleshooting steps for Unity. Are there certain steps that you will like to see? or what common issues are you running with Unity?

[2020-04-24 05:28] ahdbilal commented on #833
Version name has to be different than previous. This has been changed in the document.

[2020-04-24 05:28] #833 closed, assigned to ahdbilal

[2020-04-24 08:25] ranjan-2209 commented on #944
The same steps that are present for other platforms.

[2020-04-24 10:51] avakhrushev opened #1002 "Are multiple attachments for a single report possible?"
Nothing in the text or in the API suggests that a report may only have one attachment. The server accepts calls with more than one attachment with no errors, and the corresponding tab in the dashbord is labeled attachmentS, but only the first one appears there and can be downloaded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-04-24 18:05] winnie commented on #1002
Hi @avakhrushev - we support multiple attachments per crash report. We will work on making the documentation more clear. Thanks!

[2020-04-24 19:32] avakhrushev commented on #1002
I see.
Apparently I am missing unique ids on my attachments. Id is listed as required in the [complete description](https://in.appcenter.ms/preview/swagger.json), still a report is accepted even when it is not set. May want to mention that too.

[2020-04-25 01:52] King-of-Spades commented on #1000
Unfortunately it's unsupported: https://docs.microsoft.com/en-us/appcenter/build/connect

You can file or upvote 👍 a feature request for it here: https://github.com/Microsoft/appcenter/issues

I recommend including any specific details about the request you have in mind, if applicable.

[2020-04-25 01:52] #1000 closed, assigned to nobody

[2020-04-26 08:30] Vitala764 opened #1003 "Спасибо разработчики"
Крута искал очень давно

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36da5026-39aa-9a48-440c-7e57da3e3373
* Version Independent ID: eff2f79f-df52-829f-a0c3-71396e365884
* Content: [Help and feedback - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/help#feedback)
* Content Source: [docs/help.md](

[2020-04-26 14:58] ahdbilal commented on #909
Closing this issue because of no activity. Feel free to reopen it or create a new one if you have any follow-up questions.

[2020-04-26 14:58] #909 closed, assigned to ahdbilal

[2020-04-27 13:49] #1003 closed, assigned to jwargo

[2020-04-28 09:33] jjindrich opened #1005 "Build with SQLite VSIX package for Universal Windows Platform"
Hello, I need to build UWP application which requires installation of VSIX package for Universal Windows Platform https://sqlite.org/2020/sqlite-uwp-3310100.vsix. This package is required by Azure Mobile Services Offline data support. Is there any way how to install it during build ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-04-28 09:40] jjindrich commented on #407
Submitted new fr https://github.com/microsoft/appcenter/issues/1827

[2020-04-28 20:45] MorneZaayman opened #1006 "No longer relevant"
The Push section is no longer available on app center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94127961-00eb-9ba7-e7dc-9780424be2fb
* Version Independent ID: 3f5a2a50-d693-8af5-f32e-cc012e3b2aea
* Content: [Sending Push Notifications - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/push/sen

[2020-04-28 20:59] jwargo commented on #1006
@PloxsyBop yes, that's true because we announced that we are retiring the service. Is there a reason you created this issue?

[2020-04-28 21:12] MorneZaayman commented on #1006
The feature is still mentioned in App Center:
![image](https://user-images.githubusercontent.com/25976312/80537874-0f729c80-89a5-11ea-985a-a2b5358742e8.png)

The documentation mentions a migration guide, but this is at the bottom:
![image](https://user-images.githubusercontent.com/25976312/80537946-2ca76b00-89a5-11ea-8bf4-773ae190291e.png)

So it seems to me you have retired a service but still re

[2020-04-28 22:45] King-of-Spades commented on #1005
Currently, we don't have direct support for installing custom tooling, and I'm not seeing that in the build image: https://github.com/actions/virtual-environments/blob/master/images/win/Windows2019-Readme.md

You could try installing it via a build script: https://docs.microsoft.com/en-us/appcenter/build/custom/scripts/

You could also request feature support be added for it, or for some other app

[2020-04-28 22:45] #1005 closed, assigned to siminapasat

[2020-04-28 22:52] King-of-Spades commented on #1006
@PloxsyBop where are you copying that text from? I'm not seeing the "Use Additional services" in the doc you filed this issue from.

Adding @elamalani for thoughts on the migration footer:
https://docs.microsoft.com/en-us/appcenter/migration/push/#migration

[2020-04-28 23:06] #667 closed, assigned to King-of-Spades, winnie, ahdbilal

[2020-04-28 23:43] elamalani commented on #1006
@PloxsyBop We will update the docs and share the migration guides from App Center Push to Notification Hubs soon.

[2020-04-29 06:34] jjindrich commented on #1005
@King-of-Spades Build script seems ok, but can I install vsix ? Is there Visual Studio on build machine ? I think it's required.

[2020-04-29 12:35] jwargo commented on #1006
@PloxsyBop The service is still operational, the only change is that new apps can't enable the service. For that reason, we left the references to Push in the product. We will remove references to push once we retire the service (which will likely be by the end of the calendar year).

We have provided a reasonable alternative, Azure Notification Hubs is a robust, time-tested service that you can u

[2020-04-29 14:58] King-of-Spades commented on #1005
Yes, all the details for the windows machines are on the link I shared: https://github.com/actions/virtual-environments/blob/master/images/win/Windows2019-Readme.md

[2020-04-29 16:22] MorneZaayman commented on #1006
The "use additional services" text comes from the page that appears when you create an app in App Center. I don't agree that Notification Hubs is a _reasonable alternative_ as it stands currently, but more just one that _technically_ can be used. It requires much more manual setup to get working compared with App Center Push. To offer a true migration path, Microsoft should create a drop-in replac

[2020-04-29 17:00] elamalani commented on #1006
@PloxsyBop Thanks for letting us know. We will update the overview page and remove references to Push.
I will also forward your feedback to the Notification Hubs team. They would be interested to learn about your feedback and improve the service going forward.

[2020-04-29 20:02] jjindrich commented on #1005
@King-of-Spades thanks link provided.
I created appcenter-post-clone.ps1 and tested locally. VSIX file is located in same location. Locally it installs VS extension correctly.
File content:
Write-Host "VSIX started"
& 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\IDE\VSIXInstaller.exe' /quiet sqlite-uwp-3310100.vsix
Write-Host "VSIX completed"

But still build failed with

[2020-04-29 20:56] King-of-Spades commented on #1005
The problem might be the paths you're supplying. We have some pre-defined path variables here, but I don't know if they're sufficient: https://docs.microsoft.com/en-us/appcenter/build/custom/variables/

[2020-04-29 22:27] diogot opened #1008 "App Center Errors for iOS"
Why there isn't support for App Center Errors in iOS? Many supported platforms run on iOS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d3221f1-fd33-0f5b-5566-8af37bbe2244
* Version Independent ID: 6efcb61b-28bf-09bc-886d-c7a7188b91dc
* Content: [App Center Diagnostics - Visual Studio App Center](https://docs.micros

[2020-04-29 23:12] yanxiaodi opened #1009 "Contradictory Information about the offline cache"
I am wondering the behavior of the offline sync of AppCenter.
On this page(https://docs.microsoft.com/en-us/appcenter/analytics/faq?source=docs#feedback), it says:
If the app is offline, does the SDK store the logs and then send them once it is back online?
Yes. If the app is offline, the SDK will store up to 300 logs in storage. Once the network connectivity is restored, the SDK will send these l

[2020-04-30 09:58] jjindrich commented on #1005
@King-of-Spades thanks, now works, VSIX is installed correctly.
Please can you help me with signing ? I uploaded my PFX file into Build definition but I don't know how to access it during build - not described https://docs.microsoft.com/en-us/appcenter/build/windows/uwp/first-build#35-simulator-build.
I need to use my own Windows Store certificate to sign package.

[2020-04-30 14:02] winnie commented on #1008
Hey @diogot - thanks for the feedback. We haven't had bandwidth to prioritize this feature yet.

I'm going to close this issue but please give the feature request in the App Center repo an upvote: https://github.com/microsoft/appcenter/issues/192. Thanks!

[2020-04-30 14:02] #1008 closed, assigned to winnie

[2020-04-30 15:30] King-of-Spades commented on #1005
@jjindrich Two things to check:
1. Check if the build works without signing.
2. This documentation covers troubleshooting options on your side: https://docs.microsoft.com/en-us/appcenter/build/troubleshooting/build-failed#if-building-works-locally-but-not-in-app-center

If that still doesn't work and you have further questions, I recommend reaching out to the App Center Support team; I'm going on

[2020-04-30 16:21] avakhrushev opened #1011 "Attachments size limit details, implications unclear"
&gt;The size limit for attachments is currently 7 MB
Looks like this is the limit for all attachments of a report together? Makes sense in retrospect, but is not clear from the way it is phrased.
&gt; Attempting to send a larger attachment will trigger an error.
What "trigger an error" means for the intents of this API? Looks like the Note might have been brought over from the Mac documentation as

[2020-05-01 07:43] MorneZaayman commented on #1006
Thanks. I'm sorry that sounded like a bit of a rant, but it becomes very frustrating when during the development of a project, the APIs you rely on suddenly get changed, with no real migration path other than to learn a new system which works quite differently to what existed before. This adds unnecessary cost to the project, and also adds extra maintenance costs to other projects currently using

[2020-05-01 08:45] #686 closed, assigned to Oddj0b

[2020-05-01 09:14] Oddj0b commented on #920
Hey @GaryMeyersMN There's not a lot I can do about Visual Studio for Mac besides redirecting them here. But I can and will update the Screenshots.

[2020-05-01 12:39] jwargo commented on #1006
@PloxsyBop I understand, retiring the service isn't easy on any of us.  We know ANH isn't as easy to use as ACP. Azure Notification Hubs (ANH) is actually much more robust than App Center Push (ACP), Push actually runs on top of it, so that's why we decided to pick one over the other. Notification Hubs handles a much higher load, is faster, and is more flexible.

We'd been working on a plan to mak

[2020-05-01 12:39] #1006 closed, assigned to elamalani, jwargo

[2020-05-01 15:44] ajaykn commented on #922
@MaxSteinMS  Thanks for letting us know about this.
We have verified with our test app and not able to repro, as we are able to see the `Properties` tab in Intune console.

Do you see multiple customers reporting this ?
Can you please check with the customer to raise a ticket with us via our support channel by clicking on `Contact support` tab.
<img width="1667" alt="image" src="https://user-image

[2020-05-01 16:39] #920 closed, assigned to Oddj0b

[2020-05-03 12:36] Vitala764 opened #1014 "Спасибо за тестовый сервер"
Я вам благодарен

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa9700f5-b9e0-dfe1-ddbc-b5a3231dde11
* Version Independent ID: 11728c80-1474-c1dc-caf0-2c6b6c44bbb3
* Content: [Get Started with Android - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/android#3-add-the-app-center

[2020-05-03 12:37] Vitala764 commented on #34
Ага

[2020-05-03 20:24] thorbenprimke commented on #232
@pateljay43 - thanks for the tip! This should be noted in the settings / build configuration screen on App Center. As in - we use the `archive` type to build your app and you should make sure that the intended configuration is set.

<a href="https://gitme.me/image?url=https%3A%2F%2Fmedia1.giphy.com%2Fmedia%2F10UeedrT5MIfPG%2Fgiphy.gif&token=yay" data-gitmeme-token="yay"><img src="https://media1.gi

[2020-05-03 20:40] pateljay43 commented on #232
Yes. Personally I kind of agree with mentioning that somewhere, but the only reason I believe why its not shown on AppCenter settings webpage is because someone could have assumed - as we are making a "build" which can be installed on an apple device later on we will know that it is archiving. I mean you cannot install a build, over the air, by `xcodebuild build` action. If you know what I mean

[2020-05-04 09:38] Oddj0b commented on #976
It's because Xamarin.UITest is communicating with the Calabash server to automate your app. I was thinking of writing a page for automating a Swift app with Xamarin.UITest. Would that be of interest @jimicze ?

[2020-05-04 09:57] franvera opened #1015 "Wrong parameter in example for "Target binary version parameter""
Example text:
 ` ...Version parameter in double quotes when calling the release command, for example, appcenter codepush release -a &lt;ownerName&gt;/&lt;appName&gt; updateContents "&gt;1.2.3"`

Note how it writes updateContents and not --target-binary-version/-t

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2c2bd47-

[2020-05-04 11:37] #740 closed, assigned to Oddj0b

[2020-05-04 12:46] #828 closed, assigned to Oddj0b

[2020-05-04 15:37] bramborman commented on #972
Just to complete this thread, I've contacted the support and they said they'll update the documentation to reflect the real behavior which is that the `appLaunchTimestamp` is required.

[2020-05-04 15:46] phil-andrews commented on #664
You can also do this using an .npmrc file in your project root. It's pretty simple. This is [a tutorial explaining the exact process](https://medium.com/@PhilipAndrews/installing-private-npm-packages-in-microsoft-appcenter-ci-cd-13d61f02aab2)

[2020-05-04 17:25] stueynet commented on #53
Sorry but is now the future? Its 2 years later. This is quite problematic if you have an automated build pipeline. Is there any plan for this?

[2020-05-04 18:32] ahndrew opened #1016 "Google Play Store Draft Release"
Is there a way to push an aab to the google play store as draft release instead of releasing immediately?

[2020-05-05 11:48] sebhb opened #1017 "No "More" Menu"
There is no "More" Menu under "Settings" to transfer the app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7031e14-f8ab-1d70-6910-72565048b2c1
* Version Independent ID: 23e13d47-a99e-452a-4891-af3147995842
* Content: [Creating and managing apps - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/d

[2020-05-05 13:15] venh opened #1018 "Should a user be a Collaborator to be added to a team"
While inviting a user to the Collaborators group, I am getting an option for sending invitation as a Collaborator or as a Member. Which should I use? What is the difference? Even after the user accepted the invitation, I am not able to add this user to a team. Is there any time window after accepting the invitation for adding a user to a team. The documentation is not clear.

---
#### Document Det

[2020-05-05 20:06] alirazaseptems opened #1019 "I cannot access environment variable in android studio after decalring in build. gradle"
Hello , hope you are fine. I have added the environment variable by name "ApiBaseUrl" inside my android project.
then I include it in build.gradle file like this "  buildConfigField("String", "ApiBaseUrl", "\"${System.env.ApiBaseUrl}\"")". Now when I access it in my java class using "BuildConfig.ApiBaseUrl);", I cannot access it.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-05-05 21:53] cok31633 commented on #1018
good

[2020-05-05 21:54] cok31633 commented on #1018
5

[2020-05-05 22:44] amrutha786 commented on #956
@jwargo - When can we expect the instructions for how to streamline our app’s migration from App Center Push to Azure Notification Hubs?

[2020-05-06 05:24] tjsomasundaram-zz commented on #956
Hi

We are working on finalizing the migration guide. You should have instructions on moving from App Center Push to Azure Notification Hubs within a week. Thank you for your patience.

Thanks
Thejaswini (PM for Azure Notification Hubs )

From: amrutha786 <notifications@github.com>
Sent: Tuesday, May 5, 2020 3:45 PM
To: MicrosoftDocs/appcenter-docs <appcenter-docs@noreply.github.com>
Cc: Thejaswin

[2020-05-06 08:08] fgiacomelli commented on #462
Same request for me

[2020-05-07 20:44] epuidokas opened #1020 "Broken link"
`GDPR section of the Service Trust portal` link leads to a blank page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd84a4ba-2763-349d-ca45-1adec494d357
* Version Independent ID: 61f5bc4a-6aea-7af2-76aa-9b45d24aba19
* Content: [General Data Protection Regulation - Visual Studio App Center](https://docs.microsoft.com/e

[2020-05-08 00:24] guidedways opened #1021 "upload-symbols command incomplete"
Please provide a more exhaustive example of the upload command. It's not clear how to specify the target app / company / organization / platform etc. "appcenter crashes help" doesn't work either, so there's no way to learn about the additional parameters the command expects.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-05-08 16:02] danielmeza commented on #462
Shall we wait until .net 5 comes to Xamarin in order to get this feature? If yes I can wait 👯

[2020-05-08 18:37] Mikilll94 commented on #462
Same issue here:
In release mode, line numbers are not shown in stack traces on both iOS and Android.

In debug mode, line numbers are shown.

[2020-05-08 21:23] mirzasohailbaig opened #1024 "Azure Notification Hubs for unity"
Will there be support for unity with the migration to Azure Notification Hubs?

[2020-05-09 06:58] catlan commented on #462
See open issue on App Center [#165](https://github.com/microsoft/appcenter/issues/165) and Xamarin Android [#3657](https://github.com/xamarin/xamarin-android/issues/3657).

[2020-05-11 07:18] fgiacomelli commented on #462
I obtained lines number using mono-symbolicate tool, enabling debug info and saving pdb and dll of each build. But it's a very useful information, it would be great if App Center should be able to do it automatically

[2020-05-11 07:54] ricavir11 commented on #956
Can you provide a timeline for end of App center Push notification service ?

[2020-05-11 16:30] danielmeza commented on #462
@fgiacomelli question. The dll that you publish with the app has the debug info enabled or you enabled it just to get the pdb and then publish a dll version without debug support? I has because enable debug infrastructure affect the performance.

[2020-05-12 07:14] fgiacomelli commented on #462
at this time we are publishing a version with full debug info enabled; performances are not really worsened and for us is more important being able to fix crashes quickly.
@danielmeza did you tried to use a stacktrace produced from a release version (without pdb) with pdb files generated from the same version built with debug info enabled? I'm not sure it can works, but if it do, it would be great

[2020-05-12 08:20] MohamadMousheimish commented on #828
What's the fix for this issue?

[2020-05-12 09:35] Claytonglovo opened #1026 "Glovo app estafeta"
Olá bom dia, não consigo abrir a aplicação golvo para estafeta em meu Android gostaria de receber auxilio

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3659cbf-c706-9af5-b3ed-9e0cdb5f2819
* Version Independent ID: 97d69564-1130-e541-9362-c9272983784d
* Content: [Install a Build from App Center

[2020-05-12 09:37] Claytonglovo opened #1027 "Problemas com a aplicação Glovo"
Este é o link da aplicação Glovo

https://slack-redir.net/link?url=https%3A%2F%2Finstall.appcenter.ms%2Forgs%2Fglovoapp%2Fapps%2Fglover-1%2Fdistribution_groups%2Fpublic

[2020-05-12 12:36] jwargo commented on #956
We will be announcing that date soon (very soon). You'll have months to complete your migration to another service.

[2020-05-12 15:44] danielmeza commented on #462
@fgiacomelli No, I have not test yet I don't know how to put the pdb in the apk to be distrubuted to production! even when I deploy the app In debug mode when I use adb logcat to see the log the stack trace doesn't show the line number info.

[2020-05-14 11:28] petrogad opened #1030 "Export 2 Items; not found."
After installing the certificate, I don't see the export 2 items as noted in #6 of the "Getting a certificate from apple - .p12" section.

Is there a step I'm missing? I see both the Distribution and Development certificate in my keychain access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c01f1809-2316-7d47-1547-23

[2020-05-14 11:33] petrogad commented on #1030
Fixed; I had my "System" selected under keychain, not "Login".

Apologies!

[2020-05-14 11:33] #1030 closed, assigned to King-of-Spades

[2020-05-14 15:10] King-of-Spades commented on #1030
Thanks for letting us know, I should be able to highlight the "login" part a little more to hopefully prevent future confusion.

[2020-05-14 16:25] viewpnt1 opened #1031 "This page is missing required step for android installation >= 0.60"
In your android/settings.gradle file, make the following additions:

include ':app', ':react-native-code-push'
project(':react-native-code-push').projectDir = new File(rootProject.projectDir, '../node_modules/react-native-code-
push/android/app')

It is present on github repo, though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-05-15 13:48] jdnichollsc opened #1033 "Unknown argument --disabled for Patching Update Metadata"
Executing:
[code]
Returns an error:
[code]

Thanks in advance

[2020-05-15 13:48] jdnichollsc opened #1034 "Unknown argument --disabled for Patching Update Metadata"
Executing:
[code]
Returns an error:
[code]

Thanks in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2c2bd47-97e3-abc8-fbdd-305f0c631827
* Version Independent ID: 318718e7-a38a-7cc5-01a4-7ce0153c4398
* Content: [Releasing CodePush updates using the App Center CLI - Visual Studio App Center](https://docs.micros

[2020-05-15 13:49] #1033 closed, assigned to nobody

[2020-05-16 21:03] winnie commented on #1009
Thanks for pointing this out! App Center stores up to 10MB of logs for Android and iOS apps. There's no limit for Windows apps. I'll create a PR to update the docs.

[2020-05-19 00:42] crystalneth opened #1036 "Only Swift instructions included - no Objective C"
This page only has Swift language instructions and is missing Objective C versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45228922-4a96-8c08-7d27-69ef98d44943
* Version Independent ID: d04ef359-7b17-8a14-970b-5c48820976cd
* Content: [Get Started with iOS - Visual Studio App Center](https://docs.microsoft.com/e

[2020-05-19 06:47] MatkovIvan commented on #944
Fixed

[2020-05-19 06:47] #944 closed, assigned to ahdbilal

[2020-05-19 22:02] cchorun opened #1037 "Browser pop-up"
How do I know whether an app is on public or private track? I have a public download link, but it still pops up a prompt to authenticate to App Center. It says "&lt;Build file name&gt; wants to use appcenter.ms to sign in" with Cancel and Continue options. This is confusing for users in that it's not using the app name and no users are creating accounts because it's public. Can any of this be cust

[2020-05-20 15:31] jiewei93 opened #1038 "In-app updates doesn't work properly"
Hi,i'm working android 7.0,I've follow steps by steps in the documentation but still in-app updates doesn't prompt update dialog even i've installed from the public distribution installation link.

Appreciates any helps in advanced.

[2020-05-20 16:42] MianMUAmer opened #1039 "App Crashes while trying to integrate CodePush in android React Native app"
Hi
So I want in-app update, but just learnt that it is not supported with React Native. I wanted to try code push as an alternative. I am following its docs and my app crashes because of these lines in MainApplication.java

@Override
    protected String getJSBundleFile(){
      return CodePush.getJSBundleFile();
}

I dont know why. I am following this for React < 0.60

![image](https://user-image

[2020-05-20 20:52] alirazaseptems commented on #1019
my development branch is build successfully but when I create PR to master branch and build it. it says cannot find variable while it is present in master build.gradle also. so I cannot create apk with master branch untill it is successfully build.

[2020-05-21 08:38] merzink commented on #956
Blogpost with additional App Center Push retirement details is now [published](https://devblogs.microsoft.com/appcenter/migrating-off-app-center-push/).

[2020-05-21 15:14] ygliboch opened #1041 "Oh no, we couldn’t configure your branch!"
<img width="690" alt="Screenshot 2020-05-21 at 18 11 14" src="https://user-images.githubusercontent.com/45264639/82577664-f7510000-9b93-11ea-9263-0a9f4fb3c745.png">
Hi

I can't configure my build, because provision profile does not include the provided signing certificate. I can't understand why, I use a profile that generates from xcode. I also tried other options from the documentation and none

[2020-05-21 17:03] King-of-Spades commented on #1041
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-05-21 17:03] #1041 closed, assigned to nobody

[2020-05-21 17:03] King-of-Spades commented on #1039
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-05-21 17:03] #1039 closed, assigned to nobody

[2020-05-21 17:04] King-of-Spades commented on #1038
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-05-21 17:04] #1038 closed, assigned to nobody

[2020-05-22 06:30] gdchapman opened #1042 "Store connection validity."
Hi, do you have plans to extend the store connection validity period?
As per documentation above "The connection is valid for 90 days for an application in App Center." The 90 day limit results in failed distributions and manual creation of Intune store connections.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-05-26 13:57] Oddj0b commented on #986
Thank you for your help. I have an open PR listing the fourth option with a link to Google's help page: https://support.google.com/googleplay/android-developer/answer/7384423

[2020-05-26 14:06] #986 closed, assigned to Oddj0b

[2020-05-26 15:35] Oddj0b commented on #975
Should be explained here: https://docs.microsoft.com/en-gb/appcenter/test-cloud/uitest/get-started-with-ios-native

[2020-05-26 15:35] #975 closed, assigned to Oddj0b

[2020-05-26 15:36] Oddj0b commented on #976
I think it's described here: https://docs.microsoft.com/en-gb/appcenter/test-cloud/uitest/get-started-with-ios-native

[2020-05-26 15:36] #976 closed, assigned to Oddj0b

[2020-05-26 15:37] Oddj0b commented on #922
Feel free to open if the problem persists as we couldn't reproduce.

[2020-05-26 15:37] #922 closed, assigned to Oddj0b

[2020-05-26 20:20] emathew80 opened #1044 "How to connect --test-series with Espresso tests to run a specific suite of tests and not all tests."
Hello,

I am wondering how we can specify a --test-series inside our native espresso code to run only specified tests.

Ex.

I have 3 tests:

Login
Make Transaction
Cancel Order

Via gradle wrapper, I can run something like

./gradlew connectedAndroidTest -Pandroid.testInstrumentationRunnerArguments.class=com.app.testCases.login.Login

./gradlew connectedAndroidTest -Pandroid.testInstrumentationRu

[2020-05-26 21:19] james1301 opened #1045 "Useless page without documentation for all previously supported platforms"
Useless page without documentation for all previously supported platforms. More specifically Xamarin Forms in our case. It is blind guess work otherwise.

Looking at the suggested repository, there is no code and no signs of life. Again I don't hold my breath that is the right one, or it is going to provide any help.

Terrible page for help.

---
#### Document Details

⚠ *Do not edit this section.

[2020-05-27 02:44] merzink commented on #1045
Hi James - we appreciate the feedback. Please note that the process is iterative and we will be lighting up other platforms over time as well. We're trying to make sure that customers get the opportunity to play with the preview SDK releases as we work through each platform, allowing us to gather feedback, further iterate and improve our offering. In case you missed my comment on the other forums,

[2020-05-27 07:33] james1301 commented on #1045
@merzink does the documentation have links for that Android SDK? Personally I am wanting the Xamarin Forms iOS side. Under Support the github repository, is that correct? Doesn't seem like it has any activity. This blog is similarly confusing with what you can and can't do: [Migrating off App Center Push](https://devblogs.microsoft.com/appcenter/migrating-off-app-center-push/).

If the documentati

[2020-05-27 11:22] LaChrome opened #1047 "Obj c?"
Is there any OBJC support / examples planned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45228922-4a96-8c08-7d27-69ef98d44943
* Version Independent ID: d04ef359-7b17-8a14-970b-5c48820976cd
* Content: [Get Started with iOS - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/ios

[2020-05-28 05:24] merzink commented on #1045
Hi @james1301 - I understand your point about not making things clear (in the blog post or the migration guide) about additional platform support coming down the line; we'll rectify this with our next update. Our goal is to continue updating the migration guides, as well as the corresponding ANH tutorials as we light up additional platforms and feature sets.

By the way, we appreciate your patienc

[2020-05-28 19:42] King-of-Spades opened #1049 "[Failed Builds] Feedback Test"
Experiment based on using Failed Builds doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7649297-662d-25c0-9034-d8ccaea8c82b
* Version Independent ID: fd1e6d08-209f-9540-557f-c61592ac6797
* Content: [Failed Builds - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/troubleshooting/build-fai

[2020-05-28 19:48] King-of-Spades opened #1050 "Failed Build experiment 2"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7649297-662d-25c0-9034-d8ccaea8c82b
* Version Independent ID: fd1e6d08-209f-9540-557f-c61592ac6797
* Content: [Failed Builds - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/troubleshooting/build-failed#if-building-works-l

[2020-05-28 19:49] #1049 closed, assigned to nobody

[2020-05-28 19:49] #1050 closed, assigned to nobody

[2020-05-28 20:13] King-of-Spades opened #1051 "test feedback 3"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7649297-662d-25c0-9034-d8ccaea8c82b
* Version Independent ID: fd1e6d08-209f-9540-557f-c61592ac6797
* Content: [Failed Builds - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/troubleshooting/build-failed#if-building-works-l

[2020-05-28 20:13] #1051 closed, assigned to King-of-Spades

[2020-06-01 08:20] tomasz-soltysik opened #1053 "Android auto-backup section shouldn't be in code markup"
Whole [Android auto-backup section](https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/xamarin#424-if-you-use-auto-backup-to-avoid-getting-incorrect-information-about-devices-follow-the-next-steps) is in code markup, but only parts should be.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d72f6fe-74d6-696e

[2020-06-01 16:52] ronymesquita opened #1054 "Warning Related to Crashes.TrackError"
The section [Handled Errors](https://docs.microsoft.com/en-us/appcenter/sdk/crashes/xamarin#handled-errors) recommends the use of Crashes.TrackError with an exception, but [App Center 2.5.0](https://github.com/microsoft/appcenter-sdk-dotnet/releases/tag/2.5.0) indicates that this is obsolete and the build generates a warning.
What can be used to replace the code and remove this warning? Have any s

[2020-06-02 01:26] ikrasnoselskikh opened #1055 "There is no information about "Processing" status"
[Введите отзыв здесь]

<img width="164" alt="Снимок экрана 2020-06-02 в 03 25 16" src="https://user-images.githubusercontent.com/38478214/83469710-b0f77d00-a480-11ea-9c4c-f39905e02199.png">

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 1b066d6d-7bad-59da-5151-b5bc8e0b8462
* Version I

[2020-06-02 20:19] james1301 opened #1056 "The link to "work item types API" is very unclear what you can do"
The link to "work item types API" is very unclear what you can actually do. I was expecting a list of properties that can be specified. But instead you don't know what you can do.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99771c68-5f45-887a-e926-9ea772021f99
* Version Independent ID: 865109fc-64b8-ba77-2e10-800288

[2020-06-03 17:45] ehuna opened #1058 "Missing Campaign Name Max Length and valid characters"
What is a campaign name max length?
What are the valid characters accepted for a campaign name?

Same questions on title and message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aadf839d-04fb-8d6e-dd5d-57a79c1d0914
* Version Independent ID: ea1d2e77-e3dd-19c7-9abd-ecd8f156a00c
* Content: [Using the Push API - Visual

[2020-06-03 18:49] jwargo commented on #1058
@ehuna We announced that we're retiring the service by the end of the year. The service is in preview mode anyway, so it should not be used for production apps.  As we're retiring the service, we do not expect to make any documentation changes going forward.

The length limit is, I think, 100 characters, but I do not know for sure, I'll see if I can find out. Acceptable characters are the normal o

[2020-06-03 18:51] #1058 closed, assigned to jwargo

[2020-06-05 18:57] saimakin opened #1059 "MSCrashes.disableMachExceptionHandler() MSAppCenter.start("{Your App Secret}", withServices: [MSAnalytics.self, MSCrashes.self])"

[2020-06-07 09:18] charlesroddie opened #1060 "OS in "App Center Test Devices" should list the OS not just the version"
[Enter feedback here]

---
OS in "App Center Test Devices" should list the OS not just the version

E.g. "Android 4.2.2" instead of "4.2.2".

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0c64c24-c463-0383-84ca-35465cd40f47
* Version Independent ID: 391d0c7a-f6e5-3269-c616-e83266050331
* Content: [Devices Available - Visu

[2020-06-07 16:56] #1059 closed

[2020-06-09 07:52] Oddj0b commented on #1042
Hey,

We have an open feature request for handing Intune connections better, my best recommendation is to give it a vote here: https://github.com/microsoft/appcenter/issues/407

This repository is for fixing issues with our documentation, so I will be closing this issue.

[2020-06-09 07:52] #1042 closed, assigned to Oddj0b

[2020-06-10 07:40] Priskorn commented on #1060
Hi @charlesroddie We added a (Android/iOS) selector to the "App Center Test Devices" page.
Thanks for reaching out.

https://docs.microsoft.com/en-us/appcenter/test-cloud/devices/ios

cc: @Oddj0b

[2020-06-10 07:40] #1060 closed, assigned to Priskorn

[2020-06-11 11:48] joehanna opened #1063 "Dark Theme contrast is too high"
When using the "Dark" Theme in docs, I find I get sore eyes and get "burn in" very quickly with the high contrast of the white text (#e3e3e3) on very dark background (#171717) - especially during long articles. I have to stop reading and come back to it - or switch back to the Light theme.  All of which defeats the purpose of having a dark theme which is meant to be easier on the eyes.

Can we get

[2020-06-11 16:06] King-of-Spades commented on #1063
Hi,

Thanks for the feedback. Our team is responsible for the technical content relating to App Center, but the theme colors are inherited from the core Microsoft docs, so the request should be handled by them.

For example here's a recent request that sounds very similar: https://github.com/MicrosoftDocs/feedback/issues/2850

[2020-06-11 16:06] #1063 closed, assigned to King-of-Spades

[2020-06-12 18:02] MLADevelopmentTeam opened #1064 "Doesn't send email"
Nice overly verbose page.  Can't figure out how to get the system to send email to people in the distribution groups.  It seems to just fail silently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8ccb786-5f74-9c47-f6fa-a22720f823ad
* Version Independent ID: 3185af63-60df-aa2b-1d8c-b3db0ca3ad8c
* Content: [Distribute

[2020-06-16 17:46] spacesuitdiver commented on #124
This is under distribution group settings, what even does this do?
![image](https://user-images.githubusercontent.com/2807897/84809237-63762680-afcf-11ea-8569-16dcc6a9bd28.png)

[2020-06-17 04:36] nezuku opened #1065 "Searching words to find the Visual Studio App Center native app"
From "HockeyApp" to "Visual Studio App Center", current name.

If possible, should replace or update a following screenshot of an about the HockeyApp on the Google Play Store.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: fcecd38a-7696-e7f8-853d-d3c12c0b050c
* Version Independent ID: abdba972-b2cd-6c73-83fe-bb1abaac190f
* Content: [Testing Android A

[2020-06-17 12:39] pradeepvishwakarma commented on #237
Is there any workaround on this ?
I can't find relevant solutions. Can anyone help me into it.

[2020-06-17 18:24] sublime392 opened #1066 "Do updates delete the previous version?"
Does the act of installing an update first delete the previous version? I am trying to figure out why my app settings (iOS) are not persisting across app updates, and I can't find anything in the docs about it here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3659cbf-c706-9af5-b3ed-9e0cdb5f2819
* Version Independen

[2020-06-17 20:38] King-of-Spades commented on #1009
@winnie did you already update this or do you have a linked PR for the update?

[2020-06-17 20:41] King-of-Spades commented on #1027
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-06-17 20:41] #1027 closed, assigned to nobody

[2020-06-18 16:16] EmilAlipiev opened #1067 "errorAttachment Json Object wrong defined"
Below is not a valid Json object? Root element for Attachment is missing. it looks like 2 separate json file. can you clarify how to send attachments together with crash report for Custom Api?
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a69bd5cb-5747-8e88-ff48-c93e5d42ae51
* Version Independent ID: 014b77ea-32

[2020-06-22 19:22] jagmitsingh opened #1068 "AppCenter support for Katalon Tests"
I have a requirement to execute Katalon Studio tests against an IOS Mobile App using the appCenter.  Katalon Studio is a automation framework build on top of Appium.  Does the AppCenter support Katalon Tests execution? I know it supports appium, will it support execution of Katalon tests?

[2020-06-27 05:18] chimbori opened #1074 "Method `Crashes.trackException` not found in `com.microsoft.appcenter:appcenter-crashes:3.2.2`"
Perhaps I’m missing something, but the `Crashes.trackException()` method as documented here is nowhere to be found. Its counterpart `.trackError()` is present, but they serve different purposes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 216ee8d4-5303-a857-ceca-47a4c5a79ea9
* Version Independent ID: 2f6a68b7-5120-a

[2020-06-27 14:53] kgouraw opened #1075 "Is "Crashes.HasReceivedMemoryWarningInLastSessionAsync()" relevant without an app crash in the last session?"
Hi,

I'm using below code snippet, OnStart() of Xamarin Form App.cs,

bool hadMemoryWarning = await Crashes.HasReceivedMemoryWarningInLastSessionAsync();
if (hadMemoryWarning)
{
      Analytics.TrackEvent("Last_Session_Memory_Warning", new Dictionary<string, string>() { { "Had Memory Warning", hadMemoryWarning.ToString() } });
}

My app is running very smoothly without any issues but I get "hadMem

[2020-06-29 13:06] jeroen-van-dijk commented on #990
When you go to the [appcenter.ms ](url) dashboard.
**Distribute** -> **CodePush** -> **Get started and create Default Deployments**

[2020-06-30 22:21] King-of-Spades commented on #1075
Thanks for filing this report & sorry that you haven't heard back from us. It sounds like this issue for technical support, but this repository isn't monitored by our support team.

If you need technical help, you can contact support by:
1. Going to https://appcenter.ms/apps
2. Selecting **? > Contact Support** (in the upper right corner).
Reference this issue for context if needed.

If you've alr

[2020-06-30 23:13] kgouraw commented on #1075
Hey Kent,
This issue is not related to technical support. Please try to understand. I'm asking, does "Crashes.HasReceivedMemoryWarningInLastSessionAsync()" have any standalone meaning? Means should we call Crashes.HasReceivedMemoryWarningInLastSessionAsync() without Crashes.HasCrashedInLastSessionAsync() = true?

[2020-07-01 06:44] profeanurobert opened #1077 "DevOps test results shows 4 Passed/4 Failed but there are only 4 tests"
I'm using DevOps to run AppCenter tests. Test are showing ok in the AppCenter portal as 4 passed tests.
I've added on my YAML template:
`runOptions -test-output-dir $(Build.ArtifactStagingDirectory)/AppCenterTest --merged-file-name UITestResults.xml`
and published Test results:
[code]

The issue is that in DevOps, test results show 4 failed and 4 passed, but there are only 4 tests which show passe

[2020-07-01 07:09] sangeetavishwanath commented on #828
Is there a resolution for this issue?

[2020-07-02 16:57] King-of-Spades commented on #1075
Thanks for the clarification. I can reopen this as a documentation request and ask our product group if they have an answer, but I don't have an ETA on when they will respond. I help directly with publishing info to docs, but can only publish the info I receive.

[2020-07-03 16:49] adinasir69 opened #1080 "https://download.honeygain.com/windows-app/Honeygain_install.exe"
[download honeygain app]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0087c543-d8f4-5ea6-5ac6-8b30ec1b9e6c
* Version Independent ID: 92b8f8de-268b-a249-46e9-053edf2e97c0
* Content: [App Center Platform Services Matrix - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/general/platform-service-matr

[2020-07-03 22:16] EmilAlipiev opened #1081 "Upload error via Api sample doesn't work"
Hi,
I am trying to send Custom Api exception using your sample. in the doc
https://docs.microsoft.com/en-us/appcenter/diagnostics/upload-crashes#upload-an-error-report
I have tried to post using postman but always returning error. this exactly same error message as in the documentation. I have just adjusted some values.
[code]
I am passing Device why error comes like that?

---
#### Document Detai

[2020-07-06 12:53] winnie commented on #1081
Hey @EmilAlipiev - can you please start a support ticket so our team can investigate? Thanks!

[2020-07-06 13:01] EmilAlipiev commented on #1081
I have started long time a go but no help there. That's why i created an issue

[2020-07-06 13:16] winnie commented on #1081
Looks like you opened a ticket 3 days ago. Our team should get to it shortly.

[2020-07-06 14:23] EmilAlipiev commented on #1081
Hi, I opened the ticket 18 of June and i got an answer asking for some more information and i replied. i even asked again if there is any progress. never received any reply from the other side.

[2020-07-06 18:04] #1081 closed, assigned to winnie

[2020-07-10 15:51] avargaskun opened #1082 "Documentation for attachments does not match implementation"
The documentation for adding attachments to a crash reports shows the following example:

[code]

However, based on the [code for the latest version of the plugin](https://github.com/microsoft/appcenter-sdk-cordova/blob/5411abfb27fd8ef0ab7ad0968cc5223e7a928229/cordova-plugin-appcenter-crashes/www/Crashes.js#L54) (0.5.1) the `attachments` argument to the `processFunction` method is an array of repo

[2020-07-13 22:19] #1080 closed

[2020-07-13 22:25] King-of-Spades commented on #1068
App Center doesn't currently have any explicit support for Katalon. It's possible your tests could still work, if Katalon doesn't require any unsupported or conflicting dependencies, but the App Center Test team isn't currently QA'ing that support.

Even if it does work, it could also break at a later date, and that would also not be supported. There has been some discussion of working with it in

[2020-07-13 22:25] #1068 closed, assigned to nobody

[2020-07-15 21:11] mezpahlan opened #1083 "Why has the documentation on how to integrate with the API been removed?"
It looks like the [Stop documenting the old upload flow](https://github.com/MicrosoftDocs/appcenter-docs/commit/0b8451a31f3e2adf93f6392e8f4d4afa915556ce) commit has removed the information I need to work with the APIs. I'm not sure why this has been done. The commit mentions that the documentation used deprecated APIs but can't you just fix the the documentation to use the non deprecated APIs?

He

[2020-07-18 15:11] JogyBlack opened #1085 "Internet Capability required"
One important point to mention is that in order for the App Center analytics to work, is that the app need to declare the Internet (Client) capability on the package manifest. It may sound obvious, but is something that should be added to the troubleshooting section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f2ad

[2020-07-20 21:26] schriftgestalt opened #1086 "documentation of build settings"
This is mentioned on the troubleshooting page (https://docs.microsoft.com/en-us/appcenter/sdk/troubleshooting/macos) but why not on the getting started page (https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/macos). This could have saved me a couple hours.

[2020-07-21 20:33] mosunchao opened #1087 "the Windows section for codepush is outdated"
The Windows section for codepush instruction does not work when the documentation is talking about adding 'CodePush.csproj' into the solution, that project does not compile anymore. I tested it with react-native-windows 0.62.2. The react-native-windows has changed from C# based to C++ projects, while the Codepush.csproj still rely on a .csproj that no longer exist with the latest react-native-wind

[2020-07-25 18:46] jigs611989 opened #1090 "Mention how to add deployment before step 5 under iOS Setup"
I was following the steps for iOS Setup.

Up to step5, There was no problem but on step 5, it mentioned to add Deployment key to Info.plist

I did execute `code-push deployment ls <appName> -k`

It was throwing "Internal server error", then magically I was able to execute the same command but display an empty list. I was not aware of the need to add deployment using following command.

`appcenter

[2020-07-26 06:36] joujouuc commented on #1086
Thanks. Please keep sending. Appreciate it

Den mån 20 juli 2020 23:26Georg Seifert <notifications@github.com> skrev:

[2020-07-26 08:00] tonylikestoburns opened #1091 "Virtual Connect"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e08e12c-6d25-f191-5f96-3d0c4c14e9e3
* Version Independent ID: 42720a77-9a23-e485-9ca8-b11be8adacd1
* Content: [App Center Asynchronous APIs for Unity - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/unity-async)
* Content So

[2020-07-27 22:18] ALALOY24 opened #1092 "Alaoy24"
[Enter feedback

- [x] here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45228922-4a96-8c08-7d27-69ef98d44943
* Version Independent ID: d04ef359-7b17-8a14-970b-5c48820976cd
* Content: [Get Started with iOS - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/ios)
* Content Sourc

[2020-07-28 00:51] #1091 closed

[2020-07-28 00:51] #1092 closed

[2020-07-28 00:53] ALALOY24 opened #1094 "Alaoy24"
@ALALOY24 Can you give any context on why you want to revert this change? It was my understanding we had engineering confirmation on the original commit.

_Originally posted by @King-of-Spades in https://github.com/MicrosoftDocs/appcenter-docs/pull/1093#issuecomment-664697655_

[2020-07-28 00:53] #1094 closed

[2020-07-28 03:26] ALALOY24 opened #1095 "@jp-andre : Thanks for your contribution! The author(s) have been notified to review your proposed change."
@jp-andre : Thanks for your contribution! The author(s) have been notified to review your proposed change.

_Originally posted by @PRMerger10 in https://github.com/MicrosoftDocs/appcenter-docs/pull/1069#issuecomment-648672122_

[2020-07-28 03:30] #1095 closed, assigned to nobody

[2020-07-28 08:01] SAShah-Fintech opened #1096 "Publish Separate build architecture apks through app center"
I am trying to publish react-native app on Google Play Store through app center.
While building my app I have set def enableProguardInReleaseBuilds = true in android\app\build.gradle file.
So, I have four apks 1) app-arm64-v8a-release.apk 2) app-armeabi-v7a-release.apk 3) app-x86_64-release.apk 4) app-x86-release.apk
When I create new release and trying to upload the app it only allows me to uploa

[2020-08-04 10:20] lacostej commented on #973
This PR was closed and never merged: https://github.com/MicrosoftDocs/appcenter-docs/pull/1001. The issue remains. How do we move forward? @ahdbilal

[2020-08-07 21:53] King-of-Spades commented on #1066
Normally for iOS & Android, installing an app that you've previously installed overwrites the app.

However, depending on where & how that data is stored for the app, some data might be preserved. I believe in most cases the logic applied is based on how you're managing the app and you should be able to experiment & test with the scenario locally.

[2020-08-07 22:07] #1053 closed, assigned to nobody

[2020-08-07 22:12] King-of-Spades commented on #1020
It currently appears to be working: https://servicetrust.microsoft.com/ViewPage/GDPRGetStarted

[2020-08-07 22:12] #1020 closed, assigned to nobody

[2020-08-07 22:13] #1014 closed, assigned to nobody

[2020-08-07 22:24] #861 closed, assigned to nobody

[2020-08-07 22:31] King-of-Spades commented on #1017
The menu requires the "Manager" permission. I can see it on my side, if you have the manager permission enabled for the app currently and it's still not showing up, you should contact support:

**appcenter.ms > ? > contact support**

[2020-08-07 22:31] #1017 closed, assigned to nobody

[2020-08-07 22:33] King-of-Spades commented on #1026
Hi,

Using google translate, it sounds like you requested support here.

If you're still encountering this issue, you can try reaching out to our support team at **appcenter.ms > ? > Contact Support**

Unfortunately our support is only provided in English.

[2020-08-07 22:33] #1026 closed, assigned to nobody

[2020-08-07 23:06] King-of-Spades commented on #930
I believe this would depend on your specific way of handling how you're distributing your app. For example, the Google Play & Apple stores encrypt your app, so it shouldn't normally be able to be decompiled in the same way.

If you're distributing your app through a channel that doesn't encrypt for you, you may have to obfuscate your app secret or take other measures.

But also, it's worth noting

[2020-08-07 23:06] #930 closed, assigned to nobody

[2020-08-11 08:43] triplef opened #1100 "Clarify "Only if you belong" for "See all apps" action of Collaborators and Members"
The documentation for [Creating and managing organizations](https://docs.microsoft.com/en-us/appcenter/dashboard/creating-and-managing-organizations#feedback) specifies the "See all apps" action to apply to Collaborators and Members "only if you belong", whereas for Admins the action seems to always apply ("Yes").

It is not clear to me what this means (i.e. belong to _what_?), as I would think th

[2020-08-11 12:31] chetandobariya opened #1101 "upload Firebase Crashlytics symbol issue through App Center build"
my app is using firebase crashyltics for crash reporting.

currently, I am using App Center to distribute build for testing and App Store version.

I am struggling to upload symbol to the Firebase Crashlytics. every build shows missing dysm file in firebase console.

Do App Center has any script that I can run in post.sh build script that automatically get symbols.zip file and upload to the fireba

[2020-08-11 13:38] GMozz opened #1102 "Stub library unavailable"
I would like to use the stub library because we also distribute our app on the Play Store, but the dependency "com.microsoft.appcenter:appcenter-distribute-play" doesn't seem to exist (anymore).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40294974-bc6b-45af-f1bd-3bd8187153ac
* Version Independent ID: 21420d35-1e72-a

[2020-08-11 13:48] GMozz commented on #1102
Apparently you must add the following maven repository, but it's not documented anywhere:
`maven {
    url "https://dl.bintray.com/vsappcenter/appcenter/"
}`

[2020-08-11 16:07] King-of-Spades commented on #1101
These resources might help, if you know how to accomplish the same task locally but are struggling to do it in App Center.

Our Build Script guide: https://docs.microsoft.com/en-us/appcenter/build/custom/scripts/
Our Environment Variables doc: https://docs.microsoft.com/en-us/appcenter/build/custom/variables/

This repository has sample build scripts, but I don't see anything specific to Firebase:

[2020-08-11 16:07] #1101 closed, assigned to nobody

[2020-08-12 04:54] rt-mobile-apps commented on #956
The blog talks about SDKs for iOS and Android. One of the great benefits of app center was the React Native SDKs, will any React Native SDKs be provided as well?

[2020-08-12 14:02] chetandobariya commented on #1101
This issue is not solved yet.. please reopen it and help us to find the script to upload symbols to firebase crashlytics when we make build from app center..

Your mention docs link doesn't help

[2020-08-12 14:18] landenlabs2 opened #1103 "What percentage of analytics is from"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27acd64c-5106-51ce-628c-8a1a17269e95
* Version Independent ID: d57cf8a3-d9de-4a8a-b746-e1f278e2c80c
* Content: [HockeySDK Retirement - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/transition/#migrate-from-the-hockeysdk-to-the-a

[2020-08-12 14:20] landenlabs2 opened #1104 "What percent of analytic traffic is from HockeyApp verses AppCenter"
I am getting notice that we have legacy HockeyApp users.
Is there a way to see what percentage of the analytics is from HockeyApp verses AppCenter.
Obviously if the percentage is low then we have successful published the upgrade and we just have a few slow/resistant clients. If the percentage is high then we may need to investigate.

In the absence of any statistics we are blind to the breath of t

[2020-08-12 16:14] King-of-Spades commented on #1101
Unfortunately it's out-of-scope for our support & documentation. Build scripts allow you to add custom behavior to your build, but customizing that behavior is up to you. If you can get the task working locally using a script, the docs I cited may help you convert that local script to operate in App Center.

[2020-08-13 16:45] tjsomasundaram-zz commented on #956
@rt-mobile-apps , at this point we do not have React Native SDKs for ANH. We definitely hear the feedback that the RN App Center SDKs were appreciated and will incorporate that into the ANH roadmap. If you wouldnt mind me asking, how big of a blocker is the lack of an RN SDK in your case?

[2020-08-13 19:29] rt-mobile-apps commented on #956
Big. Our app development strategy is based around "cross-platform development" with app center originally positioned as the core platform to enable features like notifications (and originally other features like auth and data that were retired as well).

Given the change in direction for app center and the fragmented approach from Microsoft for support of cross-platform frameworks we really need t

[2020-08-17 00:26] sparesolis663 opened #1105 "Masrer"
[ https://danone-my.sharepoint.com/personal/salvador_paredes_danone_com/Lists/master frecc Consulta_1/AllItems.aspx](  @https://danone-my.sharepoint.com/personal/salvador_paredes_danone_com/Lists/master frecc Consulta_1/AllItems.aspx)

[2020-08-17 00:27] sparesolis663 commented on #1105
Iii

[2020-08-17 00:28] sparesolis663 commented on #1105
,

[2020-08-17 15:56] fraxedas opened #1106 "Is is not clear that "user_Id" in Application Insights is the "InstallId" from App Center"
[From the docs](https://docs.microsoft.com/en-us/appcenter/sdk/other-apis/xamarin#identify-installations)
I can get the app InstallId from AppCenter like this:
`System.Guid? installId = await AppCenter.GetInstallIdAsync();`

I couldn't figure out where to get the **InstallId** in Application Insights after the export.

The table shows how the App Center fields are mapped into Application Insights

[2020-08-19 17:11] joncortez commented on #462
What settings in your Android project did you have to set and the values to enable correct generation of .mSYM on Release builds? I had MonoSymbolArchive = true, DebugSymbols = true, and DebugType = PdbOnly. It generated the .mSYM files and when I run mono-symbolicate, I am getting IndexOutOfRangeException error when it is trying to parse a raw crash report from AppCenter.

[2020-08-19 17:12] joncortez commented on #462
What settings in your Android project did you have to set and the values to enable correct generation of .mSYM on Release builds? I had MonoSymbolArchive = true, DebugSymbols = true, and DebugType = PdbOnly. It generated the .mSYM files and when I run mono-symbolicate, I am getting IndexOutOfRangeException error when it is trying to parse a raw crash report from AppCenter.

[2020-08-25 05:49] 855973307605 opened #1107 "Dilivery"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c87e3024-90e4-92b0-29fc-00d011bc2add
* Version Independent ID: 87ac6241-d5b8-e3ee-e83c-c0f30c98d84b
* Content: [App Center Build for Android - Visual Studio App Center](https://docs.microsoft.com/en-us/appcenter/build/android/)
* Content Source: [docs

[2020-08-25 10:15] agulia1 opened #1108 "driver.label throws java.lang.RuntimeException"
Following error is thrown on the line:
driver.label("Stopping App");

similar error is there is seen on using :
File srcFile = ((TakesScreenshot)(driver)).getScreenshotAs(OutputType.FILE);

Error:

java.lang.RuntimeException: Unable to get test information. Make sure the test class includes a @Rule:
  @Rule
  public TestWatcher watcher = Factory.createWatcher();

---
#### Document Details

⚠ *Do n